<div id="mod_function_action_{{each_action.unique_id}}">
  <form method="post" action="/function">
  {{form_actions.csrf_token}}
  {{form_actions.function_type(class_='form-control', value=function_type)}}
  {{form_actions.function_id(class_='form-control', value=each_function.unique_id)}}
  {{form_actions.function_action_id(class_='form-control', value=each_action.unique_id)}}

    <div class="row align-items-end small-gutters" style="border-bottom: 1px solid #ddd; padding-bottom: 0.3em">
      <div class="col-auto">
        <input onclick="return $(this).processRequest(this, 'save_action');" name="save_action" value="{{_('Save')}}" class="form-control btn btn-primary btn-sm btn-block" type="button"/>
      </div>
      <div class="col-auto">
        <input onclick="return confirm('{{_('Are you sure you want to delete this?')}}') && $(this).processRequest(this, 'delete_action');" name="delete_action" value="{{_('Delete')}}" class="form-control btn btn-primary btn-sm btn-block" type="button"/>
      </div>
      {% include 'pages/function_options/action_options/'+each_action.action_type+'.html' %}
    </div>
  </form>
</div>
