{% if each_action.action_type == 'pause_actions' %}

<div class="col-auto">
  {{form_actions.pause_duration.label(class_='control-label')}}
  <div>
    {{form_actions.pause_duration(class_='form-control', value=each_action.pause_duration, **{'title':_('How long to pause executing actions')})}}
  </div>
</div>

{% elif each_action.action_type == 'output' %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('What output to manipulate')}}">
      <option value=""></option>
      {%- for each_output in output if each_output.output_type not in ['pwm', 'command_pwm'] -%}
        <option value="{{each_output.unique_id}}"{% if each_action.do_unique_id == each_output.unique_id %} selected{% endif %}>[{{'%02d' % each_output.id}}] {{each_output.name}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_actions.do_output_state.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_output_state" name="do_output_state" data-placement="top" title="{{_('Turn the output on or off')}}">
    <option value=""></option>
    <option value="on"{% if each_action.do_output_state == 'on' %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
    <option value="off"{% if each_action.do_output_state == 'off' %} selected{% endif %}>{{dict_translation['off']['title']}}</option>
  </select>
</div>
<div class="col-auto">
  {{form_actions.do_output_duration.label(class_='control-label')}}
  <div>
    {{form_actions.do_output_duration(class_='form-control', value=each_action.do_output_duration, **{'title':_('How long to turn the output on (optional)')})}}
  </div>
</div>

{% elif each_action.action_type == 'output_pwm' %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('What output to manipulate')}}">
      <option value=""></option>
      {%- for each_output in output if each_output.output_type in ['pwm', 'command_pwm'] -%}
        <option value="{{each_output.unique_id}}"{% if each_action.do_unique_id == each_output.unique_id %} selected{% endif %}>[{{'%02d' % each_output.id}}] {{each_output.name}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_actions.do_output_pwm.label(class_='control-label')}}
  <div>
    {{form_actions.do_output_pwm(class_='form-control', value=each_action.do_output_pwm, **{'title':_('What duty cycle to set the output')})}}
  </div>
</div>

{% elif each_action.action_type == 'email' %}

<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {%- for each_user in user -%}
      <option value="{{each_user.email}}"{% if each_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type in ['flash_lcd_on',
                                    'flash_lcd_off',
                                    'lcd_backlight_off',
                                    'lcd_backlight_on'] %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('LCD to flash')}}">
    <option value=""></option>
    {%- for each_lcd in lcd -%}
      <option value="{{each_lcd.unique_id}}"{% if each_action.do_unique_id == each_lcd.unique_id %} selected{% endif %}>[{{'%02d' % each_lcd.id}}] {{each_lcd.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type == 'photo' %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('Camera to capture with')}}">
    <option value=""></option>
    {%- for each_camera in camera -%}
      <option value="{{each_camera.unique_id}}"{% if each_action.do_unique_id == each_camera.unique_id %} selected{% endif %}>[{{'%02d' % each_camera.id}}] {{each_camera.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type == 'photo_email' %}

<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {%- for each_user in user -%}
      <option value="{{each_user.email}}"{% if each_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type == 'video' %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('Camera to capture with')}}">
    <option value=""></option>
    {%- for each_camera in camera -%}
      <option value="{{each_camera.unique_id}}"{% if each_action.do_unique_id == each_camera.unique_id %} selected{% endif %}>[{{'%02d' % each_camera.id}}] {{each_camera.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  {{form_actions.do_camera_duration.label(class_='control-label')}}
  {{form_actions.do_camera_duration(class_='form-control', value=each_action.do_camera_duration, **{'title':_('Duration to record video (sec)')})}}
</div>

{% elif each_action.action_type == 'video_email' %}

<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {%- for each_user in user -%}
      <option value="{{each_user.email}}"{% if each_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type == 'command' %}

<div class="col-auto">
  <label class='control-label'>{{_('Command')}}</label>
  {{form_actions.do_action_string(class_='form-control', value=each_action.do_action_string, **{'title':_('Command to execute (as user "mycodo")')})}}
</div>
<div class="col-auto">
  See <a href="/help#action-command-variables">Conditional Statement Variables</a> for a list of replaceable variables able to be used in commands.
</div>

{% elif each_action.action_type == 'create_note' %}

<div class="col-auto">
  <label class='control-label'>{{dict_translation['tag']['title']}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Tag to save note with')}}">
    {% if tags %}
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {%- for each_tag in tags -%}
    <option value="{{each_tag.unique_id}}"{% if each_action.do_action_string == each_tag.unique_id %} selected{% endif %}>{{each_tag.name}}</option>
      {%- endfor -%}
    {% else %}
    <option value="">{{dict_translation['none_available']['title']}}</option>
    {% endif %}
  </select>
</div>
<div class="col-auto">
  Tags can be created on the <a href="/notes">notes page</a>.
</div>

{% elif each_action.action_type in ['activate_controller',
                                    'deactivate_controller'] %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('Controller to affect')}}">
    <option value=""></option>
    {%- for each_controller in controllers -%}
      <option value="{{each_controller[1]}}"{% if each_action.do_unique_id == each_controller[1] %} selected{% endif %}>[{{each_controller[0]}} {{each_controller[2]}}] {{each_controller[3]}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type in ['activate_pid',
                                    'deactivate_pid',
                                    'pause_pid',
                                    'resume_pid'] %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('PID to affect')}}">
    <option value=""></option>
    {%- for each_pid in pid -%}
      <option value="{{each_pid.unique_id}}"{% if each_action.do_unique_id == each_pid.unique_id %} selected{% endif %}>[{{'%02d' % each_pid.id}}] {{each_pid.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_action.action_type == 'setpoint_pid' %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('PID to affect')}}">
    <option value=""></option>
    {%- for each_pid in pid -%}
      <option value="{{each_pid.unique_id}}"{% if each_action.do_unique_id == each_pid.unique_id %} selected{% endif %}>[{{'%02d' % each_pid.id}}] {{each_pid.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Setpoint')}}</label>
  {{form_actions.do_action_string(class_='form-control', value=each_action.do_action_string, **{'title':_('The value to set the PID setpoint')})}}
</div>

{% elif each_action.action_type == 'method_pid' %}

<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('PID to affect')}}">
    <option value=""></option>
    {%- for each_pid in pid -%}
      <option value="{{each_pid.unique_id}}"{% if each_action.do_unique_id == each_pid.unique_id %} selected{% endif %}>[{{'%02d' % each_pid.id}}] {{each_pid.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Method')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Method to set the PID to use')}}">
    <option value="0">Disable Method</option>
    {%- for each_method in method -%}
      <option value="{{each_method.unique_id}}"{% if each_action.do_action_string == each_method.unique_id %} selected{% endif %}>[{{'%02d' % each_method.id}}] {{each_method.name}}</option>
    {%- endfor -%}
  </select>
</div>


{% endif %}
