<h4>{{_('Conditionals')}} <a href="/help#conditional-statements"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a></h4>
<p>{{_('Conditionals allow certain actions to be carried out when a certain set of conditions are met.')}} See the <a href="/help#conditional-statements">manual</a> for more information.</p>

{%- if display_order_conditional -%}
{%- for order in display_order_conditional -%}
  {%- for each_cond in conditional if each_cond.id == order  -%}

  <div class="container" style="border: 2px solid #ddd; border-radius: 5px;">
    <form method="post" action="/function">
    <input type="hidden" name="form-name" value="modConditional">
    {{form_conditional.csrf_token}}
    {{form_conditional.conditional_id(class_='form-control', value=each_cond.id)}}

    <div class="{% if each_cond.is_activated -%}active-background
                {% else -%}inactive-background
                {% endif -%} row small-gutters" style="padding-top: 0.5em; padding-bottom: 0.5em;">

      <div class="col-xs-12 col-sm-6 small-gutters">
        <div class="col-xs-2 col-lg-1 text-center icon-fh">
          <a data-toggle="collapse" href="#collapseContainer-conditional-{{each_cond.id}}" aria-expanded="false" aria-controls="collapseContainer-conditional-{{each_cond.id}}">
            <span class="collapse-button{{each_cond.id}} fa fa-3x fa-plus-square"></span>
          </a>
        </div>
        <div class="col-xs-10 col-lg-11 no-gutters">
          {{form_conditional.name(class_='form-control', value=each_cond.name, **{'title':_('Name')})}}
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 no-gutters">
        {%- if each_cond.is_activated %}
          {{form_conditional.deactivate_cond(class_='form-control btn btn-default')}}
        {%- else %}
          {{form_conditional.activate_cond(class_='form-control btn btn-default')}}
        {%- endif -%}
      </div>
      <div class="col-xs-6 col-sm-3 col-md-1">
        {{form_conditional.order_up_cond(class_='form-control btn btn-default')}}
      </div>
      <div class="col-xs-6 col-sm-3 col-md-1">
        {{form_conditional.order_down_cond(class_='form-control btn btn-default')}}
      </div>
      <div class="col-xs-6 col-sm-3 col-md-1">
        {{form_conditional.save_cond(class_='form-control btn btn-default')}}
      </div>
      <div class="col-xs-6 col-sm-3 col-md-1">
        {{form_conditional.delete_cond(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this Conditional?")'})}}
      </div>
    </div>

    {% if each_cond.conditional_type == 'conditional_output' %}
      {% include 'pages/function_options/conditional_options/output.html' %}
    {% elif each_cond.conditional_type == 'conditional_measurement' %}
      {% include 'pages/function_options/conditional_options/measurement.html' %}
    {% endif %}

    </form>

    <div class="collapse" id="collapseContainer-conditional-{{each_cond.id}}">

      {% for each_cond_action in conditional_actions if each_cond_action.conditional_id == each_cond.id %}

      <form method="post" action="/function">
      <input type="hidden" name="form-name" value="modConditionalActions">
      {{form_conditional_actions.csrf_token}}
      {{form_conditional_actions.conditional_id(class_='form-control', value=each_cond.id)}}
      {{form_conditional_actions.conditional_action_id(class_='form-control', value=each_cond_action.id)}}

      <div class="row small-gutters">
        <div class="col-sm-2 col-md-2">
          <label class='control-label'>{{_('Action')}} [{{loop.index}}]</label>
          <select class="form-control form-tooltip form-dropdown" id="do_action" name="do_action" data-placement="top" title="{{_('The action to perform when the conditional is True')}}">
            {% for each_action, each_action_string in conditional_actions_list.items() %}
              <option value="{{each_action}}"{% if each_cond_action.do_action == each_action %} selected{% endif %}>{{_(each_action_string)}}</option>
            {% endfor %}
          </select>
        </div>

      {% if each_cond_action.do_action == 'relay' %}

        <div class="col-sm-3 col-md-4">
          {{form_conditional_actions.do_relay_id.label(class_='control-label')}}
          <select class="form-control form-tooltip form-dropdown" id="do_relay_id" name="do_relay_id" data-placement="top" title="{{_('What relay to manipulate')}}">
            <option value=""></option>
            {%- for each_output in output if each_output.relay_type != 'pwm' -%}
              <option value="{{each_output.id}}"{% if each_cond_action.do_relay_id == each_output.id %} selected{% endif %}>{{each_output.id}} ({{each_output.name}})</option>
            {%- endfor -%}
          </select>
        </div>
        <div class="col-sm-2 col-md-2">
          <label class='control-label'>{{_('Turn')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_relay_state" name="do_relay_state" data-placement="top" title="{{_('Turn the relay on or off')}}">
            <option value=""></option>
            <option value="on"{% if each_cond_action.do_relay_state == 'on' %} selected{% endif %}>{{_('On')}}</option>
            <option value="off"{% if each_cond_action.do_relay_state == 'off' %} selected{% endif %}>{{_('Off')}}</option>
          </select>
        </div>
        <div class="col-sm-1 col-md-2">
          <label class='control-label'>{{_('Seconds')}}</label>
          {{form_conditional_actions.do_relay_duration(class_='form-control', value=each_cond_action.do_relay_duration, **{'title':_('How long to turn the relay on (optional)'), 'size':'3'})}}
        </div>

      {% elif each_cond_action.do_action == 'email' %}

        <div class="col-sm-6 col-md-8">
          <label class='control-label'>{{_('Email Address')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
            <option value=""></option>
            {%- for each_user in user -%}
              <option value="{{each_user.email}}"{% if each_cond_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
            {%- endfor -%}
          </select>
        </div>

      {% elif each_cond_action.do_action == 'flash_lcd' %}

        <div class="col-sm-6 col-md-8">
          <label class='control-label'>{{_('LCD')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_lcd_id" name="do_lcd_id" data-placement="top" title="{{_('LCD to flash')}}">
            <option value=""></option>
            {%- for each_lcd in lcd -%}
              <option value="{{each_lcd.id}}"{% if each_cond_action.do_lcd_id == each_lcd.id %} selected{% endif %}>{{each_lcd.id}} ({{each_lcd.name}})</option>
            {%- endfor -%}
          </select>
        </div>

      {% elif each_cond_action.do_action == 'photo' %}

        <div class="col-sm-6 col-md-8">
          <label class='control-label'>{{_('Camera')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_camera_id" name="do_camera_id" data-placement="top" title="{{_('Camera to capture with')}}">
            <option value=""></option>
            {%- for each_camera in camera -%}
              <option value="{{each_camera.id}}"{% if each_cond_action.do_camera_id == each_camera.id %} selected{% endif %}>{{each_camera.id}} ({{each_camera.name}})</option>
            {%- endfor -%}
          </select>
        </div>

      {% elif each_cond_action.do_action == 'photo_email' %}

        <div class="col-sm-6 col-md-8">
          <label class='control-label'>{{_('Email Address')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
            <option value=""></option>
            {%- for each_user in user -%}
              <option value="{{each_user.email}}"{% if each_cond_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
            {%- endfor -%}
          </select>
        </div>

      {% elif each_cond_action.do_action == 'video' %}

        <div class="col-sm-3 col-md-5">
          <label class='control-label'>{{_('Camera')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_camera_id" name="do_camera_id" data-placement="top" title="{{_('Camera to capture with')}}">
            <option value=""></option>
            {%- for each_camera in camera -%}
              <option value="{{each_camera.id}}"{% if each_cond_action.do_camera_id == each_camera.id %} selected{% endif %}>{{each_camera.id}} ({{each_camera.name}})</option>
            {%- endfor -%}
          </select>
        </div>
        <div class="col-sm-3 col-md-3">
          {{form_conditional_actions.do_camera_duration.label(class_='control-label')}}
          {{form_conditional_actions.do_camera_duration(class_='form-control', value=each_cond_action.do_camera_duration, **{'title':_('Duration to record video (sec)')})}}
        </div>

      {% elif each_cond_action.do_action == 'video_email' %}

        <div class="col-sm-6 col-md-8">
          <label class='control-label'>{{_('Email Address')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
            <option value=""></option>
            {%- for each_user in user -%}
              <option value="{{each_user.email}}"{% if each_cond_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
            {%- endfor -%}
          </select>
        </div>

      {% elif each_cond_action.do_action == 'command' %}

        <div class="col-sm-6 col-md-8">
          <label class='control-label'>{{_('Command')}}</label>
          {{form_conditional_actions.do_action_string(class_='form-control', value=each_cond_action.do_action_string, **{'title':_('Command to execute (as user "mycodo")')})}}
        </div>

      {% endif %}

        <div class="col-sm-2 col-md-1">
          <label class='control-label' style="padding-top: 1em"></label>
          {{form_conditional_actions.save_action(class_='form-control btn btn-default')}}
        </div>
        <div class="col-sm-2 col-md-1">
          <label class='control-label' style="padding-top: 1em"></label>
          {{form_conditional_actions.delete_action(class_='form-control btn btn-default')}}
        </div>
      </div>

      </form>

      {% endfor %}

      <form method="post" action="/function">
      {{form_conditional_actions.csrf_token}}
      {{form_conditional_actions.conditional_id(class_='form-control', value=each_cond.id)}}
      <div class="row small-gutters" style="padding-bottom: 0.5em">
        <div class="col-xs-6 col-sm-4 col-md-2">
          <label class='control-label'>{{_('Action')}}</label>
          <select class="form-control form-tooltip form-dropdown" id="do_action" name="do_action" data-placement="top" title="{{_('The action to perform when the conditional is True')}}">
            {% for each_action, each_action_string in conditional_actions_list.items() %}
              <option value="{{each_action}}">{{_(each_action_string)}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2">
          <label class='control-label' style="padding-top: 1em"></label>
          {{form_conditional_actions.add_action(class_='form-control btn btn-default')}}
        </div>
      </div>
      </form>

    </div>

  {%- endfor -%}

  </div>

  <div style="clear: both; padding: 0.5em 0;"></div>

{%- endfor -%}
{%- endif -%}
