{%- for each_controller in custom_controllers if each_controller.unique_id == order -%}

<div class="container" style="border: 2px solid #ddd; border-radius: 5px;">

  <form method="post" action="/function">
  <input type="hidden" name="form-name" value="modController">
  {{form_custom_controller.csrf_token}}
  {{form_custom_controller.function_id(value=each_controller.unique_id)}}
  {{form_custom_controller.function_type(class_='form-control', value='custom_controller')}}

  <div class="{% if each_controller.is_activated -%}active-background
              {% else -%}inactive-background
              {% endif -%} row small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.3em 0.2em 0.3em 0.3em;">

    <div class="col-2 col-sm-1 text-center icon-fh">
      <a data-toggle="collapse" href="#collapseContainer-controller-{{each_controller.id}}" aria-expanded="false" aria-controls="collapseContainer-controller-{{each_controller.id}}">
        <span style="font-size: 3.6em" class="collapse-button{{each_controller.id}} fa fa-plus-square"></span>
      </a>
    </div>
    <div class="col-5 col-sm-3 col-md-3 col-lg-3">
      {{form_custom_controller.name(class_='form-control', value=each_controller.name, **{'title': dict_translation['name']['phrase']})}}
    </div>
    <div class="col-5 col-sm-4 col-md-4 col-lg-4">
      <input class="form-control btn btn-primary btn-sm" type="button" onclick="setClipboard('{{each_controller.unique_id}}')" title="UUID: {{each_controller.unique_id}}, {{dict_translation['copy_to_clipboard']['phrase']}}" value="{{dict_translation['controller']['title']}}
        {%- if each_controller.is_activated %} [{{_('Active')}}]
        {%- else %} [{{_('Inactive')}}]
        {%- endif -%}
      ">
    </div>

    <div class="col-6 col-sm-4 col-md-4 col-lg-4">
      {%- if each_controller.is_activated %}
        {{form_custom_controller.deactivate_controller(class_='form-control btn btn-primary btn-sm')}}
      {%- else %}
        {{form_custom_controller.activate_controller(class_='form-control btn btn-primary btn-sm')}}
      {%- endif -%}
    </div>
  </div>

  <div class="collapse" id="collapseContainer-controller-{{each_controller.id}}">

    <div class="row small-gutters" style="padding: 0.5em;">
      <div class="col-auto small-gutters">
        {{form_custom_controller.save_controller(class_='form-control btn btn-primary btn-sm')}}
      </div>
      <div class="col-auto small-gutters">
        {{form_custom_controller.delete_controller(class_='form-control btn btn-primary btn-sm',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="col-auto small-gutters">
        {{form_custom_controller.order_up(class_='form-control btn btn-primary btn-sm')}}
      </div>
      <div class="col-auto small-gutters">
        {{form_custom_controller.order_down(class_='form-control btn btn-primary btn-sm')}}
      </div>
    </div>

    <div class="row small-gutters" style="padding-bottom: 0.3em">

      {% if 'message' in dict_controllers[each_controller.device] %}

      <div class="col-12" style="padding-bottom: 0.5em">
        {{dict_controllers[each_controller.device]['message']}}
      </div>

      {% endif %}

      <div class="col-auto">
        {{form_custom_controller.log_level_debug.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="log_level_debug" name="log_level_debug" type="checkbox" title="{{dict_translation['log_level_debug']['phrase']}}" value="y"{% if each_controller.log_level_debug %} checked{% endif %}>
        </div>
      </div>

    {% set dict_options = dict_controllers[each_controller.device] %}
    {% set unique_id = each_controller.unique_id %}
    {% set custom_options_values = custom_options_values_controllers %}

    {% if 'custom_options' in dict_options %}
      {% for each_option in dict_options['custom_options'] %}
    {% include 'pages/TEMPLATE_OPTIONS_Custom_Options.html' %}
      {% endfor %}
    {% endif %}

    </div>

  </div>
  </form>

</div>

<div style="padding-bottom: 0.5em; "></div>

{%- endfor -%}
