{% set dict_output_type = ({
    "on_off": "On/Off",
    "pwm": "PWM",
    "value": "Value",
    "volume": "Volume"
    })
%}

{%- for each_pid in pid if each_pid.unique_id == order -%}

<div class="container" style="border: 2px solid #ddd; border-radius: 5px;">

  <form method="post" action="/function">
  {{form_mod_pid_base.csrf_token}}
  {{form_mod_pid_base.function_id(value=each_pid.unique_id)}}
  {{form_mod_pid_base.function_type(class_='form-control', value='pid')}}

  <div class="{% if each_pid.is_activated and not each_pid.is_paused -%}active-background
              {% elif each_pid.is_activated and each_pid.is_paused -%}pause-background
              {% elif each_pid.is_held -%}hold-background
              {% else -%}inactive-background
              {% endif %} row small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.3em 0.2em 0.3em 0.3em;">

    <div class="col-2 col-sm-1 text-center icon-fh">
      <a data-toggle="collapse" href="#collapseContainer-pid-{{each_pid.id}}" aria-expanded="false" aria-controls="collapseContainer-pid-{{each_pid.id}}">
        <span style="font-size: 3.6em" class="collapse-button{{each_pid.id}} fa fa-plus-square"></span>
      </a>
    </div>
    <div class="col-5 col-sm-3 col-md-3 col-lg-3">
      {{form_mod_pid_base.name(class_='form-control', value=each_pid.name, **{'title': dict_translation['name']['phrase']})}}
    </div>
    <div class="col-5 col-sm-4 col-md-2 col-lg-4">
      <input class="form-control btn btn-primary btn-sm" type="button" onclick="setClipboard('{{each_pid.unique_id}}')" title="UUID: {{each_pid.unique_id}}, {{dict_translation['copy_to_clipboard']['phrase']}}" value="PID Controller
      {%- if each_pid.is_activated and not each_pid.is_paused %} [{{_('Active')}}]
      {%- elif each_pid.is_activated and each_pid.is_paused %} [{{_('Paused')}}]
      {%- elif each_pid.is_held %} [{{_('On Hold')}}]
      {%- else %} [{{_('Inactive')}}]
      {%-endif -%}
      ">
    </div>
  {%- if each_pid.is_activated %}
    <div class="col-6 col-sm-4 col-md-2 col-lg-2">
      {{form_mod_pid_base.pid_deactivate(class_='form-control btn btn-primary btn-sm')}}
    </div>
    {%- if each_pid.is_paused or each_pid.is_held %}
    <div class="col-6 col-sm-12 col-md-4 col-lg-2">
      {{form_mod_pid_base.pid_resume(class_='form-control btn btn-primary btn-sm')}}
    </div>
    {%- else %}
    <div class="col-6 col-sm-6 col-md-2 col-lg-1">
      {{form_mod_pid_base.pid_pause(class_='form-control btn btn-primary btn-sm')}}
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-1">
      {{form_mod_pid_base.pid_hold(class_='form-control btn btn-primary btn-sm')}}
    </div>
    {%- endif -%}
  {%- else %}
    <div class="col-6 col-sm-4 col-md-6 col-lg-4">
      {{form_mod_pid_base.pid_activate(class_='form-control btn btn-primary btn-sm')}}
    </div>
  {%- endif -%}
  </div>

  <div class="collapse" id="collapseContainer-pid-{{each_pid.id}}">

    <div class="row small-gutters" style="padding: 0.5em;">
      <div class="col-auto small-gutters">
        {{form_mod_pid_base.pid_mod(class_='form-control btn btn-primary btn-sm')}}
      </div>
      <div class="col-auto small-gutters">
        {{form_mod_pid_base.pid_delete(class_='form-control btn btn-primary btn-sm',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="col-auto small-gutters">
        {{form_mod_pid_base.order_up(class_='form-control btn btn-primary btn-sm')}}
      </div>
      <div class="col-auto small-gutters">
        {{form_mod_pid_base.order_down(class_='form-control btn btn-primary btn-sm')}}
      </div>
    </div>

    <div class="row small-gutters">
      <div class="col-12" style="padding-top: 0.5em; padding-bottom: 0.5em">
        After selecting the Raise and/or Lower Outputs, additional options will appear for each Output and will need to be configured. What options appear will be determined by the type of output that's selected. Therefore, review all settings after saving to ensure the PID controller has been fully-configured prior to activating it.
      </div>
    </div>

    <div class="row small-gutters">
      <div class="col-auto">
        {{form_mod_pid_base.measurement.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="measurement" name="measurement" style="width: 100%;" title="" data-original-title="{{_('Select the measurement to use as the input')}}">
            <option value="">None Selected</option>
          {% for each_input_form in choices_input -%}
            <option value="{{each_input_form['value']}}"{% if each_pid.measurement == each_input_form['value'] %} selected{% endif %}>{{each_input_form['item']}}</option>
          {% endfor -%}
          {% for each_math_form in choices_math -%}
            <option value="{{each_math_form['value']}}"{% if each_pid.measurement == each_math_form['value'] %} selected{% endif %}>{{each_math_form['item']}}</option>
          {% endfor -%}
          {% for each_function_form in choices_function -%}
            <option value="{{each_function_form['value']}}"{% if each_pid.measurement == each_function_form['value'] %} selected{% endif %}>{{each_function_form['item']}}</option>
          {% endfor -%}
          </select>
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.direction.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="direction" name="direction" title="" data-original-title="{{_('Choose the direction(s) to regulate')}}">
            <option value="raise"{% if each_pid.direction == 'raise' %} selected{% endif %}>Raise</option>
            <option value="lower"{% if each_pid.direction == 'lower' %} selected{% endif %}>Lower</option>
            <option value="both"{% if each_pid.direction == 'both' %} selected{% endif %}>Both</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.period.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.period(class_='form-control', value=each_pid.period, **{'title': dict_translation['period']['phrase']})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.start_offset.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.start_offset(class_='form-control', value=each_pid.start_offset, **{'title': dict_translation['start_offset']['phrase']})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.max_measure_age.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.max_measure_age(class_='form-control', value=each_pid.max_measure_age, **{'title': dict_translation['max_age']['phrase']})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.log_level_debug.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="log_level_debug" name="log_level_debug" type="checkbox" title="{{dict_translation['log_level_debug']['phrase']}}" value="y"{% if each_pid.log_level_debug %} checked{% endif %}>
        </div>
      </div>
    </div>

    <div class="row small-gutters">
      <div class="col-auto">
        {{form_mod_pid_base.setpoint.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.setpoint(class_='form-control', value=each_pid.setpoint, **{'title':_('This is the desired state of a perticular environmental condition. For instance, this could be the desired temperature in Celsius.')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.band.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.band(class_='form-control', value=each_pid.band, **{'title':_('The control hysteresis surounding the setpoint, with a band that is the setpoint plus and minus the band value. 0 is disabled.')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_pid_base.store_lower_as_negative.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="store_lower_as_negative" name="store_lower_as_negative" type="checkbox" value="y"{% if each_pid.store_lower_as_negative %} checked{% endif %}>
        </div>
      </div>
    </div>

    <div class="row small-gutters">
      <div class="col-sm-4 col-lg-2">
        {{form_mod_pid_base.k_p.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.k_p(class_='form-control', value=each_pid.p, **{'title':_('Proportional gain')})}}
        </div>
      </div>
      <div class="col-sm-4 col-lg-2">
        {{form_mod_pid_base.k_i.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.k_i(class_='form-control', value=each_pid.i, **{'title':_('Integral gain')})}}
        </div>
      </div>
      <div class="col-sm-4 col-lg-2">
        {{form_mod_pid_base.k_d.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.k_d(class_='form-control', value=each_pid.d, **{'title':_('Derivative gain')})}}
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        {{form_mod_pid_base.integrator_max.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.integrator_max(class_='form-control', value=each_pid.integrator_min, **{'title':_('Limit the integrator minimum, for calculating Ki_total: (Ki_total = Ki * integrator; and PID output = Kp_total + Ki_total + Kd_total)')})}}
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        {{form_mod_pid_base.integrator_min.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.integrator_min(class_='form-control', value=each_pid.integrator_max, **{'title':_('Limit the integrator maximum, for calculating Ki_total: (Ki_total = Ki * integrator; and PID output = Kp_total + Ki_total + Kd_total)')})}}
        </div>
      </div>
    </div>

    <div class="row small-gutters">
      <div class="col-auto">
        {{form_mod_pid_base.raise_output_id.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="raise_output_id" name="raise_output_id" title="" data-original-title="{{_('The output that will raise the selected environmental condition (Measurement)')}}.">
            <option value="">{{_('Disabled')}}</option>
            {%- for each_output in choices_output_channels -%}
              <option value="{{each_output['value']}}"{% if each_pid.raise_output_id == each_output['value'] %} selected{% endif %}>{{each_output['item']}}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>

  {% for each_output in output if each_pid.raise_output_id and
                                  "," in each_pid.raise_output_id and
                                  each_pid.raise_output_id.split(",")[0] == each_output.unique_id %}

    {% if 'output_types' in dict_outputs[each_output.output_type] and dict_outputs[each_output.output_type]['output_types']|length > 1 %}
      <div class="col-auto">
        {{form_mod_pid_base.raise_output_type.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="raise_output_type" name="raise_output_type" title="" data-original-title="{{_('The output action (on/off, PWM, value, volume, etc.)')}}.">
            <option value="">{{_('Select One')}}</option>
            {%- for each_type in dict_outputs[each_output.output_type]['output_types'] -%}
              <option value="{{each_type}}"{% if each_pid.raise_output_type == each_type %} selected{% endif %}>{{dict_output_type[each_type]}}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>
    {% else %}
      <div class="col-auto">
        {{form_mod_pid_base.raise_output_type.label(class_='control-label')}}
        <div>
          <input class="form-control" disabled="" value="{{dict_output_type[dict_outputs[each_output.output_type]['output_types'][0]]}}" type="text">
          <input type="hidden" id="raise_output_type" name="raise_output_type" value="{{each_pid.raise_output_type}}">
        </div>
      </div>
    {% endif %}

    {% if each_pid.raise_output_type == 'pwm' %}
      {% include 'pages/function_options/pid_options/output_pwm_raise.html' %}
    {% elif each_pid.raise_output_type == 'on_off' %}
      {% include 'pages/function_options/pid_options/output_on_off_raise.html' %}
    {% elif each_pid.raise_output_type == 'value' %}
      {% include 'pages/function_options/pid_options/output_value_raise.html' %}
    {% elif each_pid.raise_output_type == 'volume' %}
      {% include 'pages/function_options/pid_options/output_volume_raise.html' %}
    {% endif %}
  {% endfor %}

    </div>

    <div class="row small-gutters">
      <div class="col-auto">
        {{form_mod_pid_base.lower_output_id.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="lower_output_id" name="lower_output_id" title="" data-original-title="{{_('The output that will lower the selected environmental condition (Measurement)')}}.">
            <option value="">{{_('Disabled')}}</option>
            {%- for each_output in choices_output_channels -%}
              <option value="{{each_output['value']}}"{% if each_pid.lower_output_id == each_output['value'] %} selected{% endif %}>{{each_output['item']}}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>

  {% for each_output in output if each_pid.lower_output_id and
                                  "," in each_pid.lower_output_id and
                                  each_pid.lower_output_id.split(",")[0] == each_output.unique_id %}

    {% if 'output_types' in dict_outputs[each_output.output_type] and dict_outputs[each_output.output_type]['output_types']|length > 1 %}
      <div class="col-auto">
        {{form_mod_pid_base.lower_output_type.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" id="lower_output_type" name="lower_output_type" title="" data-original-title="{{_('The output action (on/off, PWM, volume, etc.)')}}.">
            <option value="">{{_('Select One')}}</option>
            {%- for each_type in dict_outputs[each_output.output_type]['output_types'] -%}
              <option value="{{each_type}}"{% if each_pid.lower_output_type == each_type %} selected{% endif %}>{{dict_output_type[each_type]}}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>
    {% else %}
      <div class="col-auto">
        {{form_mod_pid_base.lower_output_type.label(class_='control-label')}}
        <div>
          <input class="form-control" disabled="" value="{{dict_output_type[dict_outputs[each_output.output_type]['output_types'][0]]}}" type="text">
          <input type="hidden" id="lower_output_type" name="lower_output_type" value="{{each_pid.lower_output_type}}">
        </div>
      </div>
    {% endif %}

    {% if each_pid.lower_output_type == 'pwm' %}
      {% include 'pages/function_options/pid_options/output_pwm_lower.html' %}
    {% elif each_pid.lower_output_type == 'on_off' %}
      {% include 'pages/function_options/pid_options/output_on_off_lower.html' %}
    {% elif each_pid.lower_output_type == 'value' %}
      {% include 'pages/function_options/pid_options/output_value_lower.html' %}
    {% elif each_pid.lower_output_type == 'volume' %}
      {% include 'pages/function_options/pid_options/output_volume_lower.html' %}
    {% endif %}
  {% endfor %}

    </div>

    <div class="row align-items-end small-gutters" style="padding-bottom: 0.5em;">
      <div class="col-auto">
        <div>
          {{form_mod_pid_base.setpoint_tracking_type.label(class_='control-label')}}
        </div>
        <select class="form-control form-tooltip form-dropdown" id="setpoint_tracking_type_{{each_pid.unique_id}}" name="setpoint_tracking_type" title="" data-original-title="{{dict_translation['setpoint_tracking_type']['phrase']}}">
          <option value="">{{_('Disabled')}}</option>
          <option value="method"{% if each_pid.setpoint_tracking_type == 'method' %} selected{% endif %}>{{_('Method')}}</option>
          <option value="input-math"{% if each_pid.setpoint_tracking_type == 'input-math' %} selected{% endif %}>{{_('Input/Math')}}</option>
        </select>
      </div>

      <div class="col-auto" id="method_id_{{each_pid.unique_id}}">
        <div>
          {{form_mod_pid_base.setpoint_tracking_method_id.label(class_='control-label')}}
        </div>
        <select class="form-control form-tooltip form-dropdown" id="setpoint_tracking_method_id" name="setpoint_tracking_method_id" title="" data-original-title="{{_('Select one for calculating the setpoint. When enabled, measurements override the PID setpoint.')}}">
          <option value="">{{_('Select One')}}</option>

          {%- set valid_saved_method = [] -%}
          {%- for each_method in method -%}
            {%- if each_method.unique_id == each_pid.setpoint_tracking_id -%}
              {%- do valid_saved_method.append(1) -%}
            {%- endif -%}
            <option value="{{each_method.unique_id}}"{% if each_pid.setpoint_tracking_id == each_method.unique_id %} selected{% endif %}>[{{'%02d' % each_method.id}}] {{each_method.name}}</option>
          {%- endfor -%}
          {%- if not valid_saved_method and each_pid.setpoint_tracking_id != '' -%}
            <option value="" selected>{{_('Invalid saved ID. Save another from this list.')}}</option>
          {%- endif -%}
        </select>
      </div>
      <div class="col-auto" id="method_button_{{each_pid.unique_id}}">
        <a href="/method" class="form-control btn" role="button">{{_('Manage Methods')}}</a>
      </div>

      <div class="col-auto" id="input_math_id_{{each_pid.unique_id}}">
        <div>
          {{form_mod_pid_base.setpoint_tracking_input_math_id.label(class_='control-label')}}
        </div>
        <select class="form-control form-tooltip form-dropdown" id="setpoint_tracking_input_math_id" name="setpoint_tracking_input_math_id" title="" data-original-title="{{_('Select one for calculating the setpoint. When enabled, measurements override the PID setpoint.')}}">
          <option value="">{{_('Select One')}}</option>
          {% for each_input_form in choices_input -%}
            <option value="{{each_input_form['value']}}"{% if each_pid.setpoint_tracking_id == each_input_form['value'] %} selected{% endif %}>{{each_input_form['item']}}</option>
          {% endfor -%}
          {% for each_math_form in choices_math -%}
            <option value="{{each_math_form['value']}}"{% if each_pid.setpoint_tracking_id == each_math_form['value'] %} selected{% endif %}>{{each_math_form['item']}}</option>
          {% endfor -%}
          {% for each_function_form in choices_function -%}
            <option value="{{each_function_form['value']}}"{% if each_pid.setpoint_tracking_id == each_function_form['value'] %} selected{% endif %}>{{each_function_form['item']}}</option>
          {% endfor -%}
        </select>
      </div>
      <div class="col-auto" id="input_math_max_age_{{each_pid.unique_id}}">
        {{form_mod_pid_base.setpoint_tracking_max_age.label(class_='control-label')}}
        <div>
          {{form_mod_pid_base.setpoint_tracking_max_age(class_='form-control', value=each_pid.setpoint_tracking_max_age, **{'title':_('Maximum allowable measurement age')})}}
        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){
      let checkPattern = function () {
        if ($('#setpoint_tracking_type_{{each_pid.unique_id}}').val() === 'method') {
          $("#method_id_{{each_pid.unique_id}}").show();
          $("#method_button_{{each_pid.unique_id}}").show();
          $("#input_math_id_{{each_pid.unique_id}}").hide();
          $("#input_math_max_age_{{each_pid.unique_id}}").hide();
        }
        else if ($('#setpoint_tracking_type_{{each_pid.unique_id}}').val() === 'input-math') {
          $("#method_id_{{each_pid.unique_id}}").hide();
          $("#method_button_{{each_pid.unique_id}}").hide();
          $("#input_math_id_{{each_pid.unique_id}}").show();
          $("#input_math_max_age_{{each_pid.unique_id}}").show();
        }
        else {
          $("#method_id_{{each_pid.unique_id}}").hide();
          $("#method_button_{{each_pid.unique_id}}").hide();
          $("#input_math_id_{{each_pid.unique_id}}").hide();
          $("#input_math_max_age_{{each_pid.unique_id}}").hide();
        }
      };
      $('#setpoint_tracking_type_{{each_pid.unique_id}}').on('change', checkPattern);
      checkPattern();
    });
    </script>

  </div>
  </form>

</div>

<div style="padding-bottom: 0.5em; "></div>

{%- endfor -%}
