{% extends "layout.html" %}
{% set active_page = "camera" %}
{% block title %} - Camera{% endblock %}

{% block body %}

  <div class="container"> 
    {% include 'flash_messages.html' %}

    {% if camera_enabled %}
    <form class="form-inline" method="post" action="/camera">
      <div style="padding-bottom: 1.5em">
        <input type="hidden" name="form-name" value="camera">
        {{formCamera.hidden_tag()}}
        <div class="form-group">
          {{formCamera.Still(class_='form-control btn btn-default')}}
        </div>
        {% if not stream_locked -%}
          {% if not timelapse_locked %}
            <div class="form-group">
              <a data-toggle="collapse" href="#collapseContainerTimelapse" aria-expanded="false" aria-controls="collapseContainerTimelapse" class="btn btn-default" role="button">Create Timelapse</a>
            </div>
          {% else %}
            <div class="form-group">
              {{formCamera.StopTimelapse(class_='form-control btn btn-default')}}
            </div>
          {% endif %}
        {%- endif %}
        <div class="form-group">
          {% if stream_locked -%}
            {{formCamera.StopStream(class_='form-control btn btn-default')}}
          {% else %}
            {{formCamera.StartStream(class_='form-control btn btn-default')}}
          {%- endif %}
        </div>
      </div>

      <div class="collapse" id="collapseContainerTimelapse" style="padding: 0.5em 0 3em 1em">
        <div class="form-inline">
          <div class="form-group">
            {{formCamera.TimelapseInterval.label(class_='control-label')}}
            <div>
              {{formCamera.TimelapseInterval(class_='form-control')}}
            </div>
          </div>
          <div class="form-group">
            {{formCamera.TimelapseRunTime.label(class_='control-label')}}
            <div>
              {{formCamera.TimelapseRunTime(class_='form-control')}}
            </div>
          </div>
          <div class="form-group">
            <label></label>
            <div>
              {{formCamera.StartTimelapse(class_='form-control btn btn-default')}}
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endif %}

    {%- if stream_locked -%}
      <div style="padding-bottom: 1.5em">
        <img style="max-width: 100%" src="{{url_for('video_feed')}}">
      </div>
    {%- endif -%}

    {% if latest_still_img %}
      <div style="padding-bottom: 1.5em">
        Last Still: {{latest_still_img_ts}}
        <a href="/camera/still/{{latest_still_img}}" target="_blank"><img style="max-width: 100%" src="/camera/still/{{latest_still_img}}"></a>
      </div>
    {% endif %}

    {% if latest_timelapse_img %}
      <div style="padding-bottom: 1.5em">
        Last Timelapse: {{latest_timelapse_img_ts}}
        <a href="/camera/timelapse/{{latest_timelapse_img}}" target="_blank"><img style="max-width: 100%" src="/camera/timelapse/{{latest_timelapse_img}}"></a>
      </div>
    {% endif %}
  </div>

{% endblock %}
