{% extends "layout.html" %}
{% set active_page = "pid" %}
{% block title %} - PID{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-clockpicker.min.css">
{% endblock %}

{% block body %}

  <div class="container">
    {% include 'flash_messages.html' %}

    <form class="form-inline" method="post" action="/pid">
      <input type="hidden" name="form-name" value="addPID">
      {{formAddPID.hidden_tag()}}
      <div class="form-group">
        {{formAddPID.numberPIDs(class_='form-control',type="number",**{'rel':'tooltip','title':'How many PID controllers to add'})}}
      </div>
      <div class="form-group">
        {{formAddPID.pidAddSubmit(class_='form-control btn btn-default')}}
      </div>
    </form>

    <div style="clear: both; padding:1em 0;"></div>

    {%- if displayOrder -%}
    {%- for order in displayOrder -%}
      {%- for each_pid in pids if each_pid.id in order -%}

        <div class="table-responsive" style="border: 2px solid #ddd; border-radius: 5px;">
          
          <table class="table {% if each_pid.activated -%}active-background{%- else -%}inactive-background{% endif -%}">
            <tr>
              <th rowspan="2" class="col-sm-2">
                {%- if each_pid.activated %}
                  <form method="post" action="/pid">
                    <input type="hidden" name="form-name" value="deactivatePID">
                    {{formDeactivatePID.csrf_token}}
                    {{formDeactivatePID.deactivatePID_id(value=each_pid.id)}}
                    {{formDeactivatePID.deactivatePIDSubmit(class_='form-control btn btn-default')}}
                  </form>
                {%- else %}
                  <form method="post" action="/pid">
                    <input type="hidden" name="form-name" value="activatePID">
                    {{formActivatePID.csrf_token}}
                    {{formActivatePID.activatePID_id(value=each_pid.id)}}
                    {{formActivatePID.activatePIDSubmit(class_='form-control btn btn-default')}}
                  </form>
                {%- endif -%}
                <form method="post" action="/pid">
                  <input type="hidden" name="form-name" value="delPID">
                  {{formDelPID.csrf_token}}
                  {{formDelPID.delPID_id(value=each_pid.id)}}
                  {{formDelPID.delPIDSubmit(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this PID controller?")'})}}
                </form>
              <th rowspan="2" class="col-sm-2">
                <form method="post" action="/pid">
                  <input type="hidden" name="form-name" value="orderPID">
                  {{formOrderPID.csrf_token}}
                  {{formOrderPID.orderPID_id(value=each_pid.id)}}
                  {{formOrderPID.orderPIDUp(class_='form-control btn btn-default')}}
                  {{formOrderPID.orderPIDDown(class_='form-control btn btn-default')}}
                </form>
              </th>
              <th rowspan="2" class="col-sm-2">
                <form method="post" action="/pid">
                <input type="hidden" name="form-name" value="modPID">
                {{formModPID.csrf_token}}
                {{formModPID.modPID_id(value=each_pid.id)}}
                {{formModPID.modPIDSubmit(class_='form-control btn btn-default')}}
              </th>
              <th class="col-sm-6">
                {{formModPID.modName(class_='form-control', value=each_pid.name)}}
              </th>
            </tr>
            <tr>
              <td>ID {{each_pid.id}}</td>
            </tr>
          </table>

          <table class="table">
            <tr>
              <td class="col-sm-3">Sensor</td>
              <td class="col-sm-2">Measure Type</td>
              <td class="col-sm-2">Regulate Direction</td>
              <td class="col-sm-1">Period (sec)</td>
              <td class="col-sm-1">Setpoint</td>
              <td class="col-sm-1">K<sub>P</sub></td>
              <td class="col-sm-1">K<sub>I</sub></td>
              <td class="col-sm-1">K<sub>D</sub></td>
            </tr>
            <tr>
              <td>
                <select class="form-control" id="modSensorID" name="modSensorID">
                  <option value=""></option>
                  {%- for each_sensor in sensor -%}
                    <option value="{{each_sensor.id}}"{% if each_pid.sensor_id == each_sensor.id %} selected{% endif %}>{{each_sensor.id}} ({{each_sensor.name}})</option>
                  {%- endfor -%}
                </select>
              <td>
                <select class="form-control" id="modMeasureType" name="modMeasureType">
                  <option value=""></option>
                  <option value="temperature"{% if each_pid.measure_type == 'temperature' %} selected{% endif %}>Temperature</option>
                  <option value="temperature_object"{% if each_pid.measure_type == 'temperature_object' %} selected{% endif %}>Temperature (Object)</option>
                  <option value="temperature_die"{% if each_pid.measure_type == 'temperature_die' %} selected{% endif %}>Temperature (Die)</option>
                  <option value="humidity"{% if each_pid.measure_type == 'humidity' %} selected{% endif %}>Humidity</option>
                  <option value="dewpoint"{% if each_pid.measure_type == 'dewpoint' %} selected{% endif %}>Dew Point</option>
                  <option value="co2"{% if each_pid.measure_type == 'co2' %} selected{% endif %}>CO2</option>
                  <option value="lux"{% if each_pid.measure_type == 'lux' %} selected{% endif %}>Luminosity</option>
                  <option value="pressure"{% if each_pid.measure_type == 'pressure' %} selected{% endif %}>Pressure</option>
                  <option value="altitude"{% if each_pid.measure_type == 'altitude' %} selected{% endif %}>Altitude</option>
                  <option value="voltage"{% if each_pid.measure_type == 'voltage' %} selected{% endif %}>Voltage (ADC)</option>
                  {% for each_sensor in sensor if each_sensor.adc_measure %}
                    <option value="{{each_sensor.adc_measure}}"{% if each_pid.measure_type == each_sensor.adc_measure %} selected{% endif %}>{{each_sensor.adc_measure}} (ADC)</option>
                  {% endfor %}
                </select>
              <td>
                <select class="form-control" id="modDirection" name="modDirection">
                  <option value=""></option>
                  <option value="raise"{% if each_pid.direction == 'raise' %} selected{% endif %}>Raise</option>
                  <option value="lower"{% if each_pid.direction == 'lower' %} selected{% endif %}>Lower</option>
                  <option value="both"{% if each_pid.direction == 'both' %} selected{% endif %}>Both</option>
                </select>
              </td>
              <td>{{formModPID.modPeriod(class_='form-control', value=each_pid.period)}}</td>
              <td>{{formModPID.modSetpoint(class_='form-control', value=each_pid.setpoint)}}</td>
              <td>{{formModPID.modKp(class_='form-control', value=each_pid.p)}}</td>
              <td>{{formModPID.modKi(class_='form-control', value=each_pid.i)}}</td>
              <td>{{formModPID.modKd(class_='form-control', value=each_pid.d)}}</td>
            </tr>
          </table>

          <table class="table">
            <tr>
              <td class="col-sm-2">Raise Relay</td>
              <td class="col-sm-1">Min Duration</td>
              <td class="col-sm-1">Max Duration</td>
              <td class="col-sm-2">Lower Relay</td>
              <td class="col-sm-1">Min Duration</td>
              <td class="col-sm-1">Max Duration</td>
            </tr>
            <tr>
              <td>
                <select class="form-control" id="modRaiseRelayID" name="modRaiseRelayID">
                  <option value=""></option>
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}}"{% if each_pid.raise_relay_id == each_relay.id %} selected{% endif %}>{{each_relay.id}} ({{each_relay.name}})</option>
                  {%- endfor -%}
                </select>
              <td>{{formModPID.modRaiseMinDuration(class_='form-control', value=each_pid.raise_min_duration)}}</td>
              <td>{{formModPID.modRaiseMaxDuration(class_='form-control', value=each_pid.raise_max_duration)}}</td>
              <td>
                <select class="form-control" id="modLowerRelayID" name="modLowerRelayID">
                  <option value=""></option>
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}}"{% if each_pid.lower_relay_id == each_relay.id %} selected{% endif %}>{{each_relay.id}} ({{each_relay.name}})</option>
                  {%- endfor -%}
                </select>
              </td>
              <td>{{formModPID.modLowerMinDuration(class_='form-control', value=each_pid.lower_min_duration)}}</td>
              <td>{{formModPID.modLowerMaxDuration(class_='form-control', value=each_pid.lower_max_duration)}}</td>
            </tr>
          </table>
          </form>

          <div class="form-inline" style="margin: 0.5em; padding: 0.5em; border: 2px solid #ddd; border-radius: 5px;">
            <strong>Setpoint Tracking: Select a method to enable setpoint tracking.</strong>
            <form method="post" action="/pid" style="padding: 0.5em 0 0   0">
              <input type="hidden" name="form-name" value="modPIDMethod">
              {{formModPIDMethod.csrf_token}}
              {{formModPIDMethod.pid_id(class_='form-control', value=each_pid.id)}}
              <div class="form-group">
                {{formModPIDMethod.method_id.label(class_='control-label')}}
                <div>
                  <select class="form-control" id="method_id" name="method_id">
                    {%- if method == [] -%}
                      <option value="">No methods exist. Create one with this button -></option>
                    {%- else -%}
                      <option value="">Disabled</option>
                    {%- endif-%}

                    {%- set valid_saved_method = [] -%}
                    {%- for each_method in method -%}
                      {%- if each_method.method_id == each_pid.method_id -%}
                        {%- do valid_saved_method.append(1) -%}
                      {%- endif -%}
                      <option value="{{each_method.method_id}}"{% if each_pid.method_id == each_method.method_id %} selected{% endif %}>{{each_method.name}} ({{each_method.method_id}})</option>
                    {%- endfor -%}
                    {%- if not valid_saved_method and each_pid.method_id != '' -%}
                      <option value="" selected>Invalid saved method. Save another method from this list.</option>
                    {%- endif -%}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class='control-label'></label>
                <div>
                  {%- if method != [] -%}
                    {{formModPIDMethod.Submit(class_='form-control btn btn-default')}}
                  {%- endif-%}
                  <a href="/method" class="btn btn-default" role="button">Manage Methods</a>
                </div>
              </div>
            </form>
          </div>

        </div>

        <div style="clear: both; padding:1em 0;"></div>

      {%- endfor -%}
    {%- endfor -%}
    {%- endif -%}

  </div>

  <script type="text/javascript" src="/static/js/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
    $('.clockpicker').clockpicker({
      donetext: 'Done'
    });
  </script>

{% endblock %}
