alembic
argparse
bcrypt
daemonize == 2.4.6
Flask == 0.11
Flask_InfluxDB == 0.1
Flask_SSLify
Flask_WTF == 0.12
geocoder == 1.15.0
influxdb == 2.12.0
lockfile == 0.12.2
pyserial == 3.1
python-dateutil
RPi.GPIO
rpyc == 3.3.0
SQLAlchemy == 1.0.13
WTForms == 2.1

# Devices/sensors
picamera == 1.10
sht-sensor == 16.2.0
tentacle_pi == 0.6.2
w1thermsensor == 0.3.1
Adafruit_Python_DHT
Adafruit_ADS1x15
Adafruit_BMP
Adafruit_GPIO
Adafruit_TMP
MCP342x
