body {
    background:#fff;
    text: black;
}

.inactive, .active, .link {
	padding:3px 2px 2px 10px;
} 

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}

a:active {
    color: #0000FF;
}

a:hover   {
        color:black;
}

.inactive {
	background: #FF7100;
	font-size: 12px;
}

.inactive a {
        text-decoration:none;
        color: white;
}

.inactive a:hover {
	color: black;
}

.active {
	background: #FD0006;
	font-weight: bold;
	font-size: 12px;
	color: white;
}

.link, .link-profile {
	background: #CCCCCC;
	font-size: 12px;
}

.link a, .link-profile a {
	color: blue;
}

.link-profile {
        padding: 3px 2px 0 0;
}

 
