/*** General ***/
body {
    background:#FFF;
    text: black;
}

a:link { color: #000000; }
a:visited { color: #000000; }
a:active { color: #0000FF; }
a:hover { color: black; }

table.relays {
	display: inline-block;
}

table.relays td {
    padding: 3px 8px 3px 8px;
}

table.pid {
    padding-top: 15px;
	margin: 0 auto;
	display: inline-block;
}

table.pid td {
	padding: 2px 3px 2px 3px;
}

.table-header {
	border-style: none none solid none;
	border-width: 1px;
}

/*** Menu ***/
.edit-title {
    padding: 20px 0 10px 0;
}

.sensor-block {
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
}

.sensor-title {
    margin: 0 10px 3px 0;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid;
}

.sensor-values, .setpoint {
    font-family: monospace;
}

.time {
    background: #F1A66D;
    padding: 3px 0 3px 0;
    float: center;
    color: #000;
    font-size: 11px;
    font-family: verdana;
}

.sensor {
    padding:1px 2px 2px 7px;
    display:inline;
    float: left;
    color: #000;
    font-size: 11px;
    font-family: verdana;
    text-align: left;
}

.inactive, .active, .link {
    padding: 2px 0 2px 10px;
}

.inactive {
    background: #E18944;
    font-weight: bold;
    font-size: 12px;
}

.inactive a {
    text-decoration: none;
    color: white;
}

.inactive a:hover {
    color: black;
}

.active {
    background: #874611;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.link {
    background: #F2C5A1;
}

.link, .link-profile {
    font-size: 12px;
}

.link a, .link-profile a {
    color: blue;
}

.link-profile {
    background: #E18944;
    padding: 3px 2px 0 0;
}

/* Warnings and errors */
.error {
    color: red;
    padding: 0 0 10px 5px;
}

/* Changemode.php */
.state {
    font-size: 16px;
	font-weight: bold;
} 

.on {
    color: green
}

.off {
    color: red
}

button.linkon {
    background: none !important;
    border: none; 
    padding: 0 !important;
    font: inherit;
    color: red;
    cursor: pointer;
}

button.linkoff {
    background: none !important;
    border: none; 
    padding: 0 !important;
    font: inherit;
    color: green;
    cursor: pointer;
}