<h4>{{_('Input')}} <a href="https://kizniche.github.io/Mycodo/Inputs/" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>

{% for each_order_input_id in display_order_input -%}
  {%- set all_input = table_input.query.filter(table_input.unique_id == each_order_input_id).all() -%}
  {%- if all_input -%}
    {%- for each_input in all_input -%}

<div class="container" style="border: 2px solid #ddd; border-radius: 5px;">

  <form id="mod_input_form" method="post" action="/input">
    {{form_mod_input.csrf_token}}
    {{form_mod_input.input_id(value=each_input.unique_id)}}

    {% set form = form_mod_input %}
    {% set dict_options = dict_inputs[each_input.device] %}
    {% set each_device = each_input %}
    {% set unique_id = each_input.unique_id %}
    {% set custom_options_values = custom_options_values_inputs %}

  <div class="row {% if each_input.is_activated -%}active-background
                  {% else -%}inactive-background
                  {% endif %} small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.3em 0.2em 0.3em 0">

    <div class="col-2 col-sm-1 text-center icon-fh">
      <a data-toggle="collapse" href="#collapseContainer-input-{{each_input.id}}" aria-expanded="false" aria-controls="collapseContainer{{each_input.id}}">
        <span style="font-size: 3.6em" class="collapse-button{{each_input.id}} fa fa-plus-square"></span>
      </a>
    </div>
    <div class="col-5 col-sm-2">
      <input class="form-control" disabled="" value="{{each_input.name}}" type="text">
    </div>
    <div class="col-5 col-sm-3">
      <input class="form-control btn btn-primary btn-sm btn-block" type="button" onclick="setClipboard('{{each_input.unique_id}}')" title="UUID: {{each_input.unique_id}}, {{dict_translation['copy_to_clipboard']['phrase']}}" value="{% if each_input.interface %}[{{each_input.interface}}] {% endif %}{% if each_input.device in dict_inputs %}{{dict_inputs[each_input.device]['input_name']}}{% endif %}">
    </div>
    <div class="col-4 col-xs-offset-2 col-sm-2 col-sm-offset-0">
    {% if each_input.is_activated -%}
      {%- set has_active_pid = [] -%}
      {%- for each_pid in pid if each_pid.measurement.split(',')[0] == each_input.unique_id and each_pid.is_activated -%}
        {%- do has_active_pid.append(1) -%}
      {%- endfor -%}
      {% if has_active_pid -%}
        {{form_mod_input.input_deactivate(class_='form-control btn btn-primary btn-sm',**{'onclick':'return confirm("There are currently active PID controllers that rely on this Input to be active. Select OK to deactivate this input and all associated PID controllers, otherwise click Cancel to leave them active.")'})}}
      {% else -%}
        {{form_mod_input.input_deactivate(class_='form-control btn btn-primary btn-sm')}}
      {% endif -%}
    {% else -%}
      {{form_mod_input.input_activate(class_='form-control btn btn-primary btn-sm')}}
    {% endif -%}
    </div>

    <div class="col-4 col-sm-2">
      {{form_mod_input.input_order_up(class_='form-control btn btn-primary btn-sm btn-block')}}
    </div>
    <div class="col-4 col-sm-2">
      {{form_mod_input.input_order_down(class_='form-control btn btn-primary btn-sm btn-block')}}
    </div>

  </div>

  <div class="collapse" id="collapseContainer-input-{{each_input.id}}">

    {% if each_input.device in ['RPiCPULoad', 'RPiFreeSpace'] -%}
      <input id="pre_output_id" name="pre_output_id" type="hidden" value="0">
      <input id="pre_output_duration" name="pre_output_duration" type="hidden" value="0">
    {% endif -%}

    <div class="row small-gutters" style="padding: 0.5em">
      <div class="col-auto small-gutters">
        {{form_mod_input.input_mod(class_='form-control btn btn-primary btn-sm btn-block')}}
      </div>
      <div class="col-auto small-gutters">
        {% if has_active_pid or has_active_lcd -%}
          {{form_mod_input.input_delete(class_='form-control btn btn-primary btn-sm btn-block',**{'onclick':'return confirm("Note: there are currently an active PID that relies on this to operate. Deleting it will deactivate the PID. Are you sure you want to delete this?")'})}}
        {% else -%}
          {{form_mod_input.input_delete(class_='form-control btn btn-primary btn-sm btn-block',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
        {% endif -%}
      </div>
    </div>

    {% if each_input.device in dict_inputs %}

    <div class="row small-gutters" style="padding: 0.5em">

      <div class="col-12">
        {{_("Manufacturer")}}: {{dict_inputs[each_input.device]['input_manufacturer']}}
      </div>

      <div class="col-12">
        {{_("Model")}}: {{dict_inputs[each_input.device]['input_name']}}
      </div>

      <div class="col-12">
        {{_("Measurements")}}: {{dict_inputs[each_input.device]['measurements_name']}}
      </div>

      {% if 'dependencies_module' in dict_inputs[each_input.device] and dict_inputs[each_input.device]['dependencies_module'] %}
        <div class="col-12">
        {{_("Library")}}:
        {% for each_lib in dict_inputs[each_input.device]['dependencies_module'] -%}
          {% if each_lib[0] == 'pip-pypi' %}
              {% if "==" in each_lib[2] %}
            <a href="https://pypi.org/project/{{each_lib[2].split('==')[0]}}/{{each_lib[2].split('==')[1]}}" target="_blank">{{each_lib[2].split('==')[0]}}</a>
              {% else %}
            <a href="https://pypi.org/project/{{each_lib[2]}}" target="_blank">{{each_lib[2]}}</a>
              {%  endif %}
          {% elif each_lib[0] == 'internal' %}
            {{each_lib[2]}}
          {% else %}
            {{each_lib[1]}}
          {% endif %}
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
        </div>
      {% endif %}

      {% set manufacturer_url = 'url_manufacturer' in dict_inputs[each_input.device] and dict_inputs[each_input.device]['url_manufacturer'] %}
      {% set datasheet_url = 'url_datasheet' in dict_inputs[each_input.device] and dict_inputs[each_input.device]['url_datasheet'] %}
      {% set product_purchase_url = 'url_product_purchase' in dict_inputs[each_input.device] and dict_inputs[each_input.device]['url_product_purchase'] %}
      {% set additional_url = 'url_additional' in dict_inputs[each_input.device] and dict_inputs[each_input.device]['url_additional'] %}

      {% if manufacturer_url or datasheet_url or product_purchase_url or additional_url %}
      <div class="col-12">
        {{_("Literature") + ": "}}
      {%- if manufacturer_url -%}
        {{_("Manufacturer")}} {% for each_url in dict_inputs[each_input.device]['url_manufacturer'] %}<a href="{{each_url}}" target="_blank">Link {{loop.index}}</a>{{ ", " if not loop.last }}{% endfor %}
      {%- endif -%}
      {%- if datasheet_url -%}
        {% if manufacturer_url %}; {% endif -%}
        {{_("Datasheet")}} {% for each_url in dict_inputs[each_input.device]['url_datasheet'] %}<a href="{{each_url}}" target="_blank">Link {{loop.index}}</a>{{ ", " if not loop.last }}{% endfor %}
      {%- endif -%}
      {%- if product_purchase_url -%}
        {% if manufacturer_url or datasheet_url %}; {% endif -%}
        {{_("Product")}} {% for each_url in dict_inputs[each_input.device]['url_product_purchase'] %}<a href="{{each_url}}" target="_blank">Link {{loop.index}}</a>{{ ", " if not loop.last }}{% endfor %}
      {%- endif -%}
      {%- if additional_url -%}
        {% if manufacturer_url or datasheet_url or product_purchase_url %}; {% endif -%}
        {{_("Additional")}} {% for each_url in dict_inputs[each_input.device]['url_additional'] %}<a href="{{each_url}}" target="_blank">Link {{loop.index}}</a>{{ ", " if not loop.last }}{% endfor %}
      {%- endif -%}.
      </div>
      {% endif %}

      {% if 'message' in dict_inputs[each_input.device] %}
      <div class="col-12" style="padding-top: 0.3em">
        {{dict_inputs[each_input.device]['message']|safe}}
      </div>
      {% endif %}

    </div>

    <div class="row small-gutters align-items-end" style="padding: 0.5em">
      <div class="col-12">
        <h5>{{_('Actions')}}</h5>
      </div>
      {% include 'pages/form_options/Custom_Actions_Message.html' %}
      <div class="col-auto small-gutters">
        {{form_mod_input.input_acquire_measurements(class_='form-control btn btn-primary btn-sm btn-block')}}
      </div>
      {% if each_input.device in custom_actions and custom_actions[each_input.device] %}
        {% set force_default_value = true %}
        {% if 'custom_actions' in dict_options %}
          {% for each_option in dict_options['custom_actions'] %}
            {% if each_option['type'] == 'new_line' %}
      </div>
      <div class="row small-gutters" style="padding: 0.5em">
            {% elif each_option['type'] == 'message' %}
        <div class="col-12" style="padding-bottom: 0.5em">
          {{each_option['default_value']|safe}}
        </div>
            {% else %}
        {% include 'pages/form_options/Custom_Options.html' %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>

    <div class="row small-gutters" style="padding: 0.5em">
      <div class="col-12">
        <h5>{{_('Options')}}</h5>
      </div>

      <div class="col-auto">
        {{form_mod_input.name.label(class_='control-label')}}
        <div>
          {{form_mod_input.name(class_='form-control', value=each_input.name, **{'title': dict_translation['name']['phrase']})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_input.log_level_debug.label(class_='control-label')}}
        <div class="input-group-text">
          <input id="log_level_debug" name="log_level_debug" type="checkbox" title="{{dict_translation['log_level_debug']['phrase']}}" value="y"{% if each_input.log_level_debug %} checked{% endif %}>
        </div>
      </div>

      {% include 'pages/form_options/Interface.html' %}
      {% include 'pages/form_options/GPIO.html' %}
      {% include 'pages/form_options/Bluetooth.html' %}
      {% include 'pages/form_options/I2C.html' %}
      {% include 'pages/form_options/FTDI.html' %}
      {% include 'pages/form_options/UART.html' %}
      {% include 'pages/form_options/Baud_Rate.html' %}
      {% include 'pages/form_options/Location.html' %}
      {% include 'pages/form_options/Period.html' %}
      {% include 'pages/form_options/Start_Offset.html' %}
      {% include 'pages/form_options/Pre_Output.html' %}
      {% include 'pages/form_options/Num_channels.html' %}
      {% include 'pages/form_options/Measurements_Enabled.html' %}

      {# TODO: move many of the below options from database columns to custom options at next major revision #}

      {% include 'pages/form_options/Single_Input_Math.html' %}
      {% include 'pages/form_options/EDGE.html' %}
      {% include 'pages/form_options/Times_Check.html' %}
      {% include 'pages/form_options/Deadline.html' %}
      {% include 'pages/form_options/Port.html' %}
      {% include 'pages/form_options/RPM_Pulses_Rev.html' %}
      {% include 'pages/form_options/Weighting.html' %}
      {% include 'pages/form_options/Sample_Time.html' %}
      {% include 'pages/form_options/SHT_Voltage.html' %}
      {% include 'pages/form_options/Pin_Clock.html' %}
      {% include 'pages/form_options/Ref_Ohm.html' %}
      {% include 'pages/form_options/Thermocouple_Type.html' %}
      {% include 'pages/form_options/Resolution.html' %}
      {% include 'pages/form_options/Resolution_2.html' %}
      {% include 'pages/form_options/Sensitivity.html' %}
      {% include 'pages/form_options/ADC_Gain.html' %}
      {% include 'pages/form_options/ADC_Resolution.html' %}
      {% include 'pages/form_options/ADC_Sample_Speed.html' %}
      {% include 'pages/form_options/Shell_Command.html' %}

    </div>

      {% if ('custom_options' in dict_options and custom_options_values[unique_id]) or
            'custom_options_message' in dict_options %}
        {% set force_default_value = false %}
    <div class="row small-gutters" style="padding: 0.5em">
      <div class="col-12">
        <h5>{{_('Custom Options')}}</h5>
      </div>
      {% include 'pages/form_options/Custom_Options_Message.html' %}
        {% if 'custom_options' in dict_options %}
          {% for each_option in dict_options['custom_options'] %}
            {% if each_option['type'] == 'new_line' %}
    </div>
    <div class="row small-gutters" style="padding: 0.5em">
            {% elif each_option['type'] == 'message' %}
      <div class="col-12" style="padding-bottom: 0.5em">
        {{each_option['default_value']|safe}}
      </div>
            {% else %}
      {% include 'pages/form_options/Custom_Options.html' %}
            {% endif %}
          {% endfor %}
        {% endif %}
    </div>
      {% endif %}

      {%- set input_channel_exists = [] -%}
      {% for each_input_channel in input_channel if each_input_channel.input_id == each_input.unique_id %}
        {%- do input_channel_exists.append(1) -%}
      {% endfor %}
      
      {% if input_channel_exists %}
      
    <div class="row small-gutters" style="padding: 1em 0 0 0.5em">
      <div class="col-12">
        <h5>{{_('Channel Options')}}</h5>
      </div>
    </div>

      {% endif %}

      {% for each_input_channel in input_channel if each_input_channel.input_id == each_input.unique_id %}

    <hr/>
    <div class="row">
      <div class="col-auto">
        Channel {{each_input_channel.channel}}

        {%- if 'name' in custom_options_values_input_channels[each_input.unique_id][each_input_channel.channel] and
             custom_options_values_input_channels[each_input.unique_id][each_input_channel.channel]['name'] -%}
          {{': ' + custom_options_values_input_channels[each_input.unique_id][each_input_channel.channel]['name']}}
        {%- elif 'channels_dict' in dict_inputs[each_input.device] and
                 'name' in dict_inputs[each_input.device]['channels_dict'][each_input_channel.channel] -%}
          {{': ' + dict_inputs[each_input.device]['channels_dict'][each_input_channel.channel]['name']}}
        {%- endif -%}
      </div>
    </div>

        {% set dict_options = dict_inputs[each_input.device] %}
        {% set unique_id = each_input.unique_id %}
        {% set custom_options_values = custom_options_values_input_channels %}
        {% set channel = each_input_channel.channel %}
        {% set each_device = each_input %}
        {% set controller_type = "Input" %}

        {% if custom_options_values[unique_id] %}

          {% if 'custom_channel_options_message' in dict_options %}
    <div class="row small-gutters" style="padding: 1em">
        <div class="col-12" style="padding-bottom: 0.5em">
          {{dict_options['custom_channel_options_message']|safe}}
        </div>
    </div>
          {% endif %}

          {% if 'custom_channel_options' in dict_options %}
    <div class="row small-gutters" style="padding: 1em">
            {% for each_option in dict_options['custom_channel_options'] %}
              {% if each_option['type'] == 'new_line' %}
    </div>
    <div class="row small-gutters" style="padding: 0.5em">
              {% elif each_option['type'] == 'message' %}
      <div class="col-12" style="padding-bottom: 0.5em">
        {{each_option['default_value']|safe}}
      </div>
              {% else %}
        {% include 'pages/form_options/Custom_Options_Channels.html' %}
              {% endif %}
            {% endfor %}
    </div>
          {% endif %}
        {% endif %}

      {% endfor %}

    {% endif %}

    </form>

    <div class="row small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.5em 0.5em 0 0.5em">
      <div class="col-12">
        <h5>{{_('Measurement Settings')}}</h5>
      </div>
    </div>

    {% if "measurements_variable_amount" in dict_options and dict_options['measurements_variable_amount'] %}
      {% include 'pages/form_options/Measurements_Select.html' %}
    {% endif %}

    {% include 'pages/form_options/Measurements_Configure.html' %}

  </div> <!- collapse container end ->

</div>

<div style="clear: both; padding-bottom: 0.5em;"></div>

    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}

{%- if display_order_input -%}

<div class="container">

  <div class="form-inline" style="padding-bottom: 1em;">
    <div class="form-group">
      <a data-toggle="collapse" href="#collapseContainerReorderInput" aria-expanded="false" aria-controls="collapseContainerReorderInput" class="btn btn-sm btn-primary" role="button">{{dict_translation['input']['title'] + ' ' + dict_translation['reorder']['title']}}</a>
    </div>
  </div>

  <div class="collapse" id="collapseContainerReorderInput" style="padding-bottom: 1em">

    <form method="post" action="/input">
    {{form_base.csrf_token}}

    <div class="row" style="padding-bottom: 0.5em">
      <div class="col-auto">
        {{form_base.reorder(class_='btn btn-primary')}}
      </div>
    </div>

    <div class="row">
      <div class="col-auto">
      {{form_base.reorder_type(class_='form-control', value='input')}}
        <select style="display: none" name="from[]" id="multiselect1" class="" size="8" multiple="multiple"></select>
        <div>
          <select name="list_visible_elements" id="multiselect1_to" class="form-control" size="8" multiple="multiple">
          {% if display_order_input -%}
            {% for each_visible in display_order_input if each_visible in names_input %}
              <option value="{{each_visible}}">{{names_input[each_visible]}}</option>
            {% endfor %}
          {% endif %}
          </select>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" id="multiselect1_move_up" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-up"></i></button>
            </div>
            <div class="col-sm-6">
              <button type="button" id="multiselect1_move_down" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-down"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>

    </form>
  </div>

</div>

<div style="clear: both; padding: 0.5em 0;"></div>

{%- endif -%}

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $('#multiselect1').multiselect({
          sort: false,
          keepRenderingSort: true
      });
  });

  $('#collapseContainerReorderInput').on('shown.bs.collapse', function () {
    this.scrollIntoView();
  });
</script>
