<h4>{{_('Math')}} <a href="/help#math" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>
<p>{{_('Math can be performed on one or more Inputs in order to produce a new value')}}</p>

{%- if display_order_math -%}
{%- for order in display_order_math -%}
  {%- for each_math in math if each_math.unique_id == order -%}

<div class="container" style="border: 2px solid #ddd; border-radius: 5px;">

  <form method="post" action="/data">
    {{form_mod_math.csrf_token}}
    {{form_mod_math.math_id(value=each_math.unique_id)}}

  <div class="row {% if each_math.is_activated -%}active-background
                  {% else -%}inactive-background
                  {% endif %} small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.4em 0.2em 0.4em 0">

    <div class="col-xs-2 col-sm-1 text-center icon-fh">
      <a data-toggle="collapse" href="#collapseContainer-math-{{each_math.id}}" aria-expanded="false" aria-controls="collapseContainer{{each_math.id}}">
        <span style="font-size: 2.8em" class="collapse-button{{each_math.id}} fa fa-plus-square"></span>
      </a>
    </div>
    <div class="col-xs-5 col-sm-3">
      {{form_mod_math.name(class_='form-control', value=each_math.name, **{'title':_('A name to distinguish this from others')})}}
    </div>
    <div class="col-xs-5 col-sm-2">
      <input class="form-control btn btn-sm btn-block" disabled="" title="UUID: {{each_math.unique_id}}" value="[{{'%02d' % each_math.id}}] {% if each_math.math_type in math_info %}{{math_info[each_math.math_type]['name']}}{% endif %}" type="text">
    </div>
    <div class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-0">
    {% if each_math.is_activated -%}
      {{form_mod_math.math_deactivate(class_='form-control btn btn-sm btn-block')}}
    {% else -%}
      {{form_mod_math.math_activate(class_='form-control btn btn-sm btn-block')}}
    {% endif -%}
    </div>

    <div class="col-xs-3 col-sm-2">
      {{form_mod_math.math_order_up(class_='form-control btn btn-sm btn-block')}}
    </div>
    <div class="col-xs-3 col-sm-2">
      {{form_mod_math.math_order_down(class_='form-control btn btn-sm btn-block')}}
    </div>

  </div>

  <div class="collapse" id="collapseContainer-math-{{each_math.id}}">

    <div style="padding: 0.5em;" class="row small-gutters">
      <div class="col-auto">
        {{form_mod_math.math_mod(class_='form-control btn btn-sm')}}
      </div>
      <div class="col-auto">
        {{form_mod_math.math_delete(class_='form-control btn btn-sm',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
    </div>

    <div style="padding: 0.5em" class="row small-gutters">
      <div class="col-auto">
        {{form_mod_math.period.label(class_='control-label')}}
        <div>
          {{form_mod_math.period(class_='form-control', value=each_math.period, **{'title':_('The duration (seconds) between math calculations')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_mod_math.max_measure_age.label(class_='control-label')}}
        <div>
          {{form_mod_math.max_measure_age(class_='form-control', value=each_math.max_measure_age)}}
        </div>
      </div>

    {% if dict_measure_info[each_math.unique_id]['channels'] > 1 %}

      <div class="col-auto">
        <label class="control-label">{{tooltips_input['measurements_enabled']['title']}}</label>
        <div>
          <select class="form-control form-tooltip form-dropdown" data-placement="top" id="measurements_enabled" name="measurements_enabled" title="{{tooltips_input['measurements_enabled']['phrase']}}" size="{{[10, dict_measure_info[each_math.unique_id]['channels']]|min}}" multiple>
            {% for each_measurement in math_measurements if each_measurement.math_id == each_math.unique_id %}
              <option value="{{each_measurement.unique_id}}"{% if each_measurement.is_enabled %} selected{% endif %}>{{each_measurement.name}} {% if each_measurement.measurement in dict_measurements %}{{dict_measurements[each_measurement.measurement]['name']}} {% endif %}{% if each_measurement.channel != None %} (CH{{each_measurement.channel + 1}}{% if each_measurement.unit in dict_units %}, {{dict_units[each_measurement.unit]['name']}}{% endif %}){% endif %}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-auto">
        {{form_mod_math.select_measurement_unit.label(class_='control-label')}}
        <div>
          <select class="form-control form-tooltip form-dropdown" data-placement="top" id="select_measurement_unit" name="select_measurement_unit" title="{{tooltips_input['select_measurement_unit']['phrase']}}">
            <option value="">{{_('Select One')}}</option>
        {% for each_measurement in math_measurements if each_measurement.channel == 0 %}
          {% for each_submit, each_display in choices_measurements_units.items() %}
            <option value="{{each_submit}}"{% if each_submit == each_measurement.measurement + ',' + each_measurement.unit %} selected{% endif %}>{{each_display}}</option>
          {% endfor %}
        {% endfor %}
          </select>
        </div>
      </div>

    {% endif %}

    </div>

    {% for each_math_template in math_templates if each_math_template[:-5] == each_math.math_type %}
      {% include 'pages/data_options/math_options/'+each_math_template %}
    {% endfor %}

    </form>

    <div class="row small-gutters" style="border-bottom: 1px solid #ddd; padding: 0.5em">
      <div class="col-12">
        <h5>{{_('Measurement Settings')}}</h5>
      </div>
    </div>

    {% include 'pages/data_options/math_options/TEMPLATE_OPTIONS_Measurements_Convert.html' %}

  </div> <!- collapse container end ->

</div>

<div style="clear: both; padding-bottom: 0.5em;"></div>

{%- endfor -%}

{%- endfor -%}

<div class="container">

  <div class="form-inline" style="padding-bottom: 1em;">
    <div class="form-group">
      <a data-toggle="collapse" href="#collapseContainerReorderMath" aria-expanded="false" aria-controls="collapseContainerReorderMath" class="btn btn-sm btn-primary" role="button">{{_('Math')}} {{_('Reorder')}}</a>
    </div>
  </div>

  <div class="collapse" id="collapseContainerReorderMath" style="padding-bottom: 1em">

    <form method="post" action="/data">
    {{form_base.csrf_token}}

    <div class="row" style="padding-bottom: 0.5em">
      <div class="col-auto">
        {{form_base.reorder(class_='btn btn-primary')}}
      </div>
    </div>

    <div class="row">
      <div class="col-auto">
      {{form_base.reorder_type(class_='form-control', value='math')}}
        <select style="display: none" name="from[]" id="multiselect2" class="" size="8" multiple="multiple"></select>
        <div>
          <select name="list_visible_elements" id="multiselect2_to" class="form-control" size="8" multiple="multiple">
          {% if display_order_math -%}
            {% for each_visible in display_order_math if each_visible in names_math %}
              <option value="{{each_visible}}">{{names_math[each_visible]}}</option>
            {% endfor %}
          {% endif %}
          </select>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" id="multiselect2_move_up" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-up"></i></button>
            </div>
            <div class="col-sm-6">
              <button type="button" id="multiselect2_move_down" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-down"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>

    </form>
  </div>

</div>

{%- endif -%}

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#multiselect2').multiselect({
        sort: false,
        keepRenderingSort: true
    });
});

$('#collapseContainerReorderMath').on('shown.bs.collapse', function () {
  this.scrollIntoView();
});
</script>
