<div class="form-group">
  <label class="control-label">I2C Address</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="bottom" id="modLocation" name="modLocation" title="The I2C address of the sensor.">
      <option value=""{% if each_sensor.location == '' %} selected{% endif %}></option>
      <option value="0x76"{% if each_sensor.location == '0x76' %} selected{% endif %}>Address 0x76</option>
      <option value="0x77"{% if each_sensor.location == '0x77' %} selected{% endif %}>Address 0x77</option>
    </select>
  </div>
</div>
<div class="form-group">
  {{form_mod_sensor.modBus.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.modBus(class_='form-control', value=each_sensor.i2c_bus, **{'title':'Which I2C bus is this sensor connected?'})}}
  </div>
</div>
