{% include 'pages/sensor_options/GPIO_PIN.html' %}
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.modPowerPin.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.modPowerPin(class_='form-control', value=each_sensor.power_pin, **{'title':_('The GPIO pin (BCM numbering) to power the device')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.modPowerState.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="modPowerState" name="modPowerState" title="{{_('Send HIGH or LOW GPIO signal to power the sensor')}}">
      <option value="1"{% if each_sensor.power_state %} selected{% endif %}>HIGH (3.3-volts)</option>
      <option value="0"{% if not each_sensor.power_state %} selected{% endif %}>LOW (0 volts)</option>
    </select>
  </div>
</div>
