<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">I<sup>2</sup>C Address</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="location" name="location" title="{{ _('The I2C address to access the device')}}">
      <option value=""></option>
      <option value="0x68"{% if each_sensor.location == '0x68' %} selected{% endif %}>Address 0x68</option>
      <option value="0x6A"{% if each_sensor.location == '0x6A' %} selected{% endif %}>Address 0x6A</option>
      <option value="0x6C"{% if each_sensor.location == '0x6C' %} selected{% endif %}>Address 0x6C</option>
      <option value="0x6E"{% if each_sensor.location == '0x6E' %} selected{% endif %}>Address 0x6E</option>
      <option value="0x6F"{% if each_sensor.location == '0x6F' %} selected{% endif %}>Address 0x6F</option>
    </select>
  </div>
</div>
{% include 'pages/sensor_options/I2C_BUS.html' %}
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Measurement</label>
  <div>
    {{form_mod_sensor.modADCMeasure(class_='form-control', value=each_sensor.adc_measure, **{'title':'The condition being measured'})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Units</label>
  <div>
    {{form_mod_sensor.modADCMeasureUnits(class_='form-control', value=each_sensor.adc_measure_units, **{'title':'The units of the condition being measured'})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Channel</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="modADCChannel" name="modADCChannel" title="{{_('The channel of the analog to digital converter')}}">
      <option value=""></option>
      <option value="0"{% if each_sensor.adc_channel == 0 %} selected{% endif %}>Channel 1</option>
      <option value="1"{% if each_sensor.adc_channel == 1 %} selected{% endif %}>Channel 2</option>
      <option value="2"{% if each_sensor.adc_channel == 2 %} selected{% endif %}>Channel 3</option>
      <option value="3"{% if each_sensor.adc_channel == 3 %} selected{% endif %}>Channel 4</option>
    </select>
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Gain</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="modADCGain" name="modADCGain" title="{{_('ADC Gain (see ADC documentation)')}}">
      <option value=""></option>
      <option value="1"{% if each_sensor.adc_gain == 1 %} selected{% endif %}>1</option>
      <option value="2"{% if each_sensor.adc_gain == 2 %} selected{% endif %}>2</option>
      <option value="4"{% if each_sensor.adc_gain == 4 %} selected{% endif %}>4</option>
      <option value="8"{% if each_sensor.adc_gain == 8 %} selected{% endif %}>8</option>
    </select>
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Resolution</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="modADCResolution" name="modADCResolution" title="{{_('ADC Resolution (se ADC documentation)')}}">
      <option value=""></option>
      <option value="12"{% if each_sensor.adc_resolution == 12 %} selected{% endif %}>12-bit</option>
      <option value="14"{% if each_sensor.adc_resolution == 14 %} selected{% endif %}>14-bit</option>
      <option value="16"{% if each_sensor.adc_resolution == 16 %} selected{% endif %}>16-bit</option>
      <option value="18"{% if each_sensor.adc_resolution == 18 %} selected{% endif %}>18-bit</option>
    </select>
  </div>
</div>
</div>
<div class="form-inline" style="padding: 0.5em;">
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Volts Min</label>
  <div>
    {{form_mod_sensor.modADCVoltsMin(class_='form-control', value=each_sensor.adc_volts_min, **{'title':_('Minimum ADC input voltage')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Volts Max</label>
  <div>
    {{form_mod_sensor.modADCVoltsMax(class_='form-control', value=each_sensor.adc_volts_max, **{'title':_('Maximum ADC input voltage')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Units Min</label>
  <div>
    {{form_mod_sensor.modADCUnitsMin(class_='form-control', value=each_sensor.adc_units_min, **{'title':_('Minimum output unit (for scaling voltage to unit scale)')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">Units Max</label>
  <div>
    {{form_mod_sensor.modADCUnitsMax(class_='form-control', value=each_sensor.adc_units_max, **{'title':_('Maximum output unit (for scaling voltage to unit scale)')})}}
  </div>
</div>
