{% extends "layout.html" %}
{% set active_page = "calibration" %}
{% block title %} - {{_('Calibration & Setup')}}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
  <!-- Route: /calibration -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <h2>Calibration and Setup</h2>

    <p>Certain devices may be configured or calibrated. If Mycodo supports the configuration or calibration of a specific device, it will be listed below. For configuring or calibrating other devices, refer to the manufacturer's documentation.</p>

    <form method="post" action="/calibration">
    <div class="row small-gutters">
      <div class="col-auto">
        {{form_calibration.selection(class_='selectpicker', **{'title': _('Calibration') + ': ' + _('Select One')})}}
      </div>
      <div class="col-auto">
        {{form_calibration.submit(class_='form-control btn btn-primary')}}
      </div>
    </div>
    </form>

  </div>

{% endblock %}
