{% extends "layout.html" %}
{% set active_page = "calibration" %}
{% block title %} - {{_('Calibration')}}: {{_('Sensor')}}{% if sensor_device_name %}: {{sensor_device_name}}{% endif %}{% endblock %}

{% block head %}
<script>
{% if stage in [2, 3, 4] -%}
function ph_status() {
  var url = '/calibration_atlas_ph_measure/{{selected_sensor.unique_id}}';
  $.ajax(url, {
    success: function(data, responseText, jqXHR) {
      if (jqXHR.status == 204) {
        document.getElementById("ph_status").innerHTML = "{{_('Latest pH measurement')}}: {{_('Error acquiring measurement')}}";
      }
      else {
        document.getElementById("ph_status").innerHTML = "{{_('Latest pH measurement')}}: " + data;
      }
    },
    cache: false
  });
}
{% endif %}

function startTimer() {
  document.getElementById("countdown").style.display = "inline-block";
  document.getElementById("timer").style.display = "none";

  {% if stage in [2, 3, 4] -%}
    document.getElementById("ph_status").innerHTML = "{{_('Latest pH measurement')}}: &lt;{{_('Please wait')}}&gt;";
    document.getElementById("ph_status").style.display = "inline-block";
    ph_status();
    var refreshIntervalId = setInterval(function () {
      // Update pH every 5 seconds
      ph_status();
    }, 5000);
  {% endif %}

  var timer = 120;
  function display(notifier, str) {
    document.getElementById(notifier).innerHTML = str;
  }
  function toMinuteAndSecond(x) {
    return "{{_('Please wait for sensor to equilibrate')}}: " + x + " {{_('seconds')}}";
  }
  function setTimer(remain, actions) {
    (function countdown() {
        display("countdown", toMinuteAndSecond(remain));
        actions[remain] && actions[remain]();
        (remain -= 1) >= 0 && setTimeout(countdown, 1000);
    })();
  }
  setTimer(timer, {
    0: function () {
      {% if stage in [2, 3, 4] -%}
        clearInterval(refreshIntervalId);
      {% endif %}
      document.getElementById("go_to_next_stage").style.display = "inline-block";
      document.getElementById("countdown").style.display = "none";
    }
  });
}
</script>
{% endblock %}

{% block body %}
  <!-- Route: /calibration_atlas_ph -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    {% if stage == 0 %}

    <p>This guide will walk you through the calibration procedure for the Atlas Scientific pH Sensor. To complete this procedure, you will need three solutions, each with a different pH (pH 4, pH 7, and pH 10). At each step, you will be instructed to insert the pH probe into each solution and wait for the reading to equilibrate before proceeding. Between transferring the probe from one solution to another, you will be instructed to rinse the probe with distilled water. Instructions will be provided at each step of the way.</p>

    <p>To begin calibration, have your probe properly connected to Mycodo, select the probe from the dropdown list, and click Begin Calibration.</p>

    <p>If you wish to clear the calibration from the sensor memory, click Clear Calibration.</p>

    <form method="post" action="/calibration_atlas_ph">
    {{form_ph_calibrate.hidden_next_stage(value=1)}}
    <div class="row small-gutters">
      <div class="col-xs-12 col-sm-4 col-lg-4 small-gutters">
        <select class="form-control" id="selected_sensor_id" name="selected_sensor_id" title="" data-original-title="Select which Atlas Scientific pH sensor to calibrate">
          {% if sensor %}
            {%- for each_sensor in sensor -%}
              <option value="{{each_sensor.unique_id}}">{{each_sensor.id}} ({{each_sensor.name}})</option>
            {%- endfor -%}
          {% else %}
            <option value="">{{_('No Sensors Found')}}</option>
          {% endif %}
        </select>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        {{form_ph_calibrate.go_from_first_stage(class_='form-control btn btn-default')}}
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        {{form_ph_calibrate.clear_calibration(class_='form-control btn btn-default')}}
      </div>
    </div>
    </form>

    {% elif stage == 1 %}

      {% if complete_with_error %}
    <p>{{_('Error')}}: {{_('Calibration Failed')}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>1. {{_('Calibration')}}{% if sensor_device_name %}: {{sensor_device_name}}{% endif %} {{selected_sensor.id}} ({{selected_sensor.name}})</p>
    <p>{{_('Ensure all pH calibration solutions are the same temperature. Enter the temperature (in Celsius) of your solutions, then click Continue.')}}</p>

    <form method="post" action="/calibration_atlas_ph">
    {{form_ph_calibrate.hidden_next_stage(value=2)}}
    <div class="row small-gutters">
      {{form_ph_calibrate.hidden_sensor_id(value=selected_sensor.unique_id)}}
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        {{form_ph_calibrate.temperature(class_='form-control')}}
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        {{form_ph_calibrate.go_to_next_stage(class_='form-control btn btn-default')}}
      </div>
    </div>
    </form>

      {% endif %}

    {% elif stage == 2 %}

      {% if complete_with_error %}
    <p>{{_('Error')}}: {{_('Calibration Failed')}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>2. {{_('Calibration')}}{% if sensor_device_name %}: {{sensor_device_name}}{% endif %} {{selected_sensor.id}} ({{selected_sensor.name}})</p>
    <p>{{_('Insert the probe into the pH %(ph)s solution, then click Ready', ph='7.0')}}</p>

    <form method="post" action="/calibration_atlas_ph">
    {{form_ph_calibrate.hidden_next_stage(value=3)}}
    <div style="display: none" id="ph_status">&lt;Please wait&gt;</div>
    <div class="row small-gutters">
      {{form_ph_calibrate.hidden_sensor_id(value=selected_sensor.unique_id)}}
      <div id="proceed_stage_2">
        <div id="go_to_next_stage" style="display: none" class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
          {{form_ph_calibrate.go_to_next_stage(class_='form-control btn btn-default')}}
        </div>
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        <input class="form-control btn btn-default" id="timer" type="button" onclick="startTimer()" value="{{_('Ready')}}"/>
      </div>
    </div>
    <div id="countdown"></div>
    </form>

      {% endif %}

    {% elif stage == 3 %}

      {% if complete_with_error %}
    <p>{{_('Error')}}: {{_('Calibration Failed')}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>3. {{_('Calibration')}}{% if sensor_device_name %}: {{sensor_device_name}}{% endif %} {{selected_sensor.id}} ({{selected_sensor.name}})</p>
    <p>{{_('Remove the pH probe from the pH %(ph)s solution and rinse it with distilled water', ph='7.0')}}</p>
    <p>{{_('Insert the probe into the pH %(ph)s solution, then click Ready', ph='4.0')}}</p>

    <form method="post" action="/calibration_atlas_ph">
    {{form_ph_calibrate.hidden_next_stage(value=4)}}
    <div style="display: none" id="ph_status">&lt;Please wait&gt;</div>
    <div class="row small-gutters">
      {{form_ph_calibrate.hidden_sensor_id(value=selected_sensor.unique_id)}}
      <div id="proceed_stage_2">
        <div id="go_to_next_stage" style="display: none" class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
          {{form_ph_calibrate.go_to_next_stage(class_='form-control btn btn-default')}}
        </div>
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        <input class="form-control btn btn-default" id="timer" type="button" onclick="startTimer()" value="{{_('Ready')}}"/>
      </div>
    </div>
    <div id="countdown"></div>
    </form>

      {% endif %}

    {% elif stage == 4 %}

      {% if complete_with_error %}
    <p>{{_('Error')}}: {{_('Calibration Failed')}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>4. {{_('Calibration')}}{% if sensor_device_name %}: {{sensor_device_name}}{% endif %} {{selected_sensor.id}} ({{selected_sensor.name}})</p>
    <p>{{_('Remove the pH probe from the pH %(ph)s solution and rinse it with distilled water', ph='4.0')}}</p>
    <p>{{_('Insert the probe into the pH %(ph)s solution, then click Ready', ph='10.0')}}</p>

    <form method="post" action="/calibration_atlas_ph">
    {{form_ph_calibrate.hidden_next_stage(value=5)}}
    <div style="display: none" id="ph_status">&lt;Please wait&gt;</div>
    <div class="row small-gutters">
      {{form_ph_calibrate.hidden_sensor_id(value=selected_sensor.unique_id)}}
      <div id="proceed_stage_2">
        <div id="go_to_next_stage" style="display: none" class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
          {{form_ph_calibrate.go_to_last_stage(class_='form-control btn btn-default')}}
        </div>
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-4 col-lg-2 small-gutters">
        <input class="form-control btn btn-default" id="timer" type="button" onclick="startTimer()" value="{{_('Ready')}}"/>
      </div>
    </div>
    <div id="countdown"></div>
    </form>

      {% endif %}

    {% elif stage == 5 %}

    <p>5. {{_('Calibration')}}{% if sensor_device_name %}: {{sensor_device_name}}{% endif %} {{selected_sensor.id}} ({{selected_sensor.name}}): {% if complete_with_error %}{{_('Calibration Failed')}}{% else %}{{_('Calibration Succeeded')}}{% endif %}</p>

      {% if complete_with_error %}
    <p>
      {{_('Error')}}:
      <br>{{complete_with_error}}
    </p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}
    <p>{{_('Calibration Complete')}}</p>
      {% endif %}

    {% endif %}

  </div>

{% endblock %}
