{% extends "layout.html" %}
{% set active_page = "calibration" %}
{% block title %} - {{_('Calibration')}}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
  <!-- Route: /calibration -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <p>{{("Certain devices require calibration in order to accurately operate. If Mycodo supports the calibration of a specific device, it will be listed below. For calibrating other devices, refer to the manufacturer's documentation.")}}</p>

    <form method="post" action="/calibration">
    <div class="row small-gutters">
      <div class="col-auto">
        {{form_calibration.selection(class_='form-control')}}
      </div>
      <div class="col-auto">
        {{form_calibration.submit(class_='form-control btn btn-primary')}}
      </div>
    </div>
    </form>

  </div>

{% endblock %}
