{% extends "layout.html" %}
{% set active_page = "export" %}
{% block title %} - {{_('Export Measurements')}}{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/daterangepicker.css" />
{% endblock %}

{% block body %}
  <!-- Route: /export -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <p>This is an experimental log generator (work-in-progress). It will export all measurements found within the date/time range in comma-separated value (CSV) format (as timestamp, measurement). If a download doesn't begin after the Export button is pressed (i.e. the page just refreshes), that means no data was available for the selected measurement and range.</p>
    <p>Note 1: Requesting large data sets may take a long time to process.</p>
    <p>Note 2: Dates and times are stored in influxdb as UTC, therefore you will need to adjust to your time zone for the local time.</p>

    <div class="row" style="padding-top: 1em">
      <form method="post" action="/export">
      <div class="col-sm-6">
        {{exportOptions.measurement.label(class_='control-label')}}
        <div>
          <select class="form-control" id="measurement" name="measurement">
          {% for each_choice, value in sensor_choices.items() -%}
            <option value="{{each_choice}}">{{value}}</option>
          {% endfor -%}
          {% for each_choice, value in relay_choices.items() -%}
            <option value="{{each_choice}},duration_sec">{{value}} Output duration</option>
          {% endfor -%}
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        {{exportOptions.date_range.label(class_='control-label')}}
        <div>
          <input class="form-control" type="text" name="date_range" value="{{start_picker}} - {{end_picker}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label class='control-label'></label>
        <div>
          {{exportOptions.Export(class_='form-control btn btn-default')}}
        </div>
      </div>
      </form>
    </div>

    <script type="text/javascript">
    $(function() {
        $('input[name="date_range"]').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 1,
            locale: {
                format: 'MM/DD/YYYY HH:mm'
            }
        });
    });
    </script>

  </div>

{% endblock %}
