{% extends "layout.html" %}
{% set active_page = "info" %}
{% block title %} - {{_('Info')}}{% endblock %}

{% block body %}
  <!-- Route: /info -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em; font-size: 1.3em">
        {{_('Daemon is currently')}}
        {%- if daemon_status == "alive" %}
          <span style="color: #4E9258; font-weight: bold;">{{_('Running')}}</span>
        {%- else %}
          <span style="color: #F70D1A; font-weight: bold;">{{_('Not Running')}}</span>
        {% endif %}
      </div>
    </div>

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em">
        uptime
      </div>
      <div>
        <pre>{{uptime}}</pre>
      </div>
    </div>

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em">
        uname
      </div>
      <div>
        <pre>{{uname}}</pre>
      </div>
    </div>

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em">
        gpio readall
      </div>
      <div>
        {%- if gpio_readall != "" -%}
          <pre>{{gpio_readall}}</pre>
        {%- else -%}
{{_('Command "gpio" not found. Install gpio from the terminal with the following commands')}}:
<pre>cd &amp;&amp; git clone git://git.drogon.net/wiringPi &amp;&amp; cd wiringPi &amp;&amp; ./build</pre>
        {%- endif -%}
      </div>
    </div>

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em">
        df -h
      </div>
      <div>
        <pre>{{df}}</pre>
      </div>
    </div>

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em">
        free -h
      </div>
      <div>
        <pre>{{free}}</pre>
      </div>
    </div>

    <div style="padding-bottom: 1.5em">
      <div style="padding-bottom: 0.5em">
        ifconfig -a
      </div>
      <div>
        <pre>{{ifconfig}}</pre>
      </div>
    </div>

  </div>

{% endblock %}
