fieldset.settings-box {
    padding: 0.5em;
    margin: 1.5em 0 0 0;
    width: 100%;
}

table.edit-user {
  width: 100%;
}

table.edit-user td {
  padding: 0.5em;
}

table.notes {
	width: 100%;
}

table.notes td {
    padding: 0.5em 1em 0.5em 0;
}