/* Data Tab */

table.notes {
    width: 100%;
}

table.notes td {
    padding: 0.5em 1em 0.5em 0;
}

/* Settings Tab */

fieldset.settings-box {
    padding: 0.5em;
    margin: 1.5em 0 0 0;
    width: 100%;
}

legend {
    font-size: 1.1em;
    font-weight: 600;
}

table.edit-user {
  width: 100%;
}

table.edit-user td {
  padding: 0.5em;
}

.setting-text {
    padding: 0.4em 2em 0.3em 0;
    margin-bottom: 0.2em;
    border-bottom: 1px solid gray;
}

.setting-value {
    padding: 0.4em 0.5em 0.3em 0;
    border-bottom: 1px solid gray;
}

.setting-save {
    padding: 0.7em 0.5em 0.5em 0;
    text-align: right;
}
