/*** General ***/

body {
    background: #161616;
    color: white;
    font-size: 0.875em;
}

a:link { color: #FF0000; }
a:visited { color: #FF8800; }
a:active { color: #FF0000; }
a:hover { color: #FF8800; }

hr.fade {
    margin: 1.5em 0 1.5em 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/*** Sensor tab ***/

.sensor-parent {
  background-color: #222222;
}

table.relays {
    background-color: #222222;
}

table.relays tr:nth-child(even) {
    background-color: #161616;
}

table.sensor_conditional td {
    background-color: #222222;
    padding-right: 0.5em;
}

table.sensor {
    width:100%;
    padding-bottom: 1em;
    background-color: #222222;
}

table.sensor td {
    text-align: center;
    vertical-align: middle;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

table.yaxis {
    margin: 0 0.5em 1em 0.5em;
    background-color: #222222;
}

table.yaxis td {
    text-align: center;
    vertical-align: middle;
    padding: 0.3em 0.1em 0.3em 0.1em;
}

table.pid {
    width:100%;
    background-color: #222222;
}

table.pid td {
    text-align: center;
    vertical-align: middle;
    padding: 0.4em 0;
    background-color: #222222;
}

table.conditional {
    margin: 1em 0.5em 0.5em 0.5em;
    background-color: #222222;
}

table.conditional td {
    text-align: left;
    vertical-align: middle;
    padding: 0.4em 0.4em;
}

table.sensor-conditional td {
    padding: 0.1em 0.5em;
    background-color: #222222;
}

.pid {
  border-collapse: initial;
}


/*** Data tab ***/

a.commit-link:link, a.commit-link:visited {
  color: #FF8800;
}

table.data-data td, th {
  border: 1px solid gray;
}

.thumbnail {
  border:1px solid #bdbdbd;
}


/*** Settings tab ***/

fieldset.settings-box {
    border: 1px solid #808080;
}


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a::after, a::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #f05451;
  text-decoration: none;
}

span {
    display: inline-block;
}

/*div {
    white-space: nowrap;
}*/

.main-wrapper {
    padding-bottom: 0.5em;
}

.Row-title {
    float: left;
    width: 6em;
    display: block;
    font-size: 0.875em;
    color: #000;
    padding: 0.6em 0.9em 0.6em 0.9em;
    background-color: #000;
}

.inactive {
    float: left;
    display: block;
    font-size: 0.875em;
    color: white;
    padding: 0.6em 0.7em 0.6em 0.7em;
    border: 1px solid #C97D40;
    background-color: #E18944;
}

.active {
    float: left;
    display: block;
    font-weight: bold;
    font-size: 0.875em;
    color: white;
    padding: 0.6em 0.7em 0.6em 0.7em;
    border: 1px solid #6B370D;
    background-color: #874611;
}


/* -------------------------------- 

Main components 

-------------------------------- */
.cd-tabs {
  position: relative;
  width: 95%;
  max-width: 60em;
  margin: 0.5em auto;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 4em;
  width: 3.5em;
  z-index: 1;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #212121;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

@media only screen and (min-width: 64em) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 25.7em;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 4.28em;
  width: 4.28em;
  text-align: center;
  font-size: 0.875em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 2.43em;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #fff;
  background-color: #212121;
}
.cd-tabs-navigation a.selected {
  background-color: #222222 !important;
  box-shadow: inset 0 2px 0 #f05451;
  color: #fff;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 0.86em;
  left: 50%;
  margin-left: -0.714em;
  display: inline-block;
  height: 1.43em;
  width: 1.43em;
  background-image: url("../img/vicons.svg");
  background-repeat: no-repeat;
  background-color: #222222;
}
.cd-tabs-navigation a[data-content='data']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='custom']::before {
  background-position: -1.429em 0;
}
.cd-tabs-navigation a[data-content='camera']::before {
  background-position: -2.857em 0;
}
.cd-tabs-navigation a[data-content='graph']::before {
  background-position: -4.286em 0;
}
.cd-tabs-navigation a[data-content='sensor']::before {
  background-position: -5.714em 0;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -7.143em 0;
}
.cd-tabs-navigation a[data-content='data'].selected::before {
  background-position: 0 -1.429em;
}
.cd-tabs-navigation a[data-content='custom'].selected::before {
  background-position: -1.429em -1.429em;
}
.cd-tabs-navigation a[data-content='camera'].selected::before {
  background-position: -2.857em -1.429em;
}
.cd-tabs-navigation a[data-content='graph'].selected::before {
  background-position: -4.286em -1.429em;
}
.cd-tabs-navigation a[data-content='sensor'].selected::before {
  background-position: -5.714em -1.429em;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: -7.143em -1.429em;
}

@media only screen and (min-width: 64em) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
    background-color: #161616;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs-navigation a {
    height: 2.857em;
    line-height: 2.857em;
    width: auto;
    text-align: left;
    font-size: 0.875em;
    padding: 0 3.7em 0 4.6em;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -0.714em;
    margin-left: 0;
    left: 2.714em;
  }
}

.cd-tabs-content {
  background: #222222;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
  margin-bottom: 1.5em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 0.875em;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 34.286em;
    margin-bottom: 2.5em;
  }
  .cd-tabs-content li {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
@media only screen and (min-width: 64em) {
  .cd-tabs-content {
    min-height: 0;
    margin-bottom: 0.5em;
  }
  .cd-tabs-content li {
    padding: 0.5em;
  }
  .cd-tabs-content li p {
    font-size: 1em;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}

strong {
  font-weight: bold;
}
