{{form_mod_pid_relay_raise.csrf_token}}
<div class="col-xs-6 col-sm-3 col-lg-2">
  {{form_mod_pid_relay_raise.raise_min_duration.label(class_='control-label')}}
  <div>
    {{form_mod_pid_relay_raise.raise_min_duration(class_='form-control', value=each_pid.raise_min_duration, **{'title':_('The minimum duration (in seconds) required for the Raise Output to activate. If an On duration is below this value, the Raise Output will not turn on.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-lg-2">
  {{form_mod_pid_relay_raise.raise_max_duration.label(class_='control-label')}}
  <div>
    {{form_mod_pid_relay_raise.raise_max_duration(class_='form-control', value=each_pid.raise_max_duration, **{'title':_('The maximum duration (in seconds) allowed for the Raise Output to be on for, per period. If an On duration is above this value, the Raise Output will turn on for this set duration.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-lg-2">
  {{form_mod_pid_relay_raise.raise_min_off_duration.label(class_='control-label')}}
  <div>
    {{form_mod_pid_relay_raise.raise_min_off_duration(class_='form-control', value=each_pid.raise_min_off_duration, **{'title':_('This relay will remain off for at least this duration of time.')})}}
  </div>
</div>