{{form_mod_pid_relay_lower.csrf_token}}
<div class="col-xs-6 col-sm-3 col-lg-2">
  {{form_mod_pid_relay_lower.lower_min_duration.label(class_='control-label')}}
  <div>
    {{form_mod_pid_relay_lower.lower_min_duration(class_='form-control', value=each_pid.lower_min_duration, **{'title':_('The minimum duration (in seconds) required for the Lower Output to activate. If an On duration is below this value, the Lower Output will not turn on.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-lg-2">
  {{form_mod_pid_relay_lower.lower_max_duration.label(class_='control-label')}}
  <div>
    {{form_mod_pid_relay_lower.lower_max_duration(class_='form-control', value=each_pid.lower_max_duration, **{'title':_('The maximum duration (in seconds) allowed for the Lower Output to be on for, per period. If an ON duration is above this value, the Lower Output will turn on for this set duration.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-lg-2">
  {{form_mod_pid_relay_lower.lower_min_off_duration.label(class_='control-label')}}
  <div>
    {{form_mod_pid_relay_lower.lower_min_off_duration(class_='form-control', value=each_pid.lower_min_off_duration, **{'title':_('This relay will remain off for at least this duration fo time.')})}}
  </div>
</div>