<div class="form-group">
  {{form_camera.opencv_device.label(class_='control-label')}}
  <div>
    <select class="form-control" id="opencv_device" name="opencv_device" title="" data-original-title="Select the opencv device (if using opencv).">
      {% if not opencv_devices %}
        <option value="">No Devices Detected</option>
      {% endif %}
      {% if opencv_devices %}
      {% for device_id in range(opencv_devices) %}
        <option value="{{device_id}}"{% if each_camera.opencv_device == device_id %} selected{% endif %}>OpenVC Device: {{device_id}}</option>
      {%- endfor -%}
      {% endif %}
    </select>
  </div>
</div>
<div class="form-group">
  {{form_camera.rotation.label(class_='control-label')}}
  <div>
    {{form_camera.rotation(class_='form-control', value=each_camera.rotation)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.width.label(class_='control-label')}}
  <div>
    {{form_camera.width(class_='form-control', value=each_camera.width)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.height.label(class_='control-label')}}
  <div>
    {{form_camera.height(class_='form-control', value=each_camera.height)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.brightness.label(class_='control-label')}}
  <div>
    {{form_camera.brightness(class_='form-control', value=each_camera.brightness)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.contrast.label(class_='control-label')}}
  <div>
    {{form_camera.contrast(class_='form-control', value=each_camera.contrast)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.exposure.label(class_='control-label')}}
  <div>
    {{form_camera.exposure(class_='form-control', value=each_camera.exposure)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.gain.label(class_='control-label')}}
  <div>
    {{form_camera.gain(class_='form-control', value=each_camera.gain)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.hue.label(class_='control-label')}}
  <div>
    {{form_camera.hue(class_='form-control', value=each_camera.hue)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.saturation.label(class_='control-label')}}
  <div>
    {{form_camera.saturation(class_='form-control', value=each_camera.saturation)}}
   </div>
</div>
<div class="form-group">
  {{form_camera.white_balance.label(class_='control-label')}}
  <div>
    {{form_camera.white_balance(class_='form-control', value=each_camera.white_balance)}}
   </div>
</div>
