<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.rotation.label(class_='control-label')}}
  <div>
    {{form_camera.rotation(class_='form-control', value=each_camera.rotation)}}
   </div>
</div>
<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.width.label(class_='control-label')}}
  <div>
    {{form_camera.width(class_='form-control', value=each_camera.width)}}
   </div>
</div>
<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.height.label(class_='control-label')}}
  <div>
    {{form_camera.height(class_='form-control', value=each_camera.height)}}
   </div>
</div>
<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.brightness.label(class_='control-label')}}
  <div>
    {{form_camera.brightness(class_='form-control', value=each_camera.brightness)}}
   </div>
</div>
<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.contrast.label(class_='control-label')}}
  <div>
    {{form_camera.contrast(class_='form-control', value=each_camera.contrast)}}
   </div>
</div>
<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.exposure.label(class_='control-label')}}
  <div>
    {{form_camera.exposure(class_='form-control', value=each_camera.exposure)}}
   </div>
</div>
<div class="col-xs-6 col-md-4 col-lg-3">
  {{form_camera.saturation.label(class_='control-label')}}
  <div>
    {{form_camera.saturation(class_='form-control', value=each_camera.saturation)}}
   </div>
</div>
