/*
 * Custom CSS
 */

.sidebar-drop {
  min-height: 10rem;
  padding-top: 1rem;
}

.checkbox-big {
    width: 1.5em;
    height: 1.5em
}

.icon-fw {
    width: 1.28571429em;
    text-align: center
}

.icon-fh {
    font-size: 0.9em;
}

/*.navbar-default .navbar-nav > .active-upgrade > a, .navbar-default .navbar-nav > .active-upgrade > a:hover, .navbar-default .navbar-nav > .active-upgrade > a:focus {*/
    /*color: #ffffff;*/
    /*background-color: #8e0001;*/
/*}*/

/*.dropdown-menu > .active-upgrade > a, .dropdown-menu > .active-upgrade > a:hover, .dropdown-menu > .active-upgrade > a:focus {*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    /*outline: 0;*/
    /*background-color: #8e0001;*/
/*}*/

/*.navbar-nav > li > a, .navbar-brand {*/
    /*padding-top:4px !important; padding-bottom:0 !important;*/
    /*height: 35px;*/
/*}*/
/*.navbar {min-height:35px !important;}*/

/*a.anchor {*/
    /*display: block;*/
    /*position: relative;*/
    /*top: -3.7em;*/
    /*visibility: hidden;*/
/*}*/

/*.gi-2x{font-size: 1.6em;}*/

.row.small-gutters > [class^="col-"],
.row.small-gutters > [class*=" col-"] {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

.form-row.small-gutters > [class^="col-"],
.form-row.small-gutters > [class*=" col-"] {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

.small-gutters {
    padding: 0 0.2em
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.form-row.no-gutters > [class^="col-"],
.formrow.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-gutters {
    padding: 0 0
}

.checkbox-nopad {
  padding-top: 0 !important;
}

.table {
  margin-bottom: 0;
}

/*.graph-width {
  display: inline-block;
  margin: 0.5em;
  padding: 0.2em 0 0 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .graph-width {
    width: 400px;
  }
}*/

/*
 * Live view
 */

/*.inline-align {*/
  /*text-align: justify; */

   /*!* IE special *!  */
  /*width: 100%;  */
  /*-ms-text-justify: distribute-all-lines;*/
  /*text-justify: distribute-all-lines;*/
/*}*/
 /*.inline-align:after{*/
  /*content: '';*/
  /*display: inline-block;*/
  /*width: 100%;*/
  /*height: 0;*/
  /*font-size:0;*/
  /*line-height:0;*/
/*}*/

/*.inline-left {*/
  /*display: inline-block;*/

  /*!* ie 7*! */
  /**display: inline;*/
  /**zoom: 1;*/
  /**text-align: left; */
/*}*/

/*.inline-right {*/
  /*display: inline-block;*/
  /*vertical-align: baseline; */

  /*!* ie 7*!*/
  /**display: inline;*/
  /**zoom:1;*/
  /**text-align: right;*/
/*}*/
