/*
/ Custom Dark CSS
*/

.nav .upgrade_available {
    background: #b10000;
}

.active-background {
    background-color: #004a02 !important
}

.inactive-background {
    background-color: #630100 !important
}

.pause-background {
    background-color: #5d5700 !important
}

.hold-background {
    background-color: #00026d !important
}
