/*
/ Custom Light CSS
*/

.nav .upgrade_available {
    background: rgba(255, 0, 0, 0.24);
}

.active-background {
    background-color: #B3E2B6 !important
}

.inactive-background {
    background-color: #FFCBCA !important
}

.pause-background {
    background-color: #d7cd9b !important
}

.hold-background {
    background-color: #8d9fd8 !important
}
