/*
/ Custom Dark CSS
*/

.nav .upgrade_available {
    background: #b10000;
}

.active-background {
    background-color: #002202 !important
}

.inactive-background {
    background-color: #2B0100 !important
}

.pause-background {
    background-color: #2b2600 !important
}

.hold-background {
    background-color: #00022b !important
}
