/*
/ Custom Light CSS
*/

.active-background {
    background-color: #B3E2B6 !important
}

.inactive-background {
    background-color: #FFCBCA !important
}

.paused-background {
    background-color: #d7cd9b !important
}
