.grid-stack > .grid-stack-item[data-gs-width="1"] {
  width: 5%;
  min-width: 5%;
}
.grid-stack > .grid-stack-item[data-gs-x="1"] {
  left: 5%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="1"] {
  min-width: 5%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="1"] {
  max-width: 5%;
}
.grid-stack > .grid-stack-item[data-gs-width="2"] {
  width: 10%;
  min-width: 10%;
}
.grid-stack > .grid-stack-item[data-gs-x="2"] {
  left: 10%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="2"] {
  min-width: 10%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="2"] {
  max-width: 10%;
}
.grid-stack > .grid-stack-item[data-gs-width="3"] {
  width: 15%;
  min-width: 15%;
}
.grid-stack > .grid-stack-item[data-gs-x="3"] {
  left: 15%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="3"] {
  min-width: 15%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="3"] {
  max-width: 15%;
}
.grid-stack > .grid-stack-item[data-gs-width="4"] {
  width: 20%;
  min-width: 20%;
}
.grid-stack > .grid-stack-item[data-gs-x="4"] {
  left: 20%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="4"] {
  min-width: 20%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="4"] {
  max-width: 20%;
}
.grid-stack > .grid-stack-item[data-gs-width="5"] {
  width: 25%;
  min-width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-x="5"] {
  left: 25%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="5"] {
  min-width: 25%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="5"] {
  max-width: 25%;
}
.grid-stack > .grid-stack-item[data-gs-width="6"] {
  width: 30%;
  min-width: 30%;
}
.grid-stack > .grid-stack-item[data-gs-x="6"] {
  left: 30%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="6"] {
  min-width: 30%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="6"] {
  max-width: 30%;
}
.grid-stack > .grid-stack-item[data-gs-width="7"] {
  width: 35%;
  min-width: 35%;
}
.grid-stack > .grid-stack-item[data-gs-x="7"] {
  left: 35%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="7"] {
  min-width: 35%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="7"] {
  max-width: 35%;
}
.grid-stack > .grid-stack-item[data-gs-width="8"] {
  width: 40%;
  min-width: 40%;
}
.grid-stack > .grid-stack-item[data-gs-x="8"] {
  left: 40%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="8"] {
  min-width: 40%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="8"] {
  max-width: 40%;
}
.grid-stack > .grid-stack-item[data-gs-width="9"] {
  width: 45%;
  min-width: 45%;
}
.grid-stack > .grid-stack-item[data-gs-x="9"] {
  left: 45%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="9"] {
  min-width: 45%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="9"] {
  max-width: 45%;
}
.grid-stack > .grid-stack-item[data-gs-width="10"] {
  width: 50%;
  min-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-x="10"] {
  left: 50%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="10"] {
  min-width: 50%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="10"] {
  max-width: 50%;
}
.grid-stack > .grid-stack-item[data-gs-width="11"] {
  width: 55%;
  min-width: 55%;
}
.grid-stack > .grid-stack-item[data-gs-x="11"] {
  left: 55%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="11"] {
  min-width: 55%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="11"] {
  max-width: 55%;
}
.grid-stack > .grid-stack-item[data-gs-width="12"] {
  width: 60%;
  min-width: 60%;
}
.grid-stack > .grid-stack-item[data-gs-x="12"] {
  left: 60%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="12"] {
  min-width: 60%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="12"] {
  max-width: 60%;
}
.grid-stack > .grid-stack-item[data-gs-width="13"] {
  width: 65%;
  min-width: 65%;
}
.grid-stack > .grid-stack-item[data-gs-x="13"] {
  left: 65%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="13"] {
  min-width: 65%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="13"] {
  max-width: 65%;
}
.grid-stack > .grid-stack-item[data-gs-width="14"] {
  width: 70%;
  min-width: 70%;
}
.grid-stack > .grid-stack-item[data-gs-x="14"] {
  left: 70%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="14"] {
  min-width: 70%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="14"] {
  max-width: 70%;
}
.grid-stack > .grid-stack-item[data-gs-width="15"] {
  width: 75%;
  min-width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-x="15"] {
  left: 75%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="15"] {
  min-width: 75%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="15"] {
  max-width: 75%;
}
.grid-stack > .grid-stack-item[data-gs-width="16"] {
  width: 80%;
  min-width: 80%;
}
.grid-stack > .grid-stack-item[data-gs-x="16"] {
  left: 80%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="16"] {
  min-width: 80%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="16"] {
  max-width: 80%;
}
.grid-stack > .grid-stack-item[data-gs-width="17"] {
  width: 85%;
  min-width: 85%;
}
.grid-stack > .grid-stack-item[data-gs-x="17"] {
  left: 85%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="17"] {
  min-width: 85%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="17"] {
  max-width: 85%;
}
.grid-stack > .grid-stack-item[data-gs-width="18"] {
  width: 90%;
  min-width: 90%;
}
.grid-stack > .grid-stack-item[data-gs-x="18"] {
  left: 90%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="18"] {
  min-width: 90%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="18"] {
  max-width: 90%;
}
.grid-stack > .grid-stack-item[data-gs-width="19"] {
  width: 95%;
  min-width: 95%;
}
.grid-stack > .grid-stack-item[data-gs-x="19"] {
  left: 95%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="19"] {
  min-width: 95%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="19"] {
  max-width: 95%;
}
.grid-stack > .grid-stack-item[data-gs-width="20"] {
  width: 100%;
  min-width: 100%;
}
.grid-stack > .grid-stack-item[data-gs-x="20"] {
  left: 100%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-min-width="20"] {
  min-width: 100%;
}
.grid-stack > .grid-stack-item.grid-stack-item[data-gs-max-width="20"] {
  max-width: 100%;
}
