<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">I2C Address</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="location" name="location" title="{{ _('The I2C address to access the device')}}">
      <option value=""{% if each_sensor.location == '' %} selected{% endif %}></option>
      <option value="0x76"{% if each_sensor.location == '0x76' %} selected{% endif %}>Address 0x76</option>
      <option value="0x77"{% if each_sensor.location == '0x77' %} selected{% endif %}>Address 0x77</option>
    </select>
  </div>
</div>
{% include 'pages/input_options/TEMPLATE_I2C_BUS.html' %}
