<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_measurement.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.adc_measurement(class_='form-control', value=each_sensor.adc_measure, **{'title':_('What condition is being measured (e.g. Temperature)?')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_measurement_units.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.adc_measurement_units(class_='form-control', value=each_sensor.adc_measure_units, **{'title':_('What are the units of the condition being measured (e.g. Celsius)?')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_volts_min.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.adc_volts_min(class_='form-control', value=each_sensor.adc_volts_min, **{'title':_('Minimum analog to digital converter input voltage.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_volts_max.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.adc_volts_max(class_='form-control', value=each_sensor.adc_volts_max, **{'title':_('Maximum analog to digital converter input voltage.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_units_min.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.adc_units_min(class_='form-control', value=each_sensor.adc_units_min, **{'title':_('Minimum unit to convert the voltage to.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_units_max.label(class_='control-label')}}
  <div>
    {{form_mod_sensor.adc_units_max(class_='form-control', value=each_sensor.adc_units_max, **{'title':_('Maximum unit to convert the voltage to.')})}}
  </div>
</div>
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_sensor.adc_inverse_unit_scale.label(class_='control-label')}}
  <div class="text-xs-center">
    {%- if each_sensor.adc_inverse_unit_scale == true -%}
      {{form_mod_sensor.adc_inverse_unit_scale(checked=True, class_='checkbox-big', **{'title':_('Inverse the scale (example: a high measurement returns a low unit value)')})}}
    {%- else -%}
      {{form_mod_sensor.adc_inverse_unit_scale(class_='checkbox-big', **{'title':_('Inverse the scale (example: a high measurement returns a low unit value)')})}}
    {%- endif -%}
  </div>
</div>