{% extends "layout.html" %}
{% set active_page = "update" %}
{% block title %} - Update{% endblock %}

{% block body %}

  <div class="container"> 
    {% include 'flash_messages.html' %}

    {% if is_internet %}
      {% if not update_available %}
        <div style="padding-bottom: 1em">
          You are running the lastest version of Mycodo.
        </div>
      {% elif update_available %}
        <div style="padding-bottom: 1em">
          An newer version of Mycodo is available. Below is your current version (highlighted in red) and all updates ahead.
        </div>
        <div class="form-inline" style="padding-bottom: 1em">
          <form method="post" action="/update">
            <input type="hidden" name="form-name" value="update">
            {{formUpdate.csrf_token}}
            <div>
                <div class="form-group">
                  {{formUpdate.update(class_='form-control')}}
                </div>
            </div>
          </form>
        </div>
        <div style="font-family: 'Courier New', monospace;">
          <table class="table">
          {%- if commits_ahead[0] != '' -%}
            {%- for each_commit in commits_ahead if each_commit != '' -%}
              <tr>
                <td>
                  <a href="https://github.com/kizniche/Mycodo/commit/{{each_commit[0:6]}}" target="_blank">{{each_commit}}</a>
                </td>
              </tr>
            {%- endfor -%}
          {%- endif -%}

          {%- for each_commit in commits_behind -%}
            {%- if current_commit[0:6] == each_commit[0:6] -%}
              <tr>
                <td>
                  <a href="https://github.com/kizniche/Mycodo/commit/{{each_commit[0:6]}}" target="_blank" style="color: red; font-weight: bold">{{each_commit}}</a>
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
          </table>
        </div>
      {% endif %}
    {% endif %}
  </div>

{% endblock %}
