<div class="col-auto">
  <label class='control-label'>{{dict_translation['tag']['title']}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Tag to save note with')}}">
    {% if tags %}
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {%- for each_tag in tags -%}
    <option value="{{each_tag.unique_id}}"{% if each_action.do_action_string == each_tag.unique_id %} selected{% endif %}>{{each_tag.name}}</option>
      {%- endfor -%}
    {% else %}
    <option value="">{{dict_translation['none_available']['title']}}</option>
    {% endif %}
  </select>
</div>
<div class="col-auto">
  Tags can be created on the <a href="/notes">notes page</a>.
</div>
