<div class="col-auto">
  <label class="control-label" for="hostname">{{_('Hostname')}}</label>
  <div>
    <input type="text" class="form-control form-tooltip form-dropdown" id="hostname" name="hostname" value="{% if "hostname" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["hostname"] %}{{custom_options_values_actions[each_action.unique_id]["hostname"]}}{% endif %}" data-placement="top" title="{{_('The hostname of the MQTT server')}}">
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="port">{{_('Port')}}</label>
  <div>
    <input type="number" class="form-control form-tooltip form-dropdown" id="port" name="port" value="{% if "port" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["port"] %}{{custom_options_values_actions[each_action.unique_id]["port"]}}{% endif %}" data-placement="top" title="{{_('The port of the MQTT server')}}">
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="topic">{{_('Topic')}}</label>
  <div>
    <input type="text" class="form-control form-tooltip form-dropdown" id="topic" name="topic" value="{% if "topic" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["topic"] %}{{custom_options_values_actions[each_action.unique_id]["topic"]}}{% endif %}" data-placement="top" title="{{_('The topic to publish with')}}">
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="keepalive">{{_('Keep Alive')}}</label>
  <div>
    <input type="number" class="form-control form-tooltip form-dropdown" id="keepalive" name="keepalive" value="{% if "keepalive" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["keepalive"] %}{{custom_options_values_actions[each_action.unique_id]["keepalive"]}}{% endif %}" data-placement="top" title="{{_('The keepalive timeout value for the client.')}} {{_('Set to 0 to disable.')}}">
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="clientid">{{_('Client ID')}}</label>
  <div>
    <input type="text" class="form-control form-tooltip form-dropdown" id="clientid" name="clientid" value="{% if "clientid" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["clientid"] %}{{custom_options_values_actions[each_action.unique_id]["clientid"]}}{% endif %}" data-placement="top" title="{{_('Unique client ID for connecting to the MQTT server')}}">
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="login">{{_('Use Login')}}</label>
  <div>
    <input id="login" name="login" type="checkbox" value="y"{% if "login" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["login"] %} checked{% endif %}>
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="username">{{_('Username')}}</label>
  <div>
    <input type="text" class="form-control form-tooltip form-dropdown" id="username" name="username" value="{% if "username" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["username"] %}{{custom_options_values_actions[each_action.unique_id]["username"]}}{% endif %}" data-placement="top" title="{{_('Username for connecting to the server')}}">
  </div>
</div>
<div class="col-auto">
  <label class="control-label" for="password">{{_('Password')}}</label>
  <div>
    <input type="password" class="form-control form-tooltip form-dropdown" id="password" name="password" value="{% if "password" in custom_options_values_actions[each_action.unique_id] and custom_options_values_actions[each_action.unique_id]["password"] %}{{custom_options_values_actions[each_action.unique_id]["password"]}}{% endif %}" data-placement="top" title="{{_('Password for connecting to the server.')}}">
  </div>
</div>
<div class="col-12">
  <strong>{{function_action_info[each_action.action_type]["name"]}}</strong>: {{function_action_info[each_action.action_type]["description"]}}
</div>
<div class="col-12">
    <strong>self.run_action("{{"{" + each_action.unique_id.split('-')[0] + "}"}}", value=33)</strong> {{_('will execute only this action and publish the value 33. <strong>self.run_all_actions()</strong> will not execute this action.')}}
</div>
