<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('What output to manipulate')}}">
      <option value=""></option>
      {%- for each_output in output if each_output.output_type not in ['pwm', 'command_pwm'] -%}
        <option value="{{each_output.unique_id}}"{% if each_action.do_unique_id == each_output.unique_id %} selected{% endif %}>[{{'%02d' % each_output.id}}] {{each_output.name}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_actions.do_output_state.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_output_state" name="do_output_state" data-placement="top" title="{{_('Turn the output on or off')}}">
    <option value=""></option>
    <option value="on"{% if each_action.do_output_state == 'on' %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
    <option value="off"{% if each_action.do_output_state == 'off' %} selected{% endif %}>{{dict_translation['off']['title']}}</option>
  </select>
</div>
<div class="col-auto">
  {{form_actions.do_output_duration.label(class_='control-label')}}
  <div>
    {{form_actions.do_output_duration(class_='form-control', value=each_action.do_output_duration, **{'title':_('How long to turn the output on (optional)')})}}
  </div>
</div>
