<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('What output to manipulate')}}">
      <option value=""></option>
      {%- for each_output in choices_output_channels -%}
        {% set this_output = table_output.query.filter(table_output.unique_id == each_output['value'].split(',')[0]).first() %}
        {% if this_output and this_output.output_type in output_types['volume'] %}
        <option value="{{each_output['value']}}"{% if each_action.do_unique_id == each_output['value'] %} selected{% endif %}>{{each_output['item']}}</option>
        {% endif %}
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Volume')}} (ml)</label>
  <div>
    {{form_actions.do_output_amount(class_='form-control', value=each_action.do_output_amount, **{'title':_('The volume in ml')})}}
  </div>
</div>
<div class="col-12">
  <strong>{{function_action_info[each_action.action_type]["name"]}}</strong>: {{function_action_info[each_action.action_type]["description"]}}
</div>
<div class="col-12">
    <strong>self.run_action("{{"{" + each_action.unique_id.split('-')[0] + "}"}}")</strong> {{_('will execute only this action. <strong>self.run_all_actions()</strong> will execute all actions sequentially.')}}
</div>
