<div class="col-auto">
  {{form_actions.do_unique_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('What output to manipulate')}}">
      <option value=""></option>
      {%- for each_output in choices_output_channels if 'pwm' in each_output['types'] -%}
        <option value="{{each_output['value']}}"{% if each_action.do_unique_id == each_output['value'] %} selected{% endif %}>{{each_output['item']}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Start')}} {{_('Duty Cycle')}} (%)</label>
  <div>
    {{form_actions.do_output_pwm(class_='form-control', value=each_action.do_output_pwm, **{'title':_('Start duty cycle')})}}
  </div>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('End')}} {{_('Duty Cycle')}} (%)</label>
  <div>
    {{form_actions.do_output_pwm2(class_='form-control', value=each_action.do_output_pwm2, **{'title':_('End duty cycle')})}}
  </div>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Duty Cycle')}} {{_('Increment')}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="The amount of the duty cycle change for each step.">
      <option value="">{{_('Select One')}}</option>
      <option value="0.1"{% if each_action.do_action_string == '0.1' %} selected{% endif %}>0.1</option>
      <option value="1.0"{% if each_action.do_action_string == '1.0' %} selected{% endif %}>1.0</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_actions.do_output_duration.label(class_='control-label')}}
  <div>
    {{form_actions.do_output_duration(class_='form-control', value=each_action.do_output_duration, **{'title':_('Duration')})}}
  </div>
</div>
<div class="col-12">
  <strong>{{function_action_info[each_action.action_type]["name"]}}</strong>: {{function_action_info[each_action.action_type]["description"]}}
</div>
<div class="col-12">
    <strong>self.run_action("{{"{" + each_action.unique_id.split('-')[0] + "}"}}")</strong> {{_('will execute only this action. <strong>self.run_all_actions()</strong> will execute all actions sequentially.')}}
</div>
