<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {% if not permission_view_settings %}
    <option value="" selected>*Insufficient permissions to view email*</option>
    {% endif %}
    {%- for each_user in user if permission_view_settings -%}
      <option value="{{each_user.email}}"{% if each_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Camera')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="Camera to capture with">
    <option value=""></option>
    {%- for each_camera in camera -%}
      <option value="{{each_camera.unique_id}}"{% if each_action.do_unique_id == each_camera.unique_id %} selected{% endif %}>[{{'%02d' % each_camera.id}}] {{each_camera.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-12">
  <strong>{{function_action_info[each_action.action_type]["name"]}}</strong>: {{function_action_info[each_action.action_type]["description"]}}
</div>
<div class="col-12">
    <strong>self.run_action("{{"{" + each_action.unique_id.split('-')[0] + "}"}}")</strong> {{_('will execute only this action. <strong>self.run_all_actions()</strong> will execute all actions sequentially.')}}
</div>
