{% extends "layout-settings.html" %}
{% set active_page = "settings" %}
{% set active_settings = "alerts" %}
{% set help_page = ["alert-settings", dict_translation['settings']['title'] + ': ' + dict_translation['alert']['title']] %}

{% block title %} - {{dict_translation['settings']['title'] + ': ' + dict_translation['alert']['title']}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/alerts -->
  <div class="container">
    <h3 style="text-align: right; padding-bottom: 1.3em;"><a href="/static/manual/mycodo-manual.html#alert-settings" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a> {{_('Alerts Settings')}}</h3>

    <form class="form-horizontal" method="post" action="/settings/alerts">
      <input type="hidden" name="form-name" value="EmailAlert">
      {{form_email_alert.hidden_tag()}}
      <div class="form-group">
        {{form_email_alert.smtp_host.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_host(class_='form-control', value=smtp.host)}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_port.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_port(class_='form-control',type="number", value=smtp.port,**{'title':_('465 for SSL, 587 for TSL')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_ssl.label(class_='control-label checkbox-nopad')}}
        <div>
          {%- if smtp.ssl == 1 -%}
            {{form_email_alert.smtp_ssl(checked=True)}}
          {%- else -%}
            {{form_email_alert.smtp_ssl()}}
          {%- endif -%}
          &nbsp;&nbsp;(unchecked for TSL)
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_user.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_user(class_='form-control', value=smtp.user,**{'title':_('Usually your full email address')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_password.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_password(class_='form-control',**{'title':_('Only enter a password here if you wish to change it')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_from_email.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_from_email(class_='form-control', value=smtp.email_from)}}
        </div>
      </div>
      <div class="form-group">
        {{form_email_alert.smtp_hourly_max.label(class_='control-label')}}
        <div>
          {{form_email_alert.smtp_hourly_max(class_='form-control',type="number", value=smtp.hourly_max, **{'title':_('Maximum number of alerts that can be emailed per hour.')})}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          {{form_email_alert.save(class_='btn btn-primary')}}
        </div>
      </div>

      <div class="row" style="padding: 1.5em 0 1em 0">
        <div class="col">
          {{form_email_alert.send_test_to_email(class_='form-control')}}
        </div>
        <div class="col">
          {{form_email_alert.send_test(class_='btn btn-primary')}}
        </div>
      </div>

    </form>

  </div>

{% endblock %}
