{% extends "layout-settings.html" %}
{% set active_page = "settings" %}
{% set active_settings = "alerts" %}
{% set help_page = "settings-alerts" %}

{% block title %} - {{_('Alerts Settings')}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/alerts -->
  <h3 style="text-align: right; padding-bottom: 1.3em;">{{_('Alerts Settings')}}</h3>

  <form class="form-horizontal" method="post" action="/settings/alerts">
    <input type="hidden" name="form-name" value="EmailAlert">
    {{form_email_alert.hidden_tag()}}
    <div class="form-group">
      {{form_email_alert.smtpHost.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_email_alert.smtpHost(class_='form-control', value=smtp.host)}}
      </div>
    </div>
    <div class="form-group">
      {{form_email_alert.smtpPort.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_email_alert.smtpPort(class_='form-control',type="number", value=smtp.port,**{'title':_('465 for SSL, 587 for TSL')})}}
      </div>
    </div>
    <div class="form-group">
      {{form_email_alert.sslEnable.label(class_='col-sm-4 control-label checkbox-nopad')}}
      <div class="col-sm-8">
        {%- if smtp.ssl == 1 -%}
          {{form_email_alert.sslEnable(checked=True)}}
        {%- else -%}
          {{form_email_alert.sslEnable()}}
        {%- endif -%}
        &nbsp;&nbsp;(unchecked for TSL)
      </div>
    </div>
    <div class="form-group">
      {{form_email_alert.smtpUser.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_email_alert.smtpUser(class_='form-control', value=smtp.user,**{'title':_('Usually your full email address')})}}
      </div>
    </div>
    <div class="form-group">
      {{form_email_alert.smtpPassword.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_email_alert.smtpPassword(class_='form-control',**{'title':_('Only enter a password here if you wish to change it')})}}
      </div>
    </div>
    <div class="form-group">
      {{form_email_alert.smtpFromEmail.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_email_alert.smtpFromEmail(class_='form-control', value=smtp.email_from)}}
      </div>
    </div>
    <div class="form-group">
      {{form_email_alert.smtpMaxPerHour.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_email_alert.smtpMaxPerHour(class_='form-control',type="number", value=smtp.hourly_max,**{'title':_('Maximum number of alerts that can be emailed per hour.')})}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        {{form_email_alert.smtpSubmit(class_='btn btn-default')}}
      </div>
    </div>

    <div class="form-group" style="padding-top: 1.5em">
      <div class="col-sm-offset-4 col-sm-8">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group" style="padding: 0 1em">
              {{form_email_alert.testEmailTo(class_='form-control')}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" style="padding: 0 1em">
              {{form_email_alert.sendTestEmail(class_='btn btn-default')}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}
