{% extends "layout-settings.html" %}
{% set active_page = "settings" %}
{% set active_settings = "camera" %}
{% set help_page = ["camera-settings", _('Camera Settings')] %}

{% block title %} - {{_('Camera Settings')}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/camera -->
  <h3 style="text-align: right; padding-bottom: 1.3em;"><a href="/help#camera-settings" target="_blank"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a> {{_('Camera Settings')}}</h3>

  <div class=text-right>
  <form class="form-inline" method="post" action="/settings/camera">
    {{form_camera.csrf_token}}
    <div class="form-group">
      {{form_camera.name.label(class_='control-label')}}
      <div>
        {{form_camera.name(class_='form-control', value='Camera Name')}}
      </div>
    </div>
    <div class="form-group">
      {{form_camera.library.label(class_='control-label')}}
      <div>
        <select class="form-control" id="library" name="library" title="" data-original-title="Select the library to use to communicate with the camera">
          {%- for each_library in camera_libraries -%}
            <option value="{{each_library}}">{{each_library}}</option>
          {%- endfor -%}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label></label>
      <div>
        {{form_camera.camera_add(class_='form-control btn btn-default')}}
      </div>
    </div>
  </form>
  </div>

  <p style="text-align: right;">Note: Not all camera settings will work with every camera.</p>

  <div style="clear: both; padding: 1em 0;"></div>

  {% for each_camera in camera %}

    <div class="container" style="width: 95%; border: 2px solid #ddd; border-radius: 5px;">
      <form method="post" action="/settings/camera">
      {{form_camera.csrf_token}}
      {{form_camera.camera_id(value=each_camera.id)}}
      <div class="row" style="border-bottom: 2px solid #ddd; padding: 1em 0;">
        <div class="col-xs-12 col-sm-3">
          {{form_camera.name(class_='form-control', value=each_camera.name, **{'title':_('Name for this Camera')})}}
        </div>
        <div class="col-xs-12 col-sm-3">
          <input class="form-control" disabled="" value="[{{each_camera.id}}] {{each_camera.library}}" type="text">
        </div>
        <div class="col-xs-12 col-sm-3">
          {{form_camera.camera_mod(class_='form-control btn btn-default')}}
        </div>
        <div class="col-xs-12 col-sm-3">
          {{form_camera.camera_del(class_='form-control btn btn-default')}}
        </div>
      </div>
      <div style="padding: 0.5em 0 0.25em 0" class="form-inline">
      {% if each_camera.library == 'picamera' %}
        {% if not pi_camera_enabled %}
        <div class="row" style="color: red; padding: 1em 1em;">
          Raspberry Pi Camera support doesn't appear to be enabled. Please enable it using 'sudo raspi-config'
        </div>
        {% else %}
          {% include 'settings/camera_options/picamera.html' %}
        {% endif %}
      {% endif %}

      {% if each_camera.library == 'opencv' %}
        {% include 'settings/camera_options/opencv.html' %}
      {% endif %}

        <div style="clear: both;"></div>

        <div class="form-group">
          {{form_camera.cmd_pre_camera.label(class_='control-label')}}
          <div>
            {{form_camera.cmd_pre_camera(class_='form-control', value=each_camera.cmd_pre_camera)}}
           </div>
        </div>
        <div class="form-group">
          {{form_camera.cmd_post_camera.label(class_='control-label')}}
          <div>
            {{form_camera.cmd_post_camera(class_='form-control', value=each_camera.cmd_post_camera)}}
           </div>
        </div>
        <div class="form-group">
          {{form_camera.relay_id.label(class_='control-label')}}
          <div>
            <select class="form-control" id="relay_id" name="relay_id" title="" data-original-title="Select the relay to activate while the camera is acquiring an image or streaming.">
              {%  if not relay %}
                <option value="">No Outputs Available</option>
              {% else %}
                <option value="">Disabled</option>
              {% endif %}
              {%- for each_relay in relay -%}
                <option value="{{each_relay.id}}"{% if each_camera.relay_id == each_relay.id %} selected{% endif %}>{{each_relay.id}} ({{each_relay.name}})</option>
              {%- endfor -%}
            </select>
          </div>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            {%- if each_camera.hflip == 1 -%}
              {{form_camera.hflip(checked=True)}}
            {%- else -%}
              {{form_camera.hflip()}}
            {%- endif %}
            {{form_camera.hflip.label.text}}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            {%- if each_camera.vflip == 1 -%}
              {{form_camera.vflip(checked=True)}}
            {%- else -%}
              {{form_camera.vflip()}}
            {%- endif %}
            {{form_camera.vflip.label.text}}
          </label>
        </div>
      </div>
      </form>

    </div>

    <div style="clear: both; padding:1em 0;"></div>

  {% endfor %}

{% endblock %}
