{% extends "layout-settings.html" %}

{% set active_page = "settings" %}
{% set active_settings = "camera" %}

{% block title %} - Camera Settings{% endblock %}

{% block settings %}
  <!-- Route: /settings/camera -->
  <h3 style="text-align: right; padding-bottom: 1.3em;">Camera</h3>

  <form class="form-horizontal" method="post" action="/settings/camera">
    <input type="hidden" name="form-name" value="Camera">
    {{formSettingsCamera.csrf_token}}
    <div class="form-group">
      {{formSettingsCamera.hflip.label(class_='col-sm-4 control-label checkbox-nopad')}}
      <div class="col-sm-8">
        {%- if camera.hflip == true -%}
          {{formSettingsCamera.hflip(checked=True)}}
        {%- else -%}
          {{formSettingsCamera.hflip()}}
        {%- endif -%}
        &nbsp;&nbsp;{{_('Check to flip the camera image on the horizontal axis.')}}
      </div>
    </div>
    <div class="form-group">
      {{formSettingsCamera.vflip.label(class_='col-sm-4 control-label checkbox-nopad')}}
      <div class="col-sm-8">
        {%- if camera.vflip == true -%}
          {{formSettingsCamera.vflip(checked=True)}}
        {%- else -%}
          {{formSettingsCamera.vflip()}}
        {%- endif -%}
        &nbsp;&nbsp;{{_('Check to flip the camera image on the vertical axis.')}}
      </div>
    </div>
    <div class="form-group">
      {{formSettingsCamera.rotation.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        <select class="form-control form-tooltip form-dropdown" data-placement="bottom" id="rotation" name="rotation" title="{{_('Rotate the camera image')}}.">
          <option value="0">No Rotation</option>
          <option value="90"{% if camera.rotation == 90 %} selected{% endif %}>{{_('90 Degrees Clockwise')}}</option>
          <option value="180"{% if camera.rotation == 180 %} selected{% endif %}>{{_('180 Degrees Clockwise')}}</option>
          <option value="270"{% if camera.rotation == 270 %} selected{% endif %}>{{_('270 Degrees Clockwise')}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        {{formSettingsCamera.Submit(class_='btn btn-default')}}
      </div>
    </div>
  </form>

{% endblock %}
