{% extends "layout-settings.html" %}
{% set active_page = "settings" %}
{% set active_settings = "pi" %}
{% set help_page = ["pi-settings", _('Pi Settings')] %}

{% block title %} - {{_('Pi Settings')}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/pi -->
  <h3 style="text-align: right; padding-bottom: 1.3em;"><a href="/help#pi-settings" target="_blank"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a> {{_('Pi Settings')}}</h3>

  <form class="form-horizontal" method="post" action="/settings/pi">
    <input type="hidden" name="form-name" value="Pi">
    {{form_settings_pi.csrf_token}}

    <div class="row small-gutters" style="padding: 1em 0">
      <div class="col-xs-12">
        The following settings are configured through the non-interactive version of raspi-config. Changes here often require a system reboot before they take effect, which may be executed from the menu at the top-right (Configuration -> Restart System).
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        I<sup>2</sup>C Enabled: {{pi_settings['i2c_enabled']}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {% if pi_settings['i2c_enabled'] %}
          {{form_settings_pi.disable_i2c(class_='btn btn-default')}}
        {% else %}
          {{form_settings_pi.enable_i2c(class_='btn btn-default')}}
        {% endif %}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        1-Wire Enabled: {{pi_settings['one_wire_enabled']}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {% if pi_settings['one_wire_enabled'] %}
          {{form_settings_pi.disable_one_wire(class_='btn btn-default')}}
        {% else %}
          {{form_settings_pi.enable_one_wire(class_='btn btn-default')}}
        {% endif %}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        Serial Enabled: {{pi_settings['serial_enabled']}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {% if pi_settings['serial_enabled'] %}
          {{form_settings_pi.disable_serial(class_='btn btn-default')}}
        {% else %}
          {{form_settings_pi.enable_serial(class_='btn btn-default')}}
        {% endif %}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        SPI Enabled: {{pi_settings['spi_enabled']}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {% if pi_settings['spi_enabled'] %}
          {{form_settings_pi.disable_spi(class_='btn btn-default')}}
        {% else %}
          {{form_settings_pi.enable_spi(class_='btn btn-default')}}
        {% endif %}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        SSH Enabled: {{pi_settings['ssh_enabled']}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {% if pi_settings['ssh_enabled'] %}
          {{form_settings_pi.disable_ssh(class_='btn btn-default')}}
        {% else %}
          {{form_settings_pi.enable_ssh(class_='btn btn-default')}}
        {% endif %}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        Pi Camera Enabled: {{pi_settings['pi_camera_enabled']}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {% if pi_settings['pi_camera_enabled'] %}
          {{form_settings_pi.disable_pi_camera(class_='btn btn-default')}}
        {% else %}
          {{form_settings_pi.enable_pi_camera(class_='btn btn-default')}}
        {% endif %}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5 col-md-3">
        {{form_settings_pi.hostname(class_='form-control', value=pi_settings['hostname'])}}
      </div>
      <div class="col-xs-6 col-sm-2">
        {{form_settings_pi.change_hostname(class_='btn btn-default')}}
      </div>
    </div>

    <div class="row small-gutters" style="padding: 2em 0 0.5em 0">
      <div class="col-xs-12">
        The following settings are service options:
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-12">
        {{form_settings_pi.pigpiod_sample_rate.label(class_='control-label')}}
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-xs-6 col-sm-5  col-md-3">
        <select class="form-control" id="pigpiod_sample_rate" name="pigpiod_sample_rate" title="" data-original-title="Select a sample rate in milliseconds for pigpiod">
          <option value=""></option>
          <option value="999"{% if pigpiod_sample_rate == 999 %} selected{% endif %}>Disable pigpiod</option>
          <option value="1"{% if pigpiod_sample_rate == 1 %} selected{% endif %}>1 ms (faster)</option>
          <option value="5"{% if pigpiod_sample_rate == 5 %} selected{% endif %}>5 ms (slower)</option>
        </select>
      </div>
      <div class="col-xs-6 col-sm-3">
        {{form_settings_pi.change_pigpiod_sample_rate(class_='btn btn-default',**{'onclick':'return confirm("Changing the sample rate of pigpiod requires restarting both pigpiod and the mycodo daemon. Please confirm this is what you wish to do.")'})}}
      </div>
    </div>

  </form>

{% endblock %}
