{% extends "layout-settings.html" %}

{% set active_page = "settings" %}
{% set active_settings = "users" %}

{% block title %} - {{_('User Settings')}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/users -->
  <h3 style="text-align: right; padding-bottom: 1.3em;">{{_('User Settings')}}</h3>

  <form class="form-horizontal" method="post" action="/settings/users">
    <input type="hidden" name="form-name" value="addUser">
    {{form_add_user.hidden_tag()}}
    <div class="form-group">
      {{form_add_user.addUsername.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_add_user.addUsername(class_='form-control')}}
      </div>
    </div>
    <div class="form-group">
      {{form_add_user.addEmail.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_add_user.addEmail(class_='form-control')}}
      </div>
    </div>
    <div class="form-group">
      {{form_add_user.addPassword.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_add_user.addPassword(class_='form-control')}}
      </div>
    </div>
    <div class="form-group">
      {{form_add_user.addPassword_repeat.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        {{form_add_user.addPassword_repeat(class_='form-control')}}
      </div>
    </div>
    <div class="form-group">
      {{form_add_user.addGroup.label(class_='col-sm-4 control-label')}}
      <div class="col-sm-8">
        <select class="form-control" id="addGroup" name="addGroup">
          <option value="Admin">Admin</option>
          {% for each_role in user_roles if each_role.name != 'Admin' %}
            <option value="{{each_role.name}}">{{each_role.name}}</option>
          {% endfor -%}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        {{form_add_user.addSubmit(class_='btn btn-default', value="Create New User")}}
      </div>
    </div>
  </form>

  <div style="padding: 1em 0;"></div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td class="col-sm-1"></td>
          <td class="col-sm-1">{{_('User')}}</td>
          <td class="col-sm-2">{{_('Email')}}</td>
          <td class="col-sm-2">{{_('New Password')}}</td>
          <td class="col-sm-2">{{_('Repeat Password')}}</td>
          <td class="col-sm-2">{{_('Group')}}</td>
          <td class="col-sm-2">{{_('Theme')}}</td>
          <td class="col-sm-1"></td>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>
          <form method="post" action="/settings/users" onsubmit="return confirm('Confirm the deletion of user {{user.user_name}}. This cannot be undone. To keep this user, click Cancel.')">
            <input type="hidden" name="form-name" value="delUser">
            {{form_del_user.csrf_token}}
            {{form_del_user.delUsername(value=user.user_name)}}
            {{form_del_user.delUserSubmit(class_='btn btn-default')}}
          </form>
          </td>
          <form method="post" action="/settings/users">
          {{form_mod_user.csrf_token}}
          <input type="hidden" name="form-name" value="modUser">
          <td>{{user.user_name}}{{form_mod_user.modUsername(value=user.user_name)}}</td>
          <td>
            {{form_mod_user.modEmail(class_='form-control', value=user.user_email)}}
          </td>
          <td>
            {{form_mod_user.modPassword(class_='form-control')}}
          </td>
          <td>
            {{form_mod_user.modPassword_repeat(class_='form-control')}}
          </td>
          <td>
            <select class="form-control" id="modGroup" name="modGroup">
              {% for each_role in user_roles %}
                <option value="{{each_role.name}}"{% if user.role.name == each_role.name %} selected{% endif %}>{{each_role.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            {% set theme_options = [
                  ('cerulean', 'Cerulean'),
                  ('cosmo', 'Cosmo'),
                  ('cyborg', 'Cyborg'),
                  ('darkly', 'Darkly'),
                  ('flatly', 'Flatly'),
                  ('journal', 'Journal'),
                  ('lumen', 'Lumen'),
                  ('paper', 'Paper'),
                  ('readable', 'Readable'),
                  ('sadstone', 'Sadstone'),
                  ('simplex', 'Simplex'),
                  ('slate', 'Slate'),
                  ('spacelab', 'Spacelab'),
                  ('sun', 'Sun'),
                  ('superhearo', 'Superhearo'),
                  ('united', 'United'),
                  ('yeti', 'Yeti')
            ] -%}
            <select class="form-control" id="modTheme" name="modTheme">
              <option value=""{% if user.user_theme == '' %} selected{% endif %}>Default</option>
              {% for value, name in theme_options %}
                <option value="{{value|e}}"{% if value == user.user_theme %} selected{% endif %}>{{name|e}}</option>
              {% endfor -%}
            </select>
          </td>
          <td>
            {{form_mod_user.modSubmit(class_='btn btn-default', value="Save")}}
          </td>
          </form>
        </tr>
      {% endfor -%}
      </tbody>
    </table>
  </div>

{% endblock %}
