<form method="post" action="/dashboard/{{dashboard_id}}">
  {{form_base.csrf_token}}
  <input type="hidden" name="dashboard_id" value="{{dashboard_id}}">
  <input type="hidden" name="widget_type" value="indicator">

  <div class="form-row small-gutters">
    {% include 'pages/dashboard_options/TEMPLATE_OPTIONS_WIDGET_ADD.html' %}
    <div class="col-auto">
      {{form_base.refresh_duration.label(class_='control-label')}}
      <div>
        {{form_base.refresh_duration(class_='form-control', value=30)}}
      </div>
    </div>
    <div class="col-auto">
      {{form_indicator.max_measure_age.label(class_='control-label')}}
      <div>
        {{form_indicator.max_measure_age(class_='form-control', value=3600)}}
      </div>
    </div>
    <div class="col-auto">
      {{form_indicator.font_em_timestamp.label(class_='control-label')}}
      <div>
        {{form_indicator.font_em_timestamp(class_='form-control', value=1.25)}}
      </div>
    </div>
    <div class="col-auto">
      {{form_indicator.enable_timestamp.label(class_='control-label')}}
      <div class="input-group-text">
        <input id="enable_timestamp" name="enable_timestamp" type="checkbox" value="y" checked>
      </div>
    </div>
    <div class="col-auto">
      {{form_indicator.option_invert.label(class_='control-label')}}
      <div class="input-group-text">
        <input id="option_invert" name="option_invert" type="checkbox" value="y">
      </div>
    </div>

    <div style="clear: both"></div>

    <div class="col-auto">
      {{form_indicator.measurement_id.label(class_='control-label')}}
      <div>
        <select class="form-control" id="measurement_id" name="measurement_id" style="width: 100%;">
        {% if choices_input or choices_math or choices_output_devices or choices_pid %}
          <option value="">{{dict_translation['select_one']['title']}}</option>
          {% for each_input_form in choices_input -%}
          <option value="{{each_input_form['value']}}">{{each_input_form['item']}}</option>
          {% endfor -%}
          {% for each_math_form in choices_math -%}
          <option value="{{each_math_form['value']}}">{{each_math_form['item']}}</option>
          {% endfor -%}
          {% for each_output_form in choices_output -%}
          <option value="{{each_output_form['value']}}">{{each_output_form['item']}}</option>
          {% endfor -%}
          {% for each_pid_form in choices_pid -%}
          <option value="{{each_pid_form['value']}}">{{each_pid_form['item']}}</option>
          {% endfor -%}
        {% else %}
          <option value="">{{dict_translation['none_available']['title']}}</option>
        {% endif %}
        </select>
      </div>
    </div>

  </div>

  <div class="form-inline btn-group" style="padding: 1em 0 1em 0">
    <div class="form-group">
      {{form_base.create(class_='btn btn-primary')}}
    </div>
  </div>

</form>
