<form method="post" action="/dashboard">
  {{form_base.csrf_token}}
  <input type="hidden" name="dashboard_type" value="camera">

  <div class="form-row small-gutters">

    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.name.label(class_='control-label')}}
      <div>
        {{form_base.name(class_='form-control', value=_('Camera'))}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.width.label(class_='control-label')}}
      <div>
        <select class="form-control" id="width" name="width">
          {% for n in range(1, 12) %}
            <option value="{{n}}"{% if n == 6 %} selected{% endif %}>{{n}}/12</option>
          {% endfor %}
          <option value="12">12/12</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.height.label(class_='control-label')}}
      <div>
        {{form_base.height(class_='form-control', value=400)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.refresh_duration.label(class_='control-label')}}
      <div>
        {{form_base.refresh_duration(class_='form-control', value=60)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_camera.camera_max_age.label(class_='control-label')}}
      <div>
        {{form_camera.camera_max_age(class_='form-control', value=360)}}
      </div>
    </div>

    <div style="clear: both"></div>

    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_camera.camera_id.label(class_='control-label')}}
      <div>
        <select class="form-control" id="camera_id" name="camera_id" style="width: 100%;">
          <option value="">{{dict_translation['select_one']['title']}}</option>
        {% if choices_camera %}
          {% for each_camera_form in choices_camera -%}
          <option value="{{each_camera_form['value']}}">{{each_camera_form['item']}}</option>
          {% endfor -%}
        {% else %}
          <option value="">{{dict_translation['none_available']['title']}}</option>
        {% endif %}
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      {{form_camera.camera_image_type.label(class_='control-label')}}
      <div>
        <select class="form-control" id="camera_image_type" name="camera_image_type">
          <option value="new_image">{{_('Acquire Image (and save new file)')}}</option>
          <option value="tmp_img">{{_('Acquire Image (and erase last file)')}}</option>
          <option value="stream">{{_('Display Live Video Stream')}}</option>
          <option value="timelapse">{{_('Display Latest Timelapse Image')}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-inline btn-group" style="padding: 1em 0 1em 0">
    <div class="form-group">
      {{form_base.create(class_='btn btn-primary')}}
    </div>
  </div>

</form>
