<form method="post" action="/dashboard">
  {{form_base.csrf_token}}
  <input type="hidden" name="dashboard_type" value="measurement">

  <div class="form-row small-gutters">

    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.name.label(class_='control-label')}}
      <div>
        {{form_base.name(class_='form-control', value=_('Measurement'))}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.width.label(class_='control-label')}}
      <div>
        <select class="form-control" id="width" name="width">
          {% for n in range(1, 13) %}
            <option value="{{n}}"{% if n == 3 %} selected{% endif %}>{{n}}/12</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.height.label(class_='control-label')}}
      <div>
        {{form_base.height(class_='form-control', value=150)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_measurement.max_measure_age.label(class_='control-label')}}
      <div>
        {{form_measurement.max_measure_age(class_='form-control', value=3600)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_base.refresh_duration.label(class_='control-label')}}
      <div>
        {{form_base.refresh_duration(class_='form-control', value=15)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_measurement.font_em_value.label(class_='control-label')}}
      <div>
        {{form_measurement.font_em_value(class_='form-control', value=3)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_measurement.font_em_timestamp.label(class_='control-label')}}
      <div>
        {{form_measurement.font_em_timestamp(class_='form-control', value=1.5)}}
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      {{form_measurement.decimal_places.label(class_='control-label')}}
      <div>
        {{form_measurement.decimal_places(class_='form-control', value=1)}}
      </div>
    </div>

    <div style="clear: both"></div>

    <div class="col-sm-6 col-lg-3">
      {{form_measurement.measurement_id.label(class_='control-label')}}
      <div>
        <select class="form-control" id="measurement_id" name="measurement_id" style="width: 100%;">
        {% if choices_input or choices_math or choices_pid %}
          <option value="">{{dict_translation['select_one']['title']}}</option>
          {% for each_input_form in choices_input -%}
          <option value="{{each_input_form['value']}}">{{each_input_form['item']}}</option>
          {% endfor -%}
          {% for each_math_form in choices_math -%}
          <option value="{{each_math_form['value']}}">{{each_math_form['item']}}</option>
          {% endfor -%}
          {% for each_output_form in choices_output -%}
          <option value="{{each_output_form['value']}}">{{each_output_form['item']}}</option>
          {% endfor -%}
          {% for each_pid_form in choices_pid -%}
          <option value="{{each_pid_form['value']}}">{{each_pid_form['item']}}</option>
          {% endfor -%}
        {% else %}
          <option value="">{{dict_translation['none_available']['title']}}</option>
        {% endif %}
        </select>
      </div>
    </div>

  </div>

  <div class="form-inline btn-group" style="padding: 1em 0 1em 0">
    <div class="form-group">
      {{form_base.create(class_='btn btn-primary')}}
    </div>
  </div>

</form>
