
  getLastData({{chart_number}}, '{{each_graph.output_ids.split(',')[0]}}', '{{each_graph.output_ids.split(',')[1]}}', 'output', {{each_graph.max_measure_age}}, {{each_graph.decimal_places}});
  repeatLastData({{chart_number}}, '{{each_graph.output_ids.split(',')[0]}}', '{{each_graph.output_ids.split(',')[1]}}', 'output', {{each_graph.refresh_duration}}, {{each_graph.max_measure_age}}, {{each_graph.decimal_places}});

  getGPIOState({{chart_number}}, '{{each_graph.output_ids.split(',')[0]}}', {{each_graph.decimal_places}});
  repeatGPIOState({{chart_number}}, '{{each_graph.output_ids.split(',')[0]}}', {{each_graph.refresh_duration}}, {{each_graph.decimal_places}});
