  chart_gauge[{{chart_number}}] = new Highcharts.chart({
    chart: {
      renderTo: 'container-gauge-{{each_graph.id}}',
      type: 'solidgauge',
      events: {
        load: function () {
          {% for each_input in input -%}
            {%- for each_id_and_measure in graph_input_ids if each_input.unique_id == each_id_and_measure.split(',')[0] %}
          getLastData({{chart_number}}, '{{each_id_and_measure.split(',')[0]}}', '{{each_id_and_measure.split(',')[1]}}', {{each_graph.max_measure_age}}, false);
          repeatLastData({{chart_number}}, '{{each_id_and_measure.split(',')[0]}}', '{{each_id_and_measure.split(',')[1]}}', {{each_graph.refresh_duration}}, {{each_graph.max_measure_age}}, false);
          {%- if not each_input.adc_measure -%}
            {% set measure_name = measurement_units[graph_input_ids[0].split(',')[1]]['name']|safe %}
            {% set measure_unit = measurement_units[graph_input_ids[0].split(',')[1]]['unit']|safe %}
          {%- else -%}
            {% set measure_name = each_input.adc_measure|safe %}
            {% set measure_unit = each_input.adc_measure_units|safe %}
          {% endif %}
            {%- endfor -%}
          {%- endfor -%}

          {% for each_math in math -%}
            {%- for each_id_and_measure in graph_input_ids if each_math.unique_id == each_id_and_measure.split(',')[0] %}
          getLastData({{chart_number}}, '{{each_id_and_measure.split(',')[0]}}', '{{each_id_and_measure.split(',')[1]}}', {{each_graph.max_measure_age}}, false);
          repeatLastData({{chart_number}}, '{{each_id_and_measure.split(',')[0]}}', '{{each_id_and_measure.split(',')[1]}}', {{each_graph.refresh_duration}}, {{each_graph.max_measure_age}}, false);
          {% set measure_name = each_math.measure|safe %}
          {% set measure_unit = each_math.measure_units|safe %}
            {%- endfor -%}
          {%- endfor -%}

          {%- for each_pid in pid -%}
            {%- for each_id_and_measure in graph_input_ids if each_pid.unique_id == each_id_and_measure.split(',')[0] %}
          getLastData({{chart_number}}, '{{each_id_and_measure.split(',')[0]}}', '{{each_id_and_measure.split(',')[1]}}', {{each_graph.max_measure_age}}, false);
          repeatLastData({{chart_number}}, '{{each_id_and_measure.split(',')[0]}}', '{{each_id_and_measure.split(',')[1]}}', {{each_graph.refresh_duration}}, {{each_graph.max_measure_age}}, false);
          {% set measure_name = each_id_and_measure.split(',')[1]|safe %}
          {% set measure_unit = dict_measurements[each_id_and_measure.split(',')[1]]['unit']|safe %}
            {%- endfor -%}
          {%- endfor -%}
        }
      },
      spacingTop: 0,
      spacingLeft: 0,
      spacingRight: 0,
      spacingBottom: 0
    },

    title: null,

    pane: {
      center: ['50%', '85%'],
      size: '140%',
      startAngle: -90,
      endAngle: 90,
      background: {
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
        innerRadius: '60%',
        outerRadius: '100%',
        shape: 'arc'
      }
    },

    tooltip: {
      enabled: false
    },
    exporting: {
      enabled: false
    },
    rangeSelector: {
        enabled: false
    },

    // the value axis
    yAxis: {
      min: {{each_graph.y_axis_min}},
      max: {{each_graph.y_axis_max}},
      stops: [
          {% for n in range(colors_gauge[each_graph.id]|length) %}
              {% set index = '{0:0>2}'.format(n) %}
        [{{colors_gauge[each_graph.id][n]['stop']}}, '{{colors_gauge[each_graph.id][n]['hex']}}'],
          {% endfor %}
      ],
      lineWidth: 0,
      minorTickInterval: null,
      tickAmount: 2,
      title: {
        text: '{{measure_name}}',
        y: -80
      },
      labels: {
        y: 16
      }
    },

    plotOptions: {
      solidgauge: {
        dataLabels: {
          y: 5,
          borderWidth: 0,
          useHTML: true
        }
      }
    },

    series: [{
      name: '{{measure_name}}',
      data: [null],
      dataLabels: {
        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
          ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{point.y:,.1f}</span><br/>' +
           '<span style="font-size:12px;color:silver">{{measure_unit}}</span></div>'
      },
      tooltip: {
        valueSuffix: ' {{measure_unit}}'
      }
    }],

    credits: {
      enabled: false,
      href: "https://github.com/kizniche/Mycodo",
      text: "Mycodo"
    }
  });
