{% set graph_math_ids = each_dashboard.math_ids.split(';') %}
{% set graph_output_ids = each_dashboard.output_ids.split(';') %}
{% set graph_pid_ids = each_dashboard.pid_ids.split(';') %}
{% set graph_note_tag_ids = each_dashboard.note_tag_ids.split(';') %}

  chart_graph[{{chart_number}}] = new Highcharts.StockChart({
    chart : {
      renderTo: 'container-graph-{{each_dashboard.unique_id}}',
      zoomType: 'x',
      alignTicks: {% if each_dashboard.enable_align_ticks %}true{% else %}false{% endif %},
      resetZoomButton: {
        theme: {
          display: 'none'
        }
      },

      events: {
        load: function () {
          {% set count_series = [] -%}

          {% for each_input in input -%}
            {%- for input_and_measurement_ids in graph_input_ids if each_input.unique_id == input_and_measurement_ids.split(',')[0] %}
              {%- set measurement_id = input_and_measurement_ids.split(',')[1] -%}
          getPastData({{chart_number}}, {{count_series|count}}, '{{each_input.unique_id}}', 'input', '{{measurement_id}}', {{each_dashboard.x_axis_duration*60}});
          {% if each_dashboard.enable_auto_refresh %}
          getLiveData({{chart_number}}, {{count_series|count}}, '{{each_input.unique_id}}', 'input', '{{measurement_id}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
          {% endif %}
              {%- do count_series.append(1) %}
            {%- endfor -%}
          {%- endfor -%}

          {% for each_math in math -%}
            {%- for each_id_and_measure in graph_math_ids if each_math.unique_id == each_id_and_measure.split(',')[0] %}
          getPastData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', 'math', '{{each_math.unique_id}}', {{each_dashboard.x_axis_duration*60}});
          {% if each_dashboard.enable_auto_refresh %}
          getLiveData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', 'math', '{{each_math.unique_id}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
          {% endif %}
              {%- do count_series.append(1) %}
            {%- endfor -%}
          {%- endfor -%}

          {%- for each_output in output -%}
            {%- for each_graph_output_id in graph_output_ids if each_output.unique_id == each_graph_output_id.split(',')[0] %}
              {%- set measurement = each_graph_output_id.split(',')[1] -%}
              {%- set unit = each_graph_output_id.split(',')[2] -%}
          getPastData({{chart_number}}, {{count_series|count}}, '{{each_output.unique_id}}', 'output', '{{each_output.unique_id}}', {{each_dashboard.x_axis_duration*60}});
          {% if each_dashboard.enable_auto_refresh %}
          getLiveData({{chart_number}}, {{count_series|count}}, '{{each_output.unique_id}}', 'output', '{{each_output.unique_id}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
          {% endif %}
              {%- do count_series.append(1) %}
            {%- endfor -%}
          {%- endfor -%}

          {%- for each_pid in pid -%}
            {%- for each_id_and_measure in graph_pid_ids if each_pid.unique_id == each_id_and_measure.split(',')[0] %}
          getPastData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', 'pid', '{{each_id_and_measure.split(',')[0]}}', {{each_dashboard.x_axis_duration*60}});
          {% if each_dashboard.enable_auto_refresh %}
          getLiveData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', 'pid', '{{each_id_and_measure.split(',')[0]}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
          {% endif %}
              {%- do count_series.append(1) %}
            {%- endfor -%}
          {%- endfor -%}

          {%- for each_tag in tags -%}
            {%- for each_id_and_measure in graph_note_tag_ids if each_tag.unique_id == each_id_and_measure.split(',')[0] %}
          getPastData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', 'tag', '{{each_id_and_measure.split(',')[0]}}', {{each_dashboard.x_axis_duration*60}});
          {% if each_dashboard.enable_auto_refresh %}
          getLiveData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', 'tag', '{{each_id_and_measure.split(',')[0]}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
          {% endif %}
              {%- do count_series.append(1) %}
            {%- endfor -%}
          {%- endfor -%}
        }
      }
    },
    {% if each_dashboard.use_custom_colors and each_dashboard.custom_colors -%}
      {% set color_list = each_dashboard.custom_colors.split(',') %}
      colors: [{%- for each_color in color_list -%}
                "{{each_color}}",
               {%- endfor -%}],
    {%- endif -%}

    title: {
      text: '{% if each_dashboard.enable_title %}{{each_dashboard.name}}{% endif %}'
    },

    legend: {
      enabled: true
    },

    xAxis: {
      type: 'datetime',
      ordinal: false
    },

    yAxis: [
    {% for each_axis_meas in y_axes[each_dashboard.unique_id] if each_axis_meas in dict_units %}
      {
        {% if each_dashboard.enable_manual_y_axis and
             custom_yaxes[each_dashboard.unique_id][each_axis_meas]['minimum'] != custom_yaxes[each_dashboard.unique_id][each_axis_meas]['maximum'] %}
        min: {{custom_yaxes[each_dashboard.unique_id][each_axis_meas]['minimum']}},
        max: {{custom_yaxes[each_dashboard.unique_id][each_axis_meas]['maximum']}},
        startOnTick: {% if each_dashboard.enable_start_on_tick %}true{% else %}false{% endif %},
        endOnTick: {% if each_dashboard.enable_end_on_tick %}true{% else %}false{% endif %},
        {% endif %}
        title: {
          text: '{{dict_units[each_axis_meas]['name']}}{% if dict_units[each_axis_meas]['unit'] != '' %} ({{dict_units[each_axis_meas]['unit']}}){% endif %}'
        },
        labels: {
          format: '{value}'
        },
        opposite: false,
          id: '{% if 'custom_axis_id' in dict_measurements[each_axis_meas] -%}
                 {{dict_measurements[each_axis_meas]['custom_axis_id']}}
               {%- else -%}
                 {{each_axis_meas}}
               {%- endif %}'
      },
    {% endfor %}
    ],

    exporting: {
      enabled: {% if each_dashboard.enable_export %}true{% else %}false{% endif %},
      fallbackToExportServer: false,
    },

    navigator: {
      enabled: {% if each_dashboard.enable_navbar %}true{% else %}false{% endif %}
    },

    scrollbar: {
      enabled: false
    },

    rangeSelector: {
      enabled: {% if each_dashboard.enable_rangeselect %}true{% else %}false{% endif %},
      buttons: [{
        count: 1,
        type: 'minute',
        text: '1m'
      }, {
        count: 5,
        type: 'minute',
        text: '5m'
      }, {
        count: 15,
        type: 'minute',
        text: '15m'
      }, {
        count: 30,
        type: 'minute',
        text: '30m'
      }, {
        type: 'hour',
        count: 1,
        text: '1h'
      }, {
        type: 'hour',
        count: 6,
        text: '6h'
      }, {
        type: 'day',
        count: 1,
        text: '1d'
      }, {
        type: 'week',
        count: 1,
        text: '1w'
      }, {
        type: 'month',
        count: 1,
        text: '1m'
      }, {
        type: 'month',
        count: 3,
        text: '3m'
      }, {
        type: 'all',
        text: 'Full'
      }],
      selected: 15
    },

    credits: {
      enabled: false,
      href: "https://github.com/kizniche/Mycodo",
      text: "Mycodo"
    },

    tooltip: {
      shared: true,
      formatter: function(){
        var d = new Date(this.x);
        if (this.point) {
          return '<b>'+ Highcharts.dateFormat('%B %e, %Y %H:%M:%S.', this.x) + d.getMilliseconds()
               + '</b><br/>' + this.series.name
               + '<br/>' + this.point.title
               + '<br/>' + this.point.text;
        }
        else {
          var s = '<b>' + Highcharts.dateFormat('%B %e, %Y %H:%M:%S.', this.x) + d.getMilliseconds() + '</b>';
          $.each(this.points, function(i, point) {
              s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ': ' + Highcharts.numberFormat(point.y, this.series.tooltipOptions.valueDecimals) + ' ' + this.series.tooltipOptions.valueSuffix;
          });
          return s;
        }
      }
    },

{#    // Generate  thermal image from pixel data#}
{#    // point click event opens image in a new window#}
{#    plotOptions: {#}
{#      series: {#}
{#        cursor: 'pointer',#}
{#        point: {#}
{#          events: {#}
{#            click: function () {#}
{#              URL = '/generate_thermal_image/f36ce034-3129-456d-b877-ff0d5587e375/' + this.x;#}
{#              window.open(URL, "_blank");#}
{#            }#}
{#          }#}
{#        }#}
{#      }#}
{#    },#}

{#    plotOptions: {#}
{#      series: {#}
{#        cursor: 'pointer',#}
{#        point: {#}
{#          events: {#}
{#            click: function(e){#}
{#              hs.htmlExpand(null, {#}
{#                pageOrigin: {#}
{#                  x: e.pageX || e.clientX,#}
{#                  y: e.pageY || e.clientY#}
{#                },#}
{#                headingText: this.series.name,#}
{#                maincontentText: '<img src="/generate_thermal_image/f36ce034-3129-456d-b877-ff0d5587e375/' + this.x + '">',#}
{#                width: 215,#}
{#                height: 255,#}
{#              });#}
{#            }#}
{#          }#}
{#        },#}
{#        marker: {#}
{#          lineWidth: 1#}
{#        }#}
{#      }#}
{#    },#}

    series: [
    {% for each_input in input -%}
      {%- for input_and_measurement_ids in graph_input_ids if each_input.unique_id == input_and_measurement_ids.split(',')[0] -%}
        {%- set measurement_id = input_and_measurement_ids.split(',')[1] -%}

        {%- if measurement_id in input_measurements_dict -%}

      {
        name: '{{each_input.name}} (
        {%- if not input_measurements_dict[measurement_id].single_channel -%}
          CH{{(input_measurements_dict[measurement_id].channel|int + 1)|string + ', '}}
        {%- endif -%}
          {{measurement_units[input_measurements_dict[measurement_id].measurement]['name']}})',
        {% if measurement_units[input_measurements_dict[measurement_id].measurement]['meas'] == 'edge' %}
        type: 'column',
        {% else %}
        type: 'line',
        {% endif %}
        tooltip: {
          valueSuffix: ' {{units[input_measurements_dict[measurement_id].unit]['unit']}}',
          valueDecimals: 3
        },
        yAxis: '{{input_measurements_dict[measurement_id].unit}}',
        data: []
      },

        {%- endif -%}

      {%- endfor -%}
    {% endfor %}

    {% for each_math in math -%}
      {%- for each_id_and_measure in graph_math_ids if each_math.unique_id == each_id_and_measure.split(',')[0] -%}

        {%- for each_measurement in each_math.measure.split(',') -%}

          {% for each_set in each_math.measure_units.split(';') if each_measurement == each_set.split(',')[0] %}
            {%- set measure = each_id_and_measure.split(',')[0] -%}
            {%- set unit = each_id_and_measure.split(',')[1] -%}
            {%- if each_measurement == each_id_and_measure.split(',')[1] -%}
        {
          name: '{{each_math.name}} ({{measurement_units[each_measurement]['name']}}
              {%- if dict_measurements[each_measurement]['unit'] != '' %}
                {%- if use_unit[each_math.unique_id][each_measurement] -%}
                  {{', '+units[use_unit[each_math.unique_id][each_measurement]]['unit']}}
                {%- else -%}
                  {{', '+unit}}
                {%- endif -%}
              )
              {%- endif -%}
            ',
          type: 'line',
          tooltip: {
            valueSuffix: '
                  {%- if use_unit[each_math.unique_id][each_measurement] in dict_units -%}
                    {{' ' + dict_units[use_unit[each_math.unique_id][each_measurement]]['unit']}}
                  {%- elif use_unit[each_math.unique_id][each_measurement] -%}
                    {{' ' + use_unit[each_math.unique_id][each_measurement]}}
                  {%- else -%}
                    {{' ' + unit}}
                  {%- endif -%}
                  ',
            valueDecimals: 3
          },
          yAxis: '
                  {%- if use_unit[each_math.unique_id][each_measurement] -%}
                    {{use_unit[each_math.unique_id][each_measurement]}}
                  {%- else -%}
                    {{measurement_units[each_measurement]['meas']}}
                  {%- endif -%}
              ',
          data: []
        },
            {%- endif -%}
          {% endfor %}

        {%- endfor -%}

      {%- endfor -%}
    {% endfor %}

    {%- for each_output in output -%}
      {%- for each_graph_output_id in graph_output_ids if each_output.unique_id == each_graph_output_id.split(',')[0] -%}
        {%- set measurement = each_graph_output_id.split(',')[1] -%}
        {%- set unit = each_graph_output_id.split(',')[2] -%}
        {%- set channel = each_graph_output_id.split(',')[3] -%}
        {
          name: '{{each_output.name}} ({{measurement_units[measurement]['name']}})',
          type: 'column',
          dataGrouping: {
            approximation: 'high',
            groupPixelWidth: 1
          },
          tooltip: {
            valueSuffix: ' {{units[unit]['unit']}}',
            valueDecimals: 2
          },
          yAxis: '{{unit}}',
          data: []
        },
      {%- endfor -%}
    {%- endfor -%}

    {%- for each_pid in pid -%}
      {%- for each_graph_pid_id in graph_pid_ids if each_pid.unique_id == each_graph_pid_id.split(',')[0] -%}
        {% if each_graph_pid_id.split(',')[1] in ['setpoint', 'setpoint_band_min', 'setpoint_band_max'] and each_pid.measurement %}
        {
          name: '{{each_pid.name}} (
          {%- if each_graph_pid_id.split(',')[1] == 'setpoint' -%}
            {{_('Setpoint')}}
          {%- elif each_graph_pid_id.split(',')[1] == 'setpoint_band_min' -%}
            {{_('Band Min')}}
          {%- elif each_graph_pid_id.split(',')[1] == 'setpoint_band_max' -%}
            {{_('Band Max')}}
          {%- endif -%}
          )',
          type: 'line',
          tooltip: {
            valueSuffix: '
          {%- for each_input in input if each_pid.measurement.split(',')[0] == each_input.unique_id -%}
            {%- if use_unit[each_input.unique_id][each_pid.measurement.split(',')[1]] -%}
              {{' ' + units[use_unit[each_input.unique_id][each_pid.measurement.split(',')[1]]]['unit']}}
            {%- else -%}
              {%- if each_pid.measurement.split(',')[1] in measurement_units -%}
                {{' ' + measurement_units[each_pid.measurement.split(',')[1]]['unit']|safe}}
              {%- else -%}
                {%- for each_input in input if each_pid.measurement.split(',')[0] == each_input.unique_id and
                                               each_input.device == 'LinuxCommand' -%}
                  {{ ' ' + use_unit[each_input.unique_id][each_input.measurements]}}
                {%- endfor -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          ',
            valueDecimals: 2
          },
          yAxis: '
          {%- for each_input in input if each_pid.measurement.split(',')[0] == each_input.unique_id -%}
            {%- if use_unit[each_input.unique_id][each_pid.measurement.split(',')[1]] -%}
              {{use_unit[each_input.unique_id][each_pid.measurement.split(',')[1]]}}
            {%- else -%}
              {{each_pid.measurement.split(',')[1]}}
            {%- endif -%}
          {%- endfor -%}
          ',
          data: []
        },
        {% elif each_graph_pid_id.split(',')[1] == 'pid_p_value' %}
        {
          name: '{{each_pid.name}} (P-Value)',
          type: 'line',
          tooltip: {
            valueSuffix: '',
            valueDecimals: 2
          },
          yAxis: 'pid_value',
          data: []
        },
        {% elif each_graph_pid_id.split(',')[1] == 'pid_i_value' %}
        {
          name: '{{each_pid.name}} (I-Value)',
          type: 'line',
          tooltip: {
            valueSuffix: '',
            valueDecimals: 2
          },
          yAxis: 'pid_value',
          data: []
        },
        {% elif each_graph_pid_id.split(',')[1] == 'pid_d_value' %}
        {
          name: '{{each_pid.name}} (D-Value)',
          type: 'line',
          tooltip: {
            valueSuffix: '',
            valueDecimals: 2
          },
          yAxis: 'pid_value',
          data: []
        },
        {% elif each_graph_pid_id.split(',')[1] == 'duration_time' %}
        {
          name: '{{each_pid.name}} ({{_('Output')}} {{_('Duration')}}, sec)',
          type: 'line',
          tooltip: {
            valueSuffix: ' sec',
            valueDecimals: 2
          },
          yAxis: 'second',
          data: []
        },
        {% elif each_graph_pid_id.split(',')[1] == 'duty_cycle' %}
        {
          name: '{{each_pid.name}} ({{_('Output')}} {{_('Duty Cycle')}}, %)',
          type: 'line',
          tooltip: {
            valueSuffix: ' %',
            valueDecimals: 2
          },
          yAxis: 'duty_cycle',
          data: []
        },
        {% endif %}
      {%- endfor -%}
    {%- endfor -%}

    {%- for each_tag in tags -%}
      {%- for each_graph_note_tag_id in graph_note_tag_ids if each_tag.unique_id == each_graph_note_tag_id.split(',')[0] -%}
        {
          name: 'Note Tag: {{each_tag.name}}',
          type: 'flags',
          data: [],
          stackDistance: 40,
          shape: 'squarepin'
        },
      {% endfor %}
    {% endfor %}

    ]
  });

  $('#updateData{{chart_number}}').click(function() {
    {% set count_series = [] -%}

    {% for each_input in input -%}
      {%- for each_id_and_measure in graph_input_ids if each_input.unique_id == each_id_and_measure.split(',')[0] %}
        {%- set measurement = each_id_and_measure.split(',')[1] -%}
        {%- set unit = each_id_and_measure.split(',')[2] -%}
        {%- set channel = each_id_and_measure.split(',')[3] -%}
    retrieveLiveData({{chart_number}}, {{count_series|count}}, '{{each_input.unique_id}}', '{{measurement}}', '{{unit}}', '{{channel}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
        {%- do count_series.append(1) %}
      {%- endfor -%}
    {%- endfor -%}

    {% for each_math in math -%}
      {%- for each_id_and_measure in graph_math_ids if each_math.unique_id == each_id_and_measure.split(',')[0] %}
    retrieveLiveData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', '{{each_math.unique_id}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
        {%- do count_series.append(1) %}
      {%- endfor -%}
    {%- endfor -%}

    {%- for each_output in output -%}
      {%- for each_graph_output_id in graph_output_ids if each_output.unique_id == each_graph_output_id.split(',')[0] %}
        {%- set measurement = each_graph_output_id.split(',')[1] -%}
        {%- set unit = each_graph_output_id.split(',')[2] -%}
        {%- set channel = each_graph_output_id.split(',')[3] -%}
    retrieveLiveData({{chart_number}}, {{count_series|count}}, '{{each_output.unique_id}}', '{{measurement}}', '{{unit}}', '{{channel}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
        {%- do count_series.append(1) %}
      {%- endfor -%}
    {%- endfor -%}

    {%- for each_pid in pid -%}
      {%- for each_id_and_measure in graph_pid_ids if each_pid.unique_id == each_id_and_measure.split(',')[0] %}
    retrieveLiveData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', '{{each_id_and_measure.split(',')[0]}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
        {%- do count_series.append(1) %}
      {%- endfor -%}
    {%- endfor -%}

    {%- for each_tag in tag -%}
      {%- for each_id_and_measure in graph_note_tag_ids if each_pid.unique_id == each_id_and_measure.split(',')[0] %}
    retrieveLiveData({{chart_number}}, {{count_series|count}}, '{{each_id_and_measure.split(',')[1]}}', '{{each_id_and_measure.split(',')[0]}}', {{each_dashboard.x_axis_duration}}, {{each_dashboard.enable_xaxis_reset|int}}, {{each_dashboard.refresh_duration}}, {% if each_dashboard.enable_graph_shift %}true{% else %}false{% endif %});
        {%- do count_series.append(1) %}
      {%- endfor -%}
    {%- endfor -%}
  });

  $('#resetZoom{{chart_number}}').click(function() {
    var chart = $('#container-graph-{{each_dashboard.unique_id}}').highcharts();
    chart.zoomOut();
  });

  $('#showhidebutton{{chart_number}}').click(function() {
    var chart = $('#container-graph-{{each_dashboard.unique_id}}').highcharts();
    var series = chart.series[0];
    if (series.visible) {
      $(chart.series).each(function(){
        this.setVisible(false, false);
      });
      chart.redraw();
    } else {
      $(chart.series).each(function(){
        this.setVisible(true, false);
      });
      chart.redraw();
    }
  });
