  {% for each_input in input -%}
    {%- for device_and_measurement_ids in graph_input_ids if each_input.unique_id == device_and_measurement_ids.split(',')[0] %}
      {%- set measurement_id = device_and_measurement_ids.split(',')[1] -%}
  getLastData({{chart_number}}, 'indicator', '{{each_input.unique_id}}', 'input', '{{measurement_id}}', {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}});
  repeatLastData({{chart_number}}, 'indicator', '{{each_input.unique_id}}', 'input', '{{measurement_id}}', {{each_dashboard.refresh_duration}}, {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}});
    {%- endfor -%}
  {%- endfor -%}

  {% for each_math in math -%}
    {%- for device_and_measurement_ids in graph_input_ids if each_math.unique_id == device_and_measurement_ids.split(',')[0] %}
      {%- set measurement_id = device_and_measurement_ids.split(',')[1] -%}
  getLastData({{chart_number}}, 'indicator', '{{each_math.unique_id}}', 'math', '{{measurement_id}}', {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}});
  repeatLastData({{chart_number}}, 'indicator', '{{each_math.unique_id}}', 'math', '{{measurement_id}}', {{each_dashboard.refresh_duration}}, {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}});
    {%- endfor -%}
  {%- endfor -%}
