  {%- for each_pid in pid -%}
    {%- if each_pid.unique_id == each_dashboard.pid_ids and each_pid.measurement.split(',')|length == 2 %}

  getLastDataPID({{chart_number}}, '{{each_dashboard.pid_ids}}', {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}}, '

      {%- set measurement_id = each_pid.measurement.split(',')[1] -%}
      {%- set device_measurement = table_device_measurements.query.filter(table_device_measurements.unique_id == measurement_id).first() -%}

      {%- if device_measurement -%}
        {%- if device_measurement.conversion_id -%}
          {{dict_units[table_conversion.query.filter(table_conversion.unique_id == device_measurement.conversion_id).first().convert_unit_to]['unit']}}
        {%- elif device_measurement.rescaled_unit -%}
          {{dict_units[device_measurement.rescaled_unit]['unit']}}
        {%- else -%}
          {{dict_units[device_measurement.unit]['unit']}}
        {%- endif -%}
      {%- endif -%}
      ');

  repeatLastDataPID({{chart_number}}, '{{each_dashboard.pid_ids}}', {{each_dashboard.refresh_duration}}, {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}}, '

      {%- set measurement_id = each_pid.measurement.split(',')[1] -%}
      {%- set device_measurement = table_device_measurements.query.filter(table_device_measurements.unique_id == measurement_id).first() -%}

      {%- if device_measurement -%}
        {%- if device_measurement.conversion_id -%}
          {{dict_units[table_conversion.query.filter(table_conversion.unique_id == device_measurement.conversion_id).first().convert_unit_to]['unit']}}
        {%- elif device_measurement.rescaled_unit -%}
          {{dict_units[device_measurement.rescaled_unit]['unit']}}
        {%- else -%}
          {{dict_units[device_measurement.unit]['unit']}}
        {%- endif -%}
      {%- endif -%}
      ');

    {% else %}

    getLastDataPID({{chart_number}}, '{{each_dashboard.pid_ids}}', {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}}, '');

    {%- endif -%}
  {%- endfor -%}
