
  getLastData({{chart_number}}, '{{each_dashboard.output_ids.split(',')[0]}}', '{{each_dashboard.output_ids.split(',')[1]}}', 'output', {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}});
  repeatLastData({{chart_number}}, '{{each_dashboard.output_ids.split(',')[0]}}', '{{each_dashboard.output_ids.split(',')[1]}}', 'output', {{each_dashboard.refresh_duration}}, {{each_dashboard.max_measure_age}}, {{each_dashboard.decimal_places}});

  getGPIOState({{chart_number}}, '{{each_dashboard.output_ids.split(',')[0]}}', {{each_dashboard.decimal_places}});
  repeatGPIOState({{chart_number}}, '{{each_dashboard.output_ids.split(',')[0]}}', {{each_dashboard.refresh_duration}}, {{each_dashboard.decimal_places}});
