<div style="padding-right: 0.5em;">
  <div class="col-sx-12 text-right">
    <span style="padding-right: 0.5em"><span id="{{each_graph.camera_id}}-timestamp"></span> [{{'%02d' % each_graph.id}}] {{each_graph.name}}</span>
    <button type="button" class="btn btn-default" style="padding: 0 0" data-toggle="collapse" href="#collapseContainer{{chart_number}}" aria-expanded="false" aria-controls="collapseContainer{{chart_number}}">
      <span class="collapse-button{{chart_number}} fa fa-2x fa-plus-square"></span>
    </button>
  </div>
</div>

<div id="container-graph-{{each_graph.id}}" style="height: {{each_graph.height}}px;">
  <a id="{{each_graph.camera_id}}-image-href" href="" target="_blank"><img id="{{each_graph.camera_id}}-image-src" style="max-height: 100%; max-width: 100%" src=""></a>
</div>

<div class="collapse" id="collapseContainer{{chart_number}}" style="padding: 0.5em; width: calc(100% - 1em)">

  <form method="post" action="/dashboard">
    {{form_mod_camera.csrf_token}}
    {{form_mod_camera.graph_id(value=each_graph.id)}}
    {{form_mod_camera.graph_type(value=each_graph.graph_type)}}
    <div class="form-inline">
      <div class="form-group">
        {{form_mod_camera.name.label(class_='control-label')}}
        <div>
          {{form_mod_camera.name(class_='form-control', value=each_graph.name, **{'title':_('A name to distinguish this from others')})}}
        </div>
      </div>

      <div class="form-group">
        {{form_mod_camera.camera_id.label(class_='control-label')}}
        <div>
          <select class="form-control" id="camera_id" name="camera_id" style="width: 100%;">
            <option value="">{{_('Select One')}}</option>
          {% if choices_camera %}
          {% for each_choice, value in choices_camera.items() -%}
            <option value="{{each_choice}}" {% if each_graph.camera_id == each_choice %}selected{% endif %}>{{value}}</option>
          {% endfor -%}
          {% else %}
            <option value="">{{_('None Available')}}</option>
          {% endif %}
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_add_camera.camera_image_type.label(class_='control-label')}}
        <div>
          <select class="form-control" id="camera_image_type" name="camera_image_type">
            <option value="new_img"{% if each_graph.camera_image_type == 'new_image' %} selected{% endif %}>Acquire Image (and save new file)</option>
            <option value="tmp_img"{% if each_graph.camera_image_type == 'tmp_img' %} selected{% endif %}>Acquire Image (and erase last file)</option>
            <option value="timelapse"{% if each_graph.camera_image_type == 'timelapse' %} selected{% endif %}>Display Latest Timelapse Image</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_mod_camera.width.label(class_='control-label')}}
        <div>
          <select class="form-control" id="width" name="width">
            {% for n in range(1, 12) %}
              <option value="{{n}}"{%- if each_graph.width == n %} selected{%- endif -%}>{{n}}/12</option>
            {% endfor %}
            <option value="12"{%- if each_graph.width == 12 or each_graph.width > 12 or each_graph.width < 1 %} selected{%- endif -%}>12/12</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_mod_camera.height.label(class_='control-label')}}
        <div>
          {{form_mod_camera.height(class_='form-control', value=each_graph.height)}}
        </div>
      </div>
      <div class="form-group">
        {{form_mod_camera.refresh_duration.label(class_='control-label')}}
        <div>
          {{form_mod_camera.refresh_duration(class_='form-control', value=each_graph.refresh_duration)}}
        </div>
      </div>
    </div>

      <div style="clear: both"></div>

    <div class="form-inline">

      <div class="checkbox" style="padding-right: 1em">
        <label>
          <input class="form-check-input" id="camera_timestamp" name="camera_timestamp" type="checkbox" value="y"{% if each_graph.camera_timestamp %} checked{% endif %}>
          {{form_mod_camera.camera_timestamp.label.text}}
        </label>
      </div>

    </div>

    <div class="form-inline btn-group" style="padding-top: 1em;">
      <div class="form-group">
        {{form_mod_camera.camera_mod(class_='form-control btn btn-default')}}
      </div>
      <div class="form-group">
        {{form_mod_camera.camera_del(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="form-group">
        {{form_mod_camera.camera_order_up(class_='form-control btn btn-default')}}
        {{form_mod_camera.camera_order_down(class_='form-control btn btn-default')}}
      </div>
    </div>
  </form>
</div>