<div style="padding-right: 0.5em;">
  <div class="col-sx-12 text-right">
    <span id="text-output-state-{{chart_number}}"></span> <span style="padding-right: 0.5em">[{{'%02d' % each_graph.id}}] {{each_graph.name}}</span>
    <button type="button" class="btn btn-default" style="padding: 0 0" data-toggle="collapse" href="#collapseContainer_output{{chart_number}}" aria-expanded="false" aria-controls="collapseContainer_output{{chart_number}}">
      <span class="collapse-button{{chart_number}} fa fa-2x fa-plus-square"></span>
    </button>
  </div>
</div>

{% set is_pwm = [] -%}
{% for each_output in output if each_output.unique_id == each_graph.output_ids.split(',')[0] and each_output.relay_type == 'pwm' %}
  {%- do is_pwm.append(1) %}
{% endfor %}

<div id="container-output-{{chart_number}}" style="height: {{each_graph.height}}px; text-align: center">
  <span style="font-size: {{each_graph.font_em_value}}em" id="value-{{chart_number}}"></span>
  <br/><span style="font-size: {{each_graph.font_em_timestamp}}em">
  {%- for each_input in input -%}
    {%- if each_input.unique_id == each_graph.sensor_ids_measurements.split(',')[0] %}
      {%- if not each_input.adc_measure -%}
        {{measurement_units[each_graph.sensor_ids_measurements.split(',')[1]]['name']|safe}} ({{measurement_units[each_graph.sensor_ids_measurements.split(',')[1]]['unit']|safe}})
      {%- else -%}
        {{each_input.adc_measure|safe}} {{each_input.adc_measure_units|safe}}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}

  {%- for each_math in math -%}
    {%- if each_math.unique_id == each_graph.sensor_ids_measurements.split(',')[0] %}
      {{each_math.measure|safe}} ({{each_math.measure_units|safe}})
    {%- endif -%}
  {%- endfor -%}

  {%- for each_pid in pid -%}
    {%- if each_pid.unique_id == each_graph.sensor_ids_measurements.split(',')[0] %}
      {{measurement_units[each_graph.sensor_ids_measurements.split(',')[1]]['name']|safe}} ({{dict_measurements[each_graph.sensor_ids_measurements.split(',')[1]]['unit']|safe}})
    {%- endif -%}
  {%- endfor -%}
  </span>
  <br/><span style="font-size: {{each_graph.font_em_timestamp}}em" id="timestamp-{{chart_number}}"></span>

</div>

<div class="collapse" id="collapseContainer_output{{chart_number}}" style="padding: 0.5em; width: calc(100% - 1em)">

  <form method="post" action="/dashboard">
    {{form_base.csrf_token}}
    {{form_base.dashboard_id(value=each_graph.id)}}
    <input type="hidden" name="dashboard_type" value="measurement">
    <div class="form-inline">
      <div class="form-group">
        {{form_base.name.label(class_='control-label')}}
        <div>
          {{form_base.name(class_='form-control', value=each_graph.name, **{'title':_('A name to distinguish this from others')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_measurement.measurement_id.label(class_='control-label')}}
        <div>
          <select class="form-control" id="measurement_id" name="measurement_id" style="width: 100%;">
          {% if choices_input or choices_math or choices_pid %}
            <option value="">{{_('Select One')}}</option>
            {% for each_choice, value in choices_input.items() -%}
            <option value="{{each_choice}}" {% if each_graph.sensor_ids_measurements == each_choice %}selected{% endif %}>{{value}}</option>
            {% endfor -%}
            {% for each_choice, value in choices_math.items() -%}
            <option value="{{each_choice}}" {% if each_graph.sensor_ids_measurements == each_choice %}selected{% endif %}>{{value}}</option>
            {% endfor -%}
            {% for each_choice, value in choices_pid.items() -%}
            <option value="{{each_choice}}" {% if each_graph.sensor_ids_measurements == each_choice %}selected{% endif %}>{{value}}</option>
            {% endfor -%}
          {% else %}
            <option value="">{{_('None Available')}}</option>
          {% endif %}
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_base.width.label(class_='control-label')}}
        <div>
          <select class="form-control" id="width" name="width">
            {% for n in range(1, 13) %}
              <option value="{{n}}"{% if n == each_graph.width %} selected{% endif %}>{{n}}/12</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_base.height.label(class_='control-label')}}
        <div>
          {{form_base.height(class_='form-control', value=each_graph.height)}}
        </div>
      </div>
      <div class="form-group">
        {{form_measurement.max_measure_age.label(class_='control-label')}}
        <div>
          {{form_measurement.max_measure_age(class_='form-control', value=each_graph.max_measure_age)}}
        </div>
      </div>
      <div class="form-group">
        {{form_base.refresh_duration.label(class_='control-label')}}
        <div>
          {{form_base.refresh_duration(class_='form-control', value=each_graph.refresh_duration)}}
        </div>
      </div>
     <div class="form-group">
        {{form_measurement.font_em_value.label(class_='control-label')}}
        <div>
          {{form_measurement.font_em_value(class_='form-control', value=each_graph.font_em_value)}}
        </div>
      </div>
      <div class="form-group">
        {{form_measurement.font_em_timestamp.label(class_='control-label')}}
        <div>
          {{form_measurement.font_em_timestamp(class_='form-control', value=each_graph.font_em_timestamp)}}
        </div>
      </div>
    </div>

    <div class="form-inline">
      <div class="form-group">
        {{form_base.modify(class_='form-control btn btn-default')}}
      </div>
    </div>

    <div class="form-inline" style="padding-top: 1em;">
      <div class="form-group">
        {{form_base.delete(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="form-group">
        Reorder:
        {{form_base.order_up(class_='form-control btn btn-default')}}
        {{form_base.order_down(class_='form-control btn btn-default')}}
      </div>
    </div>
  </form>
</div>