<div style="padding-right: 0.5em;">
  <div class="col-sx-12 text-right">
    <span id="text-output-state-{{chart_number}}"></span> <span style="padding-right: 0.5em"> {{each_graph.name}} [{{'%02d' % each_graph.id}}]</span>
    <button type="button" class="btn btn-default" style="padding: 0 0" data-toggle="collapse" href="#collapseContainer_output{{chart_number}}" aria-expanded="false" aria-controls="collapseContainer_output{{chart_number}}">
      <span class="collapse-button{{chart_number}} fa fa-2x fa-plus-square"></span>
    </button>
  </div>
</div>

<div class="pause-background" id="container-pid-{{chart_number}}" style="height: {{each_graph.height}}px">
  <div class="clearfix" style="padding-top: 0.7em">
    <div class="col-xs-12 col-md-6 small-gutters" style="text-align: center">
      <div style="font-size: {{each_graph.font_em_value}}em">
        Set: <span id="setpoint-{{chart_number}}"></span>
      </div>
      <span style="font-size: {{each_graph.font_em_timestamp}}em" id="setpoint-timestamp-{{chart_number}}"></span>
    </div>
    <div class="col-xs-12 col-md-6 small-gutters" style="text-align: center">
      <div style="font-size: {{each_graph.font_em_value}}em">
        Now: <span id="actual-{{chart_number}}"></span>
      </div>
      <span style="font-size: {{each_graph.font_em_timestamp}}em" id="actual-timestamp-{{chart_number}}"></span>
    </div>
  </div>

  {% if each_graph.enable_pid_info %}
  <div class="clearfix" style="padding-top: 0.7em">
    <div class="col-xs-12 small-gutters" style="text-align: center">
    {% for each_pid in pid if each_pid.unique_id == each_graph.pid_ids %}
    (P: <span id="pid_p_value-{{chart_number}}"></span>) + (I: <span id="pid_i_value-{{chart_number}}"></span>) + (D: <span id="pid_d_value-{{chart_number}}"></span>) = Out: <span id="pid_output-{{chart_number}}"></span>
    {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="clearfix" style="padding-top: 0.7em">
    <div class="col-xs-12 small-gutters">
      <div id="button-activate-{{chart_number}}" class="col-xs-6 small-gutters">
        <input class="form-control btn btn-default activate_pid" id="activate_pid" name="{{each_graph.pid_ids}}/activate_pid" type="button" value="{{_('Activate')}}">
      </div>
      <div id="button-deactivate-{{chart_number}}" class="col-xs-6 small-gutters">
        <input class="form-control btn btn-default deactivate_pid" id="deactivate_pid" name="{{each_graph.pid_ids}}/deactivate_pid" type="button" value="{{_('Deactivate')}}">
      </div>
      <div id="button-resume-{{chart_number}}" class="col-xs-6 small-gutters">
        <input class="form-control btn btn-default resume_pid" id="resume_pid" name="{{each_graph.pid_ids}}/resume_pid" type="button" value="{{_('Resume')}}">
      </div>
      <div id="button-pause-{{chart_number}}" class="col-xs-3 small-gutters">
        <input class="form-control btn btn-default pause_pid" id="pause_pid" name="{{each_graph.pid_ids}}/pause_pid" type="button" value="{{_('Pause')}}">
      </div>
      <div id="button-hold-{{chart_number}}" class="col-xs-3 small-gutters">
        <input class="form-control btn btn-default hold_pid" id="hold_pid" name="{{each_graph.pid_ids}}/hold_pid" type="button" value="{{_('Hold')}}">
      </div>
    </div>
  </div>

</div>

<div class="collapse" id="collapseContainer_output{{chart_number}}" style="padding: 0.5em; width: calc(100% - 1em)">

  {% if not each_graph.enable_pid_info %}
  <div class="clearfix" style="padding-top: 0.7em">
    <div class="col-xs-12 small-gutters" style="text-align: center">
    {% for each_pid in pid if each_pid.unique_id == each_graph.pid_ids %}
    (P: <span id="pid_p_value-{{chart_number}}"></span>) + (I: <span id="pid_i_value-{{chart_number}}"></span>) + (D: <span id="pid_d_value-{{chart_number}}"></span>) = Out: <span id="pid_output-{{chart_number}}"></span>
    {% endfor %}
    </div>
  </div>
  {% endif %}

  <form method="post" action="/dashboard">
    {{form_base.csrf_token}}
    {{form_base.dashboard_id(value=each_graph.id)}}
    <input type="hidden" name="dashboard_type" value="pid_control">
    <div class="form-inline">
      <div class="form-group">
        {{form_base.name.label(class_='control-label')}}
        <div>
          {{form_base.name(class_='form-control', value=each_graph.name, **{'title':_('A name to distinguish this from others')})}}
        </div>
      </div>
      <div class="form-group">
        {{form_pid.pid_id.label(class_='control-label')}}
        <div>
          <select class="form-control" id="pid_id" name="pid_id" style="width: 100%;">
          {% if pid %}
            <option value="">{{_('Select One')}}</option>
            {% for each_pid in pid -%}
            <option value="{{each_pid.unique_id}}" {% if each_graph.pid_ids == each_pid.unique_id %}selected{% endif %}>[{{each_pid.id}}] {{each_pid.name}}</option>
            {% endfor -%}
          {% else %}
            <option value="">{{_('None Available')}}</option>
          {% endif %}
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_base.width.label(class_='control-label')}}
        <div>
          <select class="form-control" id="width" name="width">
            {% for n in range(1, 13) %}
              <option value="{{n}}"{% if n == each_graph.width %} selected{% endif %}>{{n}}/12</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        {{form_base.height.label(class_='control-label')}}
        <div>
          {{form_base.height(class_='form-control', value=each_graph.height)}}
        </div>
      </div>
      <div class="form-group">
        {{form_pid.max_measure_age.label(class_='control-label')}}
        <div>
          {{form_pid.max_measure_age(class_='form-control', value=each_graph.max_measure_age)}}
        </div>
      </div>
      <div class="form-group">
        {{form_base.refresh_duration.label(class_='control-label')}}
        <div>
          {{form_base.refresh_duration(class_='form-control', value=each_graph.refresh_duration)}}
        </div>
      </div>
     <div class="form-group">
        {{form_pid.font_em_value.label(class_='control-label')}}
        <div>
          {{form_pid.font_em_value(class_='form-control', value=each_graph.font_em_value)}}
        </div>
      </div>
      <div class="form-group">
        {{form_pid.font_em_timestamp.label(class_='control-label')}}
        <div>
          {{form_pid.font_em_timestamp(class_='form-control', value=each_graph.font_em_timestamp)}}
        </div>
      </div>
      <div class="form-group">
        {{form_pid.decimal_places.label(class_='control-label')}}
        <div>
          {{form_pid.decimal_places(class_='form-control', value=each_graph.decimal_places)}}
        </div>
      </div>
      <div class="form-group">
        <label class="form-check-label">
          <input class="form-check-input" id="enable_pid_info" name="enable_pid_info" type="checkbox" value="y"{% if each_graph.enable_pid_info %} checked{% endif %}>
          {{form_pid.enable_pid_info.label.text}}
        </label>
      </div>
    </div>

    <div class="form-inline">
      <div class="form-group">
        {{form_base.modify(class_='form-control btn btn-default')}}
      </div>
    </div>

    <div class="form-inline" style="padding-top: 1em;">
      <div class="form-group">
        {{form_base.delete(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="form-group">
        Reorder:
        {{form_base.order_up(class_='form-control btn btn-default')}}
        {{form_base.order_down(class_='form-control btn btn-default')}}
      </div>
    </div>
  </form>
</div>