<div style="padding-right: 0.2em;">
  <div class="text-right align-items-center">
    <span id="text-output-state-{{chart_number}}"></span> <span style="padding-right: 0.5em"> {{each_graph.name}} [{{'%02d' % each_graph.id}}]</span>
    <a data-toggle="collapse" href="#collapseContainer{{chart_number}}" aria-expanded="false" aria-controls="collapseContainer{{chart_number}}">
      <span class="collapse-button{{chart_number}} fa fa-2x fa-plus-square"></span>
    </a>
  </div>
</div>

<div class="pause-background" id="container-pid-{{chart_number}}" style="height: {{each_graph.height}}px">

  <div class="row no-gutters" style="padding-top: 0.4em">
    <div class="col-6 text-center no-gutters">
      <div style="font-size: {{each_graph.font_em_value}}em">
        Set: <span id="setpoint-{{chart_number}}"></span>
      </div>
      <span style="font-size: {{each_graph.font_em_timestamp}}em" id="setpoint-timestamp-{{chart_number}}"></span>
    </div>
    <div class="col-6 text-center no-gutters">
      <div style="font-size: {{each_graph.font_em_value}}em">
        Now: <span id="actual-{{chart_number}}"></span>
      </div>
      <span style="font-size: {{each_graph.font_em_timestamp}}em" id="actual-timestamp-{{chart_number}}"></span>
    </div>
  </div>

  {% if each_graph.enable_pid_info %}
  <div class="row">
    <div class="col-sm-12 text-center">
    {% for each_pid in pid if each_pid.unique_id == each_graph.pid_ids %}
    (P: <span id="pid_p_value-{{chart_number}}"></span>) + (I: <span id="pid_i_value-{{chart_number}}"></span>) + (D: <span id="pid_d_value-{{chart_number}}"></span>) = Out: <span id="pid_output-{{chart_number}}"></span><span id="duty_cycle-{{chart_number}}"></span>
    {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row small-gutters" style="padding: 0.5em 1.5em 1.5em 1.5em">
    <div id="button-activate-{{chart_number}}" class="col-6">
      <input class="form-control btn btn-block btn-sm activate_pid" id="activate_pid" name="{{each_graph.pid_ids}}/activate_pid" type="button" value="{{_('Activate')}}">
    </div>
    <div id="button-deactivate-{{chart_number}}" class="col-6">
      <input class="form-control btn btn-block btn-sm deactivate_pid" id="deactivate_pid" name="{{each_graph.pid_ids}}/deactivate_pid" type="button" value="{{_('Deactivate')}}">
    </div>
    <div id="button-resume-{{chart_number}}" class="col-6">
      <input class="form-control btn btn-block btn-sm resume_pid" id="resume_pid" name="{{each_graph.pid_ids}}/resume_pid" type="button" value="{{_('Resume')}}">
    </div>
    <div id="button-pause-{{chart_number}}" class="col-3">
      <input class="form-control btn btn-block btn-sm pause_pid" id="pause_pid" name="{{each_graph.pid_ids}}/pause_pid" type="button" value="{{_('Pause')}}">
    </div>
    <div id="button-hold-{{chart_number}}" class="col-3">
      <input class="form-control btn btn-block btn-sm hold_pid" id="hold_pid" name="{{each_graph.pid_ids}}/hold_pid" type="button" value="{{_('Hold')}}">
    </div>
  </div>

</div>

<div class="collapse" id="collapseContainer{{chart_number}}" style="padding: 0.5em; width: calc(100% - 1em)">

  <form method="post" action="/dashboard">
  {{form_base.csrf_token}}
  {{form_base.dashboard_id(value=each_graph.id)}}
  <input type="hidden" name="dashboard_type" value="pid_control">

  {% if not each_graph.enable_pid_info %}
  <div class="row" style="padding-top: 0.7em">
    <div class="col-xs-12 small-gutters" style="text-align: center">
    {% for each_pid in pid if each_pid.unique_id == each_graph.pid_ids %}
    (P: <span id="pid_p_value-{{chart_number}}"></span>) + (I: <span id="pid_i_value-{{chart_number}}"></span>) + (D: <span id="pid_d_value-{{chart_number}}"></span>) = Out: <span id="pid_output-{{chart_number}}"></span><span id="duty_cycle-{{chart_number}}"></span>
    {% endfor %}
    </div>
  </div>
  {% endif %}

    <div class="form-row">
      <div class="col-6">
        <input class="form-control" id="setpoint_pid" name="setpoint_pid" type="number" value="" title="{{_('A numerical value to set the PID setpoint')}}">
      </div>
      <div class="col-6">
        <input class="form-control btn btn-default set_setpoint" id="set_setpoint" name="{{each_graph.pid_ids}}/set_setpoint_pid|" type="button" value="{{_('Set Setpoint')}}">
      </div>

      <div class="col-auto">
        {{form_base.name.label(class_='control-label')}}
        <div>
          {{form_base.name(class_='form-control', value=each_graph.name, **{'title':_('A name to distinguish this from others')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_pid.pid_id.label(class_='control-label')}}
        <div>
          <select class="form-control" id="pid_id" name="pid_id" style="width: 100%;">
          {% if pid %}
            <option value="">{{_('Select One')}}</option>
            {% for each_pid in pid -%}
            <option value="{{each_pid.unique_id}}" {% if each_graph.pid_ids == each_pid.unique_id %}selected{% endif %}>[{{each_pid.id}}] {{each_pid.name}}</option>
            {% endfor -%}
          {% else %}
            <option value="">{{_('None Available')}}</option>
          {% endif %}
          </select>
        </div>
      </div>
      <div class="col-auto">
        {{form_base.width.label(class_='control-label')}}
        <div>
          <select class="form-control" id="width" name="width">
            {% for n in range(1, 13) %}
              <option value="{{n}}"{% if n == each_graph.width %} selected{% endif %}>{{n}}/12</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-auto">
        {{form_base.height.label(class_='control-label')}}
        <div>
          {{form_base.height(class_='form-control', value=each_graph.height)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_pid.max_measure_age.label(class_='control-label')}}
        <div>
          {{form_pid.max_measure_age(class_='form-control', value=each_graph.max_measure_age)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_base.refresh_duration.label(class_='control-label')}}
        <div>
          {{form_base.refresh_duration(class_='form-control', value=each_graph.refresh_duration)}}
        </div>
      </div>
     <div class="col-auto">
        {{form_pid.font_em_value.label(class_='control-label')}}
        <div>
          {{form_pid.font_em_value(class_='form-control', value=each_graph.font_em_value)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_pid.font_em_timestamp.label(class_='control-label')}}
        <div>
          {{form_pid.font_em_timestamp(class_='form-control', value=each_graph.font_em_timestamp)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_pid.decimal_places.label(class_='control-label')}}
        <div>
          {{form_pid.decimal_places(class_='form-control', value=each_graph.decimal_places)}}
        </div>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="enable_pid_info" name="enable_pid_info" type="checkbox" value="y"{% if each_graph.enable_pid_info %} checked{% endif %}>
        {{form_pid.enable_pid_info.label(class_='control-label')}}
      </div>
    </div>

    <div class="form-row btn-group" style="padding-top: 1em;">
      <div class="form-group">
        {{form_base.modify(class_='form-control btn btn-default')}}
      </div>
      <div class="form-group">
        {{form_base.delete(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="form-group">
        {{form_base.order_up(class_='form-control btn btn-default')}}
      </div>
      <div class="form-group">
        {{form_base.order_down(class_='form-control btn btn-default')}}
      </div>
    </div>

</form>

</div>
