<div style="padding-right: 0.2em;">
  <div class="text-right align-items-center">
    <span style="padding-right: 0.5em">{{each_dashboard.name}} [{{'%02d' % each_dashboard.id}}]</span>
    <a data-toggle="collapse" href="#collapseContainer{{chart_number}}" aria-expanded="false" aria-controls="collapseContainer{{chart_number}}">
      <span class="collapse-button fa fa-2x fa-plus-square"></span>
    </a>
  </div>
</div>

<div id="container-output-{{chart_number}}" style="height: {{each_dashboard.height}}px; text-align: center">

  {%- for each_input in input -%}
    {%- if each_input.unique_id == each_dashboard.input_ids_measurements.split(',')[0] -%}
      {%- set measurement_id = each_dashboard.input_ids_measurements.split(',')[1] -%}
      {%- if measurement_id in device_measurements_dict -%}

  <span style="font-size: {{each_dashboard.font_em_value}}em" id="value-{{chart_number}}"></span> {{dict_units[device_measurements_dict[measurement_id].unit]['unit']}}
  <br/><span style="font-size: {{each_dashboard.font_em_timestamp}}em">
      {{each_input.name}} (
        {%- if not device_measurements_dict[measurement_id].single_channel -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int + 1)|string + ', '}}
        {%- endif -%}
      {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}

      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- for each_math in math -%}
    {%- if each_math.unique_id == each_dashboard.input_ids_measurements.split(',')[0] -%}
      {%- set measurement_id = each_dashboard.input_ids_measurements.split(',')[1] -%}
      {%- if measurement_id in device_measurements_dict -%}

  <span style="font-size: {{each_dashboard.font_em_value}}em" id="value-{{chart_number}}"></span> {{dict_units[device_measurements_dict[measurement_id].unit]['unit']}}
  <br/><span style="font-size: {{each_dashboard.font_em_timestamp}}em">
      {{each_math.name}} (
        {%- if not device_measurements_dict[measurement_id].single_channel -%}
          {{'CH' + (device_measurements_dict[measurement_id].channel|int + 1)|string + ', '}}
        {%- endif -%}
      {{dict_measurements[device_measurements_dict[measurement_id].measurement]['name']}}

      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- for each_pid in pid -%}
    {%- if each_pid.unique_id == each_dashboard.input_ids_measurements.split(',')[0] %}
      {{dict_measurements[each_dashboard.input_ids_measurements.split(',')[1]]['name']|safe}} ({{dict_measurements[each_dashboard.input_ids_measurements.split(',')[1]]['unit']|safe}})
    {%- endif -%}
  {%- endfor -%})
  </span>
  <br/><span style="font-size: {{each_dashboard.font_em_timestamp}}em" id="timestamp-{{chart_number}}"></span>

</div>

<div class="collapse" id="collapseContainer{{chart_number}}" style="padding: 0.5em; width: calc(100% - 1em)">

  <form method="post" action="/dashboard">
    {{form_base.csrf_token}}
    {{form_base.dashboard_id(value=each_dashboard.unique_id)}}
    <input type="hidden" name="dashboard_type" value="measurement">

    <div class="form-row">
      <div class="col-auto">
        {{form_base.name.label(class_='control-label')}}
        <div>
          {{form_base.name(class_='form-control', value=each_dashboard.name, **{'title':_('A name to distinguish this from others')})}}
        </div>
      </div>
      <div class="col-auto">
        {{form_measurement.measurement_id.label(class_='control-label')}}
        <div>
          <select class="form-control" id="measurement_id" name="measurement_id" style="width: 100%;">
          {% if choices_input or choices_math or choices_pid %}
            <option value="">{{_('Select One')}}</option>
            {% for each_choice, value in choices_input.items() -%}
            <option value="{{each_choice}}" {% if each_dashboard.input_ids_measurements == each_choice %}selected{% endif %}>{{value}}</option>
            {% endfor -%}
            {% for each_choice, value in choices_math.items() -%}
            <option value="{{each_choice}}" {% if each_dashboard.input_ids_measurements == each_choice %}selected{% endif %}>{{value}}</option>
            {% endfor -%}
            {% for each_choice, value in choices_pid.items() -%}
            <option value="{{each_choice}}" {% if each_dashboard.input_ids_measurements == each_choice %}selected{% endif %}>{{value}}</option>
            {% endfor -%}
          {% else %}
            <option value="">{{_('None Available')}}</option>
          {% endif %}
          </select>
        </div>
      </div>
      <div class="col-auto">
        {{form_base.width.label(class_='control-label')}}
        <div>
          <select class="form-control" id="width" name="width">
            {% for n in range(1, 13) %}
              <option value="{{n}}"{% if n == each_dashboard.width %} selected{% endif %}>{{n}}/12</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-auto">
        {{form_base.height.label(class_='control-label')}}
        <div>
          {{form_base.height(class_='form-control', value=each_dashboard.height)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_measurement.max_measure_age.label(class_='control-label')}}
        <div>
          {{form_measurement.max_measure_age(class_='form-control', value=each_dashboard.max_measure_age)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_base.refresh_duration.label(class_='control-label')}}
        <div>
          {{form_base.refresh_duration(class_='form-control', value=each_dashboard.refresh_duration)}}
        </div>
      </div>
     <div class="col-auto">
        {{form_measurement.font_em_value.label(class_='control-label')}}
        <div>
          {{form_measurement.font_em_value(class_='form-control', value=each_dashboard.font_em_value)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_measurement.font_em_timestamp.label(class_='control-label')}}
        <div>
          {{form_measurement.font_em_timestamp(class_='form-control', value=each_dashboard.font_em_timestamp)}}
        </div>
      </div>
      <div class="col-auto">
        {{form_measurement.decimal_places.label(class_='control-label')}}
        <div>
          {{form_measurement.decimal_places(class_='form-control', value=each_dashboard.decimal_places)}}
        </div>
      </div>
    </div>

    <div class="row small-gutters" style="padding: 1em 1em 0 0.8em;">
      <div class="col-auto">
        {{form_base.modify(class_='btn btn-primary')}}
      </div>
      <div class="col-auto">
        {{form_base.delete(class_='btn btn-primary',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
      </div>
      <div class="col-auto">
        {{form_base.order_up(class_='btn btn-primary')}}
      </div>
      <div class="col-auto">
        {{form_base.order_down(class_='btn btn-primary')}}
      </div>
    </div>
  </form>
</div>