<html>
  <head>
    <title>{{_('Error 500: Internal Server Error')}}</title>
  </head>
  <body>
    <h2>{{_('Error 500: Internal Server Error')}}</h2>

    <p>Something bad happened but it's <i>probably</i> not your fault. Letting the developers know about these issues is crucial to supporting Mycodo. However, first search through the <a href="https://github.com/kizniche/Mycodo/issues" target="_blank">github issues</a> and the <a href="https://forum.radicaldiy.com/search" target="_blank">forum</a> to see if this issue has already been reported. If it hasn't, submit a <a href="https://github.com/kizniche/Mycodo/issues/new?template=problem-bug-report.md" target="_blank">new issue on GitHub</a> with the following diagnostic information and error traceback (copy the entire traceback):</p>

    <p>
      Version: {{dict_return["version_mycodo"]}}
      <br/>Database: {{dict_return["version_alembic"]}}
      <br/>Model: {{dict_return["model"]}}
    </p>
    <p>Release:<br/>{{dict_return["lsb_release"]|safe}}</p>

    <p>Error (Full Traceback):</p>
    <pre>{{dict_return["trace"]}}</pre>
  </body>
</html>
