<html>
  <head>
    <title>Error 502: Bad Gateway Error</title>
  </head>
  <body>
    <h2>Error 502: Bad Gateway Error</h2>

    <p>Something bad happened but it's <i>probably</i> not your fault. Try refreshing the page to see if it will load. If that doesn't work, try rebooting your system, then try refreshing it again. If that still doesn't work, submit a <a href="https://github.com/kizniche/Mycodo/issues/new?template=problem-bug-report.md" target="_blank">new issue on GitHub</a> with any useful information that can help determine the cause of this issue.</p>
    <p>The last 50 lines from the Mycodo frontend web log can be viewed with the command: <pre>journalctl -u mycodoflask | tail -n 50</pre></p>
    <p>If you create an issue on GitHub, provide this excerpt of the log for diagnostic purposes.</p>
  </body>
</html>
