<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/img/favicon.png">

  <title>Mycodo - {{_('Create Admin')}} - {{host}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/signin.css" rel="stylesheet">

  <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<!-- Route: /create_admin -->
<div class="container">
  {% include 'flash_messages.html' %}

  {% if not dismiss_notification %}

  <form method="post" action="/create_admin">
    <div class="row justify-content-center">
      <div class="col-12" style="max-width: 40em;">
        <p style="padding: 1em 0; text-align: center; font-size: 2em; font-weight: bold;">
          Welcome to Mycodo
        </p>

        <p>
          This appears to be a new install, so the first thing we'll need to do is create an administrator user for Mycodo. Read and accept the agreement below to begin.</p>

        <p style="padding: 1em 0; text-align: center; font-size: 1.2em; font-weight: bold;">
          NO WARRANTY NOTICE
        </p>

        <p>
          Mycodo is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
          <br/>
          Mycodo is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
          <br/>
          You should have received a copy of the GNU General Public License along with Mycodo. If not, see &lt;<a href="http://www.gnu.org/licenses/" target="_blank">http://www.gnu.org/licenses/</a>&gt;.
          <br/>&nbsp;<br/>
          Mycodo also collects anonymous usage statistics to aid with development of new features. This is used to determine what features are used most often, when systems run poorly, and other aspects that should improve reliability, performance, and new features. You can opt-out at any time from the Admin Configuration panel, after you log in.
        </p>
        <p>
          <input type="hidden" name="form-name" value="acknowledge">
          {{form_notice.csrf_token}}
          {{form_notice.acknowledge(class_='form-control btn btn-primary btn-sm')}}
        </p>
      </div>
    </div>
  </form>

  {% else %}

  <form id='create_admin_form' class="form-signin" name="create_admin" action="/create_admin" method="POST">
    <input type="hidden" name="form-name" value="create_admin">
    <h2 class="form-signin-heading">Mycodo</h2>
    <h3 class="form-signin-heading">{{_('Create Admin')}}</h3>
    <h6 style="text-align: center;">{{_('Login information is stored locally')}}</h6>
    {{form_create_admin.hidden_tag()}}
    {{form_create_admin.username.label(class_='sr-only')}}
    {{form_create_admin.username(class_='form-control', autofocus=true)}}
    {{form_create_admin.email.label(class_='sr-only')}}
    {{form_create_admin.email(class_='form-control')}}
    {{form_create_admin.password.label(class_='sr-only')}}
    {{form_create_admin.password(class_='form-control')}}
    {{form_create_admin.password_repeat.label(class_='sr-only')}}
    {{form_create_admin.password_repeat(class_='form-control')}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{_('Create Admin')}}</button>
  </form>

  {% endif %}

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
