{% extends "layout.html" %}
{% set active_page = "settings" %}

{% block head %}
  <link href="/static/css/dashboard.css" rel="stylesheet">
  <script>
    $(document).ready(function(){
      $('input[title]').tooltip({placement:'top'});
    });
    $(document).ready(function(){
      $('select[title]').tooltip({placement:'top'});
      $('.form-dropdown').dropdown();
      $('.form-dropdown').tooltip();
    })
    $(document).ready(function() {
      $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
      });
    });
  </script>
{% endblock %} 

{% block body %}

  {% set navigation_bar_left1 = [
    (url_for('settings_routes.settings_general'), 'general', _('General'), 'globe'),
    (url_for('settings_routes.settings_users'), 'users', _('User'), 'user'),
    (url_for('settings_routes.settings_alerts'), 'alerts', _('Alerts'), 'alert')
  ] -%}

  {% set navigation_bar_left2 = [
    (url_for('settings_routes.settings_camera'), 'camera', _('Camera'), 'camera')
  ] -%}

  {% set active_settings = active_settings|default('users') -%}

  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-sm-2 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-sidebar">
        {% for href, id, caption, glyph in navigation_bar_left1 %}
          <li{% if id == active_settings %} class="active"{% endif %}><a href="{{href|e}}"><i class="glyphicon glyphicon-{{glyph}}"></i>&nbsp;&nbsp;{{caption|e}}</a></li>
        {% endfor %}
        </ul>
        <ul class="nav nav-sidebar">
        {% for href, id, caption, glyph in navigation_bar_left2 %}
          <li{% if id == active_settings %} class="active"{% endif %}><a href="{{href|e}}"><i class="glyphicon glyphicon-{{glyph}}"></i>&nbsp;&nbsp;{{caption|e}}</a></li>
        {% endfor %}
        </ul>
      </div><!--/span-->
      <div class="col-sm-9 col-md-10 main">
        <!--toggle sidebar button-->
        <p class="visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </p>

        {% include 'flash_messages.html' %}

        {% block settings %}{% endblock %}

      </div><!--/row-->
    </div>
  </div><!--/.container-->

{% endblock %}
