{% extends "layout.html" %}
{% set active_page = "settings" %}

{% block head %}
  <link href="/static/css/dashboard.css" rel="stylesheet">
  <script>
    $(document).ready(function() {
      $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
      });
    });
  </script>

{% endblock %} 

{% block body %}

  {% set active_settings = active_settings|default('users') -%}

  <div class="container sidebar-drop">
    <div class="row">
      <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in show" id="sidebar">
          <div class="list-group panel">
            <a class="list-group-item collapsed{% if active_settings == 'general' %} active{% endif %}" href="{{url_for('routes_settings.settings_general')}}"><i class="fas fa-globe"></i>&nbsp;&nbsp;{{_('General')}}</a>
            <a class="list-group-item collapsed{% if active_settings == 'users' %} active{% endif %}" href="{{url_for('routes_settings.settings_users')}}"><i class="fas fa-users"></i>&nbsp;&nbsp;{{_('Users')}}</a>
            <a class="list-group-item collapsed{% if active_settings == 'pi' %} active{% endif %}" href="{{url_for('routes_settings.settings_pi')}}"><i class="fab fa-linux"></i>&nbsp;&nbsp;{{_('Pi')}}</a>
            <a class="list-group-item collapsed{% if active_settings == 'alerts' %} active{% endif %}" href="{{url_for('routes_settings.settings_alerts')}}"><i class="fas fa-bell"></i>&nbsp;&nbsp;{{_('Alerts')}}</a>
            <a class="list-group-item collapsed{% if active_settings == 'camera' %} active{% endif %}" href="{{url_for('routes_settings.settings_camera')}}"><i class="fas fa-camera"></i>&nbsp;&nbsp;{{_('Cameras')}}</a>
          </div>
      </div>
      <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
          <a href="#sidebar" data-toggle="collapse"><i class="fas fa-bars fa-lg"></i></a>

          {% include 'flash_messages.html' %}

          {% block settings %}{% endblock %}
      </main>
    </div>
  </div>

{% endblock %}
