<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Mycodo {{mycodo_version}}">
  <meta name="application-name" content="Mycodo {{mycodo_version}}">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
  <script type="text/javascript">
    (function(document,navigator,standalone) {
      // prevents links from apps from opening in mobile safari
      // this javascript must be the first script in your <head>
      if ((standalone in navigator) && navigator[standalone]) {
        var curnode, location=document.location, stop=/^(a|html)$/i;
        document.addEventListener('click', function(e) {
          curnode=e.target;
          while (!(stop).test(curnode.nodeName)) {
            curnode=curnode.parentNode;
          }
          if(
            'href' in curnode && // is a link
            (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
            (	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
              chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
          ) {
            e.preventDefault();
            location.href = curnode.href;
          }
        },false);
      }
    })(document,window.navigator,'standalone');
  </script>

  <title>{{host}}{% block title %}{% endblock %} - Mycodo {{mycodo_version}}</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  {% if current_user.theme in dark_themes %}
    <link href="/static/css/custom-dark.css" rel="stylesheet">
  {% else %}
    <link href="/static/css/custom-light.css" rel="stylesheet">
  {% endif %}

  {% if current_user.theme != '' %}
    <link href="/static/css/bootstrap-4-themes/{{current_user.theme}}.css" rel="stylesheet">
  {% endif %}

  <link href="/static/css/custom.css" rel="stylesheet">

  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>

  <link href="/static/css/fa-svg-with-js.css" rel="stylesheet">
  <script src="/static/js/fontawesome-all.min.js"></script>

  <script>

  function check_daemon_status() {
    var url = '/daemonactive';
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          document.getElementById("daemon-status").style.color = "#F70D1A";
          $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Daemon is Not Running')}}');
        }
        else {
          if (data === 'alive') {
            document.getElementById("daemon-status").style.color = "#4E9258";
            $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Daemon is Running')}}');
          }
          else {
            document.getElementById("daemon-status").style.color = "#F70D1A";
            $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Daemon is Not Running')}}');
          }
        }
      },
      error: function() {
        document.getElementById("daemon-status").style.color = "#f78900";
        $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Cannot Check Daemon Status')}}');
      },
      cache: false
    });
  }

  function repeat_check_daemon_status() {
    setInterval(function () {
      // Update after every 30 seconds
      check_daemon_status();
    }, {% if active_page == "update" -%}5000{% else -%}60000{%- endif -%});
  }

  function get_time() {
    var url = '/time';
    $.getJSON(url,
      function(time, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          document.getElementById("time-update").innerHTML = time;
        }
        else {
          document.getElementById("time-update" + chart_number).innerHTML = '{{_('No Connection')}}';
        }
      }
    );
  }

  function repeat_get_time() {
    setInterval(function () {
      get_time();
    }, 60000);  // Refresh duration in milliseconds
  }

  $(document).ready(function(){
    check_daemon_status();
    repeat_check_daemon_status();
    get_time();
    repeat_get_time();
  });

  {% if not hide_tooltips %}
    $(document).ready(function(){
      $('input[title]').tooltip({placement:'top'});
      $('.form-dropdown').dropdown();
      $('.form-dropdown').tooltip();
    });
  {% endif %}

  function set_navbar_classes() {
    if($(window).width() > 768) {
      $('#nav-respond').addClass('fixed-top py-0');
      document.body.style.minHeight = "10rem";
      document.body.style.paddingTop = "4rem";
    }else{
      $('#nav-respond').removeClass('fixed-top py-0');
      document.body.style.minHeight = "0";
      document.body.style.paddingTop = "0";
    }
  }

  $(window).on('resize', function() {
    set_navbar_classes();
  });

  </script>

  {% block head %}{% endblock %}
  </head>
  <body>

    {% set active_page = active_page|default('') -%}
    {% set help_page = help_page|default(['', '']) -%}

    <nav id="nav-respond" class="navbar navbar-expand-md{% if current_user.theme in dark_themes %} navbar-dark bg-dark{% else %} navbar-light bg-light{% endif %}">

      <a class="navbar-brand" id="daemon-status" data-toggle="tooltip" data-placement="bottom" href="{{url_for('routes_page.page_info')}}" style="text-align: center; padding: 0 15px; font-size: 0.8em; font-weight: bold;{%- if daemon_status == "alive" -%} /*noinspection CssOverwrittenProperties*/color: #4E9258{%- else -%} /*noinspection CssOverwrittenProperties*/color: #F70D1A{%- endif -%}" title="{%- if daemon_status == "alive" -%}{{_('Daemon is Running')}}{%- else -%}{{_('Daemon is Not Running')}}{%- endif -%}">{{host}} - {{mycodo_version}}<br><span id="time-update"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item{% if active_page == 'dashboard' %} active{% endif %}">
            <a class="nav-link" href="{{url_for('routes_page.page_dashboard')}}">{{_('Dash')}}</a>
          </li>

          <li class="nav-item{% if active_page == 'live' %} active{% endif %}">
            <a class="nav-link" href="{{url_for('routes_page.page_live')}}">{{_('Live')}}</a>
          </li>

          <li class="nav-item{% if active_page == 'graph_async' %} active{% endif %}">
            <a class="nav-link" href="{{url_for('routes_page.page_graph_async')}}">{{_('Async')}}</a>
          </li>

          <li class="nav-item{% if active_page == 'camera' %} active{% endif %}">
            <a class="nav-link" href="{{url_for('routes_page.page_camera')}}">{{_('Cam')}}</a>
          </li>

          <li class="nav-item dropdown{% if active_page in ['data', 'output', 'function', 'method_list', 'timer', 'lcd', 'calibration'] %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{_('Setup')}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown00">
              <a class="dropdown-item{% if active_page == 'data' %} active{% endif %}" href="{{url_for('routes_page.page_data')}}"><i class="fas fa-database"></i> {{_('Data')}}</a>
              <a class="dropdown-item{% if active_page == 'output' %} active{% endif %}" href="{{url_for('routes_page.page_output')}}"><i class="fas fa-bolt"></i> {{_('Outputs')}}</a>
              <a class="dropdown-item{% if active_page == 'function' %} active{% endif %}" href="{{url_for('routes_page.page_function')}}"><i class="fas fa-random"></i> {{_('Functions')}}</a>
              <a class="dropdown-item{% if active_page == 'method_list' %} active{% endif %}" href="{{url_for('routes_method.method_list')}}"><i class="fas fa-chart-line"></i> {{_('Methods')}}</a>
              <a class="dropdown-item{% if active_page == 'timer' %} active{% endif %}" href="{{url_for('routes_page.page_timer')}}"><i class="fas fa-stopwatch"></i> {{_('Timers')}}</a>
              <a class="dropdown-item{% if active_page == 'lcd' %} active{% endif %}" href="{{url_for('routes_page.page_lcd')}}"><i class="fas fa-desktop"></i> {{_('LCDs')}}</a>
              <a class="dropdown-item{% if active_page == 'calibration' %} active{% endif %}" href="{{url_for('routes_calibration.calibration_select')}}"><i class="fas fa-wrench"></i> {{_('Calibration & Setup')}}</a>
            </div>
          </li>


          <li class="nav-item dropdown{% if active_page in ['export', 'usage', 'usage_reports'] %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{_('More')}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item{% if active_page == 'export' %} active{% endif %}" href="{{url_for('routes_page.page_export')}}"><i class="fas fa-save"></i> {{_('Export Import')}}</a>
              <a class="dropdown-item{% if active_page == 'usage' %} active{% endif %}" href="{{url_for('routes_page.page_usage')}}"><i class="fas fa-sliders-h"></i> {{_('Output Usage')}}</a>
              <a class="dropdown-item{% if active_page == 'usage_reports' %} active{% endif %}" href="{{url_for('routes_page.page_usage_reports')}}"><i class="fas fa-list-alt"></i> {{_('Output Usage Reports')}}</a>
            </div>
          </li>

        </ul>

        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question-circle" style="font-size: 1.5em;"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
            {% if help_page[0] != '' %}
              <a class="dropdown-item{% if active_page == 'help' %} active{% endif %}" target="_blank" href="{{url_for('routes_page.page_help')}}#{{help_page[0]}}"><i class="fas fa-book"></i> {{_('Help')}}: {{help_page[1]}}</a>
            {% endif %}
              <a class="dropdown-item{% if active_page == 'help' %} active{% endif %}" target="_blank" href="{{url_for('routes_page.page_help')}}"><i class="fas fa-book"></i> {{_('Mycodo Manual')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://github.com/kizniche/Mycodo/issues/new"><i class="fas fa-bug"></i> {{_('Submit an Issue')}}</a>
              <a class="dropdown-item" target="_blank" href="https://github.com/kizniche/Mycodo"><i class="fab fa-github"></i> {{_('Mycodo on Github')}}</a>
              <a class="dropdown-item" target="_blank" href="https://github.com/kizniche/Mycodo/blob/master/CHANGELOG.md"><i class="fab fa-github"></i> {{_('Changelog')}}</a>
            </div>
          </li>

          <li class="nav-item dropdown{% if upgrade_available %} dropdown-upgrade{% elif active_page in ['backup', 'dependencies', 'info', 'logview', 'settings', 'upgrade'] %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog" style="font-size: 1.5em;"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
              <a class="dropdown-item{% if active_page == 'settings' %} active{% endif %}" href="{{url_for('routes_settings.settings_general')}}"><i class="fas fa-wrench"></i> {{_('Configure')}}</a>
              <a class="dropdown-item{% if active_page == 'logview' %} active{% endif %}" href="{{url_for('routes_page.page_logview')}}"><i class="fas fa-book"></i> {{_('Mycodo Logs')}}</a>
              <a class="dropdown-item{% if active_page == 'info' %} active{% endif %}" href="{{url_for('routes_page.page_info')}}"><i class="fas fa-info-circle"></i> {{_('System Information')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item{% if active_page == 'dependencies' %} active{% endif %}" href="{{url_for('routes_admin.admin_dependencies_main')}}"><i class="fa fa-link"></i> {{_('Dependencies')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item{% if upgrade_available %} dropdown-item-upgrade{% elif active_page == 'upgrade' %} active{% endif %}" href="{{url_for('routes_admin.admin_upgrade')}}"><i class="fas fa-upload"></i> {{_('Upgrade')}}</a>
              <a class="dropdown-item{% if active_page == 'backup' %} active{% endif %}" href="{{url_for('routes_admin.admin_backup')}}"><i class=" fas fa-save"></i> {{_('Backup Restore')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/systemctl/daemon_restart"onclick='return confirm("Confirm restarting the backend")'><i class="fas fa-redo-alt"></i> {{_('Restart Backend')}}</a>
              <a class="dropdown-item" href="/systemctl/frontend_reload"onclick='return confirm("Confirm restarting the frontend")'><i class="fas fa-redo-alt"></i> {{_('Restart Frontend')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/systemctl/restart"onclick='return confirm("Confirm restarting the system")'><i class="fas fa-redo-alt"></i> {{_('Restart System')}}</a>
              <a class="dropdown-item" href="/systemctl/shutdown"onclick='return confirm("Confirm shutting down the system")'><i class="fas fa-power-off"></i> {{_('Shutdown System')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/remote/setup"><i class="fas fa-sort"></i> {{_('Remote Admin')}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout"><i class="fas fa-lock"></i> {{_('Logout')}}</a>
            </div>
          </li>

        </ul>

      </div>
    </nav>

    {%- block body %}{% endblock -%}

    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

    window.onload = function() {
      set_navbar_classes();
    }
    </script>
  </body>
</html>
