<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
    
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Mycodo {{mycodo_version}}">
  <meta name="application-name" content="Mycodo {{mycodo_version}}">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
  <script type="text/javascript">
    (function(document,navigator,standalone) {
      // prevents links from apps from opening in mobile safari
      // this javascript must be the first script in your <head>
      if ((standalone in navigator) && navigator[standalone]) {
        var curnode, location=document.location, stop=/^(a|html)$/i;
        document.addEventListener('click', function(e) {
          curnode=e.target;
          while (!(stop).test(curnode.nodeName)) {
            curnode=curnode.parentNode;
          }
          if(
            'href' in curnode && // is a link
            (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
            (	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
              chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
          ) {
            e.preventDefault();
            location.href = curnode.href;
          }
        },false);
      }
    })(document,window.navigator,'standalone');
  </script>

  <title>{{host}}{% block title %}{% endblock %} - Mycodo {{mycodo_version}}</title>

  <link rel="stylesheet" href="/static/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  {% if current_user.theme != '' %}
    <link href="/static/css/bootstrap-themes/bootstrap-{{current_user.theme}}.min.css" rel="stylesheet">
  {% endif %}

  {% if current_user.theme in dark_themes %}
    <link href="/static/css/custom-dark.css" rel="stylesheet">
  {% else %}
    <link href="/static/css/custom-light.css" rel="stylesheet">
  {% endif %}

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">

  <link href="/static/css/custom.css" rel="stylesheet">

  <script src="/static/js/ie-emulation-modes-warning.js"></script>

  <script src="/static/js/jquery-3.1.1.min.js"></script>
  <script>
  function check_daemon_active() {
    var url = '/daemonactive';
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          document.getElementById("daemon-status").style.color = "#F70D1A";
          $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Daemon is Not Running')}}');
        }
        else {
          if (data === 'alive') {
            document.getElementById("daemon-status").style.color = "#4E9258";
            $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Daemon is Running')}}');
          }
          else {
            document.getElementById("daemon-status").style.color = "#F70D1A";
            $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Daemon is Not Running')}}');
          }
        }
      },
      error: function() {
        document.getElementById("daemon-status").style.color = "#f78900";
        $('#daemon-status').tooltip('hide').attr('data-original-title', '{{_('Cannot Check Daemon Status')}}');
      },
      cache: false
    });
  }
  function initiate_daemon_status() {
    setInterval(function () {
      // Update after every 30 seconds
      check_daemon_active();
    }, {% if active_page == "update" -%}5000{% else -%}60000{%- endif -%});
  }
  initiate_daemon_status();
  </script>
  {% if not hide_tooltips %}
  <script>
    $(document).ready(function(){
      $('input[title]').tooltip({placement:'top'});
      $('.form-dropdown').dropdown();
      $('.form-dropdown').tooltip();
    })
    $(document).ready(function(){
      $('select[title]').tooltip({placement:'top'});
      $('.form-dropdown').dropdown();
      $('.form-dropdown').tooltip();
    })
  </script>
  {% endif %}
  {% block head %}{% endblock %}
  </head>
  <body>
    
    {% set active_page = active_page|default('') -%}
    {% set help_page = help_page|default(['', '']) -%}

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="daemon-status" data-toggle="tooltip" data-placement="bottom" href="{{url_for('page_routes.page_info')}}" style="text-align: center; padding: 0 15px; padding-top: 2px !important; font-size: 14px; font-weight: bold;{%- if daemon_status == "alive" -%} /*noinspection CssOverwrittenProperties*/color: #4E9258{%- else -%} /*noinspection CssOverwrittenProperties*/color: #F70D1A{%- endif -%}" title="{%- if daemon_status == "alive" -%}{{_('Daemon is Running')}}{%- else -%}{{_('Daemon is Not Running')}}{%- endif -%}">{{host}}<br>Mycodo {{mycodo_version}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown{% if active_page in ['live', 'graph', 'graph_async'] %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{_('Data')}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li{% if active_page == 'live' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_live')}}"><i class="glyphicon glyphicon-play icon-fw"></i> {{_('Live Measurements')}}</a></li>
                <li{% if active_page == 'graph' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_graph')}}"><i class="fa fa-area-chart icon-fw"></i> {{_('Live Graphs')}}</a></li>
                <li{% if active_page == 'graph_async' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_graph_async')}}"><i class="glyphicon glyphicon-transfer icon-fw"></i> {{_('Asynchronous Graphs')}}</a></li>
              </ul>
            </li>
            <li{% if active_page == 'input' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_input')}}">{{_('Input')}}</a></li>

            <li{% if active_page == 'output' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_output')}}">{{_('Output')}}</a></li>

            <li{% if active_page == 'pid' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_pid')}}">{{_('PID')}}</a></li>

            <li{% if active_page == 'timer' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_timer')}}">{{_('Timer')}}</a></li>

            <li class="dropdown{% if active_page in ['camera', 'export', 'lcd', 'method_list', 'calibration', 'usage', 'usage_reports'] %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{_('More')}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li{% if active_page == 'calibration' %} class="active"{% endif %}><a href="{{url_for('calibration_routes.calibration_select')}}"><i class="fa fa-balance-scale icon-fw"></i> {{_('Calibration')}}</a></li>
                <li{% if active_page == 'camera' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_camera')}}"><i class="glyphicon glyphicon-camera icon-fw"></i> {{_('Cameras')}}</a></li>
                <li{% if active_page == 'export' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_export')}}"><i class="glyphicon glyphicon-save-file icon-fw"></i> {{_('Export Measurements')}}</a></li>
                <li{% if active_page == 'lcd' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_lcd')}}"><i class="fa fa-desktop icon-fw"></i> {{_('LCDs')}}</a></li>
                <li{% if active_page == 'method_list' %} class="active"{% endif %}><a href="{{url_for('method_routes.method_list')}}"><i class="fa fa-line-chart icon-fw"></i> {{_('Methods')}}</a></li>
                <li{% if active_page == 'usage' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_usage')}}"><i class="glyphicon glyphicon-equalizer icon-fw"></i> {{_('Output Usage')}}</a></li>
                <li{% if active_page == 'usage_reports' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_usage_reports')}}"><i class="glyphicon glyphicon-list-alt icon-fw"></i> {{_('Output Usage Reports')}}</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown{% if active_page == 'help' %} active{% endif %}">
              <a style="padding-top: 10px !important;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="gi-2x glyphicon glyphicon-question-sign"></span></a>
              <ul class="dropdown-menu">
                {% if help_page[0] != '' %}
                  <li{% if active_page == 'help' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_help')}}#{{help_page[0]}}" target="_blank"><i class="fa fa-book icon-fw"></i> {{_('Help')}}: {{help_page[1]}}</a></li>
                {% endif %}
                <li{% if active_page == 'help' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_help')}}" target="_blank"><i class="fa fa-book icon-fw"></i> {{_('Mycodo Manual')}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://github.com/kizniche/Mycodo/issues/new" target="_blank"><i class="fa fa-bug icon-fw"></i> {{_('Submit an Issue')}}</a></li>
                <li><a href="https://github.com/kizniche/Mycodo" target="_blank"><i class="fa fa-github icon-fw"></i> {{_('Mycodo on Github')}}</a></li>
                <li><a href="https://github.com/kizniche/Mycodo/blob/master/CHANGELOG.md" target="_blank"><i class="fa fa-github icon-fw"></i> {{_('Changelog')}}</a></li>
              </ul>
            </li>

            <li class="dropdown{% if active_page in ['info', 'logview', 'settings'] %} active{% endif %}">
              <a style="padding-top: 10px !important;" href="#" class="dropdown-toggle" style="padding-top: 0.2em; padding-bottom: 0.2em" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="gi-2x glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu">
                <li{% if active_page == 'settings' %} class="active"{% endif %}><a href="{{url_for('settings_routes.settings_general')}}"><i class="fa fa-sliders icon-fw"></i> {{_('Configure')}}</a></li>
                <li{% if active_page == 'logview' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_logview')}}"><i class="glyphicon glyphicon-book icon-fw"></i> {{_('Mycodo Logs')}}</a></li>
                <li{% if active_page == 'info' %} class="active"{% endif %}><a href="{{url_for('page_routes.page_info')}}"><i class="glyphicon glyphicon-info-sign icon-fw"></i> {{_('System Information')}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/upgrade"><i class="glyphicon glyphicon-open"></i> {{_('Upgrade')}}</a></li>
                <li><a href="/admin/backup"><i class=" glyphicon glyphicon-floppy-saved"></i> {{_('Backup/Restore')}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/systemctl/restart"onclick='return confirm("Confirm restarting the system")'><i class="glyphicon glyphicon-repeat icon-fw"></i> {{_('Restart System')}}</a></li>
                <li><a href="/systemctl/shutdown"onclick='return confirm("Confirm shutting down the system")'><i class="glyphicon glyphicon-off icon-fw"></i> {{_('Shutdown System')}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/remote/setup"><i class="glyphicon glyphicon-sort"></i> {{_('Remote Admin')}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout"><i class="glyphicon glyphicon-lock"></i> {{_('Logout')}}</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    {%- block body %}{% endblock -%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
  </body>
</html>
