<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/img/favicon.png">

  <title>Mycodo {{_('Login')}} - {{host}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/signin.css" rel="stylesheet">

  <script src="/static/js/ie-emulation-modes-warning.js"></script>

  <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>
<body>

{% if current_user.is_authenticated %}
  <p>{{_("You're logged in already!")}}</p>
{% else %}
  <!-- Route: /login -->
  <div class="container">
  {% include 'flash_messages.html' %}

    <form id='login_form' class="form-signin" name="login" action="/login" method="POST">
      <input type="hidden" name="form-name" value="login">
      <h2 class="form-signin-heading">Mycodo {{_("Login")}}</h2>
      <h4 style="text-align: center;">{{host}}</h4>
      {{ form_login.hidden_tag() }}
      {{ form_login.username.label(class_='sr-only') }}
      {{ form_login.username(class_='form-control') }}
      {{ form_login.password.label(class_='sr-only') }}
      {{ form_login.password(class_='form-control') }}
      <div class="checkbox">
        {{ form_login.remember() }} {{_('Remember me (90 days)')}}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">{{_('Sign in')}}</button>
    </form>
  </div>

{% endif %}

<!-- Bootstrap core JavaScript
================================================== -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
