{% if each_output.interface == 'I2C' %}

<div class="col-auto">
  {{form_mod_output.i2c_location.label(class_='control-label')}}
  <div>
    {{form_mod_output.location(class_='form-control', value=each_output.location, **{'title': dict_translation['i2c_location']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.i2c_bus.label(class_='control-label')}}
  <div>
    {{form_mod_output.i2c_bus(class_='form-control', value=each_output.i2c_bus, **{'title': dict_translation['i2c_bus']['phrase']})}}
  </div>
</div>

{% elif each_output.interface == 'UART' %}

<div class="col-auto">
  {{form_mod_output.uart_location.label(class_='control-label')}}
  <div>
    {{form_mod_output.location(class_='form-control', value=each_output.location, **{'title': dict_translation['uart_location']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.baud_rate.label(class_='control-label')}}
  <div>
    {{form_mod_output.baud_rate(class_='form-control', value=each_output.baud_rate, **{'title': dict_translation['baud_rate']['phrase']})}}
  </div>
</div>

{% endif %}

<div class="col-auto">
  {{form_mod_output.flow_rate.label(class_='control-label')}}
  <div>
    {{form_mod_output.flow_rate(class_='form-control', value=each_output.flow_rate, **{'title': dict_translation['flow_rate']['phrase']})}}
  </div>
</div>
