{% if each_output.interface == 'I2C' %}

<div class="col-auto">
  <label class="control-label">{{dict_translation['i2c_location']['title']}}</label>
  <div>
    {{form_mod_output.location(class_='form-control', value=each_output.location, **{'title': dict_translation['i2c_location']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.i2c_bus.label(class_='control-label')}}
  <div>
    {{form_mod_output.i2c_bus(class_='form-control', value=each_output.i2c_bus, **{'title': dict_translation['i2c_bus']['phrase']})}}
  </div>
</div>

{% elif each_output.interface == 'UART' %}

<div class="col-auto">
  <label class="control-label">{{dict_translation['uart_location']['title']}}</label>
  <div>
    {{form_mod_output.location(class_='form-control', value=each_output.location, **{'title': dict_translation['uart_location']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.baud_rate.label(class_='control-label')}}
  <div>
    {{form_mod_output.baud_rate(class_='form-control', value=each_output.baud_rate, **{'title': dict_translation['baud_rate']['phrase']})}}
  </div>
</div>

{% endif %}

<div class="col-auto">
  {{form_mod_output.output_mode.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="output_mode" name="output_mode" data-placement="top" title="{{dict_translation['output_mode']['phrase']}}">
    {% if not each_output.output_mode %}
      <option value="" selected>{{dict_translation['select_one']['title']}}</option>
    {% endif %}
      <option value="fastest_flow_rate"{% if each_output.output_mode == 'fastest_flow_rate' %} selected{% endif %}>{{_('Fastest Flow Rate')}}</option>
      <option value="specify_flow_rate"{% if each_output.output_mode == 'specify_flow_rate' %} selected{% endif %}>{{_('Specify Flow Rate')}}</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.flow_rate.label(class_='control-label')}}
  <div>
    {{form_mod_output.flow_rate(class_='form-control', value=each_output.flow_rate, **{'title': dict_translation['flow_rate']['phrase']})}}
  </div>
</div>
