<div class="col-md-12 col-lg-6">
  {{form_mod_output.on_command.label(class_='control-label')}}
  <div>
    <textarea class="form-control" id="on_command" name="on_command" rows="5" type="text" title="{{_('Command to execute (as user mycodo) when the output is instructed to turn on')}}">{{each_output.on_command}}</textarea>
   </div>
</div>
<div class="col-md-12 col-lg-6">
  {{form_mod_output.off_command.label(class_='control-label')}}
  <div>
    <textarea class="form-control" id="off_command" name="off_command" rows="5" type="text" title="{{_('Command to execute (as user mycodo) when the output is instructed to turn off')}}">{{each_output.off_command}}</textarea>
   </div>
</div>
<div class="col-auto">
  {{form_mod_output.state_startup.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="state_startup" name="state_startup" data-placement="top" title="{{dict_translation['state_startup']['phrase']}}">
      <option value="-1"{% if each_output.state_startup == None %} selected{% endif %}>{{_('Do Nothing')}}</option>
      <option value="1"{% if each_output.state_startup == '1' %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
      <option value="0"{% if each_output.state_startup == '0 '%} selected{% endif %}>{{dict_translation['off']['title']}}</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.state_shutdown.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="state_shutdown" name="state_shutdown" data-placement="top" title="{{dict_translation['state_shutdown']['phrase']}}">
      <option value="-1"{% if each_output.state_shutdown == None %} selected{% endif %}>{{_('Do Nothing')}}</option>
      <option value="1"{% if each_output.state_shutdown == '1' %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
      <option value="0"{% if each_output.state_shutdown == '0' %} selected{% endif %}>{{dict_translation['off']['title']}}</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.trigger_functions_at_start.label(class_='control-label')}}
  <div class="input-group-text">
    <input id="trigger_functions_at_start" name="trigger_functions_at_start" type="checkbox" title="{{dict_translation['trigger_functions_at_start']['phrase']}}" value="y"{% if each_output.trigger_functions_at_start %} checked{% endif %}>
  </div>
</div>
