<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.wiringpi_pin.label(class_='control-label')}}
  <div>
    {{form_mod_output.wiringpi_pin(class_='form-control', value=each_output.pin, **{'title':_('The GPIO pin (using WiringPi numbering) connected to the 433 MHz transmitter data pin')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.protocol.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="protocol" name="protocol" data-placement="top" title="{{_('Wireless 433 MHz protocol')}}">
      <option value="1"{% if each_output.protocol == 1 %} selected{% endif %}>1</option>
      <option value="2"{% if each_output.protocol == 2 %} selected{% endif %}>2</option>
      <option value="3"{% if each_output.protocol == 3 %} selected{% endif %}>3</option>
      <option value="4"{% if each_output.protocol == 4 %} selected{% endif %}>4</option>
      <option value="5"{% if each_output.protocol == 5 %} selected{% endif %}>5</option>
    </select>
  </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.pulse_length.label(class_='control-label')}}
  <div>
    {{form_mod_output.pulse_length(class_='form-control', value=each_output.pulse_length, **{'title':_('Wireless 433 MHz pulse length')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.on_command.label(class_='control-label')}}
  <div>
    {{form_mod_output.on_command(class_='form-control', value=each_output.on_command, **{'title':_('Wireless 433 MHz On command')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.off_command.label(class_='control-label')}}
  <div>
    {{form_mod_output.off_command(class_='form-control', value=each_output.off_command, **{'title':_('Wireless 433 MHz Off command')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.on_at_start.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="on_at_start" name="on_at_start" data-placement="top" title="{{_('When Mycodo starts, set the output state')}}">
      <option value="-1"{% if each_output.on_at_start == none %} selected{% endif %}>{{_('Neither')}}</option>
      <option value="1"{% if each_output.on_at_start == 1 %} selected{% endif %}>{{_('On')}}</option>
      <option value="0"{% if each_output.on_at_start == 0 %} selected{% endif %}>{{_('Off')}}</option>
    </select>
  </div>
</div>