<div class="col-auto">
  {{form_mod_output.gpio_location.label(class_='control-label')}}
  <div>
    {{form_mod_output.gpio_location(class_='form-control', value=each_output.pin, **{'title': dict_translation['gpio_location']['phrase']})}}
   </div>
</div>
<div class="col-auto">
  {{form_mod_output.trigger.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="trigger" name="trigger" data-placement="top" title="{{dict_translation['trigger']['phrase']}}">
      <option value="1"{% if each_output.trigger %} selected{% endif %}>{{_('High')}}</option>
      <option value="0"{% if not each_output.trigger %} selected{% endif %}>{{_('Low')}}</option>
    </select>
   </div>
</div>
<div class="col-auto">
  {{form_mod_output.on_at_start.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="on_at_start" name="on_at_start" data-placement="top" title="{{dict_translation['on_at_start']['phrase']}}">
      <option value="1"{% if each_output.on_at_start %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
      <option value="0"{% if not each_output.on_at_start %} selected{% endif %}>{{dict_translation['off']['title']}}</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.trigger_functions_at_start.label(class_='control-label')}}
  <div class="input-group-text">
    <input id="trigger_functions_at_start" name="trigger_functions_at_start" type="checkbox" title="{{dict_translation['trigger_functions_at_start']['phrase']}}" value="y"{% if each_output.trigger_functions_at_start %} checked{% endif %}>
  </div>
</div>
