<div class="col-auto">
  {{form_mod_output.gpio_location.label(class_='control-label')}}
  <div>
    {{form_mod_output.gpio_location(class_='form-control', value=each_output.pin, **{'title': dict_translation['gpio_location']['phrase']})}}
   </div>
</div>
<div class="col-auto">
  {{form_mod_output.on_state.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="on_state" name="on_state" data-placement="top" title="{{dict_translation['on_state']['phrase']}}">
      <option value="1"{% if each_output.on_state %} selected{% endif %}>{{_('High')}}</option>
      <option value="0"{% if not each_output.on_state %} selected{% endif %}>{{_('Low')}}</option>
    </select>
   </div>
</div>
<div class="col-auto">
  {{form_mod_output.state_startup.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="state_startup" name="state_startup" data-placement="top" title="{{dict_translation['state_startup']['phrase']}}">
      <option value="1"{% if each_output.state_startup == '1' %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
      <option value="0"{% if each_output.state_startup == '0' %} selected{% endif %}>{{dict_translation['off']['title']}}</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.state_shutdown.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="state_shutdown" name="state_shutdown" data-placement="top" title="{{dict_translation['state_shutdown']['phrase']}}">
      <option value="1"{% if each_output.state_shutdown == '1' %} selected{% endif %}>{{dict_translation['on']['title']}}</option>
      <option value="0"{% if each_output.state_shutdown == '0' %} selected{% endif %}>{{dict_translation['off']['title']}}</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_output.trigger_functions_at_start.label(class_='control-label')}}
  <div class="input-group-text">
    <input id="trigger_functions_at_start" name="trigger_functions_at_start" type="checkbox" title="{{dict_translation['trigger_functions_at_start']['phrase']}}" value="y"{% if each_output.trigger_functions_at_start %} checked{% endif %}>
  </div>
</div>
