<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.gpio.label(class_='control-label')}}
  <div>
    {{form_mod_output.gpio(class_='form-control', value=each_output.pin, **{'title':_('The GPIO pin (using BCM numbering) connected to the output signal pin')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.trigger.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="trigger" name="trigger" data-placement="top" title="{{_('What state triggers the output to turn on? High or Low?')}}">
      <option value="1"{% if each_output.trigger %} selected{% endif %}>{{_('High')}}</option>
      <option value="0"{% if not each_output.trigger %} selected{% endif %}>{{_('Low')}}</option>
    </select>
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  {{form_mod_output.on_at_start.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="on_at_start" name="on_at_start" data-placement="top" title="{{_('When Mycodo starts, set the output state')}}">
      <option value="1"{% if each_output.on_at_start %} selected{% endif %}>{{_('On')}}</option>
      <option value="0"{% if not each_output.on_at_start %} selected{% endif %}>{{_('Off')}}</option>
    </select>
  </div>
</div>