// colors

$color-1: #f8f7ee; // light yellow
$color-2: #f05451; // red
$color-3: #29324e; // dark blue
$color-4: #ffffff; // white
$color-5: #c3c2b9; // brown - icons

// fonts 

$primary-font: 'PT Sans', sans-serif;

// tabbed buttons 

$tabs-btn-number: 6;      // number of tab navigation links

$tabs-btn-height-S: 60px;   // tab buttons height on small devices
$tabs-btn-width-S: 60px;  // tab button width on small devices

$tabs-btn-height-M: 80px;   // tab buttons height on medium devices
$tabs-btn-width-M: 80px;  // tab button width on medium devices

$tabs-btn-height-L: 60px;   // tab buttons height on large devices
$tabs-btn-width-L: auto;  // tab button width on large devices