<div class="form-group">
  {{form_camera.rotation.label(class_='control-label')}}
  <div>
    {{form_camera.rotation(class_='form-control', value=each_camera.rotation)}}
   </div>
</div>
<div class="col-auto">
  {{form_camera.url_still.label(class_='control-label')}}
  <div>
    {{form_camera.url_still(class_='form-control', value=each_camera.url_still)}}
   </div>
</div>
<div class="col-auto">
  {{form_camera.url_stream.label(class_='control-label')}}
  <div>
    {{form_camera.url_stream(class_='form-control', value=each_camera.url_stream)}}
   </div>
</div>
<div class="col-auto">
  {{form_camera.json_headers.label(class_='control-label')}}
  <div>
    {{form_camera.json_headers(class_='form-control', value=each_camera.json_headers)}}
   </div>
</div>
