<div class="col-auto">
  {{form_camera.show_preview.label(class_='control-label')}}
  <div class="input-group-text">
    <input id="show_preview" name="show_preview" type="checkbox" value="y"{% if each_camera.show_preview %} checked{% endif %}>
  </div>
</div>
<div class="col-auto">
  {{form_camera.output_format.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="output_format" name="output_format" data-placement="top" title="Set the output format.">
      <option value="jpg"{% if each_camera.output_format == "jpg" %} selected{% endif %}>JPG</option>
      <option value="png"{% if each_camera.output_format == "png" %} selected{% endif %}>PNG</option>
      <option value="rgb"{% if each_camera.output_format == "rgb" %} selected{% endif %}>RGB</option>
      <option value="bmp"{% if each_camera.output_format == "bmp" %} selected{% endif %}>BMP</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_camera.rotation.label(class_='control-label')}}
  <div>
    {{form_camera.rotation(class_='form-control', value=each_camera.rotation)}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.width.label(class_='control-label')}}
  <div>
    {{form_camera.width(class_='form-control', value=each_camera.width)}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.height.label(class_='control-label')}}
  <div>
    {{form_camera.height(class_='form-control', value=each_camera.height)}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.brightness.label(class_='control-label')}}
  <div>
    {{form_camera.brightness(class_='form-control', value=each_camera.brightness, **{'title': 'Accepted values: 0 - 100. Default: 50.'})}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.contrast.label(class_='control-label')}}
  <div>
    {{form_camera.contrast(class_='form-control', value=each_camera.contrast, **{'title': 'Accepted values: -100 - 100. Default: 0.'})}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.saturation.label(class_='control-label')}}
  <div>
    {{form_camera.saturation(class_='form-control', value=each_camera.saturation, **{'title': 'Accepted values: -100 - 100. Default: 0.'})}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.picamera_sharpness.label(class_='control-label')}}
  <div>
    {{form_camera.picamera_sharpness(class_='form-control', value=each_camera.picamera_sharpness, **{'title': 'Accepted values: -100 - 100. Default: 0.'})}}
  </div>
</div>
<div class="col-auto">
  {{form_camera.picamera_shutter_speed.label(class_='control-label')}}
  <div>
    {{form_camera.picamera_shutter_speed(class_='form-control', value=each_camera.picamera_shutter_speed, **{'title': 'Shutter speed in microseconds. Seeting to 0 disables and shutter speed will be automatically determined.'})}}
   </div>
</div>
<div class="col-auto">
  {{form_camera.gain.label(class_='control-label')}}
  <div>
    {{form_camera.gain(class_='form-control', value=each_camera.gain)}}
  </div>
</div>
<div class="col-12">
  If Auto White Balance is set to Off, AWB Gain Blue and AWB Gain Red are used. See the <a href="https://www.raspberrypi.org/documentation/raspbian/applications/camera.md">raspistill documentation</a> for more information.
</div>
<div class="col-auto">
  {{form_camera.picamera_awb.label(class_='control-label')}}
  <div>
    <select class="form-control" id="picamera_awb" name="picamera_awb">
      <option value="off"{% if 'off' == each_camera.picamera_awb %} selected{% endif %}>Off</option>
      <option value="auto"{% if 'auto' == each_camera.picamera_awb %} selected{% endif %}>Auto</option>
      <option value="sun"{% if 'sunlight' == each_camera.picamera_awb %} selected{% endif %}>Sun</option>
      <option value="cloud"{% if 'cloudy' == each_camera.picamera_awb %} selected{% endif %}>Cloud</option>
      <option value="shade"{% if 'shade' == each_camera.picamera_awb %} selected{% endif %}>Shade</option>
      <option value="tungsten"{% if 'tungsten' == each_camera.picamera_awb %} selected{% endif %}>Tungsten</option>
      <option value="fluorescent"{% if 'fluorescent' == each_camera.picamera_awb %} selected{% endif %}>Fluorescent</option>
      <option value="incandescent"{% if 'incandescent' == each_camera.picamera_awb %} selected{% endif %}>Incandescent</option>
      <option value="flash"{% if 'flash' == each_camera.picamera_awb %} selected{% endif %}>Flash</option>
      <option value="horizon"{% if 'horizon' == each_camera.picamera_awb %} selected{% endif %}>Horizon</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_camera.picamera_awb_gain_red.label(class_='control-label')}}
  <div>
    {{form_camera.picamera_awb_gain_red(class_='form-control', value=each_camera.picamera_awb_gain_red)}}
   </div>
</div>
<div class="col-auto">
  {{form_camera.picamera_awb_gain_blue.label(class_='control-label')}}
  <div>
    {{form_camera.picamera_awb_gain_blue(class_='form-control', value=each_camera.picamera_awb_gain_blue)}}
   </div>
</div>
<div class="col-12">
  {{form_camera.custom_options.label(class_='control-label')}}
  <div>
    {{form_camera.custom_options(class_='form-control', value=each_camera.custom_options)}}
   </div>
</div>
