<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    {{form_mod_average_single.average_input.label(class_='control-label')}}
    <div>
      <select class="form-control" id="average_input" name="average_input" style="width: 100%;">
      {% if choices_input or choices_math %}
        <option value=""></option>
        {% for each_choice, value in choices_input.items() -%}
        <option value="{{each_choice}}"{%- if each_math.inputs and each_choice|string in each_math.inputs %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in choices_math.items() -%}
        <option value="{{each_choice}}"{%- if each_math.inputs and each_choice|string in each_math.inputs %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>
