<div style="padding: 0.5em" class="row">
  {{_('See <a href="/help#pre-defined-measurements" target="_blank">Pre-Defined Measurements</a> for a list of Measurements that may be used. You may also create your own Measurement and Units.')}}
</div>
<div style="padding: 0.5em" class="row small-gutters">
  {% include 'pages/data_options/math_options/form_options/measure_units.html' %}
</div>
<div style="padding: 0.5em" class="row small-gutters">
  <div class="col-xs-12 col-sm-6">
    {{form_mod_average_single.average_input.label(class_='control-label')}}
    <div>
      <select class="form-control" id="average_input" name="average_input" style="width: 100%;">
      {% if choices_input or choices_math %}
        <option value=""></option>
        {% for each_choice, value in choices_input.items() -%}
        <option value="{{each_choice}}"{%- if each_math.inputs and each_choice|string in each_math.inputs %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in choices_math.items() -%}
        <option value="{{each_choice}}"{%- if each_math.inputs and each_choice|string in each_math.inputs %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>