<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    {{form_mod_average_single.average_input.label(class_='control-label')}}
    <div>
      <select class="form-control" id="average_input" name="average_input" style="width: 100%;">
      {% if choices_input or choices_math %}
        <option value=""></option>
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.inputs and each_input_form['value']|string in each_math.inputs %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.inputs and each_math_form['value']|string in each_math.inputs %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
        {% for each_output_form in choices_output -%}
        <option value="{{each_output_form['value']}}"{%- if each_math.inputs and each_output_form['value']|string in each_math.inputs %} selected{%- endif -%}>{{each_output_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>
