<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    {{form_mod_equation.equation_input.label(class_='control-label')}}
    <div>
      <select class="form-control" id="equation_input" name="equation_input" style="width: 100%;">
      {% if choices_input or choices_math %}
        <option value=""></option>
        {% for each_choice, value in choices_input.items() -%}
        <option value="{{each_choice}}"{%- if each_math.equation_input and each_choice|string in each_math.equation_input %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in choices_math.items() -%}
        <option value="{{each_choice}}"{%- if each_math.equation_input and each_choice|string in each_math.equation_input %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_equation.equation.label(class_='control-label')}}
    <div>
      {{form_mod_equation.equation(class_='form-control', value=each_math.equation, **{'title':_('An equation to store the soved value of. Let "x" represent the input value.')})}}
    </div>
  </div>
</div>
