<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    {{form_mod_equation.equation_input.label(class_='control-label')}}
    <div>
      <select class="form-control" id="equation_input" name="equation_input" style="width: 100%;">
      {% if choices_input or choices_math %}
        <option value=""></option>
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.equation_input and each_input_form['value']|string in each_math.equation_input %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.equation_input and each_math_form['value']|string in each_math.equation_input %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_equation.equation.label(class_='control-label')}}
    <div>
      {{form_mod_equation.equation(class_='form-control', value=each_math.equation, **{'title':_('An equation to store the soved value of. Let "x" represent the input value.')})}}
    </div>
  </div>
</div>
