<input type="hidden" name="measure" value="{{each_math.measure}}">
<input type="hidden" name="measure_units" value="{{each_math.measure_units}}">

<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    {{form_mod_humidity.dry_bulb_temperature.label(class_='control-label')}}
    <div>
      <select class="form-control" id="dry_bulb_temperature" name="dry_bulb_temperature">
        <option value="">{{dict_translation['select_one']['title']}}</option>
      {% if choices_input or choices_math %}
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.dry_bulb_t_id == each_input_form['value'].split(',')[0] and each_math.dry_bulb_t_measure_id == each_input_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.dry_bulb_t_id == each_math_form['value'].split(',')[0] and each_math.dry_bulb_t_measure_id == each_math_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_humidity.wet_bulb_temperature.label(class_='control-label')}}
    <div>
      <select class="form-control" id="wet_bulb_temperature" name="wet_bulb_temperature">
        <option value="">{{dict_translation['select_one']['title']}}</option>
      {% if choices_input or choices_math %}
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.wet_bulb_t_id == each_input_form['value'].split(',')[0] and each_math.wet_bulb_t_measure_id == each_input_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.wet_bulb_t_id == each_math_form['value'].split(',')[0] and each_math.wet_bulb_t_measure_id == each_math_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_humidity.pressure.label(class_='control-label')}}
    <div>
      <select class="form-control" id="pressure" name="pressure">
        <option value="">{{_('Disabled')}}</option>
      {% if choices_input or choices_math %}
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.pressure_pa_id == each_input_form['value'].split(',')[0] and each_math.pressure_pa_measure_id == each_input_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.pressure_pa_id == each_math_form['value'].split(',')[0] and each_math.pressure_pa_measure_id == each_math_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>
