<div class="row small-gutters" style="padding: 0.5em">
  {% include 'pages/data_options/math_options/form_options/inputs.html' %}
  <div class="col-auto">
    {{form_mod_redundancy.order_of_use.label(class_='control-label')}}
    <div>
      <select style="display: none" name="from[]" id="multiselect{{each_math.id + 2}}" class="" size="8" multiple="multiple"></select>
      <div>
        <select name="order_of_use" id="multiselect{{each_math.id + 2}}_to" class="form-control" size="8" multiple="multiple">
        {% for each_in_order in each_math.order_of_use.split(';') %}
          {% if choices_input or choices_math %}
            {% for each_input_form in choices_input if each_input_form['value'] == each_in_order -%}
            <option value="{{each_input_form['value']}}">{{each_input_form['item']}}</option>
            {% endfor -%}
            {% for each_math_form in choices_math if each_math_form['value'] == each_in_order -%}
            <option value="{{each_math_form['value']}}">{{each_math_form['item']}}</option>
            {% endfor -%}
            {% for each_output_form in choices_output if each_output_form['value'] == each_in_order -%}
            <option value="{{each_output_form['value']}}">{{each_output_form['item']}}</option>
            {% endfor -%}
          {% endif %}
        {% endfor %}
        </select>
        <div class="row">
          <div class="col-sm-6">
            <button type="button" id="multiselect{{each_math.id + 2}}_move_up" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-up"></i></button>
          </div>
          <div class="col-sm-6">
            <button type="button" id="multiselect{{each_math.id + 2}}_move_down" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-down"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#multiselect{{each_math.id + 2}}').multiselect({
      sort: false,
      keepRenderingSort: true
    });
  });
</script>
