{%- set all_measurements = table_device_measurements.query.filter(
                               and_(table_device_measurements.device_id == each_math.unique_id,
                                    table_device_measurements.is_enabled)).all() -%}
{%- if all_measurements %}
  {% for each_measurement in all_measurements %}

<form method="post" action="/data">
{{form_mod_math_measurement.csrf_token}}
{{form_mod_math_measurement.math_id(value=each_math.unique_id)}}
{{form_mod_math_measurement.math_measurement_id(value=each_measurement.unique_id)}}

<div class="row small-gutters align-items-end" style="padding: 0.5em">
  <div class="col-auto small-gutters">
    {{form_mod_math_measurement.math_measurement_mod(class_='form-control btn btn-sm btn-block')}}
  </div>

  {%- set conversion = table_conversion.query.filter(table_conversion.unique_id == each_measurement.conversion_id).first() -%}
  {% if conversion %}

  <div class="col-auto">
    <input class="form-control btn btn-sm btn-block" disabled="" title="UUID: {{each_measurement.unique_id}}" value="{% if each_measurement.channel != None %}CH{{each_measurement.channel + 1}} {% endif %}{{dict_units[conversion.convert_unit_to]['name']}} ({{dict_units[conversion.convert_unit_to]['unit']}})" type="text">
  </div>

  {% elif rescaled_measurement and rescaled_unit %}

  <div class="col-auto">
    <input class="form-control btn btn-sm btn-block" disabled="" title="UUID: {{each_measurement.unique_id}}" value="{% if each_measurement.channel != None %}CH{{each_measurement.channel + 1}} {% endif %}{{dict_measurements[each_measurement.rescaled_measurement]['name']}} ({{dict_units[each_measurement.rescaled_unit]['unit']}})" type="text">
  </div>

  {% elif each_measurement.measurement and each_measurement.unit %}

  <div class="col-auto">
    <input class="form-control btn btn-sm btn-block" disabled="" title="UUID: {{each_measurement.unique_id}}" value="{% if each_measurement.channel != None %}CH{{each_measurement.channel + 1}} {% endif %}{{dict_measurements[each_measurement.measurement]['name']}} ({{dict_units[each_measurement.unit]['unit']}})" type="text">
  </div>

  {% elif each_measurement.unit %}

  <div class="col-auto">
    <input class="form-control btn btn-sm btn-block" disabled="" title="UUID: {{each_measurement.unique_id}}" value="{% if each_measurement.channel != None %}CH{{each_measurement.channel + 1}} {% endif %}{{dict_units[each_measurement.unit]['name']}} ({{dict_units[each_measurement.unit]['unit']}})" type="text">
  </div>

  {% else %}

  <div class="col-auto">
    <input class="form-control btn btn-sm btn-block" disabled="" title="UUID: {{each_measurement.unique_id}}" value="CH{{each_measurement.channel + 1}}: {{_('No Measurement/Unit Selected')}}" type="text">
  </div>

  {% endif %}

  <div class="col-auto">
    {{form_mod_math_measurement.name.label(class_='control-label')}}
    <div>
      {{form_mod_math_measurement.name(class_='form-control', value=each_measurement.name, **{'title': tooltips_settings['name']['phrase']})}}
    </div>
  </div>

  {% if 'enable_measurements_select' in math_info[each_math.math_type] and math_info[each_math.math_type]['enable_measurements_select'] %}

  <div class="col-auto">
    {{form_mod_math_measurement.select_measurement_unit.label(class_='control-label')}}
    <div>
      <select class="form-control form-tooltip form-dropdown" data-placement="top" id="select_measurement_unit" name="select_measurement_unit" title="{{tooltips_settings['select_measurement_unit']['phrase']}}">
        <option value="">{{_('Select One')}}</option>
        {% for each_submit, each_display in choices_measurements_units.items() %}
        <option value="{{each_submit}}"{% if each_submit == each_measurement.measurement + ',' + each_measurement.unit %} selected{% endif %}>{{each_display}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% endif %}

  {% if 'enable_measurements_convert' in math_info[each_math.math_type] and math_info[each_math.math_type]['enable_measurements_convert'] %}

  <div class="col-auto">
    {{form_mod_math_measurement.convert_to_measurement_unit.label(class_='control-label')}}
    <div>
      <select class="form-control form-tooltip form-dropdown" id="convert_to_measurement_unit" name="convert_to_measurement_unit" data-placement="top" title="{{tooltips_settings['convert_to_measurement_unit']['phrase']}}">
        <option value="">{{_('Do Not Convert')}}
    {%- set all_conversion = table_conversion.query.filter(
                table_conversion.convert_unit_from == each_measurement.unit).all() -%}
    {%- if all_conversion -%}
      {% for each_conversion in all_conversion -%}
        <option value="{{each_conversion.unique_id}}"{% if each_conversion.unique_id == each_measurement.conversion_id %} selected{% endif %}>[{{each_conversion.id + 1}}] Convert to {{dict_units[each_conversion.convert_unit_to]['name']}} ({{dict_units[each_conversion.convert_unit_to]['unit']}})</option>
      {%- endfor -%}
    {%- endif -%}
      </select>
    </div>
  </div>

  {% endif %}

</div>

</form>

  {% endfor %}
{% endif %}
