<input type="hidden" name="measure" value="{{each_math.measure}}">
<input type="hidden" name="measure_units" value="{{each_math.measure_units}}">

<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    <label class='control-label'>{{_('Temperature')}}</label>
    <div>
      <select class="form-control" id="unique_id_1" name="unique_id_1">
        <option value="">{{dict_translation['select_one']['title']}}</option>
      {% if choices_input or choices_math %}
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.unique_id_1 == each_input_form['value'].split(',')[0] and each_math.unique_measurement_id_1 == each_input_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.unique_id_1 == each_math_form['value'].split(',')[0] and each_math.unique_measurement_id_1 == each_math_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    <label class='control-label'>{{_('Humidity')}}</label>
    <div>
      <select class="form-control" id="unique_id_2" name="unique_id_2">
        <option value="">{{dict_translation['select_one']['title']}}</option>
      {% if choices_input or choices_math %}
        {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value']}}"{%- if each_math.unique_id_2 == each_input_form['value'].split(',')[0] and each_math.unique_measurement_id_2 == each_input_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_input_form['item']}}</option>
        {% endfor -%}
        {% for each_math_form in choices_math -%}
        <option value="{{each_math_form['value']}}"{%- if each_math.unique_id_2 == each_math_form['value'].split(',')[0] and each_math.unique_measurement_id_2 == each_math_form['value'].split(',')[1] %} selected{%- endif -%}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>
