<input type="hidden" name="measure" value="{{each_math.measure}}">
<input type="hidden" name="measure_units" value="{{each_math.measure_units}}">

<div class="row small-gutters" style="padding: 0.5em">
  <div class="col-auto">
    <label class='control-label'>{{_('Temperature')}}</label>
    <div>
      <select class="form-control" id="unique_id_1" name="unique_id_1">
        <option value="">{{_('Select One')}}</option>
      {% if choices_input or choices_math %}
        {% for each_choice, value in choices_input.items() -%}
        <option value="{{each_choice}}"{%- if each_math.unique_id_1 == each_choice.split(',')[0] and each_math.unique_measurement_id_1 == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in choices_math.items() -%}
        <option value="{{each_choice}}"{%- if each_math.unique_id_1 == each_choice.split(',')[0] and each_math.unique_measurement_id_1 == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    <label class='control-label'>{{_('Humidity')}}</label>
    <div>
      <select class="form-control" id="unique_id_2" name="unique_id_2">
        <option value="">{{_('Select One')}}</option>
      {% if choices_input or choices_math %}
        {% for each_choice, value in choices_input.items() -%}
        <option value="{{each_choice}}"{%- if each_math.unique_id_2 == each_choice.split(',')[0] and each_math.unique_measurement_id_2 == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in choices_math.items() -%}
        <option value="{{each_choice}}"{%- if each_math.unique_id_2 == each_choice.split(',')[0] and each_math.unique_measurement_id_2 == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>
