<div style="padding: 0.5em" class="row">
  {{_('See <a href="/help#pre-defined-measurements" target="_blank">Pre-Defined Measurements</a> for a list of Measurements that may be used. You may also create your own Measurement and Units.')}}
</div>
<div style="padding: 0.5em" class="row small-gutters">
  {% include 'pages/data_options/math_options/form_options/measure_units.html' %}
  <div class="col-xs-6 col-sm-3 col-lg-2">
    {{form_mod_verification.max_difference.label(class_='control-label')}}
    <div>
      {{form_mod_verification.max_difference(class_='form-control', value=each_math.max_difference, **{'title':_('The maximum allowed difference between any selected measurements')})}}
    </div>
  </div>
</div>
{% include 'pages/data_options/math_options/form_options/inputs.html' %}
