{% extends "layout.html" %}
{% set active_page = "calibration" %}
{% block title %} - {{_('Calibration & Setup')}}: Atlas Scientific EC{% if input_device_name %}: {{input_device_name}}{% endif %}{% endblock %}

{% block head %}
<script>
{% if ui_stage in ['low', 'high'] -%}
function ec_status() {
  var url = '/setup_atlas_ec_measure/{{selected_input.unique_id}}';
  $.ajax(url, {
    success: function(data, responseText, jqXHR) {
      if (jqXHR.status === 204) {
        document.getElementById("ec_status").innerHTML = "{{_('Latest EC measurement')}}: {{_('Error acquiring measurement')}}";
      }
      else {
        document.getElementById("ec_status").innerHTML = "{{_('Latest EC measurement')}}: " + data;
      }
    },
    cache: false
  });
}
{% endif %}

function startTimer() {
  document.getElementById("countdown").style.display = "inline-block";
  document.getElementById("timer").style.display = "none";

  {% if ui_stage in ['low', 'high'] -%}
    document.getElementById("ec_status").innerHTML = "{{_('Latest EC measurement')}}: &lt;{{_('Please wait')}}&gt;";
    document.getElementById("ec_status").style.display = "inline-block";
    ec_status();
    var refreshIntervalId = setInterval(function () {
      // Update EC every 5 seconds
      ec_status();
    }, 5000);
  {% endif %}

  var timer = 10;  // 120 second wait for the measurements to equilibrate
  function display(notifier, str) {
    document.getElementById(notifier).innerHTML = str;
  }
  function toMinuteAndSecond(x) {
    return "{{_('Please wait for the sensor measurements to equilibrate')}}: " + x + " {{_('seconds')}}";
  }
  function setTimer(remain, actions) {
    (function countdown() {
        display("countdown", toMinuteAndSecond(remain));
        actions[remain] && actions[remain]();
        (remain -= 1) >= 0 && setTimeout(countdown, 1000);
    })();
  }
  setTimer(timer, {
    0: function () {
      {% if ui_stage in ['low', 'high'] -%}
        clearInterval(refreshIntervalId);
      {% endif %}
      document.getElementById("go_to_next_stage").style.display = "inline-block";
      document.getElementById("countdown").style.display = "none";
    }
  });
}
</script>
{% endblock %}

{% block body %}
  <!-- Route: /setup_atlas_ec -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <h2>Atlas Scientific EC Sensor{% if selected_point_calibration %} (Calibrating {{selected_point_calibration}}){% endif %}</h2>

    <h4><a href="https://www.atlas-scientific.com/_files/_datasheets/_circuit/EC_EZO_Datasheet.pdf" target="_blank">Atlas Scientific EC Manual</a></h4>

    {% if ui_stage == 'start' %}

    <p>{{_('This guide will walk you through the calibration procedure for the Atlas Scientific EC Sensor. To complete this procedure, you will need at least one standard EC solution. Instructions will be provided at each step.')}}</p>

    <p>{{_('To begin calibration, have your probe properly connected to Mycodo, select the probe from the dropdown list, and click Begin Calibration.')}}</p>

    <p style="color: red; font-weight: bold">{{_('NOTE: It is recommended to deactivate the EC Sensor Input prior to performing a calibration.')}}</p>

    <form method="post" action="/setup_atlas_ec">
    {{form_ec_calibrate.hidden_current_stage(value='start')}}
    <div class="row small-gutters">
      <div class="col-auto small-gutters">
        <select class="selectpicker" id="selected_input_id" name="selected_input_id" title="" data-original-title="Select which Atlas Scientific EC sensor to calibrate">
          {% if input %}
            {%- for each_input in input -%}
              <option value="{{each_input.unique_id}}">{{each_input.id}} ({{each_input.name}})</option>
            {%- endfor -%}
          {% else %}
            <option value="">{{dict_translation['none_available']['title']}}</option>
          {% endif %}
        </select>
      </div>
      <div class="col-auto small-gutters">
        <select class="selectpicker" id="point_calibration" name="point_calibration" title="" data-original-title="Select which EC points to calibrate">
          <option value="low">{{_('One Point (low)')}}</option>
          <option value="low,high">{{_('Two Point (low and high)')}}</option>
        </select>
      </div>
      <div class="col-auto small-gutters">
        {{form_ec_calibrate.start_calibration(class_='form-control btn-default')}}
      </div>
    </div>
    </form>

    {% elif ui_stage == 'point_enter_uS' %}

      {% if complete_with_error %}
    <p>{{dict_translation['error']['title']}}: {{_('Calibration Failed')}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>1. {{dict_translation['calibration']['title']}}{% if input_device_name %}: {{input_device_name}}{% endif %} {{selected_input.id}} ({{selected_input.name}})</p>
    <p>{{_('Enter the μS value(s) for the solution(s) you will be calibrating with, then click Continue.')}}</p>

    <form method="post" action="/setup_atlas_ec">
    {{form_ec_calibrate.hidden_current_stage(value='point_enter_uS')}}
    <div class="row small-gutters">
      {{form_ec_calibrate.hidden_input_id(value=selected_input.unique_id)}}
      {{form_ec_calibrate.hidden_selected_point_calibration(value=selected_point_calibration)}}
      <div class="col-sm-6 col-md-3 col-lg-2">
        {{form_ec_calibrate.point_low_uS.label(class_='control-label')}}
        <div>
          {{form_ec_calibrate.point_low_uS(class_='form-control')}}
        </div>
      </div>
    {% if 'high' in selected_point_calibration %}
      <div class="col-sm-6 col-md-3 col-lg-2">
        {{form_ec_calibrate.point_high_uS.label(class_='control-label')}}
        <div>
          {{form_ec_calibrate.point_high_uS(class_='form-control')}}
        </div>
      </div>
    {% endif %}
    </div>
    <div class="row small-gutters" style="padding-top: 1em">
      <div class="col-auto small-gutters">
        {{form_ec_calibrate.go_to_next_stage(class_='form-control btn btn-primary btn-sm')}}
      </div>
    </div>
    </form>

      {% endif %}

    {% elif ui_stage == 'dry' %}

      {% if complete_with_error %}
    <p>{{dict_translation['error']['title']}}: {{_('Calibration Failed')}}: {{complete_with_error}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>2. {{dict_translation['calibration']['title']}}{% if input_device_name %}: {{input_device_name}}{% endif %} {{selected_input.id}} ({{selected_input.name}})</p>
    <p>{{_('Remove the EC probe from solution so the probe is exposed to the air (dry calibration), then click Continue To Next Stage')}}.</p>

    <form method="post" action="/setup_atlas_ec">
    {{form_ec_calibrate.hidden_current_stage(value='dry')}}
    {{form_ec_calibrate.hidden_selected_point_calibration(value=selected_point_calibration)}}
    {{form_ec_calibrate.hidden_input_id(value=selected_input.unique_id)}}
    {{form_ec_calibrate.hidden_point_low_uS(value=point_low_uS)}}
    {% if 'high' in selected_point_calibration %}
    {{form_ec_calibrate.hidden_point_high_uS(value=point_high_uS)}}
    {% endif %}
    <div class="row small-gutters">

      <div id="go_to_next_stage" class="col-auto small-gutters">
        {{form_ec_calibrate.go_to_next_stage(class_='form-control btn btn-primary btn-sm')}}
      </div>
    </div>
    </form>

      {% endif %}

    {% elif ui_stage == 'low' %}

      {% if complete_with_error %}
    <p>{{dict_translation['error']['title']}}: {{_('Calibration Failed')}}: {{complete_with_error}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>3a. {{dict_translation['calibration']['title']}}{% if input_device_name %}: {{input_device_name}}{% endif %} {{selected_input.id}} ({{selected_input.name}})</p>
    <p>{{_('Rinse the EC probe with distilled water, place it into the Low EC solution, shake the probe to remove trapped air, then click Ready. Ensure the measurements have stabilized before clicking Continue to Next Stage.')}}. EC Solution: {{point_low_uS}} μS</p>

    <form method="post" action="/setup_atlas_ec">
    {{form_ec_calibrate.hidden_current_stage(value='low')}}
    {{form_ec_calibrate.hidden_selected_point_calibration(value=selected_point_calibration)}}
    {{form_ec_calibrate.hidden_point_low_uS(value=point_low_uS)}}
    {% if 'high' in selected_point_calibration %}
    {{form_ec_calibrate.hidden_point_high_uS(value=point_high_uS)}}
    {% endif %}
    <div style="display: none; padding-bottom: 1em" id="ec_status">&lt;Please wait&gt;</div>
    <div class="row small-gutters">
      {{form_ec_calibrate.hidden_input_id(value=selected_input.unique_id)}}
      <div id="proceed_stage_2">
        <div id="go_to_next_stage" style="display: none" class="col-auto small-gutters">
          {{form_ec_calibrate.go_to_next_stage(class_='form-control btn btn-primary btn-sm')}}
        </div>
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-auto small-gutters">
        <input class="form-control btn btn-primary btn-sm" id="timer" type="button" onclick="startTimer()" value="{{_('Ready')}}"/>
      </div>
    </div>
    <div id="countdown"></div>
    </form>

      {% endif %}

    {% elif ui_stage == 'high' %}

      {% if complete_with_error %}
    <p>{{dict_translation['error']['title']}}: {{_('Calibration Failed')}}</p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}

    <p>3b. {{dict_translation['calibration']['title']}}{% if input_device_name %}: {{input_device_name}}{% endif %} {{selected_input.id}} ({{selected_input.name}})</p>
    <p>{{_('Rinse the EC probe with distilled water, place it into the High EC solution, shake the probe to remove trapped air, then click Ready. Ensure the measurements have stabilized before clicking Continue to Next Stage.')}}. EC Solution: {{point_high_uS}} μS</p>

    <form method="post" action="/setup_atlas_ec">
    {{form_ec_calibrate.hidden_current_stage(value='high')}}
    {{form_ec_calibrate.hidden_selected_point_calibration(value=selected_point_calibration)}}
    {{form_ec_calibrate.hidden_point_high_uS(value=point_high_uS)}}
    <div style="display: none; padding-bottom: 1em" id="ec_status">&lt;Please wait&gt;</div>
    <div class="row small-gutters">
      {{form_ec_calibrate.hidden_input_id(value=selected_input.unique_id)}}
      <div id="proceed_stage_2">
        <div id="go_to_next_stage" style="display: none" class="col-auto small-gutters">
          {{form_ec_calibrate.go_to_last_stage(class_='form-control btn btn-primary btn-sm')}}
        </div>
      </div>
    </div>
    <div class="row small-gutters">
      <div class="col-auto small-gutters">
        <input class="form-control btn btn-primary btn-sm" id="timer" type="button" onclick="startTimer()" value="{{_('Ready')}}"/>
      </div>
    </div>
    <div id="countdown"></div>
    </form>

      {% endif %}

    {% elif ui_stage == 'complete' %}

    <p>4. {{dict_translation['calibration']['title']}}{% if input_device_name %}: {{input_device_name}}{% endif %} {{selected_input.id}} ({{selected_input.name}}): {% if complete_with_error %}{{_('Calibration Failed')}}{% else %}{{_('Calibration Succeeded')}}{% endif %}</p>

      {% if complete_with_error %}
    <p>
      {{dict_translation['error']['title']}}:
      <br>{{complete_with_error}}
    </p>
    <p>{{_('Refer to the logs for details')}}</p>
      {% else %}
    <p>{{_('Calibration Complete')}}</p>
      {% endif %}

    {% endif %}

  </div>

{% endblock %}
