.grid-stack > .grid-stack-item {

    $gridstack-columns: 20;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] {
          width: (100% / $gridstack-columns) * $i;
          min-width: (100% / $gridstack-columns) * $i;
        }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
}
