<div class="col-auto">
  <label class='control-label'>Output</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" id="unique_id_1" name="unique_id_1" data-placement="top" title="{{_('Trigger this conditional to act when this output turns on or off')}}">
      <option value="">{{_('Select One')}}</option>
      {%- for each_output in output if each_output.output_type not in ['pwm', 'command_pwm'] -%}
        <option value="{{each_output.unique_id}}"{% if each_trigger.unique_id_1 == each_output.unique_id %} selected{% endif %}>[{{'%02d' % each_output.id}}] {{each_output.name}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_trigger.output_state.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="output_state" name="output_state" data-placement="top" title="{{_('What action will trigger this conditional statement?')}}">
    <option value="">{{_('Select One')}}</option>
    <option value="equal_greater_than"{% if each_trigger.output_state == 'equal_greater_than' %} selected{% endif %}>{{_('Greater Than or Equal')}} (>=)</option>
    <option value="equal_less_than"{% if each_trigger.output_state == 'equal_less_than' %} selected{% endif %}>{{_('Less Than or Equal')}} (<=)</option>
  </select>
</div>
<div class="col-auto">
  {{form_trigger.output_duration.label(class_='control-label')}}
  <div>
   {{form_trigger.output_duration(class_='form-control', value=each_trigger.output_duration, **{'title':_('(Optional) Set this to a specific duration of time if the conditional should trigger when the output On duration equals this amount'), 'size':'3'})}}
  </div>
</div>
