{% if 'command_execute_user' in dict_options['options_enabled'] %}

<div class="col-auto">
  {{form.linux_command_user.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="linux_command_user" name="linux_command_user" data-placement="top" title="{{dict_translation['linux_command_user']['phrase']}}">
      <option value="pi"{% if each_device.linux_command_user == 'pi' %} selected{% endif %}>pi</option>
      <option value="mycodo"{% if each_device.linux_command_user == 'mycodo' %} selected{% endif %}>mycodo</option>
      <option value="root"{% if each_device.linux_command_user == 'root' %} selected{% endif %}>root</option>
    </select>
  </div>
</div>

{% endif %}
