    {% if each_option['type'] in ['float', 'integer', 'text'] %}

<div class="{% if 'col_width' in each_option %}col-{{each_option['col_width']}}{% else %}col-auto{% endif %}">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <input class="form-control" id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" title="{{each_option['phrase']}}" type="text" value="
    {%- if custom_options_values[unique_id][channel][each_option['id']] is not none -%}{{custom_options_values[unique_id][channel][each_option['id']]}}
    {%- elif 'default_value' in each_option -%}{{each_option['default_value']}}
    {%- endif -%}">
  </div>
</div>

    {% elif each_option['type'] == 'multiline_text' %}

<div class="col-12">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <textarea class="form-control" id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" rows="{{each_option['lines']}}" type="text" title="{{each_option['phrase']}}">
    {%- if custom_options_values[unique_id][channel][each_option['id']] -%}{{custom_options_values[unique_id][channel][each_option['id']]}}
    {%- elif 'default_value' in each_option -%}{{each_option['default_value']}}
    {%- endif -%}
    </textarea>
  </div>
</div>

    {% elif each_option['type'] == 'select' %}

<div class="col-auto">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" title="{{each_option['phrase']}}">
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {% for each_set in each_option['options_select'] %}
      <option value="{{each_set[0]}}"{% if each_set[0] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_set[1]}}</option>
      {% endfor %}
    </select>
  </div>
</div>

    {% elif each_option['type'] == 'select_measurement' %}

<div class="col-auto">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" title="{{each_option['phrase']}}">
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {% if 'Input' in each_option['options_select'] %}
        {% for each_input_form in choices_input -%}
      <option value="{{each_input_form['value']}}"{% if each_input_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_input_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Math' in each_option['options_select'] %}
        {% for each_math_form in choices_math -%}
      <option value="{{each_math_form['value']}}"{% if each_math_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Function' in each_option['options_select'] %}
        {% for each_function_form in choices_function -%}
      <option value="{{each_function_form['value']}}"{% if each_function_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_function_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Output' in each_option['options_select'] %}
        {% for each_output_form in choices_output -%}
      <option value="{{each_output_form['value']}}"{% if each_output_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_output_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Output_PWM' in each_option['options_select'] %}
        {%- for each_output_form in choices_output_pwm -%}
      <option value="{{each_output_form['value']}}"{% if each_output_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_output_form['item']}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'PID' in each_option['options_select'] %}
        {% for each_pid_form in choices_pid -%}
      <option value="{{each_pid_form['value']}}"{% if each_pid_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_pid_form['item']}}</option>
        {% endfor -%}
      {% endif %}
    </select>
  </div>
</div>

    {% elif each_option['type'] == 'select_multi_measurement' %}

      {% set multiselect_size = 0 %}
      {% if 'Input' in each_option['options_select'] %}
        {% set multiselect_size = multiselect_size + choices_input|length %}
      {% endif %}
      {% if 'Math' in each_option['options_select'] %}
        {% set multiselect_size = multiselect_size + choices_math|length %}
      {% endif %}
      {% if 'Function' in each_option['options_select'] %}
        {% set multiselect_size = multiselect_size + choices_function|length %}
      {% endif %}
      {% if 'Output' in each_option['options_select'] %}
        {% set multiselect_size = multiselect_size + choices_output|length %}
      {% endif %}
      {% if 'PID' in each_option['options_select'] %}
        {% set multiselect_size = multiselect_size + choices_pid|length %}
      {% endif %}
      {% if 'Tag' in each_option['options_select'] %}
        {% set multiselect_size = multiselect_size + choices_tag|length %}
      {% endif %}

<div class="col-auto">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" title="{{each_option['phrase']}}" size="{{multiselect_size}}" multiple="">
      {% if 'Input' in each_option['options_select'] %}
        {% for each_input_form in choices_input -%}
      <option value="{{each_input_form['value']}}"{% if each_input_form['value'] in custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_input_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Math' in each_option['options_select'] %}
        {% for each_math_form in choices_math -%}
      <option value="{{each_math_form['value']}}"{% if each_math_form['value'] in custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_math_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Function' in each_option['options_select'] %}
        {% for each_function_form in choices_function -%}
      <option value="{{each_function_form['value']}}"{% if each_function_form['value'] == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_function_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'Output' in each_option['options_select'] %}
        {% for each_output_form in choices_output -%}
      <option value="{{each_output_form['value']}}"{% if each_output_form['value'] in custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_output_form['item']}}</option>
        {% endfor -%}
      {% endif %}
      {% if 'PID' in each_option['options_select'] %}
        {% for each_pid_form in choices_pid -%}
      <option value="{{each_pid_form['value']}}"{% if each_pid_form['value'] in custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>{{each_pid_form['item']}}</option>
        {% endfor -%}
      {% endif %}
    </select>
  </div>
</div>

    {% elif each_option['type'] == 'select_device' %}

<div class="col-auto">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" title="{{each_option['phrase']}}">
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {% if 'Input' in each_option['options_select'] %}
        {%- for each_dev in input -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[Input {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'Output' in each_option['options_select'] %}
        {%- for each_dev in output -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[Output {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'Math' in each_option['options_select'] %}
        {%- for each_dev in math -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[Math {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'Function' in each_option['options_select'] %}
        {%- for each_dev in custom_functions -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[Function {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'PID' in each_option['options_select'] %}
        {%- for each_dev in pid -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[PID {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'Trigger' in each_option['options_select'] %}
        {%- for each_dev in trigger -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[Trigger {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
      {% if 'Camera' in each_option['options_select'] %}
        {%- for each_dev in camera -%}
      <option value="{{each_dev.unique_id}}"{% if each_dev.unique_id == custom_options_values[unique_id][channel][each_option['id']] %} selected{% endif %}>[Camera {{'%02d' % each_dev.id}}] {{each_dev.name}}</option>
        {%- endfor -%}
      {% endif %}
    </select>
  </div>
</div>


    {% elif each_option['type'] == 'select_type_measurement' %}

<div class="col-auto">
  <label class="control-label" for="{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="{{each_option['id']}}" name="{{each_option['id']}}" title="{{each_option['phrase']}}">
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {% for each_measure_name_safe, each_measure in dict_measurements.items() %}
      <option value="{{each_measure_name_safe}}"
        {%- if ('default_value' in each_option and
                each_measure_name_safe == each_option['default_value']) or
               each_measure_name_safe == custom_options_values[unique_id][each_option['id']] %}
          {{' selected'}}
        {%- endif -%}
      >{{each_measure_name_safe}}</option>
      {% endfor %}
    </select>
  </div>
</div>

    {% elif each_option['type'] == 'select_type_unit' %}

<div class="col-auto">
  <label class="control-label" for="{{each_option['id']}}">{{each_option['name']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="{{each_option['id']}}" name="{{each_option['id']}}" title="{{each_option['phrase']}}">
      <option value="">{{dict_translation['select_one']['title']}}</option>
      {% for each_unit_name_safe, each_unit in dict_units.items() %}
      <option value="{{each_unit_name_safe}}"
        {%- if ('default_value' in each_option and
                each_unit_name_safe == each_option['default_value']) or
               each_unit_name_safe == custom_options_values[unique_id][each_option['id']] %}
          {{' selected'}}
        {%- endif -%}
      >{{each_unit_name_safe}}</option>
      {% endfor %}
    </select>
  </div>
</div>

    {% elif each_option['type'] == 'bool' %}

<div class="col-auto">
  <label class="control-label" for="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}">{{each_option['name']}}</label>
  <div class="input-group-text">
    <input id="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_{{each_option['id']}}" title="{{each_option['phrase']}}" type="checkbox" value="y"{% if custom_options_values[unique_id][channel][each_option['id']] %} checked{% endif %}>
  </div>
</div>

    {% elif each_option['type'] == 'button' %}

  <div class="col-auto small-gutters">
    <input class="form-control btn btn-primary btn-sm btn-block" id="{{each_device.unique_id}}_{{channel}}_custom_button_{{each_option['id']}}" name="{{each_device.unique_id}}_{{channel}}_custom_button_{{each_option['id']}}" title="{{each_option['phrase']}}" type="submit" value="{{each_option['name']}}">
  </div>

    {% endif %}
