{% if 'sht_voltage' in dict_options['options_disabled'] or
      'sht_voltage' in dict_options['options_enabled']
  %}

  {% if dict_options['sht_voltage']|length == 1 %}

<div class="col-auto">
  {{form.sht_voltage.label(class_='control-label')}}
  <div>
    {{form.sht_voltage(class_='form-control', value=each_device.sht_voltage, **{'title': dict_translation['sht_voltage']['phrase']})}}
  </div>
</div>

  {% elif dict_options['sht_voltage']|length > 1 %}

<div class="col-auto">
  <label>{{dict_translation['sht_voltage']['title']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="sht_voltage" name="sht_voltage" title="{{dict_translation['sht_voltage']['phrase']}}">
    {% for each_value, each_name in dict_options['sht_voltage'] %}
      <option value="{{each_value}}"{% if each_device.sht_voltage == each_value %} selected{% endif %}>{{each_name}}</option>
    {% endfor %}
    </select>
  </div>
</div>

  {% endif %}

{% endif %}
