<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  <label class="control-label">I<sup>2</sup>C Address</label>
  <div>
    {{form_mod_input.location(class_='form-control', value=each_input.location)}}
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_I2C_BUS.html' %}
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
  {{form_mod_input.calibrate_sensor_measure.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="calibrate_sensor_measure" name="calibrate_sensor_measure" title="{{_('Select a sensor measurement to use to calibrate this particular sensor before conducting a measurement')}}">
      <option value="">Disabled</option>
      {% for each_sensor_list in sensor -%}
        {%- for each_measurement in each_sensor_list.measurements.split(',') -%}
          {%- if 'temperature' in each_measurement -%}
            {% if each_input.calibrate_sensor_measure is not none %}
              {% set calibrate_test_str = each_sensor_list.unique_id + ',' + each_measurement %}
            {% else %}
              {% set calibrate_test_str = none %}
            {% endif %}
      <option value="{{each_sensor_list.unique_id}},{{each_measurement}}"{% if each_input.calibrate_sensor_measure is not none and each_input.calibrate_sensor_measure == calibrate_test_str %} selected{% endif %}>{{each_sensor_list.name}} ({{each_sensor_list.id}}): {{each_measurement}}</option>
          {%- endif %}
        {%- endfor %}
      {% endfor %}
    </select>
  </div>
</div>
