<div class="col-xs-6 col-sm-4 col-lg-2">
  <label class="control-label">I2C Address</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="location" name="location" title="{{_('The I2C address to access the device')}}">
      <option value=""{% if each_input.location == '' %} selected{% endif %}></option>
      <option value="0x23"{% if each_input.location == '0x23' %} selected{% endif %}>Address 0x23</option>
      <option value="0x5C"{% if each_input.location == '0x5C' %} selected{% endif %}>Address 0x5C</option>
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_I2C_BUS.html' %}
<div class="col-xs-6 col-sm-4 col-lg-2">
  <label class="control-label">Resolution</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="resolution" name="resolution" title="{{_('The I2C address to access the device')}}">
      <option value="0"{% if each_input.resolution == 0 %} selected{% endif %}>Low</option>
      <option value="1"{% if each_input.resolution == 1 %} selected{% endif %}>High</option>
      <option value="2"{% if each_input.resolution == 2 %} selected{% endif %}>High 2</option>
    </select>
  </div>
</div>
<div class="col-xs-6 col-sm-4 col-lg-2">
  <label class="control-label">Sensitivity</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="sensitivity" name="sensitivity" title="{{_('The I2C address to access the device')}}">
      {% for n in range(31, 255) %}
        <option value="{{n}}"{% if each_input.sensitivity == n %} selected{% endif %}>{{n}}</option>
      {% endfor %}
    </select>
  </div>
</div>
