<div class="col-auto">
  <label class="control-label">Device ID</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="location" name="location" title="{{_('Select the ID of the desired DS18B20 sensor')}}">
      {% if ds18b20_sensors != [] %}
        <option value=""></option>
        {% for each_ds18b20 in ds18b20_sensors %}
          <option value="{{each_ds18b20}}"{% if each_input.location == each_ds18b20 %} selected{% endif %}>{{each_ds18b20}}</option>
        {% endfor %}
      {% else %}
        <option value="">None Detected</option>
      {% endif %}
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_CONVERT_UNIT.html' %}
