{% include 'pages/data_options/input_options/TEMPLATE_DISABLED_I2C_ADDRESS.html' %}
{% include 'pages/data_options/input_options/TEMPLATE_I2C_BUS.html' %}
<div class="col-auto">
  <label class="control-label">Temperature Resolution</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="resolution" name="resolution" title="{{_('Select a resolution')}}">
      <option value="11"{% if each_input.resolution == 11 %} selected{% endif %}>11-bit</option>
      <option value="14"{% if each_input.resolution == 14 %} selected{% endif %}>14-bit</option>
    </select>
  </div>
</div>
<div class="col-auto">
  <label class="control-label">Humidity Resolution</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="resolution_2" name="resolution_2" title="{{_('Select a resolution')}}">
      <option value="8"{% if each_input.resolution_2 == 8 %} selected{% endif %}>8-bit</option>
      <option value="11"{% if each_input.resolution_2 == 11 %} selected{% endif %}>11-bit</option>
      <option value="14"{% if each_input.resolution_2 == 14 %} selected{% endif %}>14-bit</option>
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_CONVERT_UNIT.html' %}
