<div class="col-xs-6 col-sm-4 col-md-6">
  {{form_mod_input.cmd_command.label(class_='control-label')}}
  <div>
    {{form_mod_input.cmd_command(class_='form-control', value=each_input.cmd_command, **{'title':_('The command to executed (as user mycodo) to return a measurement value')})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.cmd_measurement.label(class_='control-label')}}
  <div>
    <select class="form-control" id="cmd_measurement" name="cmd_measurement">
      <option value="">Select One</option>
      {% for each_unit, each_display in choices_measurement.items() %}
      <option value="{{each_unit}}"{% if each_unit == each_input.cmd_measurement %} selected{% endif %}>{{each_display}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.cmd_measurement_units.label(class_='control-label')}}
  <div>
    <select class="form-control" id="cmd_measurement_units" name="cmd_measurement_units">
      <option value="">Select One</option>
      {% for each_unit, each_display in choices_unit.items() %}
      <option value="{{each_unit}}"{% if each_unit == each_input.cmd_measurement_units %} selected{% endif %}>{{each_display}}</option>
      {% endfor %}
    </select>
  </div>
</div>
