<div class="col-12">
  Custom Measurements and Units can be created in <a href="/settings/measurement">Measurement Settings</a>.
</div>
<div class="col-xs-6 col-sm-4">
  {{form_mod_input.cmd_command.label(class_='control-label')}}
  <div>
    {{form_mod_input.cmd_command(class_='form-control', value=each_input.cmd_command, **{'title':_('The command to executed (as user mycodo) to return a measurement value')})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.selected_measurement_unit.label(class_='control-label')}}
  <div>
    <select class="form-control" id="selected_measurement_unit" name="selected_measurement_unit">
      <option value="">Select One</option>
      {% for each_submit, each_display in choices_measurements_units.items() %}
      <option value="{{each_submit}}"{% if each_submit == each_input.convert_to_unit %} selected{% endif %}>{{each_display}}</option>
      {% endfor %}
    </select>
  </div>
</div>
