{% include 'pages/data_options/input_options/TEMPLATE_SPI_OPTIONS.html' %}
<div class="col-auto">
  {{form_mod_input.thermocouple_type.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="thermocouple_type" name="thermocouple_type" title="{{_('The type of thermocouple connected')}}">
      <option value="K"{% if each_input.thermocouple_type == 'K' %} selected{% endif %}>K-Type Thermocouple</option>
      <option value="J"{% if each_input.thermocouple_type == 'J' %} selected{% endif %}>J-Type Thermocouple</option>
      <option value="N"{% if each_input.thermocouple_type == 'N' %} selected{% endif %}>N-Type Thermocouple</option>
      <option value="R"{% if each_input.thermocouple_type == 'R' %} selected{% endif %}>R-Type Thermocouple</option>
      <option value="S"{% if each_input.thermocouple_type == 'S' %} selected{% endif %}>S-Type Thermocouple</option>
      <option value="T"{% if each_input.thermocouple_type == 'T' %} selected{% endif %}>T-Type Thermocouple</option>
      <option value="E"{% if each_input.thermocouple_type == 'E' %} selected{% endif %}>E-Type Thermocouple</option>
      <option value="B"{% if each_input.thermocouple_type == 'B' %} selected{% endif %}>B-Type Thermocouple</option>
    </select>
  </div>
</div>
