{% include 'pages/data_options/input_options/TEMPLATE_SPI_OPTIONS.html' %}
<div class="col-auto">
  <label class="control-label">Channel</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="adc_channel" name="adc_channel" title="{{_('The channel of the analog to digital converter.')}}">
      <option value=""></option>
    {% for n in range(8) %}
      <option value="{{n}}"{% if each_input.adc_channel == n %} selected{% endif %}>Channel {{n}}</option>
    {% endfor %}
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_ADC_OPTIONS.html' %}
