<div class="col-auto">
  <label class="control-label">I<sup>2</sup>C Address</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="location" name="location" title="{{ _('The I2C address to access the device')}}">
      <option value=""></option>
      <option value="0x68"{% if each_input.location == '0x68' %} selected{% endif %}>Address 0x68</option>
      <option value="0x6A"{% if each_input.location == '0x6A' %} selected{% endif %}>Address 0x6A</option>
      <option value="0x6C"{% if each_input.location == '0x6C' %} selected{% endif %}>Address 0x6C</option>
      <option value="0x6E"{% if each_input.location == '0x6E' %} selected{% endif %}>Address 0x6E</option>
      <option value="0x6F"{% if each_input.location == '0x6F' %} selected{% endif %}>Address 0x6F</option>
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_I2C_BUS.html' %}
<div class="col-auto">
  <label class="control-label">Channel</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="adc_channel" name="adc_channel" title="{{_('The channel of the analog to digital converter')}}">
      <option value=""></option>
      {% for n in range(4) %}
      <option value="{{n}}"{% if each_input.adc_channel == n %} selected{% endif %}>Channel {{n}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="col-auto">
  <label class="control-label">Gain</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="adc_gain" name="adc_gain" title="{{_('ADC Gain (see ADC documentation)')}}">
      <option value=""></option>
      <option value="1"{% if each_input.adc_gain == 1 %} selected{% endif %}>1</option>
      <option value="2"{% if each_input.adc_gain == 2 %} selected{% endif %}>2</option>
      <option value="4"{% if each_input.adc_gain == 4 %} selected{% endif %}>4</option>
      <option value="8"{% if each_input.adc_gain == 8 %} selected{% endif %}>8</option>
    </select>
  </div>
</div>
<div class="col-auto">
  <label class="control-label">Resolution</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="adc_resolution" name="adc_resolution" title="{{_('ADC Resolution (see ADC documentation)')}}">
      <option value=""></option>
      <option value="12"{% if each_input.adc_resolution == 12 %} selected{% endif %}>12-bit</option>
      <option value="14"{% if each_input.adc_resolution == 14 %} selected{% endif %}>14-bit</option>
      <option value="16"{% if each_input.adc_resolution == 16 %} selected{% endif %}>16-bit</option>
      <option value="18"{% if each_input.adc_resolution == 18 %} selected{% endif %}>18-bit</option>
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_ADC_OPTIONS.html' %}
