{% include 'pages/data_options/input_options/TEMPLATE_GPIO_PIN.html' %}
<div class="col-auto">
  {{form_mod_input.sht_clock_pin.label(class_='control-label')}}
  <div>
    {{form_mod_input.sht_clock_pin(class_='form-control', value=each_input.sht_clock_pin, **{'title':_('The GPIO pin (BCM numbering) connected to the sensor clock pin')})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.sht_voltage.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="sht_voltage" name="sht_voltage" title="{{_('The input voltage to the sensor')}}">
      <option value="0"></option>
      <option value="2.5"{% if each_input.sht_voltage == '2.5' %} selected{% endif %}>2.5V</option>
      <option value="3.0"{% if each_input.sht_voltage == '3.0' %} selected{% endif %}>3.0V</option>
      <option value="3.5"{% if each_input.sht_voltage == '3.5' %} selected{% endif %}>3.5V</option>
      <option value="4.0"{% if each_input.sht_voltage == '4.0' %} selected{% endif %}>4.0V</option>
      <option value="5.0"{% if each_input.sht_voltage == '5.0' %} selected{% endif %}>5.0V</option>
    </select>
  </div>
</div>
{% include 'pages/data_options/input_options/TEMPLATE_CONVERT_UNIT.html' %}
