{% if 'convert_unit' in dict_inputs[each_input.device]['options_enabled'] %}

{% for each_measurement in each_input.measurements.split(',') %}
  {% if each_measurement in measurements and 'units' in measurements[each_measurement] and measurements[each_measurement]['units']|length > 1 %}
    {% set index = '{0:0>2}'.format(loop.index) %}
<div class="col-auto">
  <label class="control-label">{{measurements[each_measurement]['name']}} Unit</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="convert_unit{{index}}" name="convert_unit{{index}}" title="{{tooltips_input['convert_unit']['phrase']}}">
      {% for each_unit in measurements[each_measurement]['units'] %}
      <option value="{{each_measurement}},{{each_unit}}"{% if each_measurement+','+each_unit in each_input.convert_to_unit.split(';') %} selected{% endif %}>{{units[each_unit]['name']}}{% if units[each_unit]['unit'] %} ({{units[each_unit]['unit']}}){% endif %}</option>
      {% endfor %}
    </select>
  </div>
</div>
  {% endif %}
{% endfor %}

{% endif %}
