{% if each_input.interface == 'I2C' %}

  {% if 'i2c_location' in dict_inputs[each_input.device]['options_disabled'] or

            ('i2c_location' in dict_inputs[each_input.device]['options_enabled'] and
             not dict_inputs[each_input.device]['i2c_address_editable'] and
             dict_inputs[each_input.device]['i2c_location']|length == 1)
  %}

<div class="col-auto">
<label class="control-label">I<sup>2</sup>C Address</label>
<div>
  {{form_mod_input.location(class_='form-control', value=each_input.location, disabled=True, **{'title': tooltips_input['i2c_location']})}}
  <input type="hidden" class="form-control" id="location" name="location" value="{{each_input.location}}">
</div>
</div>

  {% elif 'i2c_location' in dict_inputs[each_input.device]['options_enabled'] %}

    {% if dict_inputs[each_input.device]['i2c_address_editable'] %}

<div class="col-auto">
<label class="control-label">I<sup>2</sup>C Address</label>
<div>
  {{form_mod_input.location(class_='form-control', value=each_input.location, **{'title': tooltips_input['i2c_location']})}}
  <input type="hidden" class="form-control" id="location" name="location" value="{{each_input.location}}">
</div>
</div>

    {% elif dict_inputs[each_input.device]['i2c_location']|length > 1 %}

<div class="col-auto">
<label>I<sup>2</sup>C Address</label>
<div>
  <select class="form-control form-tooltip form-dropdown" data-placement="top" id="location" name="location" title="{{tooltips_input['i2c_location']}}">
    <option value=""></option>
  {% for each_address in dict_inputs[each_input.device]['i2c_location'] %}
    <option value="{{each_address}}"{% if each_input.location == each_address %} selected{% endif %}>Address {{each_address}}</option>
  {% endfor %}
  </select>
</div>
</div>

    {% endif %}

  {% endif %}

{% endif %}
