{% if each_input.interface == 'UART' %}

  {% if 'uart_location' in dict_inputs[each_input.device]['options_disabled'] %}

<div class="col-auto">
  <label class="control-label">{{tooltips_settings['uart_location']['title']}}</label>
  <div>
    {{form_mod_input.uart_location(class_='form-control', value=each_input.uart_location, disabled=True)}}
  </div>
</div>

  {% endif %}

  {% if 'uart_location' in dict_inputs[each_input.device]['options_enabled']  %}

<div class="col-auto">
  <label class="control-label">{{tooltips_settings['uart_location']['title']}}</label>
  <div>
    {{form_mod_input.uart_location(class_='form-control', value=each_input.uart_location, **{'title': tooltips_settings['uart_location']['phrase']})}}
  </div>
</div>

  {% endif %}

  {% if 'pin_cs' in dict_inputs[each_input.device]['options_enabled']  %}

<div class="col-auto">
  <label class="control-label">{{tooltips_settings['pin_cs']['title']}}</label>
  <div>
    {{form_mod_input.pin_cs(class_='form-control', value=each_input.pin_cs, **{'title': tooltips_settings['pin_cs']['phrase']})}}
  </div>
</div>

  {% endif %}

  {% if 'pin_miso' in dict_inputs[each_input.device]['options_enabled']  %}

<div class="col-auto">
  <label class="control-label">{{tooltips_settings['pin_miso']['title']}}</label>
  <div>
    {{form_mod_input.pin_miso(class_='form-control', value=each_input.pin_miso, **{'title': tooltips_settings['pin_miso']['phrase']})}}
  </div>
</div>

  {% endif %}

  {% if 'pin_mosi' in dict_inputs[each_input.device]['options_enabled']  %}

<div class="col-auto">
  <label class="control-label">{{tooltips_settings['pin_mosi']['title']}}</label>
  <div>
    {{form_mod_input.pin_mosi(class_='form-control', value=each_input.pin_mosi, **{'title': tooltips_settings['pin_mosi']['phrase']})}}
  </div>
</div>

  {% endif %}

  {% if 'pin_clock' in dict_inputs[each_input.device]['options_enabled']  %}

<div class="col-auto">
  <label class="control-label">{{tooltips_settings['pin_clock']['title']}}</label>
  <div>
    {{form_mod_input.pin_clock(class_='form-control', value=each_input.pin_clock, **{'title': tooltips_settings['pin_clock']['phrase']})}}
  </div>
</div>

  {% endif %}

{% endif %}

