{% if 'adc_options' in dict_inputs[each_input.device]['options_disabled'] or
      'adc_options' in dict_inputs[each_input.device]['options_enabled']
  %}

<div class="col-12">
  Custom Measurements and Units can be created in <a href="/settings/measurement">Measurement Settings</a>.
</div>
<div class="col-auto">
  {{form_mod_input.selected_measurement_unit.label(class_='control-label')}}
  <div>
    <select class="form-control" id="selected_measurement_unit" name="selected_measurement_unit">
      <option value="">Select One</option>
      {% for each_submit, each_display in choices_measurements_units.items() %}
      <option value="{{each_submit}}"{% if each_submit == each_input.convert_to_unit %} selected{% endif %}>{{each_display}}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.adc_volts_min.label(class_='control-label')}}
  <div>
    {{form_mod_input.adc_volts_min(class_='form-control', value=each_input.adc_volts_min, **{'title': tooltips_input['adc_volts_min']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.adc_volts_max.label(class_='control-label')}}
  <div>
    {{form_mod_input.adc_volts_max(class_='form-control', value=each_input.adc_volts_max, **{'title': tooltips_input['adc_volts_max']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.adc_units_min.label(class_='control-label')}}
  <div>
    {{form_mod_input.adc_units_min(class_='form-control', value=each_input.adc_units_min, **{'title': tooltips_input['adc_units_min']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.adc_units_max.label(class_='control-label')}}
  <div>
    {{form_mod_input.adc_units_max(class_='form-control', value=each_input.adc_units_max, **{'title': tooltips_input['adc_units_max']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.adc_inverse_unit_scale.label(class_='control-label')}}
  <div class="input-group-text">
    {%- if each_input.adc_inverse_unit_scale == true -%}
      {{form_mod_input.adc_inverse_unit_scale(checked=True, class_='checkbox-big', **{'title': tooltips_input['adc_inverse_unit_scale']['phrase']})}}
    {%- else -%}
      {{form_mod_input.adc_inverse_unit_scale(class_='checkbox-big', **{'title': tooltips_input['adc_inverse_unit_scale']['phrase']})}}
    {%- endif -%}
  </div>
</div>

{% endif %}
