{% if 'thermocouple_type' in dict_inputs[each_input.device]['options_enabled'] %}

  {% if dict_inputs[each_input.device]['thermocouple_type']|length == 1 %}

<div class="col-auto">
  {{form_mod_input.thermocouple_type.label(class_='control-label')}}
  <div>
    {{form_mod_input.thermocouple_type(class_='form-control', value=each_input.thermocouple_type, **{'title': tooltips_settings['thermocouple_type']['phrase']})}}
  </div>
</div>

  {% elif dict_inputs[each_input.device]['thermocouple_type']|length > 1 %}

<div class="col-auto">
  {{form_mod_input.thermocouple_type.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="thermocouple_type" name="thermocouple_type" title="{{tooltips_settings['thermocouple_type']['phrase']}}">
    {% for each_value, each_name in dict_inputs[each_input.device]['thermocouple_type'] %}
      <option value="{{each_value}}"{% if each_input.thermocouple_type == each_value %} selected{% endif %}>{{each_name}}</option>
    {% endfor %}
    </select>
  </div>
</div>

  {% endif %}

{% endif %}
