{% if 'adc_channels' in dict_inputs[each_input.device]['options_enabled'] %}

<div class="col-auto">
  <label class="control-label">{{tooltips_input['adc_channels_selected']['title']}}</label>
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="adc_channels_selected" name="adc_channels_selected" title="{{tooltips_input['adc_channels_selected']['phrase']}}" size="{{each_input.adc_channels}}" multiple>
      {% for each_value in range(dict_inputs[each_input.device]['adc_channels']) %}
        <option value="{{each_value}}"{% if each_value|string in each_input.adc_channels_selected.split(',') %} selected{% endif %}>Channel {{each_value + 1}}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% endif %}
