{% if each_input.interface == 'GPIO' %}

  {% if 'gpio_location' in dict_inputs[each_input.device]['options_enabled'] or 'gpio_location' in dict_inputs[each_input.device]['options_disabled'] %}

<div class="col-auto">
  <label class="control-label">{{tooltips_input['gpio_location']['title']}}</label>
  <div>
    {%- if 'period' in dict_inputs[each_input.device]['gpio_location'] -%}
      {{form_mod_input.gpio_location(class_='form-control', value=each_input.gpio_location, disabled=True, **{'title': tooltips_input['gpio_location']['phrase']})}}
    {% else %}
      {{form_mod_input.gpio_location(class_='form-control', value=each_input.gpio_location, **{'title': tooltips_input['gpio_location']['phrase']})}}
    {%- endif -%}
  </div>
</div>

  {% endif %}

{% endif %}
