{% if each_input.device == 'EDGE' %}

<div class="col-auto">
  {{form_mod_input.switch_edge.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" data-placement="top" id="switch_edge" name="switch_edge" title="{{tooltips_settings['switch_edge']['phrase']}}">
      <option value="rising"{% if each_input.switch_edge == "rising" %} selected{% endif %}>Rising</option>
      <option value="falling"{% if each_input.switch_edge == "falling" %} selected{% endif %}>Falling</option>
      <option value="both"{% if each_input.switch_edge == "both" %} selected{% endif %}>Both</option>
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.switch_bouncetime.label(class_='control-label')}}
  <div>
    {{form_mod_input.switch_bouncetime(class_='form-control', value=each_input.switch_bouncetime, **{'title': tooltips_settings['switch_bouncetime']['phrase']})}}
  </div>
</div>
<div class="col-auto">
  {{form_mod_input.switch_reset_period.label(class_='control-label')}}
  <div>
    {{form_mod_input.switch_reset_period(class_='form-control', value=each_input.switch_reset_period, **{'title': tooltips_settings['switch_reset_period']['phrase']})}}
  </div>
</div>
<input id="period" name="period" type="hidden" value="10">

{% endif %}
