{% if each_input.interface == 'FTDI' %}

  {% if 'ftdi_location' in dict_inputs[each_input.device]['options_disabled'] %}

<div class="col-auto">
  {{form_mod_input.ftdi_location.label(class_='control-label')}}
  <div>
    {{form_mod_input.ftdi_location(class_='form-control', value=each_input.ftdi_location, disabled=True)}}
  </div>
</div>

  {% endif %}

  {% if 'ftdi_location' in dict_inputs[each_input.device]['options_enabled']  %}

<div class="col-auto">
  {{form_mod_input.ftdi_location.label(class_='control-label')}}
  <div>
    {{form_mod_input.ftdi_location(class_='form-control', value=each_input.ftdi_location, **{'title': dict_translation['ftdi_location']['phrase']})}}
  </div>
</div>

  {% endif %}

{% endif %}

