{% for each_channel in each_input.adc_channels_selected.split(',') %}

<form method="post" action="/data">
{{form_mod_input.csrf_token}}
{{form_mod_input.input_id(value=each_input.unique_id)}}
{{form_mod_input.adc_saving_channel(value=each_channel|int)}}

<div class="row small-gutters align-items-end" style="border-bottom: 1px solid #ddd; padding: 0.5em">
  <div class="col-auto">
    <input class="form-control btn btn-default btn-block" disabled="" title="" value="Channel {{(each_channel|int + 1)|string}}" type="text">
  </div>
  <div class="col-auto small-gutters">
    {{form_mod_input.input_mod(class_='form-control btn btn-default btn-block')}}
  </div>
  <div class="col-auto">
    {{form_mod_input.selected_measurement_unit.label(class_='control-label')}}
    <div>
      <select class="form-control" id="selected_measurement_unit" name="selected_measurement_unit">
        <option value="">{{_('Select One')}}</option>
        {% for each_submit, each_display in choices_measurements_units.items() %}
          {% if each_submit != 'voltage,volts' %}
        <option value="{{each_submit}}"
            {%- for each_chan_meas_unit in each_input.convert_to_unit.split(';') %}
              {%- if each_chan_meas_unit.split(',')|length == 3 and
                     each_channel == each_chan_meas_unit.split(',')[2] and
                     each_submit == each_chan_meas_unit.split(',')[0] + ',' + each_chan_meas_unit.split(',')[1] %} selected{% endif -%}
            {% endfor -%}
        >{{each_display}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_input.adc_volts_min.label(class_='control-label')}}
    <div>
    {% for each_channel_option in each_input.adc_volts_min.split(';') if each_channel_option.split(',')[1] == each_channel %}
      <input class="form-control" id="adc_volts_min" name="adc_volts_min" step="any" title="{{tooltips_input['adc_volts_min']['phrase']}}" type="number" value="{{each_channel_option.split(',')[0]}}">
    {% endfor %}
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_input.adc_volts_max.label(class_='control-label')}}
    <div>
    {% for each_channel_option in each_input.adc_volts_max.split(';') if each_channel_option.split(',')[1] == each_channel %}
      <input class="form-control" id="adc_volts_max" name="adc_volts_max" step="any" title="{{tooltips_input['adc_volts_max']['phrase']}}" type="number" value="{{each_channel_option.split(',')[0]}}">
    {% endfor %}
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_input.adc_units_min.label(class_='control-label')}}
    <div>
    {% for each_channel_option in each_input.adc_units_min.split(';') if each_channel_option.split(',')[1] == each_channel %}
      <input class="form-control" id="adc_units_min" name="adc_units_min" step="any" title="{{tooltips_input['adc_units_min']['phrase']}}" type="number" value="{{each_channel_option.split(',')[0]}}">
    {% endfor %}
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_input.adc_units_max.label(class_='control-label')}}
    <div>
    {% for each_channel_option in each_input.adc_units_max.split(';') if each_channel_option.split(',')[1] == each_channel %}
      <input class="form-control" id="adc_units_max" name="adc_units_max" step="any" title="{{tooltips_input['adc_units_max']['phrase']}}" type="number" value="{{each_channel_option.split(',')[0]}}">
    {% endfor %}
    </div>
  </div>
  <div class="col-auto">
    {{form_mod_input.adc_inverse_unit_scale.label(class_='control-label')}}
    <div class="input-group-text">
  {% for each_channel_option in each_input.adc_inverse_unit_scale.split(';') if each_channel_option.split(',')[1] == each_channel %}
    {%- if each_channel_option.split(',')[0] == 'True' -%}
      {{form_mod_input.adc_inverse_unit_scale(checked=True, class_='checkbox-big', **{'title': tooltips_input['adc_inverse_unit_scale']['phrase']})}}
    {%- else -%}
      {{form_mod_input.adc_inverse_unit_scale(class_='checkbox-big', **{'title': tooltips_input['adc_inverse_unit_scale']['phrase']})}}
    {%- endif -%}
  {% endfor %}
    </div>
  </div>
</div>

</form>

{% endfor %}
