{% if 'cmd_command' in dict_inputs[each_input.device]['options_disabled'] or
      'cmd_command' in dict_inputs[each_input.device]['options_enabled']
  %}

  {% if each_input.device == 'PythonCode' %}

<div class="col-12">
  {{form_mod_input.cmd_command.label(class_='control-label')}}
  <div>
    <textarea class="form-control" id="cmd_command" name="cmd_command" rows="8" type="text" title="{{_('The Python 3 code to execute')}}">{{each_input.cmd_command}}</textarea>
  </div>
</div>

  {% else %}

<div class="col-12">
  {{form_mod_input.cmd_command.label(class_='control-label')}}
  <div>
  {%- if 'cmd_command' in dict_inputs[each_input.device]['options_disabled'] -%}
    {{form_mod_input.cmd_command(class_='form-control', value=each_input.cmd_command, disabled=True, **{'title': dict_translation['cmd_command']['phrase']})}}
  {% else %}
    {{form_mod_input.cmd_command(class_='form-control', value=each_input.cmd_command, **{'title': dict_translation['cmd_command']['phrase']})}}
  {%- endif -%}
  </div>
</div>

  {% endif %}

{% endif %}
