[Unit]
Description=Unicorn Daemon for Mycodo flask frontend (web UI)
After=network.target

[Service]
User=mycodo
Group=mycodo
WorkingDirectory=/var/www/mycodo
ExecStart=/var/www/mycodo/env/bin/gunicorn --workers 1 --bind unix:/var/www/mycodo/mycodoflask_socket.sock mycodoflask_wsgi:app

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target
