[Unit]
Description=pigpiod service (high latency)
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/bin/pigpiod -s 5
ExecStop=/usr/bin/killall pigpiod
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=pigpiod.service
