# Mycodo base
alembic==1.11.2
argparse==1.4.0
bcrypt==3.2.2
distro==1.8.0
email_validator==1.3.1
filelock==3.12.2
Flask==2.3.2
Flask_Accept==0.0.6
Flask_Babel==3.1.0
Flask_Compress==1.13
Flask_Limiter==3.3.1
Flask_Login==0.6.2
Flask_Marshmallow==0.15.0
#Flask_Profiler==1.8.1  # only use when profiling (uncomment and enable in config.py)
Flask_RESTX==1.1.0  # Flask-Restx 1.0.6 or SQLAlchemy 2.0.3 causes some timeout issue. Investigate later.
Flask_Session==0.5.0
Flask_SQLAlchemy==3.0.5
Flask_Talisman==1.1.0
Flask_WTF==1.1.1
geocoder==1.38.1
gunicorn==21.2.0
importlib_metadata==6.8.0
influxdb==5.3.1  # Only used for stats. TODO: update to influxdb_client and remove
influxdb_client[ciso]==1.37.0
marshmallow_sqlalchemy==0.29.0
pyro5==5.14
pyserial==3.5
python-dateutil==2.8.2
requests==2.31.0
setuptools==68.0.0
SQLAlchemy==2.0.19
Werkzeug==2.3.6
WTForms==3.0.1
