testfixtures
mock
pytest == 3.2.3
factory_boy == 2.8.1
future
alembic == 0.9.6
argparse == 1.4.0
bcrypt == 3.1.4
daemonize == 2.4.7
fasteners == 0.14.1
Flask == 0.12.2
Flask_Babel == 0.11.2
Flask_InfluxDB == 0.1
Flask_Limiter == 1.0.0
Flask_Login == 0.4.0
Flask_SQLAlchemy == 2.2
Flask_SSLify
Flask_WTF == 0.14.2
geocoder == 1.32.1
imutils == 0.4.3
influxdb == 4.1.1
pi_switch == 0.4.0
pyserial == 3.4
python-dateutil
RPi.GPIO
rpyc == 3.4.4
SQLAlchemy == 1.2.0b3
WTForms == 2.1

# Devices/sensors
-e git://github.com/maxlklaxl/python-tsl2591.git#egg=tsl2591
-e git://github.com/adafruit/Adafruit_Python_BME280.git#egg=adafruit-bme280
picamera == 1.13
sht_sensor == 17.5.5
tentacle_pi == 0.6.2
w1thermsensor == 1.0.4
Adafruit_ADS1x15
Adafruit_BMP
Adafruit_GPIO
Adafruit_TMP
MCP342x
