{% if each_cond_action.do_action == 'output' %}

<div class="col-auto">
  {{form_conditional_actions.do_relay_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_relay_id" name="do_relay_id" data-placement="top" title="{{_('What relay to manipulate')}}">
      <option value=""></option>
      {%- for each_output in output if each_output.relay_type != 'pwm' -%}
        <option value="{{each_output.id}}"{% if each_cond_action.do_relay_id == each_output.id %} selected{% endif %}>[{{each_output.id}}] {{each_output.name}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_conditional_actions.do_relay_state.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_relay_state" name="do_relay_state" data-placement="top" title="{{_('Turn the relay on or off')}}">
    <option value=""></option>
    <option value="on"{% if each_cond_action.do_relay_state == 'on' %} selected{% endif %}>{{_('On')}}</option>
    <option value="off"{% if each_cond_action.do_relay_state == 'off' %} selected{% endif %}>{{_('Off')}}</option>
  </select>
</div>
<div class="col-auto">
  {{form_conditional_actions.do_relay_duration.label(class_='control-label')}}
  <div>
    {{form_conditional_actions.do_relay_duration(class_='form-control', value=each_cond_action.do_relay_duration, **{'title':_('How long to turn the relay on (optional)')})}}
  </div>
</div>

{% elif each_cond_action.do_action == 'output_pwm' %}

<div class="col-auto">
  {{form_conditional_actions.do_relay_id.label(class_='control-label')}}
  <div>
    <select class="form-control form-tooltip form-dropdown" id="do_relay_id" name="do_relay_id" data-placement="top" title="{{_('What relay to manipulate')}}">
      <option value=""></option>
      {%- for each_output in output if each_output.relay_type == 'pwm' -%}
        <option value="{{each_output.id}}"{% if each_cond_action.do_relay_id == each_output.id %} selected{% endif %}>[{{each_output.id}}] {{each_output.name}}</option>
      {%- endfor -%}
    </select>
  </div>
</div>
<div class="col-auto">
  {{form_conditional_actions.do_relay_pwm.label(class_='control-label')}}
  <div>
    {{form_conditional_actions.do_relay_pwm(class_='form-control', value=each_cond_action.do_relay_pwm, **{'title':_('What duty cycle to set the output')})}}
  </div>
</div>

{% elif each_cond_action.do_action == 'email' %}

<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {%- for each_user in user -%}
      <option value="{{each_user.email}}"{% if each_cond_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action in ['flash_lcd',
                                       'flash_lcd_on',
                                       'flash_lcd_off',
                                       'lcd_backlight_off',
                                       'lcd_backlight_on'] %}

<div class="col-auto">
  {{form_conditional_actions.do_lcd_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_lcd_id" name="do_lcd_id" data-placement="top" title="{{_('LCD to flash')}}">
    <option value=""></option>
    {%- for each_lcd in lcd -%}
      <option value="{{each_lcd.id}}"{% if each_cond_action.do_lcd_id == each_lcd.id %} selected{% endif %}>[{{each_lcd.id}}] {{each_lcd.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action == 'photo' %}

<div class="col-auto">
  {{form_conditional_actions.do_camera_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_camera_id" name="do_camera_id" data-placement="top" title="{{_('Camera to capture with')}}">
    <option value=""></option>
    {%- for each_camera in camera -%}
      <option value="{{each_camera.id}}"{% if each_cond_action.do_camera_id == each_camera.id %} selected{% endif %}>[{{each_camera.id}}] {{each_camera.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action == 'photo_email' %}

<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {%- for each_user in user -%}
      <option value="{{each_user.email}}"{% if each_cond_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action == 'video' %}

<div class="col-auto">
  {{form_conditional_actions.do_camera_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_camera_id" name="do_camera_id" data-placement="top" title="{{_('Camera to capture with')}}">
    <option value=""></option>
    {%- for each_camera in camera -%}
      <option value="{{each_camera.id}}"{% if each_cond_action.do_camera_id == each_camera.id %} selected{% endif %}>[{{each_camera.id}}] {{each_camera.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  {{form_conditional_actions.do_camera_duration.label(class_='control-label')}}
  {{form_conditional_actions.do_camera_duration(class_='form-control', value=each_cond_action.do_camera_duration, **{'title':_('Duration to record video (sec)')})}}
</div>

{% elif each_cond_action.do_action == 'video_email' %}

<div class="col-auto">
  <label class='control-label'>{{_('Email Address')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Email address to notify')}}">
    <option value=""></option>
    {%- for each_user in user -%}
      <option value="{{each_user.email}}"{% if each_cond_action.do_action_string == each_user.email %} selected{% endif %}>{{each_user.email}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action == 'command' %}

<div class="col-auto">
  <label class='control-label'>{{_('Command')}}</label>
  {{form_conditional_actions.do_action_string(class_='form-control', value=each_cond_action.do_action_string, **{'title':_('Command to execute (as user "mycodo")')})}}
</div>

{% elif each_cond_action.do_action in ['activate_controller',
                                       'deactivate_controller'] %}

<div class="col-auto">
  {{form_conditional_actions.do_unique_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_unique_id" name="do_unique_id" data-placement="top" title="{{_('Controller to affect')}}">
    <option value=""></option>
    {%- for each_controller in controllers -%}
      <option value="{{each_controller[1]}}"{% if each_cond_action.do_unique_id == each_controller[1] %} selected{% endif %}>[{{each_controller[0]}}] {{each_controller[2]}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action in ['activate_pid',
                                       'deactivate_pid',
                                       'pause_pid',
                                       'resume_pid'] %}

<div class="col-auto">
  {{form_conditional_actions.do_pid_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_pid_id" name="do_pid_id" data-placement="top" title="{{_('PID to affect')}}">
    <option value=""></option>
    {%- for each_pid in pid -%}
      <option value="{{each_pid.id}}"{% if each_cond_action.do_pid_id == each_pid.id %} selected{% endif %}>[{{each_pid.id}}] {{each_pid.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action == 'setpoint_pid' %}

<div class="col-auto">
  {{form_conditional_actions.do_pid_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_pid_id" name="do_pid_id" data-placement="top" title="{{_('PID to affect')}}">
    <option value=""></option>
    {%- for each_pid in pid -%}
      <option value="{{each_pid.id}}"{% if each_cond_action.do_pid_id == each_pid.id %} selected{% endif %}>[{{each_pid.id}}] {{each_pid.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Setpoint')}}</label>
  {{form_conditional_actions.do_action_string(class_='form-control', value=each_cond_action.do_action_string, **{'title':_('The value to set the PID setpoint')})}}
</div>

{% elif each_cond_action.do_action == 'method_pid' %}

<div class="col-auto">
  {{form_conditional_actions.do_pid_id.label(class_='control-label')}}
  <select class="form-control form-tooltip form-dropdown" id="do_pid_id" name="do_pid_id" data-placement="top" title="{{_('PID to affect')}}">
    <option value=""></option>
    {%- for each_pid in pid -%}
      <option value="{{each_pid.id}}"{% if each_cond_action.do_pid_id == each_pid.id %} selected{% endif %}>[{{each_pid.id}}] {{each_pid.name}}</option>
    {%- endfor -%}
  </select>
</div>
<div class="col-auto">
  <label class='control-label'>{{_('Method')}}</label>
  <select class="form-control form-tooltip form-dropdown" id="do_action_string" name="do_action_string" data-placement="top" title="{{_('Method to set the PID to use')}}">
    <option value="0">Disable Method</option>
    {%- for each_method in method -%}
      <option value="{{each_method.id}}"{% if each_cond_action.do_action_string|int == each_method.id %} selected{% endif %}>[{{each_method.id}}] {{each_method.name}}</option>
    {%- endfor -%}
  </select>
</div>

{% elif each_cond_action.do_action in ['activate_timer',
                                       'deactivate_timer'] %}

<div class="col-auto">
  <label class="control-label">Then Timer</label>
  <select class="form-control form-tooltip form-dropdown" id="do_pid_id" name="do_pid_id" data-placement="top" title="{{_('Timer to affect')}}">
    <option value=""></option>
    {%- for each_timer in timer -%}
      <option value="{{each_timer.id}}"{% if each_cond_action.do_pid_id == each_timer.id %} selected{% endif %}>[{{each_timer.id}}] {{each_timer.name}}</option>
    {%- endfor -%}
  </select>
</div>


{% endif %}
