<div class="row small-gutters {% if each_cond.is_activated -%}active-background
                              {% else -%}inactive-background
                              {% endif -%}" style="border-bottom: 2px solid #ddd; padding-bottom: 0.2em">

  <div class="col-xs-11 col-md-5 col-lg-4">
    {{form_conditional.if_sensor_measurement.label(class_='control-label')}}
    <div>
      <select class="form-control" id="if_sensor_measurement" name="if_sensor_measurement" style="width: 100%;" title="" data-original-title="{{_('Select the measurement to use as the input')}}">
          <option value="">{{_('Select One')}}</option>
        {% for each_choice, value in input_choices.items() -%}
          <option value="{{each_choice}}"{% if each_cond.if_sensor_measurement == each_choice %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in math_choices.items() -%}
          <option value="{{each_choice}}"{% if each_cond.if_sensor_measurement == each_choice %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in pid_choices.items() -%}
          <option value="{{each_choice}}"{% if each_cond.if_sensor_measurement == each_choice %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        </select>
    </div>
  </div>
  <div class="col-xs-1 col-md-1 text-center">
    <label class='control-label' style="padding-top: 1em"></label>
    <div>
      <label class='control-label'>{{_('Is')}}</label>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
    {{form_conditional.if_sensor_direction.label(class_='control-label')}}
    <div>
      <select class="form-control form-tooltip form-dropdown" data-placement="top" id="if_sensor_direction" name="if_sensor_direction" title="{{_('The conditional is true when the measured condition is greater than or less than the set value, or the measurement timestamp is greater than the value of seconds')}}">
        <option value="">{{_('Select One')}}</option>
        <option value="above"{% if each_cond.if_sensor_direction == 'above' %} selected{% endif %}>{{_('Greater Than')}}</option>
        <option value="below"{% if each_cond.if_sensor_direction == 'below' %} selected{% endif %}>{{_('Less Than')}}</option>
        <option value="none_found"{% if each_cond.if_sensor_direction == 'none_found' %} selected{% endif %}>{{_('None Found Last x Seconds')}}</option>
      </select>
    </div>
  </div>
  <div class="col-xs-5 col-sm-4 col-md-2 col-lg-1">
    {{form_conditional.if_sensor_setpoint.label(class_='control-label')}}
    <div>
      {{form_conditional.if_sensor_setpoint(class_='form-control', value=each_cond.if_sensor_setpoint, **{'title':_('What value to check the measurement against?'), 'size':'3'})}}
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
    {{form_conditional.if_sensor_period.label(class_='control-label')}}
    <div>
      {{form_conditional.if_sensor_period(class_='form-control', value=each_cond.if_sensor_period, **{'title':_('The duration (seconds) between checking whether the conditional is true'), 'size':'3'})}}
    </div>
  </div>
</div>
