<div class="row small-gutters {% if each_cond.is_activated -%}active-background
                              {% else -%}inactive-background
                              {% endif -%}" style="border-bottom: 2px solid #ddd; padding-bottom: 0.2em">

{% if each_cond.measurement and each_cond.measurement.split(',')[1] == 'edge' %}

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
    <label class='control-label' style="padding-top: 1em"></label>
    <div>
      <input id="if_sensor_edge_select_0" name="if_sensor_edge_select" type="radio" value="edge" {% if each_cond.if_sensor_edge_select == 'edge' %} checked{% endif %}>
    </div>
  </div>
  <div class="col-xs-10 col-sm-3 col-md-3 col-lg-2">
    <label class='control-label'>{{_('Detection Direction')}}</label>
    <div>
      <select class="form-control form-tooltip form-dropdown" data-placement="top" id="if_sensor_edge_detected" name="if_sensor_edge_detected" title="{{_('Detect low to high (rising), high to low (falling), or both?')}}">
        <option value="rising"{% if each_cond.if_sensor_edge_detected == 'rising' %} selected{% endif %}>{{_('Rising')}}</option>
        <option value="falling"{% if each_cond.if_sensor_edge_detected == 'falling' %} selected{% endif %}>{{_('Falling')}}</option>
        <option value="both"{% if each_cond.if_sensor_edge_detected == 'both' %} selected{% endif %}>{{_('Both')}}</option>
      </select>
    </div>
  </div>

  <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-0 text-center">
    <label class='control-label' style="padding-top: 1em"></label>
    <div>
      <input id="if_sensor_edge_select_1" name="if_sensor_edge_select" type="radio" value="state" {% if each_cond.if_sensor_edge_select == 'state' %} checked{% endif %}>
    </div>
  </div>
  <div class="col-xs-10 col-sm-3 col-md-3 col-lg-2">
    <label class='control-label'>GPIO state is</label>
    <div>
      <select class="form-control form-tooltip form-dropdown" data-placement="top" id="if_sensor_gpio_state" name="if_sensor_gpio_state">
        <option value="1"{% if each_cond.if_sensor_gpio_state == 1 %} selected{% endif %}>{{_('HIGH (3.3 volts)')}}</option>
        <option value="0"{% if each_cond.if_sensor_gpio_state == 0 %} selected{% endif %}>{{_('LOW (0 volts)')}}</option>
      </select>
    </div>
  </div>

{% else %}

  <div class="col-xs-11 col-md-5 col-lg-4">
    <label class='control-label'>{{_('If Measurement')}}</label>
    <div>
      <select class="form-control" id="measurement" name="measurement" style="width: 100%;" title="" data-original-title="{{_('Select the measurement to use as the input')}}">
          <option value="">{{_('Select One')}}</option>
        {% for each_choice, value in input_choices.items() -%}
          <option value="{{each_choice}}"{% if each_cond.measurement == each_choice %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in math_choices.items() -%}
          <option value="{{each_choice}}"{% if each_cond.measurement == each_choice %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in pid_choices.items() -%}
          <option value="{{each_choice}}"{% if each_cond.measurement == each_choice %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        </select>
    </div>
  </div>
  <div class="col-xs-1 col-md-1 text-center">
    <label class='control-label' style="padding-top: 1em"></label>
    <div>
      <label class='control-label'>{{_('Is')}}</label>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
    <label class='control-label'>{{_('State')}}</label>
    <div>
      <select class="form-control form-tooltip form-dropdown" data-placement="top" id="if_sensor_direction" name="if_sensor_direction" title="{{_('The conditional is true when the measured condition is greater than or less than the set value, or the measurement timestamp is greater than the value of seconds')}}">
        <option value="">{{_('Select One')}}</option>
        <option value="above"{% if each_cond.if_sensor_direction == 'above' %} selected{% endif %}>{{_('Greater Than')}}</option>
        <option value="below"{% if each_cond.if_sensor_direction == 'below' %} selected{% endif %}>{{_('Less Than')}}</option>
        <option value="none_found"{% if each_cond.if_sensor_direction == 'none_found' %} selected{% endif %}>{{_('None Found Last x Seconds')}}</option>
      </select>
    </div>
  </div>
  <div class="col-xs-5 col-sm-4 col-md-2 col-lg-1">
    <label class='control-label'>{{_('Value')}}</label>
    <div>
      {{form_conditional.if_sensor_setpoint(class_='form-control', value=each_cond.if_sensor_setpoint, **{'title':_('What value to check the measurement against?'), 'size':'3'})}}
    </div>
  </div>

{% endif %}

  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
    <label class='control-label'>{{_('Duration (seconds)')}}</label>
    <div>
      {{form_conditional.if_sensor_period(class_='form-control', value=each_cond.if_sensor_period, **{'title':_('The duration (seconds) between checking whether the conditional is true'), 'size':'3'})}}
    </div>
  </div>
</div>
