<div class="row small-gutters" style="border-bottom: 1px solid #ddd; padding-bottom: 0.2em">
  <div class="col-auto">
    {{form_conditional.unique_id_1.label(class_='control-label')}}
    <div>
      <select class="form-control form-tooltip form-dropdown" id="unique_id_1" name="unique_id_1" data-placement="top" title="{{_('Trigger this conditional to act when this output turns on or off')}}">
        <option value="">{{_('Select One')}}</option>
        {%- for each_output in output if each_output.output_type != 'pwm' -%}
          <option value="{{each_output.unique_id}}"{% if each_cond.unique_id_1 == each_output.unique_id %} selected{% endif %}>[{{'%02d' % each_output.id}}] {{each_output.name}}</option>
        {%- endfor -%}
      </select>
    </div>
  </div>
  <div class="col-auto">
    {{form_conditional.output_state.label(class_='control-label')}}
    <select class="form-control form-tooltip form-dropdown" id="output_state" name="output_state" data-placement="top" title="{{_('What action will trigger this conditional statement, on or off?')}}">
      <option value="">{{_('Select One')}}</option>
      <option value="on"{% if each_cond.output_state == 'on' %} selected{% endif %}>{{_('On')}}</option>
      <option value="on_any"{% if each_cond.output_state == 'on_any' %} selected{% endif %}>{{_('On')}} ({{_('any duration')}})</option>
      <option value="off"{% if each_cond.output_state == 'off' %} selected{% endif %}>{{_('Off')}}</option>
    </select>
  </div>
  <div class="col-auto">
    {{form_conditional.output_duration.label(class_='control-label')}}
    <div>
     {{form_conditional.output_duration(class_='form-control', value=each_cond.output_duration, **{'title':_('(Optional) Set this to a specific duration of time if the conditional should trigger when the output On duration equals this amount'), 'size':'3'})}}
    </div>
  </div>
</div>
