{% extends "layout.html" %}
{% set active_page = "camera" %}
{% set help_page = ["camera", _('Cameras')] %}

{% block title %} - {{_('Camera')}}{% endblock %}

{% block body %}
  <!-- Route: /camera -->
  <div class="container">
    {% include 'flash_messages.html' %}

  {% if not camera %}
    No cameras configured. Go to <a href="/settings/camera">Camera Settings</a> to configure a camera.
  {% endif %}

    {% for each_camera in camera %}

      <div class="container" style="width: 95%; border: 2px solid #ddd; border-radius: 5px;">
        <form method="post" action="/camera">
        {{form_camera.csrf_token}}
        {{form_camera.camera_id(value=each_camera.id)}}
        <div class="row small-gutters" style="border-bottom: 2px solid #ddd; padding: 0.1em 0;">
          <div class="col-xs-12 col-sm-3">
            <input class="form-control" disabled="" title="UUID: {{each_camera.unique_id}}" value="[{{'%02d' % each_camera.id}}] ({{each_camera.library}}) {{each_camera.name}}" type="text">
          </div>
          <div class="col-xs-12 col-sm-3">
            {{form_camera.capture_still(class_='form-control btn btn-default')}}
          </div>
          {% if not each_camera.stream_started -%}
            {% if not each_camera.timelapse_started %}
              <div class="col-xs-12 col-sm-3">
                <a data-toggle="collapse" href="#collapseContainerTimelapse-{{each_camera.id}}" aria-expanded="false" aria-controls="collapseContainerTimelapse-{{each_camera.id}}" class="form-control btn btn-default" role="button">{{_('Create Timelapse')}}</a>
              </div>
            {% else %}
              {% if each_camera.timelapse_paused %}
                <div class="col-xs-12 col-sm-3">
                  {{form_camera.resume_timelapse(class_='form-control btn btn-default')}}
                </div>
              {% else %}
                <div class="col-xs-12 col-sm-3">
                  {{form_camera.pause_timelapse(class_='form-control btn btn-default')}}
                </div>
                <div class="col-xs-12 col-sm-3">
                  {{form_camera.stop_timelapse(class_='form-control btn btn-default')}}
                </div>
              {% endif %}
            {% endif %}
          {%- endif %}

          {% if each_camera.library in ['opencv', 'picamera'] and
                not each_camera.timelapse_started %}
            <div class="col-xs-12 col-sm-3">
              {% if each_camera.stream_started -%}
                {{form_camera.stop_stream(class_='form-control btn btn-default')}}
              {% else %}
                {{form_camera.start_stream(class_='form-control btn btn-default')}}
              {%- endif %}
            </div>
          {%- endif %}

        </div>

        <div class="row small-gutters collapse" id="collapseContainerTimelapse-{{each_camera.id}}" style="padding: 0.5em 0 0.5em 1em">
          <div class="form-inline">
            Time-lapse parameters:
          </div>
          <div class="form-inline">
            <div class="form-group">
              {{form_camera.timelapse_interval.label(class_='control-label')}}
              <div>
                {{form_camera.timelapse_interval(class_='form-control')}}
              </div>
            </div>
            <div class="form-group">
              {{form_camera.timelapse_runtime_sec.label(class_='control-label')}}
              <div>
                {{form_camera.timelapse_runtime_sec(class_='form-control')}}
              </div>
            </div>
            <div class="form-group">
              <label></label>
              <div>
                {{form_camera.start_timelapse(class_='form-control btn btn-default')}}
              </div>
            </div>
          </div>
        </div>

        <div class="row small-gutters">

        {%- if each_camera.library in ['opencv', 'picamera'] and
               each_camera.stream_started -%}
          <div>
            {{_('Video Stream')}}:
            <br/><img style="max-width: 100%" src="/video_feed/{{each_camera.unique_id}}">
          </div>
        {%- endif -%}

        {% if each_camera.timelapse_started %}
          <div>
            {{_('Timelapse Parameters')}}:
            <br>Time-lapse: {% if each_camera.timelapse_paused %}Paused{% else %}Running{% endif %}
            <br/>Start time: {{format_timestamp(each_camera.timelapse_start_time)}}
            <br/>End time: {{format_timestamp(each_camera.timelapse_end_time)}}
            <br/>Interval: {{each_camera.timelapse_interval}} seconds
            <br/>Next Capture: {{format_timestamp(each_camera.timelapse_next_capture)}}
            <br/>Next capture number: {{each_camera.timelapse_capture_number}}
          </div>
        {% endif %}

        {% if latest_img_tl[each_camera.id] %}
          <div class="container-timelapse-{{each_camera.id}}">
            {{_('Last Timelapse')}}: {{latest_img_tl_ts[each_camera.id]}}
            <br/><a href="/camera/{{each_camera.id}}/timelapse/{{latest_img_tl[each_camera.id]}}" target="_blank"><img style="max-width: 100%" src="/camera/{{each_camera.id}}/timelapse/{{latest_img_tl[each_camera.id]}}"></a>
          </div>
        {% endif %}

        {% if latest_img_still[each_camera.id] %}
          <div class="container-still-{{each_camera.id}}">
            {{_('Last Still')}}: {{latest_img_still_ts[each_camera.id]}}
            <br/><a href="/camera/{{each_camera.id}}/still/{{latest_img_still[each_camera.id]}}" target="_blank"><img style="max-width: 100%" src="/camera/{{each_camera.id}}/still/{{latest_img_still[each_camera.id]}}"></a>
          </div>
        {% endif %}
        </div>

        </form>

      </div>

      <div style="clear: both; padding: 1em 0;"></div>

    {% endfor %}

  </div>

{% endblock %}
