{% extends "layout.html" %}
{% set active_page = "camera" %}
{% block title %} - {{_('Camera')}}{% endblock %}

{% block body %}
  <!-- Route: /camera -->
  <div class="container">
    {% include 'flash_messages.html' %}

    {% if camera_enabled %}
    <form class="form-inline" method="post" action="/camera">
      <div style="padding-bottom: 1.5em">
        <input type="hidden" name="form-name" value="camera">
        {{form_camera.hidden_tag()}}

        <div class="form-group">
          {{form_camera.Still(class_='form-control btn btn-default')}}
        </div>

        {% if not stream_locked -%}
          {% if not time_lapse_locked %}
            <div class="form-group">
              <a data-toggle="collapse" href="#collapseContainerTimelapse" aria-expanded="false" aria-controls="collapseContainerTimelapse" class="btn btn-default" role="button">{{_('Create Timelapse')}}</a>
            </div>
          {% else %}
            <div class="form-group">
              {{form_camera.StopTimelapse(class_='form-control btn btn-default')}}
            </div>
          {% endif %}
        {%- endif %}

        {% if not time_lapse_locked %}
          <div class="form-group">
            {% if stream_locked -%}
              {{form_camera.StopStream(class_='form-control btn btn-default')}}
            {% else %}
              {{form_camera.StartStream(class_='form-control btn btn-default')}}
            {%- endif %}
          </div>
        {%- endif %}
      </div>

      <div class="collapse" id="collapseContainerTimelapse" style="padding: 0.5em 0 3em 1em">
        <div class="form-inline">
          <div class="form-group">
            {{form_camera.TimelapseInterval.label(class_='control-label')}}
            <div>
              {{form_camera.TimelapseInterval(class_='form-control')}}
            </div>
          </div>
          <div class="form-group">
            {{form_camera.TimelapseRunTime.label(class_='control-label')}}
            <div>
              {{form_camera.TimelapseRunTime(class_='form-control')}}
            </div>
          </div>
          <div class="form-group">
            <label></label>
            <div>
              {{form_camera.StartTimelapse(class_='form-control btn btn-default')}}
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endif %}

    {%- if stream_locked -%}
      <div style="padding-bottom: 1.5em">
        {{_('Video Stream')}}:
        <img style="max-width: 100%" src="{{url_for('general_routes.video_feed')}}">
      </div>
    {%- endif -%}

    {% if time_lapse_locked %}
      <div style="padding-bottom: 1em">
        {{_('Timelapse Parameters')}}:
        <br>{{_('Now')}}: {{time_now}}
        {% for key, value in tl_parameters_dict.iteritems() %}
          {% if key == 'start_time' %}<br>{{_('Start')}}: {{value}}{% endif %}
          {% if key == 'end_time' %}<br>{{_('End')}}: {{value}}{% endif %}
          {% if key == 'interval' %}<br>{{_('Interval')}}: {{value}} seconds{% endif %}
          {% if key == 'next_capture' %}<br>{{_('Next Capture')}}: {{value}}{% endif %}
          {% if key == 'capture_number' %}<br>{{_('Next Capture Number')}}: {{value}}{% endif %}
        {% endfor %}
      </div>
      {% if latest_time_lapse_img %}
        <div style="padding-bottom: 1.5em">
          {{_('Last Timelapse')}}: {{latest_time_lapse_img_ts}}
          <a href="/camera/timelapse/{{latest_time_lapse_img}}" target="_blank"><img style="max-width: 100%" src="/camera/timelapse/{{latest_time_lapse_img}}"></a>
        </div>
      {% endif %}
    {% endif %}

    {% if latest_still_img %}
      <div style="padding-bottom: 1.5em">
        {{_('Last Still')}}: {{latest_still_img_ts}}
        <a href="/camera/still/{{latest_still_img}}" target="_blank"><img style="max-width: 100%" src="/camera/still/{{latest_still_img}}"></a>
      </div>
    {% endif %}

  </div>

{% endblock %}
