{% extends "layout.html" %}
{% set active_page = "dashboard" %}
{% set help_page = ["dashboard", _('Dashboard')] %}

{% block title %} - {{_('Dashboard')}}{% endblock %}

{% block head %}

  <script src="/static/js/highstock.src.js"></script>
  <script src="/static/js/highcharts-more.js"></script>
  <script src="/static/js/modules/solid-gauge.js"></script>

  <script src="/static/js/modules/exporting.js"></script>
  <script src="/static/js/modules/canvas-tools.js"></script>
  <script src="/static/js/modules/export-csv.js"></script>
  <script src="/static/js/modules/jspdf.min.js"></script>
  <script src="/static/js/modules/highcharts-export-clientside.js"></script>
  {% if current_user.theme in dark_themes %}
    <script src="/static/js/dark-unica.js"></script>
  {% endif %}

{% endblock %}

{% block body %}
  <!-- Route: /dashboard -->
  <div class="container">
  {% include 'flash_messages.html' %}
  </div>

  <div style="padding: 0 1.5em 0 1em">

  <div class="row">

  {% if displayOrder -%}
  {%- for order in displayOrder -%}
    {%- set chart_number = loop.index -%}
    {%- for each_graph in graph if each_graph.id == order -%}

    <div class="col-xs-12 col-sm-
    {%- if each_graph.width < 13 and each_graph.width > 0 -%}
      {{each_graph.width}}
    {%- else -%}
      12
    {%- endif -%}" style="padding: 0.25em;">

      <div style="border: 2px solid #ddd; border-radius: 5px;">

      {% if each_graph.graph_type == 'graph' %}

        {% include 'pages/dashboard_options/mod_graph.html' %}

      {% elif each_graph.graph_type in ['gauge_angular', 'gauge_solid'] %}

        {% include 'pages/dashboard_options/mod_gauge.html' %}

      {% elif each_graph.graph_type == 'camera' %}

        {% include 'pages/dashboard_options/mod_camera.html' %}

      {% endif %}

      </div>
    </div>

    {%- endfor -%}
  {%- endfor -%}
  {%- endif -%}

  </div>

  <div style="clear: both"></div>

  <div class="container" style="padding-bottom: 1em;">
    <a data-toggle="collapse" href="#collapseContainerGraphAdd" aria-expanded="false" aria-controls="collapseContainerGraphAdd" class="btn btn-default" role="button">{{_('New Graph')}}</a>

    <a data-toggle="collapse" href="#collapseContainerGaugeAdd" aria-expanded="false" aria-controls="collapseContainerGaugeAdd" class="btn btn-default" role="button">{{_('New Gauge')}}</a>

    <a data-toggle="collapse" href="#collapseContainerCameraAdd" aria-expanded="false" aria-controls="collapseContainerCameraAdd" class="btn btn-default" role="button">{{_('New Camera')}}</a>

    <div class="collapse" id="collapseContainerGraphAdd" style="padding-top: 1em">
      {% include 'pages/dashboard_options/add_graph.html' %}
    </div>

    <div class="collapse" id="collapseContainerGaugeAdd" style="padding-top: 1em">
      {% include 'pages/dashboard_options/add_gauge.html' %}
    </div>

    <div class="collapse" id="collapseContainerCameraAdd" style="padding-top: 1em">
      {% include 'pages/dashboard_options/add_camera.html' %}
    </div>

  </div>

  </div>

<script>
$('.collapse').on('show.bs.collapse', function(){
  $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
}).on('hide.bs.collapse', function(){
  $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
});

$('#collapseContainerCameraAdd').on('shown.bs.collapse', function () {
  $('#collapseContainerGraphAdd').collapse('hide');
  $('#collapseContainerGaugeaAdd').collapse('hide');
  document.getElementById('collapseContainerCameraAdd').scrollIntoView();
});

$('#collapseContainerGraphAdd').on('shown.bs.collapse', function () {
  $('#collapseContainerGaugeAdd').collapse('hide');
  $('#collapseContainerCameraAdd').collapse('hide');
  document.getElementById('collapseContainerGraphAdd').scrollIntoView();
});

$('#collapseContainerGaugeAdd').on('shown.bs.collapse', function () {
  $('#collapseContainerGraphAdd').collapse('hide');
  $('#collapseContainerCameraAdd').collapse('hide');
  document.getElementById('collapseContainerGaugeAdd').scrollIntoView();
});

Highcharts.setOptions({
  global: {
    useUTC: false
  },
  lang: {
    thousandsSep: ','
  }
});

// Store the time (epoch) of the last data point received, for every condition of every graph
var last_relay_time_mil = {};

$(document).ready(function() {
  var chart_graph = [];
  var chart_gauge = [];

  // Retrieve the last measurement for gauges
  function getLastData(chart_number, dev_id, measurement, max_measure_age_sec, convert_c) {
    var url = '/last/' + measurement + '/' + dev_id + '/' + max_measure_age_sec.toString();
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        var point = chart_gauge[chart_number].series[0].points[0];
        if (jqXHR.status === 204) {
          point.update(null);
        }
        else {
          var time = data[0];
          var measurement = data[1];
          var date = new Date(parseFloat(time));
          var year = date.getFullYear();
          var month = date.getMonth() + 1;
          var day = date.getDate();
          var hours = date.getHours();
          var minutes = "0" + date.getMinutes();
          var seconds = "0" + date.getSeconds();
          var formattedTime = year + "/" + month + "/" + day + " " + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
          point.update(measurement);
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        var point = chart_gauge[chart_number].series[0].points[0];
        point.update(null);
      }
    });
  }

  function repeatLastData(chart_number, dev_id, measurement, period_sec, max_measure_age_sec, convert_c) {
    setInterval(function () {
        getLastData(chart_number, dev_id, measurement, max_measure_age_sec, convert_c)
    }, period_sec * 1000);
  }

  // Retrieve initial chart data set from the past (duration set by user)
  function getPastData(chart_number, sensor, sensor_measurement, unique_id, past_seconds) {
    var url = '/past/' + sensor_measurement + '/' + unique_id + '/' + past_seconds;
    var update_id = chart_number + "-" + sensor + "-" + sensor_measurement + "-" + unique_id;
    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          var past_data = [];
          for (i = 0; i < data.length; i++){
            // Push the received data to the graph
            var new_date = new Date(data[i][0]);
            var new_time = new_date.getTime();
            past_data.push([new_time, data[i][1]])

            // Store the epoch time of the last data point received
            if (i === data.length - 1) {
              last_relay_time_mil[update_id] = new_time;
            }
          }
          chart_graph[chart_number].series[sensor].isDirty = true;
          chart_graph[chart_number].xAxis[0].setExtremes(new Date().setMinutes(new Date().getMinutes() - (past_seconds / 60)), new Date().getTime());
          chart_graph[chart_number].series[sensor].setData(past_data, true, false);
        }
      }
    );
  }

  // Retrieve chart data for the period since the last data acquisition (refresh period set by user)
  function getLiveData(chart_number, sensor, sensor_measurement, unique_id, xaxis_duration_min, xaxis_reset, refresh_seconds) {
    setInterval(function () {
      // Build the URL
      // Instruct only to return data since the time of the last received data point
      var url = '';
      var update_id = chart_number + "-" + sensor + "-" + sensor_measurement + "-" + unique_id;
      if (update_id in last_relay_time_mil) {
        var epoch_mil = (new Date).getTime();
        var past_seconds = Math.floor((epoch_mil - last_relay_time_mil[update_id]) / 1000);
        url = '/past/' + sensor_measurement + '/' + unique_id + '/' + past_seconds;
      } else {
        url = '/past/' + sensor_measurement + '/' + unique_id + '/' + refresh_seconds;
      }
      $.getJSON(url,
        function(data, responseText, jqXHR) {
          if (jqXHR.status !== 204) {
            for (i = 0; i < data.length; i++) {
              var new_date = new Date(data[i][0]);
              var new_time = new_date.getTime();
              chart_graph[chart_number].series[sensor].addPoint([new_time, data[i][1]], true, true);
            }
            last_relay_time_mil[update_id] = new_time;
          }
          if (xaxis_reset) {
              // Ensure Reset Zoom button resets to the proper start and end times
              chart_graph[chart_number].xAxis[0].update({min: new Date().setMinutes(new Date().getMinutes() - (1 * (xaxis_duration_min)))}, false);
              chart_graph[chart_number].xAxis[0].update({max: new Date().getTime()}, false);
              // Update the new data time frame and redraw the chart
              chart_graph[chart_number].xAxis[0].setExtremes(new Date().setMinutes(new Date().getMinutes() - (1 * (xaxis_duration_min))), new Date().getTime(), true);
              chart_graph[chart_number].xAxis[0].isDirty = true;
          }
        }
      );
    }, refresh_seconds * 1000);
  }

   // capture image and update the image
  function get_image_cam(camera_unique_id, image_type, max_age) {
    var url = '';
    var image_type_str = '';
    if (image_type === 'tmp_img') {
      url = '/camera_acquire_image/tmp/' + camera_unique_id + '/' + max_age;
      image_type_str = 'still'
    } else if (image_type === 'new_img') {
      url = '/camera_acquire_image/new/' + camera_unique_id + '/' + max_age;
      image_type_str = 'still'
    } else if (image_type === 'timelapse') {
      url = '/camera_latest_timelapse/' + camera_unique_id + '/' + max_age;
      image_type_str = 'timelapse'
    }
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          document.getElementById(camera_unique_id + "-image-src").src = "static/img/image_error.png";
          document.getElementById(camera_unique_id + "-image-href").href = "static/img/image_error.png";
        }
        else {
          var timestamp_str = '';
          if (image_type_str === 'still') {
            timestamp_str = 'Still: '
          } else if (image_type_str === 'timelapse') {
            timestamp_str = 'Timelapse: '
          }
          var filename = data[0];
          if (filename === 'max_age_exceeded') {
            // The image timestamp is older than the maximum allowable age
            document.getElementById(camera_unique_id + "-image-src").src = "static/img/image_max_age.png";
            document.getElementById(camera_unique_id + "-image-href").href = "static/img/image_max_age.png";
            document.getElementById(camera_unique_id + "-timestamp").innerHTML = timestamp_str + "Max Age Exceeded";
          } else if (filename === 'file_not_found') {
            // No image was found in the directory
            document.getElementById(camera_unique_id + "-image-src").src = "static/img/image_error.png";
            document.getElementById(camera_unique_id + "-image-href").href = "static/img/image_error.png";
            document.getElementById(camera_unique_id + "-timestamp").innerHTML = timestamp_str + "File Not Found";
          } else {
            // The image is available and younger than the max age
            var timestamp = data[1];
            var image_no_cache_timestamp = Date.now();
            document.getElementById(camera_unique_id + "-image-src").src = "/camera/" + camera_unique_id + "/" + image_type_str + "/" + filename + "?" + image_no_cache_timestamp;
            document.getElementById(camera_unique_id + "-image-href").href = "/camera/" + camera_unique_id + "/" + image_type_str + "/" + filename + "?" + image_no_cache_timestamp;
            document.getElementById(camera_unique_id + "-timestamp").innerHTML = timestamp_str + timestamp;
          }
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        document.getElementById(camera_unique_id + "-image-src").src = "static/img/image_error.png";
        document.getElementById(camera_unique_id + "-image-href").href = "static/img/image_error.png";
        document.getElementById(camera_unique_id + "-timestamp").innerHTML = "Error Getting Image";
      }
    });
  }

  function repeat_get_image_cam(camera_unique_id, period_sec, image_type, max_age) {
    if (image_type === 'stream') {
      document.getElementById(camera_unique_id + "-image-src").src = "/video_feed/" + camera_unique_id;
      document.getElementById(camera_unique_id + "-timestamp").innerHTML = 'Live Stream';
    } else {
      get_image_cam(camera_unique_id, image_type, max_age);
      setInterval(function () {
          get_image_cam(camera_unique_id, image_type, max_age)
      }, period_sec * 1000);
    }
  }

  // Change opacity of all chart colors
  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
    return Highcharts.Color(color).setOpacity(0.6).get('rgba');
  });

{% if displayOrder -%}
  {%- for order in displayOrder -%}
    {%- set chart_number = loop.index -%}
    {%- for each_graph in graph if each_graph.id == order -%}

      {% set graph_sensor_ids = each_graph.sensor_ids_measurements.split(';') %}

      {% if each_graph.graph_type == 'graph' %}
        {% include 'pages/dashboard_options/display_graph.html' %}
      {% elif each_graph.graph_type == 'gauge_solid' %}
        {% include 'pages/dashboard_options/display_gauge_solid.html' %}
      {% elif each_graph.graph_type == 'gauge_angular' %}
        {% include 'pages/dashboard_options/display_gauge_angular.html' %}
      {% elif each_graph.graph_type == 'camera' %}
        {% include 'pages/dashboard_options/display_camera.html' %}
      {% endif %}

    {%- endfor -%}
  {%- endfor -%}
{%- endif -%}

});
</script>

{% endblock %}
