{% extends "layout.html" %}
{% set active_page = "dashboard" %}
{% set help_page = ["dashboard", _('Dashboard')] %}

{% block title %} - {{_('Dashboard')}}{% endblock %}

{% block head %}

  <script type="text/javascript" src="/static/js/highstock.src.js"></script>
  <script type="text/javascript" src="/static/js/highcharts-more.js"></script>
  <script type="text/javascript" src="/static/js/modules/solid-gauge.js"></script>
  <script type="text/javascript" src="/static/js/modules/exporting.js"></script>
  <script type="text/javascript" src="/static/js/modules/canvas-tools.js"></script>
  <script type="text/javascript" src="/static/js/modules/export-csv.js"></script>
  <script type="text/javascript" src="/static/js/modules/jspdf.min.js"></script>
  <script type="text/javascript" src="/static/js/modules/highcharts-export-clientside.js"></script>

  <script type="text/javascript" src="/static/js/multiselect.min.js"></script>

  {% if current_user.theme in dark_themes %}
    <script type="text/javascript" src="/static/js/dark-unica.js"></script>
  {% endif %}

  <link href="/static/css/toastr.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="/static/js/toastr.min.js"></script>

{% endblock %}

{% block body %}
  <!-- Route: /dashboard -->
  <div class="container">
  {% include 'flash_messages.html' %}
  </div>

  <div style="padding: 0 1.5em 0 1em">

  <div class="row">

  {% if display_order -%}
  {%- for order in display_order -%}
    {%- set chart_number = loop.index -%}
    {%- for each_graph in graph if each_graph.id == order -%}

    <div class="col-xs-12 col-sm-
    {%- if each_graph.width < 13 and each_graph.width > 0 -%}
      {{each_graph.width}}
    {%- else -%}
      12
    {%- endif -%}" style="padding: 0.25em;">

      <div style="border: 2px solid #ddd; border-radius: 5px;">

      {% for id, axes in y_axes.items() if id == each_graph.id and each_graph.graph_type in ['graph', 'gauge_angular', 'gauge_solid'] %}
        <!--Dashboard {{each_graph.id}} y-axes: {{axes|safe}}-->
      {% endfor %}

      {% if each_graph.graph_type == 'graph' %}
        {% include 'pages/dashboard_options/mod_graph.html' %}
      {% elif each_graph.graph_type in ['gauge_angular', 'gauge_solid'] %}
        {% include 'pages/dashboard_options/mod_gauge.html' %}
      {% elif each_graph.graph_type == 'measurement' %}
        {% include 'pages/dashboard_options/mod_measurement.html' %}
      {% elif each_graph.graph_type == 'output' %}
        {% include 'pages/dashboard_options/mod_output.html' %}
      {% elif each_graph.graph_type == 'pid_control' %}
        {% include 'pages/dashboard_options/mod_pid_control.html' %}
      {% elif each_graph.graph_type == 'camera' %}
        {% include 'pages/dashboard_options/mod_camera.html' %}

      {% endif %}

      </div>
    </div>

    {%- endfor -%}
  {%- endfor -%}
  {%- endif -%}

  </div>

  <div style="clear: both"></div>

  <div class="form-inline" style="padding-bottom: 1em;">
    <div class="form-group">
      {{form_base.dashboard_type(class_='selectpicker')}}
    </div>
    <div class="form-group">
      <a data-toggle="collapse" href="#collapseContainerReorder" aria-expanded="false" aria-controls="collapseContainerReorder" class="btn btn-sm btn-primary" role="button">{{_('Reorder Elements')}}</a>
    </div>
  </div>

  <div class="collapse" id="collapseContainerReorder" style="padding-bottom: 1em">

    <form method="post" action="/dashboard">
    {{form_base.csrf_token}}

    <div class="row" style="padding-bottom: 0.5em">
      <div class="col-auto">
        {{form_base.reorder(class_='btn btn-primary')}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        Hidden Elements
        <div>
          <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
            {% for each_hidden in dashboard_elements_hidden %}
              <option value="{{each_hidden}}">{{dashboard_element_names[each_hidden]}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-sm-2">
        <label>&nbsp;</label>
        <div>
          <button type="button" id="multiselect_rightAll" class="btn btn-sm btn-block btn-primary"><i class="fa fa-forward"></i></button>
          <button type="button" id="multiselect_rightSelected" class="btn btn-sm btn-block btn-primary"><i class="fa fa-chevron-right"></i></button>
          <button type="button" id="multiselect_leftSelected" class="btn btn-sm btn-block btn-primary"><i class="fa fa-chevron-left"></i></button>
          <button type="button" id="multiselect_leftAll" class="btn btn-sm btn-block btn-primary"><i class="fa fa-backward"></i></button>
        </div>
      </div>

      <div class="col-sm-5">
        Visible Elements
        <div>
          <select name="list_visible_elements" id="multiselect_to" class="form-control" size="8" multiple="multiple">
          {% if display_order -%}
            {% for each_visible in display_order %}
              <option value="{{each_visible}}">{{dashboard_element_names[each_visible]}}</option>
            {% endfor %}
          {% endif %}
          </select>
          <div class="row">
            <div class="col-sm-6">
              <button type="button" id="multiselect_move_up" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-up"></i></button>
            </div>
            <div class="col-sm-6">
              <button type="button" id="multiselect_move_down" class="btn btn-sm btn-block btn-primary"><i class="fa fa-arrow-down"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </form>
  </div>

  <div class="add_dashboard_object" style="display: none" id="graph">
   {% include 'pages/dashboard_options/add_graph.html' %}
  </div>
  <div class="add_dashboard_object" style="display: none" id="gauge">
   {% include 'pages/dashboard_options/add_gauge.html' %}
  </div>
  <div class="add_dashboard_object" style="display: none" id="measurement">
   {% include 'pages/dashboard_options/add_measurement.html' %}
  </div>
  <div class="add_dashboard_object" style="display: none" id="output">
   {% include 'pages/dashboard_options/add_output.html' %}
  </div>
  <div class="add_dashboard_object" style="display: none" id="pid_control">
   {% include 'pages/dashboard_options/add_pid_control.html' %}
  </div>
  <div class="add_dashboard_object" style="display: none" id="camera">
   {% include 'pages/dashboard_options/add_camera.html' %}
  </div>

</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#multiselect').multiselect({
        sort: false,
        keepRenderingSort: true
    });
});
</script>

<script>

$('.collapse').on('show.bs.collapse', function(){
  $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
}).on('hide.bs.collapse', function(){
  $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
});

$('#collapseContainerReorder').on('shown.bs.collapse', function () {
  this.scrollIntoView();
});

$('#dashboard_type').on('change', function () {
  var x = document.getElementsByClassName("add_dashboard_object");  // Find the elements
  for(var i = 0; i < x.length; i++){
    x[i].style.display = "none";    // Change the content
  }
  if (this.value !== '') {
    document.getElementById(this.value).style.display = "block";
    document.getElementById(this.value).scrollIntoView();
  }
});

function modOutput(btn_val) {
  $.ajax({
      type: 'GET',
      url: '/output_mod_unique_id/' + btn_val,
      success: function(data) {
          toastr['success']("Output " + data);
      },
      error: function(data) {
          toastr['error']("Output " + btn_val.split("/")[0] + ": " + data);
      }
  });
}

$(document).ready(function() {
  $('.turn_on').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to turn output On');
    modOutput(btn_val);
  });
  $('.turn_off').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to turn output Off');
    modOutput(btn_val);
  });
  $('.sec_on_amt').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    var sec = $('#sec_on_amt_' + id).val();
    toastr['info']('Command sent to turn output On for ' + sec + ' seconds');
    modOutput(btn_val + sec);
  });
  $('.duty_cycle_on_amt').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    var dc = $('#duty_cycle_on_amt_' + id).val();
    toastr['info']('Command sent to turn output On with a duty cycle of ' + dc + '%');
    modOutput(btn_val + dc);
  });
});

function modPID(btn_val) {
  $.ajax({
      type: 'GET',
      url: '/pid_mod_unique_id/' + btn_val,
      success: function(data) {
          toastr['success']("PID " + data);
      },
      error: function(data) {
          toastr['error']("PID " + btn_val.split("/")[0] + ": " + data);
      }
  });
}

$(document).ready(function() {
  $('.activate_pid').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to Activate PID');
    modPID(btn_val);
  });
  $('.deactivate_pid').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to Deactivate PID');
    modPID(btn_val);
  });
  $('.pause_pid').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to Pause PID');
    modPID(btn_val);
  });
  $('.hold_pid').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to Hold PID');
    modPID(btn_val);
  });
  $('.resume_pid').click(function() {
    var btn_val = this.name;
    var id = btn_val.split('/')[0];
    toastr['info']('Command sent to Resume PID');
    modPID(btn_val);
  });
});

Highcharts.setOptions({
  global: {
    useUTC: false
  },
  lang: {
    thousandsSep: ','
  }
});

// Store the time (epoch) of the last data point received, for every condition of every graph
var last_relay_time_mil = {};

$(document).ready(function() {
  var chart_graph = [];
  var chart_gauge = [];

  function getGPIOState(chart_number, unique_id) {
    var url = '/gpiostate_unique_id/' + unique_id;
    $.getJSON(url,
      function(state, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          if (state !== null) {
            document.getElementById("container-output-" + chart_number).className = "active-background";
            if (state !== 'off') {
              if (state === 'on') {
                document.getElementById("text-output-state-" + chart_number).innerHTML = '{{_('Active')}}';
              } else {
                document.getElementById("text-output-state-" + chart_number).innerHTML = '{{_('Active')}} (' + state.toFixed(1) + '%)';
              }
            }
            else {
              document.getElementById("container-output-" + chart_number).className = "inactive-background";
              document.getElementById("text-output-state-" + chart_number).innerHTML = '{{_('Inactive')}}';
            }
          }
        }
        else {
          document.getElementById("container-output-" + chart_number).className = "pause-background";
          document.getElementById("text-output-state-" + chart_number).innerHTML = '{{_('No Connection')}}';
        }
      }
    );
  }

  function repeatGPIOState(chart_number, unique_id, refresh_duration) {
    setInterval(function () {
      getGPIOState(chart_number, unique_id);
    }, refresh_duration * 1000);  // Refresh duration in milliseconds
  }

  // Retrieve initial graph data set from the past (duration set by user)
  function getPastData(chart_number, series, sensor_measurement, unique_id, past_seconds) {
    var url = '/past/' + sensor_measurement + '/' + unique_id + '/' + past_seconds;
    var update_id = chart_number + "-" + series + "-" + sensor_measurement + "-" + unique_id;
    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          var past_data = [];
          for (i = 0; i < data.length; i++){
            // Push the received data to the graph
            var new_date = new Date(data[i][0]);
            var new_time = new_date.getTime();
            past_data.push([new_time, data[i][1]]);

            // Store the epoch time of the last data point received
            if (i === data.length - 1) {
              last_relay_time_mil[update_id] = new_time;
            }
          }
          chart_graph[chart_number].series[series].isDirty = true;
          chart_graph[chart_number].xAxis[0].setExtremes(new Date().setMinutes(new Date().getMinutes() - (past_seconds / 60)), new Date().getTime());
          chart_graph[chart_number].series[series].setData(past_data, true, false);
        }
      }
    );
  }

  // Return timestamp from epoch
  function epoch_to_timestamp(epoch) {
    var date = new Date(parseFloat(epoch));
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    var hours = date.getHours();
    var minutes = "0" + date.getMinutes();
    var seconds = "0" + date.getSeconds();
    return month + "/" + day + " " + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
  }

  // Retrieve the latest/last measurement for gauges/outputs
  function getLastData(chart_number, dev_id, measurement_name, measure_type, max_measure_age_sec, decimal_places) {
    if (decimal_places === null) {
      decimal_places = 1;
    }
    var url = '/last/' + measurement_name + '/' + dev_id + '/' + max_measure_age_sec.toString();
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          if (measure_type === "gauge") {
            var null_point = chart_gauge[chart_number].series[0].points[0];
            null_point.update(null);
          } else if (['measurement', 'output', 'pid_control'].indexOf(measure_type) >= 0) {
            document.getElementById('value-' + chart_number).innerHTML = 'NO DATA';
            document.getElementById('timestamp-' + chart_number).innerHTML = 'MAX AGE EXCEEDED';
          }
        }
        else {
          var formattedTime = epoch_to_timestamp(data[0]);
          var measurement = data[1];
          var units = '';

          if (measure_type === "gauge") {
            var new_point = chart_gauge[chart_number].series[0].points[0];
            new_point.update(measurement);
          } else {
            if (measure_type === "output") {
              if (measurement_name === 'duration_sec') {
                units = ' sec';
              } else if (measurement_name === 'duty_cycle') {
                units = ' %';
              }
            }
            document.getElementById('value-' + chart_number).innerHTML = measurement.toFixed(decimal_places) + units;
          }
          document.getElementById('timestamp-' + chart_number).innerHTML = formattedTime;
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        if (measure_type === "gauge") {
          var point = chart_gauge[chart_number].series[0].points[0];
          point.update(null);
        }
      }
    });
  }

  // Repeat function for getLastData()
  function repeatLastData(chart_number, dev_id, measurement, measure_type, period_sec, max_measure_age_sec, decimal_places) {
    setInterval(function () {
      getLastData(chart_number, dev_id, measurement, measure_type, max_measure_age_sec, decimal_places)
    }, period_sec * 1000);
  }

  function print_pid_value(data, name, chart_number, decimal_places, units) {
    if (data[name][0] && document.getElementById(name + '-timestamp-' + chart_number)) {
      document.getElementById(name + '-timestamp-' + chart_number).innerHTML = epoch_to_timestamp(data[name][0]);
    } else if (document.getElementById(name + '-timestamp-' + chart_number)) {
      document.getElementById(name + '-timestamp-' + chart_number).innerHTML = 'MAX AGE EXCEEDED';
    }
    if (data[name][1] && document.getElementById(name + '-' + chart_number)) {
      var value = parseFloat(data[name][1]).toFixed(decimal_places);
      document.getElementById(name + '-' + chart_number).innerHTML = value + units;
    } else if (document.getElementById(name + '-' + chart_number)) {
      document.getElementById(name + '-' + chart_number).innerHTML = 'NO DATA';
    }
  }

  function print_pid_error(chart_number) {
    document.getElementById('container-pid-' + chart_number).className = "pause-background";
    document.getElementById('setpoint-' + chart_number).innerHTML = 'ERR';
    document.getElementById('setpoint-timestamp-' + chart_number).innerHTML = 'ERR';
    document.getElementById('pid_p_value-' + chart_number).innerHTML = 'ERR';
    document.getElementById('pid_i_value-' + chart_number).innerHTML = 'ERR';
    document.getElementById('pid_d_value-' + chart_number).innerHTML = 'ERR';
    document.getElementById('pid_output-' + chart_number).innerHTML = 'ERR';
    document.getElementById('actual-' + chart_number).innerHTML = 'ERR';
    document.getElementById('actual-timestamp-' + chart_number).innerHTML = 'ERR';
  }

  // Retrieve the latest/last measurement for gauges/outputs
  function getLastDataPID(chart_number, dev_id, max_measure_age_sec, decimal_places, units) {
    var url = '/last_pid/' + dev_id + '/' + max_measure_age_sec.toString();
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          print_pid_error(chart_number);
        }
        else {
          if (data['activated']) {
            if (data['paused']) {
              document.getElementById('container-pid-' + chart_number).className = "pause-background";
              document.getElementById('button-activate-' + chart_number).style.display = "none";
              document.getElementById('button-deactivate-' + chart_number).style.display = "block";
              document.getElementById('button-pause-' + chart_number).style.display = "none";
              document.getElementById('button-resume-' + chart_number).style.display = "block";
              document.getElementById('button-hold-' + chart_number).style.display = "none";
              print_pid_value(data, 'setpoint', chart_number, decimal_places, ' ' + units);
              document.getElementById('setpoint-timestamp-' + chart_number).innerHTML = 'PAUSED';
              print_pid_value(data, 'actual', chart_number, decimal_places, ' ' + units);
              print_pid_value(data, 'pid_p_value', chart_number, 1, '');
              print_pid_value(data, 'pid_i_value', chart_number, 1, '');
              print_pid_value(data, 'pid_d_value', chart_number, 1, '');
              print_pid_value(data, 'pid_output', chart_number, 1, '');
            } else if (data['held']) {
              document.getElementById('container-pid-' + chart_number).className = "pause-background";
              document.getElementById('button-activate-' + chart_number).style.display = "none";
              document.getElementById('button-deactivate-' + chart_number).style.display = "block";
              document.getElementById('button-pause-' + chart_number).style.display = "none";
              document.getElementById('button-resume-' + chart_number).style.display = "block";
              document.getElementById('button-hold-' + chart_number).style.display = "none";
              print_pid_value(data, 'setpoint', chart_number, decimal_places, ' ' + units);
              document.getElementById('setpoint-timestamp-' + chart_number).innerHTML = 'HELD';
              print_pid_value(data, 'actual', chart_number, decimal_places, ' ' + units);
              print_pid_value(data, 'pid_p_value', chart_number, 1, '');
              print_pid_value(data, 'pid_i_value', chart_number, 1, '');
              print_pid_value(data, 'pid_d_value', chart_number, 1, '');
              print_pid_value(data, 'pid_output', chart_number, 1, '');
            } else {
              document.getElementById('container-pid-' + chart_number).className = "active-background";
              document.getElementById('button-activate-' + chart_number).style.display = "none";
              document.getElementById('button-deactivate-' + chart_number).style.display = "block";
              document.getElementById('button-pause-' + chart_number).style.display = "block";
              document.getElementById('button-resume-' + chart_number).style.display = "none";
              document.getElementById('button-hold-' + chart_number).style.display = "block";
              print_pid_value(data, 'setpoint', chart_number, decimal_places, ' ' + units);
              print_pid_value(data, 'actual', chart_number, decimal_places, ' ' + units);
              print_pid_value(data, 'pid_p_value', chart_number, 1, '');
              print_pid_value(data, 'pid_i_value', chart_number, 1, '');
              print_pid_value(data, 'pid_d_value', chart_number, 1, '');
              print_pid_value(data, 'pid_output', chart_number, 1, '');
            }
          } else {
            document.getElementById('container-pid-' + chart_number).className = "inactive-background";
            document.getElementById('button-activate-' + chart_number).style.display = "block";
            document.getElementById('button-deactivate-' + chart_number).style.display = "none";
            document.getElementById('button-pause-' + chart_number).style.display = "none";
            document.getElementById('button-resume-' + chart_number).style.display = "none";
            document.getElementById('button-hold-' + chart_number).style.display = "none";
            document.getElementById('setpoint-' + chart_number).innerHTML = 'NONE';
            document.getElementById('setpoint-timestamp-' + chart_number).innerHTML = 'INACTIVE';
            document.getElementById('pid_p_value-' + chart_number).innerHTML = '0';
            document.getElementById('pid_i_value-' + chart_number).innerHTML = '0';
            document.getElementById('pid_d_value-' + chart_number).innerHTML = '0';
            document.getElementById('pid_output-' + chart_number).innerHTML = '0';
            print_pid_value(data, 'actual', chart_number, decimal_places, ' ' + units);
          }
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        print_pid_error(chart_number);
      }
    });
  }

  // Repeat function for getLastData()
  function repeatLastDataPID(chart_number, dev_id, period_sec, max_measure_age_sec, decimal_places, units) {
    setInterval(function () {
      getLastDataPID(chart_number, dev_id, max_measure_age_sec, decimal_places, units)
    }, period_sec * 1000);
  }

  // Redraw a particular chart
  function redrawGraph(chart_number, refresh_seconds, xaxis_duration_min, xaxis_reset) {
    chart_graph[chart_number].redraw();
    if (xaxis_reset) {
      // Ensure Reset Zoom button resets to the proper start and end times
      chart_graph[chart_number].xAxis[0].update({min: new Date().setMinutes(new Date().getMinutes() - (1 * (xaxis_duration_min)))}, false);
      chart_graph[chart_number].xAxis[0].update({max: new Date().getTime()}, false);
      // Update the new data time frame and redraw the chart
      chart_graph[chart_number].xAxis[0].setExtremes(new Date().setMinutes(new Date().getMinutes() - (1 * (xaxis_duration_min))), new Date().getTime(), true);
      chart_graph[chart_number].xAxis[0].isDirty = true;
    }
  }

  // Retrieve chart data for the period since the last data acquisition (refresh period set by user)
  function retrieveLiveData(chart_number, series, measurement, unique_id, xaxis_duration_min, xaxis_reset, refresh_seconds, graph_shift) {
    // Build the URL
    // Instruct only to return data since the time of the last received data point
    var url = '';
    var update_id = chart_number + "-" + series + "-" + measurement + "-" + unique_id;
    if (update_id in last_relay_time_mil) {
      var epoch_mil = (new Date).getTime();
      var past_seconds = Math.floor((epoch_mil - last_relay_time_mil[update_id]) / 1000);
      url = '/past/' + measurement + '/' + unique_id + '/' + past_seconds;
    } else {
      url = '/past/' + measurement + '/' + unique_id + '/' + refresh_seconds;
    }
    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          for (i = 0; i < data.length; i++) {
            var new_date = new Date(data[i][0]);
            var new_time = new_date.getTime();
            chart_graph[chart_number].series[series].addPoint([new_time, data[i][1]], false, graph_shift);
          }
          last_relay_time_mil[update_id] = new_time;
          redrawGraph(chart_number, refresh_seconds, xaxis_duration_min, xaxis_reset);
        }
      }
    );
  }

  // Repeat function for retrieveLiveData()
  function getLiveData(chart_number, series, sensor_measurement, unique_id, xaxis_duration_min, xaxis_reset, refresh_seconds, graph_shift) {
    setInterval(function () {
      retrieveLiveData(chart_number, series, sensor_measurement, unique_id, xaxis_duration_min, xaxis_reset, refresh_seconds, graph_shift);
    }, refresh_seconds * 1000);
  }

  // Capture image and update the image
  function get_image_cam(dashboard_id, camera_unique_id, image_type, max_age) {
    var url = '';
    var image_type_str = '';
    if (image_type === 'tmp_img') {
      url = '/camera_acquire_image/tmp/' + camera_unique_id + '/' + max_age;
      image_type_str = 'still'
    } else if (image_type === 'new_img') {
      url = '/camera_acquire_image/new/' + camera_unique_id + '/' + max_age;
      image_type_str = 'still'
    } else if (image_type === 'timelapse') {
      url = '/camera_latest_timelapse/' + camera_unique_id + '/' + max_age;
      image_type_str = 'timelapse'
    }
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          document.getElementById(dashboard_id + "-image-src").src = "static/img/image_error.png";
          document.getElementById(dashboard_id + "-image-href").href = "static/img/image_error.png";
        }
        else {
          var timestamp_str = '';
          if (image_type_str === 'still') {
            timestamp_str = 'Still: '
          } else if (image_type_str === 'timelapse') {
            timestamp_str = 'Timelapse: '
          }
          var filename = data[0];
          if (filename === 'max_age_exceeded') {
            // The image timestamp is older than the maximum allowable age
            document.getElementById(dashboard_id + "-image-src").src = "static/img/image_max_age.png";
            document.getElementById(dashboard_id + "-image-href").href = "static/img/image_max_age.png";
            document.getElementById(dashboard_id + "-timestamp").innerHTML = timestamp_str + "Max Age Exceeded";
          } else if (filename === 'file_not_found') {
            // No image was found in the directory
            document.getElementById(dashboard_id + "-image-src").src = "static/img/image_error.png";
            document.getElementById(dashboard_id + "-image-href").href = "static/img/image_error.png";
            document.getElementById(dashboard_id + "-timestamp").innerHTML = timestamp_str + "File Not Found";
          } else {
            // The image is available and younger than the max age
            var timestamp = data[1];
            var image_no_cache_timestamp = Date.now();
            document.getElementById(dashboard_id + "-image-src").src = "/camera/" + camera_unique_id + "/" + image_type_str + "/" + filename + "?" + image_no_cache_timestamp;
            document.getElementById(dashboard_id + "-image-href").href = "/camera/" + camera_unique_id + "/" + image_type_str + "/" + filename + "?" + image_no_cache_timestamp;
            document.getElementById(dashboard_id + "-timestamp").innerHTML = timestamp_str + timestamp;
          }
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        document.getElementById(dashboard_id + "-image-src").src = "static/img/image_error.png";
        document.getElementById(dashboard_id + "-image-href").href = "static/img/image_error.png";
        document.getElementById(dashboard_id + "-timestamp").innerHTML = "Error Getting Image";
      }
    });
  }

  // Repeat function for get_image_cam()
  function repeat_get_image_cam(dashboard_id, camera_unique_id, period_sec, image_type, max_age) {
    if (image_type === 'stream') {
      document.getElementById(dashboard_id + "-image-src").src = "/video_feed/" + camera_unique_id;
      document.getElementById(dashboard_id + "-timestamp").innerHTML = 'Live Stream';
    } else {
      get_image_cam(dashboard_id, camera_unique_id, image_type, max_age);
      setInterval(function () {
          get_image_cam(dashboard_id, camera_unique_id, image_type, max_age)
      }, period_sec * 1000);
    }
  }

  // Change opacity of all chart colors
  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
    return Highcharts.Color(color).setOpacity(0.6).get('rgba');
  });

{% if display_order -%}
  {%- for order in display_order -%}
    {%- set chart_number = loop.index -%}
    {%- for each_graph in graph if each_graph.id == order -%}

      {% set graph_input_ids = each_graph.sensor_ids_measurements.split(';') %}

      {% if each_graph.graph_type == 'graph' %}
        {% include 'pages/dashboard_options/display_graph.html' %}
      {% elif each_graph.graph_type == 'gauge_solid' %}
        {% include 'pages/dashboard_options/display_gauge_solid.html' %}
      {% elif each_graph.graph_type == 'gauge_angular' %}
        {% include 'pages/dashboard_options/display_gauge_angular.html' %}
      {% elif each_graph.graph_type == 'measurement' %}
        {% include 'pages/dashboard_options/display_measurement.html' %}
      {% elif each_graph.graph_type == 'output' %}
        {% include 'pages/dashboard_options/display_output.html' %}
      {% elif each_graph.graph_type == 'pid_control' %}
        {% include 'pages/dashboard_options/display_pid_control.html' %}
      {% elif each_graph.graph_type == 'camera' %}
        {% include 'pages/dashboard_options/display_camera.html' %}
      {% endif %}

    {%- endfor -%}
  {%- endfor -%}
{%- endif -%}

});
</script>

{% endblock %}
