{% extends "layout.html" %}
{% set active_page = "data" %}
{% set help_page = ["data", _('Data')] %}

{% block title %} - {{_('Data')}}{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/multiselect.min.js"></script>
{% endblock %}

{%- block body %}
  <!-- Route: /data -->
  <main role="main" class="container">
    {% include 'flash_messages.html' %}

    <h4>{{_('Data')}} <a href="/help#{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>
    <p>{{_('Data are individual pieces of information stored for later use. They may be values acquired from sensors, signals from analog-to-digital controllers, a response from a command, or even math performed on other data to produce an average, to name a few. Add, configure, and activate Inputs to begin recording measurements to the database and allow them to be used throughout Mycodo.')}}</p>

    <div style="clear: both; padding: 0.5em 0;"></div>

    <form id="new_input_form" method="post" action="/data" style="padding-bottom: 0.5em">
      {{form_add_input.hidden_tag()}}
      <input type="hidden" name="form-name" value="addSensor">
      <div class="row small-gutters" style="padding-left: 0.75em">
        <div class="col-auto">
          {{form_add_input.input_type(class_='selectpicker', **{'data-live-search': 'true', 'title': _('Input') + ': ' + tooltips_settings['select_one']['title']})}}
        </div>
        <div class="col-auto">
          {{form_add_input.input_add(class_='btn btn-primary')}}
        </div>
      </div>
    </form>

    <form id="new_math_form" method="post" action="/data">
      {{form_add_math.hidden_tag()}}
      <div class="row small-gutters" style="padding-left: 0.75em">
        <div class="col-auto">
          {{form_add_math.math_type(class_='selectpicker', **{'title': _('Math') + ': ' + tooltips_settings['select_one']['title']})}}
        </div>
        <div class="col-auto">
          {{form_add_math.math_add(class_='btn btn-primary')}}
        </div>
      </div>
    </form>

    <div style="clear: both; padding: 1em 0;"></div>

    {% if display_order_input %}
      {% include 'pages/data_options/input.html' %}
    {% endif %}

    {% if display_order_math %}
      {% include 'pages/data_options/math.html' %}
    {% endif %}

  </main>

  <div style="clear: both; padding-bottom: 1.5em;"></div>

  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });
  </script>

{% endblock -%}
