{% extends "layout.html" %}
{% set active_page = "function" %}
{% set help_page = ["function", _('Function')] %}

{% block title %} - {{_('Function')}}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-clockpicker.min.css">
{% endblock %}

{% block body %}
  <!-- Route: /function -->
  <div class="container">
    {% include 'flash_messages.html' %}

    <h4>{{_('Functions')}} <a href="/help#{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>
    <p>{{_('Functions conduct complex tasks, often coupling one or more <a href="/data">Data</a> sources with <a href="/output">Outputs</a>. For example, this could be using a PID Controller to create a feedback loop with a temperature sensor and heater in order to regulate temperature.')}}</p>

    <div style="clear: both; padding: 0.5em 0;"></div>

    <form method="post" action="/function">
    {{form_mod_pid_base.csrf_token}}

    <div class="row small-gutters">

      <div class="col-xs-6 col-sm-4 col-md-3">
        <select class="form-control" id="func_type" name="func_type">
          <option value="pid">PID Controller</option>
          <option value="conditional_measurement">Conditional: Measurement</option>
          <option value="conditional_output">Conditional: Output</option>
          <option value="conditional_edge">Conditional: GPIO Edge</option>
        </select>
      </div>
      <div class="col-xs-5 col-sm-3 col-lg-2 no-gutters">
        {{form_add_function.func_add(class_='btn btn-primary')}}
      </div>
    </div>

    </form>

    <div style="clear: both; padding: 1em 0;"></div>

  {% if pid %}
    <h4>{{_('PID Controllers')}} <a href="/help#pids" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>
    <p>{{_('PID controllers couple an input with a device connected to an output to regulate an environmental condition. For example, this could be a heater and a temperature sensor, allowing the regulation of temperature.')}}</p>
    {% include 'pages/function_options/pid.html' %}
  {% endif %}

  {% if conditional %}
    <h4>{{_('Conditional')}} <a href="/help#conditional-statements"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>
    <p>{{_('Conditionals allow certain actions to be carried out when a certain set of conditions are met.')}} See the <a href="/help#conditional-statements">manual</a> for more information.</p>
    {% include 'pages/function_options/conditional.html' %}
  {% endif %}

  </div>

  <script type="text/javascript" src="/static/js/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
    $('.clockpicker').clockpicker({
      donetext: 'Done'
    });
  </script>
  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });
  </script>

{% endblock %}
