{% extends "layout.html" %}
{% set active_page = "graph" %}

{% block head %}
  <script src="/static/js/highstock.js"></script>
  <script src="/static/js/modules/exporting.js"></script>
  <script src="/static/js/modules/canvas-tools.js"></script>
  <script src="/static/js/modules/export-csv.js"></script>
  <script src="/static/js/modules/jspdf.min.js"></script>
  <script src="/static/js/modules/highcharts-export-clientside.js"></script>
  {% if current_user.theme in ['cyborg', 'darkly', 'slate', 'sun', 'superhero'] %}
    <script src="/static/js/dark-unica.js"></script>
  {% endif %}

{% endblock %}  

{% block title %} - {{_('Graph')}}{% endblock %}

{% block body %}
  <!-- Route: /graph -->
  <div class="container">
  {% include 'flash_messages.html' %}
  </div>

  {%- set count_measurements = [0] -%}

  {%- for each_sensor in sensor -%}
    {%- if each_sensor.device_type in ['co2sensor', 'edgedetect',
                                       'free_space', 'luxsensor',
                                       'tsensor'] -%}
      {% if count_measurements.append(count_measurements.pop() + 1) %}{% endif %}
    {%- elif each_sensor.device_type in ['tmpsensor', 'analogsensor'] -%}
      {% if count_measurements.append(count_measurements.pop() + 2) %}{% endif %}
    {%- elif each_sensor.device_type in ['htsensor', 'moistsensor', 'presssensor', 'cpu_load'] -%}
      {% if count_measurements.append(count_measurements.pop() + 3) %}{% endif %}
    {%- endif -%}
  {%- endfor %}

  {# comment Add one for the BME280 sensors because it also records humidity and dewpoint #}
  {%- for each_sensor in sensor -%}
    {%- if each_sensor.device == 'BME280' -%}
      {% if count_measurements.append(count_measurements.pop() + 2) %}{% endif %}
    {%- endif -%}
  {%- endfor %}

  <div style="padding: 0 0.5em 0.5em 0.5em">

  {% if displayOrder -%}
  {%- for order in displayOrder -%}
    {%- set chart_number = loop.index -%}
    {%- for each_graph in graph if each_graph.id == order -%}

    <div style="display: inline-block; margin: 0 0.3em 0.6em 0.3em; border: 2px solid #ddd; border-radius: 5px; width: calc({{each_graph.width}}% - 0.7em); min-width: 350px">

      <div class="container" style="width: 100%;">
        <div class="row">
          <div class="col-sx-6 col-md-6" style="padding-left: 5px;">
            {{each_graph.name}} ({{each_graph.id}})
          </div>
          <div class="col-sx-6 col-md-6 text-right" style="padding-right: 10px;">
            <button class="btn btn-default btn-sm" id="resetZoom{{chart_number}}">Reset Zoom</button>
            <button class="btn btn-default btn-sm" id="showhidebutton{{chart_number}}" style="margin-right: 10px;">Show/Hide All</button>
            <a data-toggle="collapse" href="#collapseContainer{{chart_number}}" aria-expanded="false" aria-controls="collapseContainer{{chart_number}}">
              <span class='collapse-button{{chart_number}} glyphicon glyphicon-plus' style="font-size: 1.6em; vertical-align: top;"></span>
            </a>
          </div>
        </div>
      </div>

      <div id="container{{each_graph.id}}" style="height: {{each_graph.height}}px; width: 99%;"></div>

      <div class="collapse" id="collapseContainer{{chart_number}}" style="margin: 0.5em; padding: 0.5em; border: 1px solid #ddd; border-radius: 5px; width: calc(100% - 1em)">
        <div class="form-inline">
          <form method="post" action="/graph">
          <input type="hidden" name="form-name" value="modGraph">
          {{form_mod_graph.csrf_token}}
          {{form_mod_graph.graph_id(value=each_graph.id)}}
          <div class="form-group">
            {{form_mod_graph.name.label(class_='control-label')}}
            <div>
              {{form_mod_graph.name(class_='form-control', value=each_graph.name)}}
            </div>
          </div>
          <div class="form-group">
            {{form_mod_graph.width.label(class_='control-label')}}
            <div>
              {{form_mod_graph.width(class_='form-control', value=each_graph.width)}}
            </div>
          </div>
          <div class="form-group">
            {{form_mod_graph.height.label(class_='control-label')}}
            <div>
              {{form_mod_graph.height(class_='form-control', value=each_graph.height)}}
            </div>
          </div>
          <div class="form-group">
            {{form_mod_graph.xAxisDuration.label(class_='control-label')}}
            <div>
              {{form_mod_graph.xAxisDuration(class_='form-control', value=each_graph.x_axis_duration)}}
            </div>
          </div>
          <div class="form-group">
            {{form_mod_graph.refreshDuration.label(class_='control-label')}}
            <div>
              {{form_mod_graph.refreshDuration(class_='form-control', value=each_graph.refresh_duration)}}
            </div>
          </div>

          <div style="clear: both"></div>

          <div class="form-group">
            {{form_mod_graph.sensorIDs.label(class_='control-label')}}
            <div>
              <select class="form-control" id="sensorIDs" name="sensorIDs" style="width: 100%;" size="{{([count_measurements[0], relay|length, pid|length] | sort(reverse=True))[0]}}" multiple>
              {% if sensor_choices %}
                {% for each_choice, value in sensor_choices.iteritems() -%}
                  <option value="{{each_choice}}"{%- if each_choice|string in each_graph.sensor_ids_measurements %} selected{%- endif -%}>{{value}}</option>
                {% endfor -%}
              {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            {{form_mod_graph.relayIDs.label(class_='control-label')}}
            <div>
              <select class="form-control" id="relayIDs" name="relayIDs" style="width: 100%;" size="{{([count_measurements[0], relay|length, pid|length] | sort(reverse=True))[0]}}" multiple>
              {% if relay_choices %}
                {% for each_choice, value in relay_choices.iteritems() -%}
                  <option value="{{each_choice}}"{%- if each_choice|string in each_graph.relay_ids %} selected{%- endif -%}>{{value}}</option>
                {% endfor -%}
              {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            {{form_mod_graph.pidIDs.label(class_='control-label')}}
            <div>
              <select class="form-control" id="pidIDs" name="pidIDs" style="width: 100%;" size="{{([count_measurements[0], relay|length, pid|length] | sort(reverse=True))[0]}}" multiple>
              {% if pid_choices %}
                {% for each_choice, value in pid_choices.iteritems() -%}
                  <option value="{{each_choice}}"{%- if each_choice|string in each_graph.pid_ids %} selected{%- endif -%}>{{value}}</option>
                {% endfor -%}
              {% endif %}
              </select>
            </div>
          </div>

          <div style="clear: both"></div>
          {{_('Hold down the <kbd>Ctrl</kbd> or <kbd>&#8984;</kbd> key to select more than one')}}.</br>

          <div class="form-check" style="padding-top: 1em">
            <label class="form-check-label">
              <input class="form-check-input" id="enableNavbar" name="enableNavbar" type="checkbox" value="y"{% if each_graph.enable_navbar %} checked{% endif %}>
              {{form_mod_graph.enableNavbar.label.text}}
            </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
              <input class="form-check-input" id="enableExport" name="enableExport" type="checkbox" value="y"{% if each_graph.enable_export %} checked{% endif %}>
              {{form_mod_graph.enableExport.label.text}}
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" id="enableRangeSelect" name="enableRangeSelect" type="checkbox" value="y"{% if each_graph.enable_rangeselect %} checked{% endif %}>
              {{form_mod_graph.enableRangeSelect.label.text}}
            </label>
          </div>
          <div class="form-check disabled" style="padding-top: 1em">
            <label class="form-check-label">
              <input class="form-check-input" id="colors_custom" name="colors_custom" type="checkbox" value="y"{% if each_graph.use_custom_colors %} checked{% endif %}>
              {{form_mod_graph.use_custom_colors.label.text}}
            </label>
          </div>

          {% for n in range(dict_colors[each_graph.id]|length) %}
          <div class="form-check">
            {% set index = '{0:0>2}'.format(n) %}
            <label class="form-check-label" for="color_number{{index}}">
              <input id="color_number{{index}}" name="color_number{{index}}" placeholder="#000000" type="color" value="{{dict_colors[each_graph.id][n][1]}}">
              {{dict_colors[each_graph.id][n][0]}}
            </label>
          </div>
          {% endfor %}

        </div>

        <div class="form-inline btn-group" style="padding-top: 1em;">
          <div class="form-group">
            {{form_mod_graph.Submit(class_='form-control btn btn-default')}}
            </form>
          </div>
          <div class="form-group">
            <form method="post" action="/graph">
              <input type="hidden" name="form-name" value="delGraph">
              {{form_del_graph.csrf_token}}
              {{form_del_graph.graph_id(value=each_graph.id)}}
              {{form_del_graph.Submit(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this graph?")'})}}
            </form>
          </div>
          <div class="form-group">
            <form method="post" action="/graph">
              Reorder: <input type="hidden" name="form-name" value="orderGraph">
              {{form_order_graph.csrf_token}}
              {{form_order_graph.orderGraph_id(value=each_graph.id)}}
              {{form_order_graph.orderGraphUp(class_='form-control btn btn-default')}}
              {{form_order_graph.orderGraphDown(class_='form-control btn btn-default')}}
            </form>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
  {%- endfor -%}
  {%- endif -%}
  </div>

  <div class="container" style="padding-bottom: 1em;">
    <a data-toggle="collapse" href="#collapseContainerGraphAdd" aria-expanded="false" aria-controls="collapseContainerGraphAdd" class="btn btn-default" role="button">{{_('New Graph')}}</a>

    <div class="collapse" id="collapseContainerGraphAdd" style="padding-top: 1em">
      <form method="post" action="/graph">
      <div class="form-inline">
        <input type="hidden" name="form-name" value="addGraph">
        {{form_add_graph.csrf_token}}
        <div class="form-group">
          {{form_add_graph.name.label(class_='control-label')}}
          <div>
            {{form_add_graph.name(class_='form-control', value=_('Graph Name'))}}
          </div>
        </div>
        <div class="form-group">
          {{form_add_graph.width.label(class_='control-label')}}
          <div>
            {{form_add_graph.width(class_='form-control', value=100)}}
          </div>
        </div>
        <div class="form-group">
          {{form_add_graph.height.label(class_='control-label')}}
          <div>
            {{form_add_graph.height(class_='form-control', value=400)}}
          </div>
        </div>
        <div class="form-group">
          {{form_add_graph.xAxisDuration.label(class_='control-label')}}
          <div>
            {{form_add_graph.xAxisDuration(class_='form-control', value=1440)}}
          </div>
        </div>
        <div class="form-group">
          {{form_add_graph.refreshDuration.label(class_='control-label')}}
          <div>
            {{form_add_graph.refreshDuration(class_='form-control', value=60)}}
          </div>
        </div>

        <div style="clear: both"></div>

        <div class="form-group">
          {{form_add_graph.sensorIDs.label(class_='control-label')}}
          <div>
            <select class="form-control" id="sensorIDs" name="sensorIDs" style="width: 100%;" size="{{([count_measurements[0], relay|length, pid|length] | sort(reverse=True))[0]}}" multiple>
            {% for each_choice, value in sensor_choices.iteritems() -%}
              <option value="{{each_choice}}">{{value}}</option>
            {% endfor -%}
            </select>
          </div>
        </div>
        <div class="form-group">
          {{form_add_graph.relayIDs.label(class_='control-label')}}
          <div>
            <select class="form-control" id="relayIDs" name="relayIDs" style="width: 100%;" size="{{([count_measurements[0], relay|length, pid|length] | sort(reverse=True))[0]}}" multiple>
            {% for each_choice, value in relay_choices.iteritems() -%}
              <option value="{{each_choice}}">{{value}}</option>
            {% endfor -%}
            </select>
          </div>
        </div>
        <div class="form-group">
          {{form_add_graph.pidIDs.label(class_='control-label')}}
          <div>
            <select class="form-control" id="pidIDs" name="pidIDs" style="width: 100%;" size="{{([count_measurements[0], relay|length, pid|length] | sort(reverse=True))[0]}}" multiple>
            {% for each_choice, value in pid_choices.iteritems() -%}
              <option value="{{each_choice}}">{{value}}</option>
            {% endfor -%}
            </select>
          </div>
        </div>

        <div style="clear: both"></div>

        {{_('Hold down the <kbd>Ctrl</kbd> or <kbd>&#8984;</kbd> key to select more than one')}}.</br>

        <div class="checkbox" style="padding-right: 1em">
          <label>
            {{form_add_graph.enableNavbar(class_='form-control')}}
            {{form_add_graph.enableNavbar.label.text}}
          </label>
        </div>
        <div class="checkbox" style="padding-right: 1em">
          <label>
            {{form_add_graph.enableExport(class_='form-control')}}
            {{form_add_graph.enableExport.label.text}}
          </label>
        </div>
        <div class="checkbox">
          <label>
            {{form_add_graph.enableRangeSelect(class_='form-control')}}
            {{form_add_graph.enableRangeSelect.label.text}}
          </label>
        </div>
      </div>
      <div class="form-inline btn-group">
        <div class="form-group">
          {{form_add_graph.Submit(class_='form-control btn btn-default')}}
        </div>
      </div>
      </form>
    </div>
  </div>

  <script>
  $('.collapse').on('show.bs.collapse', function(){
    $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
  }).on('hide.bs.collapse', function(){
    $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
  });

  $('#collapseContainerGraphAdd').on('shown.bs.collapse', function () {
    document.getElementById('collapseContainerGraphAdd').scrollIntoView();
  });

  Highcharts.setOptions({
    global: {
      useUTC: false
    },
    lang: {
      thousandsSep: ','
    }
  });

  // Store the time (epoch) of the last data point received, for every condition of every graph
  var last_relay_time_mil = {};

  $(document).ready(function() {
    var chart = [];
    // Retrieve initial chart data set from the past (duration set by user)
    function getPastData(chart_number, sensor, sensor_measurement, unique_id, past_seconds) {
      var url = '/past/' + sensor_measurement + '/' + unique_id + '/' + past_seconds;
      $.getJSON(url,
        function(data, responseText, jqXHR) {
          if (jqXHR.status != 204) {
            var past_data = [];
            for (i = 0; i < data.length; i++){
              // Push the received data to the graph
              var new_date = new Date(data[i][0]);
              var new_time = new_date.getTime();
              past_data.push([new_time, data[i][1]])

              // Store the epoch time of the last data point received
              if (i == data.length - 1) {
                last_relay_time_mil[chart_number+"-"+unique_id] = new_time;
              }
            }
            chart[chart_number].series[sensor].isDirty = true;
            chart[chart_number].xAxis[0].setExtremes(new Date().setMinutes(new Date().getMinutes()-(past_seconds/60)), new Date().getTime());
            chart[chart_number].series[sensor].setData(past_data, true, false);
          }
        }
      );
    }
    // Retrieve chart data for the period since the last data acquisition (refresh period set by user)
    function getLiveData(chart_number, sensor, sensor_measurement, unique_id, xaxis_duration_min, refresh_seconds) {
      setInterval(function () {
        // Build the URL
        // Instruct only to return data since the time of the last received data point
        var url = '';
        if (chart_number+"-"+unique_id in last_relay_time_mil) {
          var epoch_mil = (new Date).getTime();
          var past_seconds = Math.floor((epoch_mil - last_relay_time_mil[chart_number+"-"+unique_id]) / 1000);
          url = '/past/' + sensor_measurement + '/' + unique_id + '/' + past_seconds;
        } else {
          url = '/past/' + sensor_measurement + '/' + unique_id + '/' + refresh_seconds;
        }
        $.getJSON(url,
          function(data, responseText, jqXHR) {
            if (jqXHR.status != 204) {
              for (i = 0; i < data.length; i++){
                var new_date = new Date(data[i][0]);
                var new_time = new_date.getTime();
                chart[chart_number].series[sensor].addPoint([new_time, data[i][1]], false, false);
                if (i == data.length - 1) {
                  last_relay_time_mil[chart_number+"-"+unique_id] = new_time;
                }
              }
            }
            // Ensure Reset Zoom button resets to the proper start and end times
            chart[chart_number].xAxis[0].update({min: new Date().setMinutes(new Date().getMinutes()-(1*(xaxis_duration_min)))}, false);
            chart[chart_number].xAxis[0].update({max: new Date().getTime()}, false);
            // Update the new data time frame and redraw the chart
            chart[chart_number].xAxis[0].setExtremes(new Date().setMinutes(new Date().getMinutes()-(1*(xaxis_duration_min))), new Date().getTime(), true);
            chart[chart_number].xAxis[0].isDirty = true;
          }
        );
      }, refresh_seconds * 1000);
    }

    // Change opacity of all chart colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
      return Highcharts.Color(color).setOpacity(0.6).get('rgba');
    });

    {% if displayOrder -%}
    {%- for order in displayOrder -%}
      {%- set chart_number = loop.index -%}
      {%- for each_graph in graph if each_graph.id == order -%}

        {% set graph_sensor_ids = each_graph.sensor_ids_measurements.split(';') %}
        {% set graph_relay_ids = each_graph.relay_ids.split(',') %}
        {% set graph_pid_ids = each_graph.pid_ids.split(',') %}
        {%- set yaxis_cpu_load = [] -%}
        {%- set yaxis_free_space = [] -%}
        {%- set yaxis_temp = [] -%}
        {%- set yaxis_hum = [] -%}
        {%- set yaxis_co2 = [] -%}
        {%- set yaxis_lux = [] -%}
        {%- set yaxis_moisture = [] -%}
        {%- set yaxis_press = [] -%}
        {%- set yaxis_alt = [] -%}
        {%- set yaxis_volts = [] -%}
        {%- set yaxis_adc = [] -%}
        {%- set yaxis_edge = [] -%}
        {%- set yaxis_relay = [] -%}

        {# Determine what y-axes are needed for sensor measurements #}
        {%- for each_sensor in sensor -%}
          {%- for each_sensor_and_measure in graph_sensor_ids if each_sensor.id|string in each_sensor_and_measure.split(',')[0] -%}
            {%- if 'cpu_load' in each_sensor_and_measure -%}
              {%- do yaxis_cpu_load.append(1) -%}
            {%- elif 'free_space' in each_sensor_and_measure -%}
              {%- do yaxis_free_space.append(1) -%}
            {%- elif 'temperature' in each_sensor_and_measure -%}
              {%- do yaxis_temp.append(1) -%}
            {%- elif 'humidity' in each_sensor_and_measure -%}
              {%- do yaxis_hum.append(1) -%}
            {%- elif 'dewpoint' in each_sensor_and_measure -%}
              {%- do yaxis_temp.append(1) -%}
            {%- elif 'co2' in each_sensor_and_measure -%}
              {%- do yaxis_co2.append(1) -%}
            {%- elif 'lux' in each_sensor_and_measure -%}
              {%- do yaxis_lux.append(1) -%}
            {%- elif 'moisture' in each_sensor_and_measure -%}
              {%- do yaxis_moisture.append(1) -%}
            {%- elif 'pressure' in each_sensor_and_measure -%}
              {%- do yaxis_press.append(1) -%}
            {%- elif 'altitude' in each_sensor_and_measure -%}
              {%- do yaxis_alt.append(1) -%}
            {%- elif 'edge' in each_sensor_and_measure -%}
              {%- do yaxis_edge.append(1) -%}
            {%- elif 'voltage' in each_sensor_and_measure -%}
              {%- do yaxis_volts.append(1) -%}
            {%- elif each_sensor.adc_measure in each_sensor_and_measure -%}
              {%- do yaxis_adc.append(each_sensor.adc_measure) -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor %}

        {# Determine what y-axes are needed for PID setpoints #}
        {%- for each_pid in pid -%}
          {%- for each_graph_pid_ids in graph_pid_ids if each_pid.id == each_graph_pid_ids -%}
            {%- for each_sensor in sensor if each_sensor.id == each_pid.sensor_id -%}
              {%- if each_pid.measurement in ['temperature', 'temperature_object', 'temperature_die'] -%}
                {%- do yaxis_temp.append(1) -%}
              {%- elif each_pid.measurement == 'humidity' -%}
                {%- do yaxis_hum.append(1) -%}
              {%- elif each_pid.measurement == 'dewpoint' -%}
                {%- do yaxis_temp.append(1) -%}
              {%- elif each_pid.measurement == 'co2' -%}
                {%- do yaxis_co2.append(1) -%}
              {%- elif each_pid.measurement == 'lux' -%}
                {%- do yaxis_lux.append(1) -%}
              {%- elif each_pid.measurement == 'moisture' -%}
                {%- do yaxis_moisture.append(1) -%}
              {%- elif each_pid.measurement == 'pressure' -%}
                {%- do yaxis_press.append(1) -%}
              {%- elif each_pid.measurement == 'altitude' -%}
                {%- do yaxis_alt.append(1) -%}
              {%- elif each_pid.measurement == 'voltage' -%}
                {%- do yaxis_volts.append(1) -%}
              {%- elif each_pid.measurement == each_sensor.adc_measure -%}
                {%- do yaxis_adc.append(each_sensor.adc_measure) -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        {%- endfor -%}

        {%- for each_relay in relay -%}
          {%- for each_graph_relay in graph_relay_ids if each_relay.id|string == each_graph_relay -%}
            {%- do yaxis_relay.append(1) -%}
          {%- endfor -%}
        {%- endfor -%}

    chart[{{chart_number}}] = new Highcharts.StockChart({
      chart : {
        renderTo: 'container{{each_graph.id}}',
        zoomType: 'x',
        resetZoomButton: {
          theme: {
            display: 'none'
          }
        },
        events: {
          load: function () {
            {%- set count_series = [] -%}

            {%- for each_sensor in sensor -%}
              {%- for each_sensor_and_measure in graph_sensor_ids if each_sensor.id|string in each_sensor_and_measure.split(',')[0] -%}
                {%- if each_sensor.device_type == 'cpu_load' %}
                  {% if 'cpu_load_1m' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'cpu_load_1m', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'cpu_load_1m', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% endif %}
                  {% if 'cpu_load_5m' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'cpu_load_5m', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'cpu_load_5m', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% endif %}
                  {% if 'cpu_load_15m' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'cpu_load_15m', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'cpu_load_15m', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% endif %}
                {%- elif each_sensor.device_type == 'free_space' %}
            getPastData({{chart_number}}, {{count_series|count}}, 'free_space', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'free_space', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                  {%- do count_series.append(1) -%}
                {%- elif each_sensor.device_type == 'tsensor' %}
                  {% if 'temperature' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% endif %}
                {%- elif each_sensor.device_type == 'tmpsensor' %}
                  {% if 'temperature_object' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'temperature_object', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'temperature_object', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif 'temperature_die' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'temperature_die', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'temperature_die', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% endif %}
                {%- elif each_sensor.device_type == 'htsensor' %}
                  {% if 'temperature' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) %}
                  {% elif 'humidity' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'humidity', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'humidity', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif 'dewpoint' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'dewpoint', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'dewpoint', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {%- endif -%}
                {%- elif each_sensor.device_type == 'co2sensor' %}
            getPastData({{chart_number}}, {{count_series|count}}, 'co2', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'co2', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                  {%- do count_series.append(1) -%}
                {%- elif each_sensor.device_type == 'luxsensor' %}
            getPastData({{chart_number}}, {{count_series|count}}, 'lux', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'lux', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                  {%- do count_series.append(1) -%}
                {%- elif each_sensor.device_type == 'moistsensor' %}
                  {% if 'lux' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'lux', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'lux', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif 'moisture' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'moisture', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'moisture', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif 'temperature' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {%- endif -%}
                {%- elif each_sensor.device_type == 'presssensor' %}
                  {% if 'temperature' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'temperature', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) %}
                  {% elif 'humidity' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'humidity', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'humidity', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif 'dewpoint' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'dewpoint', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'dewpoint', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif 'pressure' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'pressure', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'pressure', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) %}
                  {% elif 'altitude' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'altitude', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'altitude', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) %}
                  {%- endif -%}
                {%- elif each_sensor.device_type == 'edgedetect' %}
            getPastData({{chart_number}}, {{count_series|count}}, 'edge', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'edge', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                  {%- do count_series.append(1) -%}
                {%- elif each_sensor.device_type == 'analogsensor' %}
                  {% if 'voltage' in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, 'voltage', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'voltage', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {% elif each_sensor.adc_measure in each_sensor_and_measure %}
            getPastData({{chart_number}}, {{count_series|count}}, '{{each_sensor.adc_measure}}', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, '{{each_sensor.adc_measure}}', '{{each_sensor.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                    {%- do count_series.append(1) -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}

            {%- for each_relay in relay -%}
              {%- for each_graph_relay in graph_relay_ids if each_relay.id|string == each_graph_relay %}
            getPastData({{chart_number}}, {{count_series|count}}, 'duration_sec', '{{each_relay.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'duration_sec', '{{each_relay.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                {%- do count_series.append(1) %}
              {%- endfor -%}
            {%- endfor -%}

            {%- for each_pid in pid -%}
              {%- for each_graph_pid in graph_pid_ids if each_pid.id|string == each_graph_pid %}
            getPastData({{chart_number}}, {{count_series|count}}, 'setpoint', '{{each_pid.unique_id}}', {{each_graph.x_axis_duration*60}});
            getLiveData({{chart_number}}, {{count_series|count}}, 'setpoint', '{{each_pid.unique_id}}', {{each_graph.x_axis_duration}}, {{each_graph.refresh_duration}});
                {%- do count_series.append(1) %}
              {%- endfor -%}
            {%- endfor -%}
          }
        }
      },
      {% if each_graph.use_custom_colors and each_graph.custom_colors -%}
        {% set color_list = each_graph.custom_colors.split(',') %}
        colors: [{%- for each_color in color_list -%}
                  "{{each_color}}",
                 {%- endfor -%}],
      {%- endif -%}
      // title: {
      //   text: "{{each_graph.name}}"
      // },
      legend: {
        enabled: true
        // layout: 'vertical',
        // align: 'right',
        // verticalAlign: 'top',
        // y: 95,
        // itemMarginBottom: 5
      },
      // plotOptions: {
      //   series: {
      //     events: { // Hide all exept the selected legend series, or show all
      //       legendItemClick: function(event) {
      //         if (!this.visible)
      //           return true;
      //         var seriesIndex = this.index;
      //         var series = this.chart.series;
      //         for (var i = 0; i < series.length; i++) {
      //           if (series[i].index != seriesIndex) {
      //             series[i].visible ? series[i].hide() : series[i].show();
      //           }
      //         }
      //         return false;
      //       }
      //     }
      //   }
      // },
      xAxis: {
        type: 'datetime',
        ordinal: false
      },
      yAxis: [
      {%- if yaxis_relay -%}
        {
          title: {
            text: '{{_('Relay Duration')}} (sec)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'relay'
        },
      {%- endif -%}
      {%- if yaxis_cpu_load -%}
        {
          title: {
            text: '{{_('CPU Load')}}'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'cpu_load'
        },
      {%- endif -%}
      {%- if yaxis_free_space -%}
        {
          title: {
            text: '{{_('Free Space')}} (MB)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'free_space'
        },
      {%- endif -%}
      {%- if yaxis_temp -%}
        {
          title: {
            text: '{{_('Temperature')}} (°C)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'temperature'
        },
      {%- endif -%}
      {%- if yaxis_hum -%}
        {
          title: {
            text: '{{_('Relative Humidity')}} (%)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'humidity'
        },
      {%- endif -%}
      {%- if yaxis_co2 -%}
        {
          title: {
            text: 'CO<sub>2</sub> (ppmv)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'co2'
        },
      {%- endif -%}
      {%- if yaxis_lux -%}
        {
          title: {
            text: '{{_('Luminosity')}} (lx)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'lux'
        },
      {%- endif -%}
      {%- if yaxis_moisture -%}
        {
          title: {
            text: '{{_('Moisture')}}'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'moisture'
        },
      {%- endif -%}
      {%- if yaxis_press -%}
        {
          title: {
            text: '{{_('Pressure')}} (Pa)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'pressure'
        },
      {%- endif -%}
      {%- if yaxis_alt -%}
        {
          title: {
            text: '{{_('Altitude')}} (m)'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'altitude'
        },
      {%- endif -%}
      {%- if yaxis_edge -%}
        {
          title: {
            text: '{{_('Edge')}}'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'edge'
        },
      {%- endif -%}
      {%- if yaxis_volts -%}
        {
          title: {
            text: '{{_('Voltage')}}'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: 'voltage'
        },
      {%- endif -%}
      {%- for each_adc_measure in yaxis_adc -%}
        {
          title: {
            text: '{{each_adc_measure}}'
          },
          labels: {
            format: '{value}'
          },
          opposite: false,
          id: '{{each_adc_measure}}'
        },
      {%- endfor -%}
      ],
      exporting: {
        enabled: {% if each_graph.enable_export %}true{% else %}false{% endif %},
        fallbackToExportServer: false,
        // scale: 1,
        // buttons: {
        //   customButton: { // Shows/hides all series
        //     text: 'Show/Hide',
        //     onclick: function () {
        //       var chart = $('#container{{each_graph.id}}').highcharts();
        //       var series = chart.series[0];
        //       if (series.visible) {
        //         $(chart.series).each(function(){
        //           this.setVisible(false, false);
        //         });
        //         chart.redraw();
        //       } else {
        //         $(chart.series).each(function(){
        //           this.setVisible(true, false);
        //         });
        //         chart.redraw();
        //       }
        //     }
        //   },
        // }
      },
      navigator: {
        enabled: {% if each_graph.enable_navbar %}true{% else %}false{% endif %}
      },
      scrollbar: {
        enabled: false
      },
      rangeSelector: {
        enabled: {% if each_graph.enable_rangeselect %}true{% else %}false{% endif %},
        buttons: [{
          count: 30,
          type: 'minute',
          text: '30m'
        }, {
          type: 'hour',
          count: 1,
          text: '1h'
        }, {
          type: 'hour',
          count: 3,
          text: '3h'
        }, {
          type: 'hour',
          count: 6,
          text: '6h'
        }, {
          type: 'hour',
          count: 12,
          text: '12h'
        }, {
          type: 'day',
          count: 1,
          text: '1d'
        }, {
          type: 'day',
          count: 3,
          text: '3d'
        }, {
          type: 'week',
          count: 1,
          text: '1w'
        }, {
          type: 'week',
          count: 2,
          text: '2w'
        }, {
          type: 'month',
          count: 1,
          text: '1m'
        }, {
          type: 'month',
          count: 3,
          text: '3m'
        }, {
          type: 'all',
          text: 'Full'
        }],
        selected: 15
      },
      credits: {
        enabled: false,
        href: "https://github.com/kizniche/Mycodo",
        text: "Mycodo"
      },
      series: [
      {%- for each_sensor in sensor -%}
        {%- for each_sensor_and_measure in graph_sensor_ids if each_sensor.id|string == each_sensor_and_measure.split(',')[0] -%}
          {%- if each_sensor.device_type == 'cpu_load' -%}
            {% if 'cpu_load_1m' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('CPU Load')}} (1m)',
                type: 'line',
                tooltip: {
                  valueDecimals: 2
                },
                yAxis: 'cpu_load',
                data: []
              },
            {% elif 'cpu_load_5m' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('CPU Load')}} (5m)',
                type: 'line',
                tooltip: {
                  valueDecimals: 2
                },
                yAxis: 'cpu_load',
                data: []
              },
            {% elif 'cpu_load_15m' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('CPU Load')}} (15m)',
                type: 'line',
                tooltip: {
                  valueDecimals: 2
                },
                yAxis: 'cpu_load',
                data: []
              },
            {% endif %}
          {%- elif each_sensor.device_type == 'free_space' -%}
            {
              name: '{{each_sensor.name}} {{_('Free')}}',
              type: 'line',
              tooltip: {
                valueSuffix: ' MB',
                valueDecimals: 2
              },
              yAxis: 'free_space',
              data: []
            },
          {%- elif each_sensor.device_type == 'tsensor' -%}
            {
              name: '{{each_sensor.name}} {{_('Temperature')}}',
              type: 'line',
              tooltip: {
                pointFormatter: function () {
                  return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                }
              },
              yAxis: 'temperature',
              data: []
            },
          {%- elif each_sensor.device_type == 'tmpsensor' -%}
            {% if 'temperature_object' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Temperature (Object)')}}',
                type: 'line',
                  tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {% elif 'temperature_die' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Temperature (Die)')}}',
                type: 'line',
                tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {% endif %}
          {%- elif each_sensor.device_type == 'htsensor' -%}
            {% if 'temperature' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Temperature')}}',
                type: 'line',
                tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {%- elif 'humidity' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Humidity')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: ' %',
                  valueDecimals: 2
                },
                yAxis: 'humidity',
                data: []
              },
            {%- elif 'dewpoint' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Dew Point')}}',
                tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {%- endif -%}
          {%- elif each_sensor.device_type == 'moistsensor' -%}
            {% if 'lux' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Light')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: '',
                  valueDecimals: 0
                },
                yAxis: 'lux',
                data: []
              },
            {%- elif 'moisture' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Moisture')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: '',
                  valueDecimals: 0
                },
                yAxis: 'moisture',
                data: []
              },
            {%- elif 'temperature' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Temperature')}}',
                tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {%- endif -%}
          {%- elif each_sensor.device_type == 'co2sensor' -%}
            {
              name: '{{each_sensor.name}} CO<sub>2</sub>',
              type: 'line',
              tooltip: {
                valueSuffix: ' ppmv',
                valueDecimals: 0
              },
              yAxis: 'co2',
              data: []
            },
          {%- elif each_sensor.device_type == 'luxsensor' -%}
            {
              name: '{{each_sensor.name}} {{_('Lux')}}',
              type: 'line',
              tooltip: {
                valueSuffix: ' lx',
                valueDecimals: 1
              },
              yAxis: 'lux',
              data: []
            },
          {%- elif each_sensor.device_type == 'presssensor' -%}
            {%- if 'temperature' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Temperature')}}',
                type: 'line',
                tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {%- elif 'humidity' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Humidity')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: ' %',
                  valueDecimals: 2
                },
                yAxis: 'humidity',
                data: []
              },
            {%- elif 'dewpoint' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Dew Point')}}',
                tooltip: {
                  pointFormatter: function () {
                    return '<span style="color:'+ this.series.color + '"">\u25CF</span> ' + this.series.name + ': <b>' + Highcharts.numberFormat(this.y, 2) + '°C (' + Highcharts.numberFormat(((this.y*9/5)+32), 2) + '°F)</b><br>';
                  }
                },
                yAxis: 'temperature',
                data: []
              },
            {%- elif 'pressure' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Pressure')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: ' Pa',
                  valueDecimals: 0
                },
                yAxis: 'pressure',
                data: []
              },
            {%- elif 'altitude' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Altitude')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: ' m',
                  valueDecimals: 0
                },
                yAxis: 'altitude',
                data: []
              },
            {%- endif -%}
          {%- elif each_sensor.device_type == 'edgedetect' -%}
            {
              name: '{{each_sensor.name}} {{_('Edge')}}',
              type: 'column',
              tooltip: {
                valueSuffix: ' edge',
                valueDecimals: 0
              },
              yAxis: 'edge',
              data: []
            },
          {%- elif each_sensor.device_type == 'analogsensor' -%}
            {%- if 'voltage' in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{_('Voltage')}}',
                type: 'line',
                tooltip: {
                  valueSuffix: ' volts',
                  valueDecimals: 5
                },
                yAxis: 'voltage',
                data: []
              },
            {%- elif each_sensor.adc_measure in each_sensor_and_measure -%}
              {
                name: '{{each_sensor.name}} {{each_sensor.adc_measure}}',
                type: 'line',
                tooltip: {
                  valueSuffix: ' {{each_sensor.adc_measure_units}}',
                  valueDecimals: 3
                },
                yAxis: '{{each_sensor.adc_measure}}',
                data: []
              },
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}

      {%- for each_relay in relay -%}
        {%- for each_graph_relay in graph_relay_ids if each_relay.id|string == each_graph_relay -%}
          {
            name: '{{each_relay.name}}',
            type: 'column',
            dataGrouping: {
              approximation: 'low',
              groupPixelWidth: 3
            },
            tooltip: {
              valueSuffix: ' sec',
              valueDecimals: 2
            },
            yAxis: 'relay',
            data: []
          },
        {%- endfor -%}
      {%- endfor -%}

      {%- for each_pid in pid -%}
        {%- for each_graph_pid_ids in graph_pid_ids if each_pid.id|string == each_graph_pid_ids and each_pid.measurement -%}
          {
            name: '{{each_pid.name}} {{_('Setpoint')}}',
            type: 'line',
            tooltip: {
              valueSuffix: '{{measurement_units[each_pid.measurement]|safe}}',
              valueDecimals: 2
            },
            yAxis: '{{each_pid.measurement}}',
            data: []
          },
        {%- endfor -%}
      {%- endfor -%}
      ]
    });
    $('#resetZoom{{chart_number}}').click(function() {
      var chart = $('#container{{each_graph.id}}').highcharts();
      chart.zoomOut();
    });
    $('#showhidebutton{{chart_number}}').click(function() {
      var chart = $('#container{{each_graph.id}}').highcharts();
      var series = chart.series[0];
      if (series.visible) {
        $(chart.series).each(function(){
          this.setVisible(false, false);
        });
        chart.redraw();
      } else {
        $(chart.series).each(function(){
          this.setVisible(true, false);
        });
        chart.redraw();
      }
    });

      {%- endfor -%}
    {%- endfor -%}
    {%- endif -%}
  });
</script>

{% endblock %}
