{% extends "layout.html" %}
{% set active_page = "graph_async" %}
{% set help_page = ["asynchronous-graphs", _('Asynchronous Graphs')] %}

{% block head %}
  <script src="/static/js/highstock.js"></script>

  <script type="text/javascript" src="/static/js/modules/exporting.js"></script>
  <script type="text/javascript" src="/static/js/modules/offline-exporting.js"></script>
  <script type="text/javascript" src="/static/js/modules/export-data.js"></script>
  <script type="text/javascript" src="/static/js/modules/canvas-tools.js"></script>
  <script type="text/javascript" src="/static/js/modules/jspdf.min.js"></script>
  <script type="text/javascript" src="/static/js/modules/highcharts-export-clientside.js"></script>

  <script src="/static/js/modules/jspdf.min.js"></script>
  <script src="/static/js/modules/highcharts-export-clientside.js"></script>
  {% if current_user.theme in dark_themes %}
    <script src="/static/js/dark-unica.js"></script>
  {% endif %}

{% endblock %}  

{% block title %} - {{_('Asynchronous Graph')}}{% endblock %}

{% block body %}
  <!-- Route: /graph-async -->
  <div class="container">
  {% include 'flash_messages.html' %}

    <h4>{{_('Asynchronous Graphs')}} <a href="/help#{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>

    <p>A graphical data display that is useful for viewing data sets spanning relatively long periods of time (weeks/months/years), which could be very data- and processor-intensive to view as a Live Graph.</p>

  {% if selected_ids_measures %}
    <div id="container" style="height: 600px; min-width: 300px"></div>
  {% endif %}

    <form method="post" action="/graph-async">
    <div class="form-row" style="padding: 1em 0">
      <div class="col-auto">
        <input class="btn btn-primary" type="submit" name="submit" value="All Data">
      </div>
      <div class="col-auto">
        Past:
      </div>
      <div class="col-auto">
        <input class="btn btn-primary" type="submit" name="submit" value="Year">
      </div>
      <div class="col-auto">
        <input class="btn btn-primary" type="submit" name="submit" value="Month">
      </div>
      <div class="col-auto">
        <input class="btn btn-primary" type="submit" name="submit" value="Week">
      </div>
      <div class="col-auto">
        <input class="btn btn-primary" type="submit" name="submit" value="Day">
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <select class="form-control" id="selected_measure" name="selected_measure" size="{{input_choices|length + math_choices|length + output_choices|length + pid_choices|length + tag_choices|length}}" multiple>
        {% for each_choice, value in input_choices.items() -%}
          <option value="{{each_choice}},input"{% if each_choice + ',input' in selected_ids_measures %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in math_choices.items() -%}
          <option value="{{each_choice}},math"{% if each_choice + ',math' in selected_ids_measures %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in output_choices.items() -%}
          <option value="{{each_choice}},output"{% if each_choice + ',output' in selected_ids_measures %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in pid_choices.items() -%}
          <option value="{{each_choice}},pid"{% if each_choice + ',pid' in selected_ids_measures %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        {% for each_choice, value in tag_choices.items() -%}
          <option value="{{each_choice}},tag"{% if each_choice + ',tag' in selected_ids_measures %} selected{% endif %}>{{value}}</option>
        {% endfor -%}
        </select>
      </div>
    </div>
    </form>

  <div style="padding-bottom: 1em">
    {{_('Hold down the <kbd>Ctrl</kbd> or <kbd>&#8984;</kbd> key to select more than one')}}
  </div>

  </div>

  {% if selected_ids_measures %}
  <script>
Highcharts.setOptions({
  global: {
    useUTC: false
  },
  lang: {
    thousandsSep: ','
  }
});

$(document).ready(function() {
    var id_measure = [
    {% for each_id_meas in selected_ids_measures %}
    {
      device_id: '{{each_id_meas.split(',')[0]}}',
      measurement_id: '{{each_id_meas.split(',')[1]}}',
      device_type: '{{each_id_meas.split(',')[2]}}'
    },
    {% endfor %}
    ];
    var chart = [];

    function getPastData(chart_number, series, device_id, device_type, measurement_id, start_time) {
      var url = '/async/' + device_id + '/' + device_type + '/' + measurement_id + '/' + start_time + '/0';
      $.getJSON(url,
        function(data, responseText, jqXHR) {
          if (jqXHR.status !== 204) {
            var new_data = [];
            for (i = 0; i < data.length; i++) {
              var new_date = new Date(data[i][0]);
              var new_time = new_date.getTime();

              if (device_type === 'tag') {
                chart[chart_number].series[series].addPoint({
                  x: new_time,
                  title: data[i][1],
                  text: data[i][2]
                }, false, false);
              }
              else {
                new_data.push([new_time, data[i][1]]);
              }
            }

            if (device_type !== 'tag') {
              new_data.push([new Date().getTime(), null]);
              chart[chart_number].series[series].setData(new_data, false, false);
              var nav = chart[chart_number].get('navigator');
              nav.setData(new_data, false, false);
            }

          }
          if (device_type !== 'tag') {
            chart[chart_number].redraw();
          }
        }
      );
    }

    function set_data_from_url(url, series, device_type) {
      $.getJSON(url,
        function (data, responseText, jqXHR) {
          if (jqXHR.status !== 204) {
            var new_data = [];
            for (i = 0; i < data.length; i++) {
              var new_date = new Date(data[i][0]);
              var new_time = new_date.getTime();
              if (device_type === 'tag') {
                chart[0].series[series].addPoint({
                  x: new_time,
                  title: data[i][1],
                  text: data[i][2]
                }, false, false);
              }
              else {
                new_data.push([new_time, data[i][1]]);
              }
            }
          }
          if (device_type !== 'tag') {
            chart[0].series[series].setData(new_data);
          }
          chart[0].hideLoading();
        }
      );
    }

    function updateAllSeries(e) {
      var min = null;
      var max = null;
      if (e.xAxis == null) {
        min = e.min;
        max = e.max;
      } else {
        min = e.xAxis[0].min;
        max = e.xAxis[0].max;
      }
      for (var each_series in id_measure) {
        if (id_measure[each_series]['device_type'] !== 'tag') {
          var url = '/async/' + id_measure[each_series]['device_id'] + '/' + id_measure[each_series]['device_type'] + '/' + id_measure[each_series]['measurement_id'] + '/' + Math.round(min) / 1000 + '/' + Math.round(max) / 1000;
          set_data_from_url(url, each_series, id_measure[each_series]['device_type'])
        }
      }
    }

    // create the chart
    chart[0] = new Highcharts.StockChart({
        chart: {
          renderTo: 'container',
          zoomType: 'x',
          events: {
            load: function () {
              {% set count_series = [] -%}
              {% for each_id_meas in selected_ids_measures %}
                {%- set device_id = each_id_meas.split(',')[0] -%}
                {%- set measurement_id = each_id_meas.split(',')[1] -%}
                {%- set device_type = each_id_meas.split(',')[2] -%}
              getPastData(0, {{count_series|count}}, '{{device_id}}', '{{device_type}}', '{{measurement_id}}', '{{start_time_epoch}}');
                {%- do count_series.append(1) %}
              {% endfor %}
            },
            selection: updateAllSeries
          }
        },

        tooltip: {
          shared: true,
          formatter: function(){
            var d = new Date(this.x);
            if (this.point) {
              return '<b>'+ Highcharts.dateFormat('%B %e, %Y %H:%M:%S.', this.x) + d.getMilliseconds()
                   + '</b><br/>' + this.series.name
                   + '<br/>' + this.point.title
                   + '<br/>' + this.point.text;
            }
            else {
              var s = '<b>'+ Highcharts.dateFormat('%B %e, %Y %H:%M:%S.', this.x) + d.getMilliseconds() + '</b>';
              $.each(this.points, function(i, point) {
                  s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ': ' + Highcharts.numberFormat(point.y, this.series.tooltipOptions.valueDecimals) + ' ' + this.series.tooltipOptions.valueSuffix;
              });
              return s;
            }
          }
        },

        navigator: {
            adaptToUpdatedData: false,
            series: {
                id: 'navigator'
            }
        },

        scrollbar: {
          liveRedraw: false
        },

        legend: {
          enabled: true
        },

        // subtitle: {
        //     text: 'Display many data points'
        // },

        rangeSelector: {
            buttons: [{
                type: 'hour',
                count: 1,
                text: '1h'
            }, {
                type: 'day',
                count: 1,
                text: '1d'
            }, {
                type: 'week',
                count: 1,
                text: '1w'
            }, {
                type: 'month',
                count: 1,
                text: '1m'
            }, {
                type: 'year',
                count: 1,
                text: '1y'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false, // it supports only days
            selected: 4 // all
        },

        xAxis: {
          events: {
            setExtremes: function(e) {
              if (typeof(e.rangeSelectorButton) !== 'undefined' || e.trigger === 'navigator') {
                updateAllSeries(e);
              }
            }
          },
          minRange: 1800 * 1000 // 30 minutes
        },

        yAxis: [
        {% for each_axis in y_axes if dict_units and each_axis in dict_units %}
          {
            title: {
              text: '{{dict_units[each_axis]['name']}}{% if dict_units[each_axis]['unit'] != '' %} ({{dict_units[each_axis]['unit']}}){% endif %}'
            },
            labels: {
              format: '{value}'
            },
            opposite: false,
            id: '{{each_axis}}'
          },
        {% endfor %}
        ],

        credits: {
          enabled: false,
          href: "https://github.com/kizniche/Mycodo",
          text: "Mycodo"
        },

        series: [

        {% for each_id_meas in selected_ids_measures -%}
          {%- set device_id = each_id_meas.split(',')[0] -%}
          {%- set measurement_id = each_id_meas.split(',')[1] -%}

          {% for each_input in input if each_input.unique_id == device_id -%}
            {%- if measurement_id in input_measurements_dict -%}

            {
              name: '{{each_input.name}}

                {%- if input_measurements_dict[measurement_id].name -%}
                  {{' (' + input_measurements_dict[measurement_id].name}})
                {%- endif -%}

                {{' (CH' + (input_measurements_dict[measurement_id].channel + 1)|string}}

                {%- if input_measurements_dict[measurement_id].converted_unit -%}
                  {{', ' + measurement_units[input_measurements_dict[measurement_id].converted_measurement]['name']}}
                {%- else -%}
                  {{', ' + measurement_units[input_measurements_dict[measurement_id].measurement]['name']}}
                {%- endif -%}

                {%- if input_measurements_dict[measurement_id].converted_unit -%}
                  {{', ' + units[input_measurements_dict[measurement_id].converted_unit]['name']}}
                {%- else -%}
                  {{', ' + units[input_measurements_dict[measurement_id].unit]['name']}}
                {%- endif -%}

                )',

              {% if measurement_units[input_measurements_dict[measurement_id].measurement]['meas'] == 'edge' %}
              type: 'column',
              {% else %}
              type: 'line',
              {% endif %}
              tooltip: {
                valueSuffix: '
                {%- if input_measurements_dict[measurement_id].converted_unit -%}
                  {{' ' + units[input_measurements_dict[measurement_id].converted_unit]['unit']}}
                {%- else -%}
                  {{' ' + units[input_measurements_dict[measurement_id].unit]['unit']}}
                {%- endif -%}
                ',
                valueDecimals: 3
              },
              yAxis: '
                {%- if input_measurements_dict[measurement_id].converted_unit -%}
                  {{input_measurements_dict[measurement_id].converted_unit}}
                {%- else -%}
                  {{input_measurements_dict[measurement_id].unit}}
                {%- endif -%}
                  ',
              data: []
            },

            {%- endif -%}
          {% endfor %}

          {% for each_math in math if each_math.unique_id == each_id_meas.split(',')[0] -%}
            {%- set measurement_id = each_id_meas.split(',')[1] -%}
            {%- if measurement_id in math_measurements_dict -%}

            {
            name: '{{each_math.name}}

              {%- if math_measurements_dict[measurement_id].name -%}
                {{' (' + math_measurements_dict[measurement_id].name}})
              {%- endif -%}

                {{' (CH' + (math_measurements_dict[measurement_id].channel + 1)|string}}

              {%- if math_measurements_dict[measurement_id].converted_unit -%}
                {{', ' + measurement_units[math_measurements_dict[measurement_id].converted_measurement]['name']}}
              {%- else -%}
                {{', ' + measurement_units[math_measurements_dict[measurement_id].measurement]['name']}}
              {%- endif -%}

              {%- if math_measurements_dict[measurement_id].converted_unit -%}
                {{', ' + units[math_measurements_dict[measurement_id].converted_unit]['name']}}
              {%- else -%}
                {{', ' + units[math_measurements_dict[measurement_id].unit]['name']}}
              {%- endif -%}

              )',

            {% if measurement_units[math_measurements_dict[measurement_id].measurement]['meas'] == 'edge' %}
            type: 'column',
            {% else %}
            type: 'line',
            {% endif %}
            tooltip: {
              valueSuffix: '
              {%- if math_measurements_dict[measurement_id].converted_unit -%}
                {{' ' + units[math_measurements_dict[measurement_id].converted_unit]['unit']}}
              {%- else -%}
                {{' ' + units[math_measurements_dict[measurement_id].unit]['unit']}}
              {%- endif -%}
              ',
              valueDecimals: 3
            },
            yAxis: '
              {%- if math_measurements_dict[measurement_id].converted_unit -%}
                {{math_measurements_dict[measurement_id].converted_unit}}
              {%- else -%}
                {{math_measurements_dict[measurement_id].unit}}
              {%- endif -%}
                ',
            data: []
          },
            {%- endif -%}
          {% endfor %}

          {%- for each_pid in pid if each_pid.unique_id == device_id -%}
            {%- if measurement_id in pid_measurements_dict -%}

            {
              name: '{{each_pid.name}}

                {%- if pid_measurements_dict[measurement_id].name -%}
                  {{' (' + pid_measurements_dict[measurement_id].name}})
                {%- endif -%}

                  {{' (CH' + (pid_measurements_dict[measurement_id].channel + 1)|string}}

                {%- if pid_measurements_dict[measurement_id].converted_unit -%}
                  {{', ' + measurement_units[pid_measurements_dict[measurement_id].converted_measurement]['name']}}
                {%- else -%}
                  {{', ' + measurement_units[pid_measurements_dict[measurement_id].measurement]['name']}}
                {%- endif -%}

                {%- if pid_measurements_dict[measurement_id].converted_unit -%}
                  {{', ' + units[pid_measurements_dict[measurement_id].converted_unit]['name']}}
                {%- else -%}
                  {{', ' + units[pid_measurements_dict[measurement_id].unit]['name']}}
                {%- endif -%}

                )',

              {% if measurement_units[pid_measurements_dict[measurement_id].measurement]['meas'] == 'edge' %}
              type: 'column',
              {% else %}
              type: 'line',
              {% endif %}
              tooltip: {
                valueSuffix: '
                {%- if pid_measurements_dict[measurement_id].converted_unit -%}
                  {{' ' + units[pid_measurements_dict[measurement_id].converted_unit]['unit']}}
                {%- else -%}
                  {{' ' + units[pid_measurements_dict[measurement_id].unit]['unit']}}
                {%- endif -%}
                ',
                valueDecimals: 3
              },
              yAxis: '
                {%- if pid_measurements_dict[measurement_id].converted_unit -%}
                  {{pid_measurements_dict[measurement_id].converted_unit}}
                {%- else -%}
                  {{pid_measurements_dict[measurement_id].unit}}
                {%- endif -%}
                  ',
              data: []
            },

            {%- endif -%}
          {% endfor %}

          {%- for each_output in output if each_output.unique_id == device_id -%}
              {
                name: '{{each_output.name}} ({{measurement_units[each_output.measurement]['name']}})',
                type: 'column',
                dataGrouping: {
                  approximation: 'high',
                  groupPixelWidth: 1
                },
                tooltip: {
                  valueSuffix: ' {{units[each_output.unit]['unit']}}',
                  valueDecimals: 2
                },
                yAxis: '{{each_output.unit}}',
                data: []
              },
          {%- endfor -%}

          {% for each_tag in tag if each_tag.unique_id == device_id %}
            {
              name: 'Note Tag: {{each_tag.name}}',
              type: 'flags',
              data: [],
              shape: 'squarepin'
            },
          {% endfor %}

        {% endfor %}  {# End main for #}

        ]
    });
});
</script>
{% endif %}

{% endblock %}
