{% extends "layout.html" %}
{% set active_page = "graph_async" %}
{% set help_page = ["asynchronous-graphs", _('Asynchronous Graphs')] %}

{% block head %}
  <script src="/static/js/highstock.src.js"></script>
  <script src="/static/js/modules/exporting.js"></script>
  <script src="/static/js/modules/canvas-tools.js"></script>
  <script src="/static/js/modules/export-csv.js"></script>
  <script src="/static/js/modules/jspdf.min.js"></script>
  <script src="/static/js/modules/highcharts-export-clientside.js"></script>
  {% if current_user.theme in dark_themes %}
    <script src="/static/js/dark-unica.js"></script>
  {% endif %}

{% endblock %}  

{% block title %} - {{_('Asynchronous Graph')}}{% endblock %}

{% block body %}
  <!-- Route: /graph-async -->
  <div class="container">
  {% include 'flash_messages.html' %}

    <h4>{{_('Asynchronous Graphs')}} <a href="/help#asynchronous-graphs" target="_blank"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a></h4>

    <p>A graphical data display that is useful for viewing data sets spanning relatively long periods of time (weeks/months/years), which could be very data- and processor-intensive to view as a Live Graph.</p>

    <form method="post" action="/graph-async">
    <div class="form-inline">
      <div class="form-group">
        <select class="form-control" id="selected_measure" name="selected_measure">
        {% for each_choice, value in sensor_choices.items() -%}
          <option value="{{each_choice}}">{{value}}</option>
        {% endfor -%}
        </select>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit">
      </div>
    </div>
    </form>

  </div>

  {% if selected_measure %}
    <div id="container" style="height: 500px; min-width: 300px"></div>
  {% endif %}

  </div>

  {% if selected_measure %}
  <script>

Highcharts.setOptions({
  global: {
    useUTC: false
  },
  lang: {
    thousandsSep: ','
  }
});

$(function () {
    var chart = new Array();

    function getPastData(sensor_measurement, sensor_id) {
      var url = '/async/' + sensor_measurement + '/' + sensor_id + '/0/0';
      $.getJSON(url,
        function(data, responseText, jqXHR) {
          if (jqXHR.status != 204) {
            var past_data = [];
            for (i = 0; i < data.length; i++) {
              var new_date = new Date(data[i][0]);
              var new_time = new_date.getTime();
              past_data.push([new_time, data[i][1]]);
            }
            past_data.push([new Date().getTime(), null]);
            return past_data
          }
        }
      );
    }

    function afterSetExtremes(e) {
      var url = '/async/{{selected_measure}}/{{selected_unique_id}}/' + Math.round(e.min)/1000 + '/' + Math.round(e.max)/1000;
      console.log(url);
      $.getJSON(url,
        function(data, responseText, jqXHR) {
          if (jqXHR.status != 204) {
            var new_data = [];
            for (i = 0; i < data.length; i++){
              var new_date = new Date(data[i][0]);
              var new_time = new_date.getTime();
              new_data.push([new_time, data[i][1]]);
            }
          }
          chart[0].series[0].setData(new_data);
          chart[0].hideLoading();
        }
      );
    }

    var url = '/async/{{selected_measure}}/{{selected_unique_id}}/0/0';
    $.getJSON(url, function (data_raw) {

      var data = [];
      for (i = 0; i < data_raw.length; i++) {
        var new_date = new Date(data_raw[i][0]);
        var new_time = new_date.getTime();
        data.push([new_time, data_raw[i][1]]);
      }
      data.push([new Date().getTime(), null]);

      // create the chart
      chart[0] = new Highcharts.StockChart({
          chart: {
              renderTo: 'container',
              zoomType: 'x'
          },

          navigator: {
              adaptToUpdatedData: false,
              series: {
                  data: data
              }
          },

          scrollbar: {
              liveRedraw: false
          },

          title: {
              text: 'Asynchronous loading of {{selected_measure}} data from Input ID {{selected_id}}'
          },

          // subtitle: {
          //     text: 'Display many data points'
          // },

          rangeSelector: {
              buttons: [{
                  type: 'hour',
                  count: 1,
                  text: '1h'
              }, {
                  type: 'day',
                  count: 1,
                  text: '1d'
              }, {
                  type: 'month',
                  count: 1,
                  text: '1m'
              }, {
                  type: 'year',
                  count: 1,
                  text: '1y'
              }, {
                  type: 'all',
                  text: 'All'
              }],
              inputEnabled: false, // it supports only days
              selected: 4 // all
          },

          xAxis: {
              events: {
                  afterSetExtremes: afterSetExtremes
              },
              minRange: 1800 * 1000 // 30 minutes
          },

          yAxis: {
              floor: 0
          },

          series: [{
              data: data,
              tooltip: {
                  valueDecimals: 3
              },
              dataGrouping: {
                  enabled: false
              }
          }]
      });
  });
});
</script>
{% endif %}

{% endblock %}
