{% extends "layout.html" %}
{% set active_page = "data" %}
{% set help_page = ["https://kizniche.github.io/Mycodo/Inputs/", dict_translation['input']['title']] %}

{% block title %} - {{dict_translation['input']['title']}}{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/js/multiselect.min.js"></script>

<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<link rel="stylesheet" href="/static/css/gridstack.min.css" />
<link rel="stylesheet" href="/static/css/gridstack-custom.css" />
<script src="/static/js/gridstack.all.js"></script>

<link href="/static/css/toastr.min.css" rel="stylesheet"/>
<script src="/static/js/toastr.min.js"></script>

<script>
  $(document).ready(function () {
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "15000",
      "extendedTimeOut": "10000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    $('form').submit(function (e) {
      let submitter_btn = $(e.originalEvent.submitter);
      console.log(submitter_btn.attr("name"));

      if (submitter_btn.attr("name") === 'input_mod' ||
          submitter_btn.attr("name") === 'input_delete' ||
          submitter_btn.attr("name") === 'measurement_mod' ||
          submitter_btn.attr("name") === 'input_activate' ||
          submitter_btn.attr("name") === 'input_deactivate') {
        toastr['info']('Command sent. Please wait...');
        $.ajax({
          type: "POST",
          url: '/input_submit',
          data: $(this).serialize()
              + '&'
              + submitter_btn.attr("name")
              + '='
              + submitter_btn.attr("value"),
          success: function (data) {
            if (data.data.error.length === 0) {
              if (submitter_btn.attr("name") === 'input_mod' && 'page_refresh' in data.data && data.data.page_refresh) {
                window.location.reload();
                return;
              }
              if (submitter_btn.attr("name") === 'input_mod' && data.data.warning.length !== 0) {
                toastr['warning']('Warning: ' + data.data.warning.join(", "));
              }
              if (submitter_btn.attr("name") === 'input_delete' && 'input_id' in data.data) {
                $('#modal_config_' + data.data.input_id).modal('hide');
                $('.modal-backdrop').remove();
                $(document.body).removeClass("modal-open");
                $('.grid-stack').data('gridstack').remove_widget($('#input_' + data.data.input_id));
              }
              if (submitter_btn.attr("name") === 'input_activate' && 'input_id' in data.data) {
                $('#input_status_' + data.data.input_id).removeClass("inactive-background");
                $('#input_status_' + data.data.input_id).addClass("active-background");
                document.getElementById('input_activate_' + data.data.input_id).style.display = "none";
                document.getElementById('input_deactivate_' + data.data.input_id).style.display = "";
              }
              if (submitter_btn.attr("name") === 'input_deactivate' && 'input_id' in data.data) {
                $('#input_status_' + data.data.input_id).removeClass("active-background");
                $('#input_status_' + data.data.input_id).addClass("inactive-background");
                document.getElementById('input_activate_' + data.data.input_id).style.display = "";
                document.getElementById('input_deactivate_' + data.data.input_id).style.display = "none";
              }
              toastr['success']('Success: ' + data.data.message);
            } else {
              toastr['error']('Error: ' + data.data.error.join(", "));
            }
          },
          error: function() {
            toastr['error']('Error: Could not communicate with server');
          }
        });
        e.preventDefault();
      }
    });

    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{form_mod_input.csrf_token._value()}}")
        }
      }
    })
  });
</script>
{% endblock %}

{%- block body %}
  <!-- Route: /input -->
  <main role="main" class="container">
    {% include 'flash_messages.html' %}

    <h4>{{dict_translation['input']['title']}} <a href="{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>

    <div style="clear: both; padding: 0.5em 0;"></div>

    <form id="new_input_form" method="post" action="/input" style="padding-bottom: 0.5em">
      {{form_add_input.hidden_tag()}}
      <div class="row small-gutters" style="padding-left: 0.75em">
        <div class="col-auto">
          {{form_add_input.input_type(class_='selectpicker', **{'data-live-search': 'true', 'title': dict_translation['input']['title'] + ': ' + dict_translation['select_one']['title']})}}
        </div>
        <div class="col-auto">
          {{form_add_input.input_add(class_='btn btn-primary')}}
        </div>
      </div>
    </form>

    <div style="clear: both; padding: 1em 0;"></div>

    {% if display_order_input %}
      {% include 'pages/data_options/input.html' %}
    {% endif %}

    {% if display_order_math %}
      {% include 'pages/data_options/math.html' %}
    {% endif %}

  </main>

  <div style="clear: both; padding-bottom: 1.5em;"></div>

  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });

    // Grid
    let options = {
      cellHeight: 20,
      column: 20,
      verticalMargin: 8,
      draggable: {
        handle: '.panel-heading'
      },
      float: false
    };
    let grid = $('.grid-stack').gridstack(options);

    grid.on('change', function (event, items) {
      if ($(items)) {
        let res = $('.grid-stack > .grid-stack-item:visible').map(function (i, el) {
          el = $(el);
          const node = el.data('_gridstack_node');
          return {
            input_id: el.attr('data-custom-id'),
            position_y: node.y,
          };
        });
        $.ajax({
          url: "/save_input_layout",
          type: "POST",
          data: JSON.stringify(res.toArray()),
          contentType: "application/json; charset=utf-8",
          success: function (dat) {
          }
        });
      }
    });
  </script>

{% endblock -%}
