{% extends "layout.html" %}
{% set active_page = "lcd" %}
{% set help_page = "lcd" %}

{% block title %} - {{_('LCD')}}{% endblock %}

{% block body %}
  <!-- Route: /lcd -->
  <div class="container">
  {% include 'flash_messages.html' %}

  <h4>{{_('LCDs')}} <a href="/help#lcd"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a></h4>

  <p>{{_('LCDs allow the display of data for easy viewing and for displaing alerts to conditional events you configure (flash the LCD).')}}</p>

  <div style="clear: both; padding: 0.5em 0;"></div>

  <div class="row small-gutters">
    <form method="post" action="/lcd">
    <input type="hidden" name="form-name" value="addLCD">
    {{form_add_lcd.hidden_tag()}}
    <div class="col-xs-6 col-sm-2 col-lg-2">
      {{form_add_lcd.numberLCDs(class_='form-control', value=1, type="number", **{'rel':'tooltip','title':_('How many LCD controllers to add')})}}
    </div>
    <div class="col-xs-6 col-sm-3 col-lg-2">
      {{form_add_lcd.lcdAddSubmit(class_='form-control btn btn-default')}}
    </div>
    </form>
  </div>

  <div style="clear: both; padding:1em 0;"></div>

    {%- if displayOrder -%}
    {%- for order in displayOrder -%}
      {%- for each_lcd in lcd if each_lcd.id == order-%}

        <div class="table-responsive" style="border: 2px solid #ddd; border-radius: 5px;">
          <table class="table {% if each_lcd.is_activated -%}active-background{%- else -%}inactive-background{% endif -%}">
            <tr>
              <th rowspan="2" class="col-sm-2">
                {%- if each_lcd.is_activated %}
                  <form method="post" action="/lcd">
                    <input type="hidden" name="form-name" value="deactivateLCD">
                    {{form_deactivate_lcd.csrf_token}}
                    {{form_deactivate_lcd.lcd_id(value=each_lcd.id)}}
                    {{form_deactivate_lcd.deactivate(class_='form-control btn btn-default')}}
                  </form>
                {%- else %}
                  <form method="post" action="/lcd">
                    <input type="hidden" name="form-name" value="activateLCD">
                    {{form_activate_lcd.csrf_token}}
                    {{form_activate_lcd.lcd_id(value=each_lcd.id)}}
                    {{form_activate_lcd.activate(class_='form-control btn btn-default')}}
                  </form>
                {%- endif -%}
                <form method="post" action="/lcd">
                  <input type="hidden" name="form-name" value="delLCD">
                  {{form_del_lcd.csrf_token}}
                  {{form_del_lcd.lcd_id(value=each_lcd.id)}}
                  {{form_del_lcd.delete(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this LCD controller?")'})}}
                </form>
              </th>
              <th rowspan="2" class="col-sm-2">
                <form method="post" action="/lcd">
                  <input type="hidden" name="form-name" value="orderLCD">
                  {{form_order_lcd.csrf_token}}
                  {{form_order_lcd.lcd_id(value=each_lcd.id)}}
                  {{form_order_lcd.reorder_up(class_='form-control btn btn-default')}}
                  {{form_order_lcd.reorder_down(class_='form-control btn btn-default')}}
                </form>
              </th>
              <th rowspan="2" class="col-sm-2">
                <form method="post" action="/lcd">
                  <input type="hidden" name="form-name" value="resetFlashingLCD">
                  {{form_reset_flashing_lcd.csrf_token}}
                  {{form_reset_flashing_lcd.lcd_id(value=each_lcd.id)}}
                  {{form_reset_flashing_lcd.Submit(class_='form-control btn btn-default')}}
                </form>
                <form method="post" action="/lcd">
                <input type="hidden" name="form-name" value="modLCD">
                {{form_mod_lcd.csrf_token}}
                {{form_mod_lcd.lcd_id(value=each_lcd.id)}}
                {{form_mod_lcd.save(class_='form-control btn btn-default')}}
              </th>
              <th class="col-sm-6">
                {{form_mod_lcd.name(class_='form-control', value=each_lcd.name)}}
              </th>
            </tr>
            <tr>
              <td>ID {{each_lcd.id}}</td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <td class="col-sm-1">{{_('LCD Type')}}</td>
              <td class="col-sm-1">{{_('LCD I<sup>2</sup>C Address')}}</td>
              <td class="col-sm-1">{{_('Multiplexer I<sup>2</sup>C Address')}}</td>
              <td class="col-sm-1">{{_('Multiplexer Channel')}}</td>
              <td class="col-sm-1">{{_('Period')}}</td>
            </tr>
            <tr>
              <td>
                <select class="form-control" id="lcd_type" name="lcd_type">
                  <option value="16x2"{% if each_lcd.x_characters == 16 and each_lcd.y_lines == 2 %} selected{% endif %}>16x2</option>
                  <option value="20x4"{% if each_lcd.x_characters == 20 and each_lcd.y_lines == 4 %} selected{% endif %}>20x4</option>
                </select>
              </td>
              <td>
                <select class="form-control" id="location" name="location">
                  <option value=""></option>
                  {%- for address in range(0, 8) %}
                    <option value="2{{address}}"{% if each_lcd.location == (20 + address)|string %} selected{% endif %}>0x2{{address}}</option>
                  {%- endfor %}
                  <option value="0x38"{% if each_lcd.location == '0x38' %} selected{% endif %}>0x38</option>
                  <option value="0x39"{% if each_lcd.location == '0x39' %} selected{% endif %}>0x39</option>
                  <option value="0x3A"{% if each_lcd.location == '0x3A' %} selected{% endif %}>0x3A</option>
                  <option value="0x3B"{% if each_lcd.location == '0x3B' %} selected{% endif %}>0x3B</option>
                  <option value="0x3C"{% if each_lcd.location == '0x3C' %} selected{% endif %}>0x3C</option>
                  <option value="0x3D"{% if each_lcd.location == '0x3D' %} selected{% endif %}>0x3D</option>
                  <option value="0x3E"{% if each_lcd.location == '0x3E' %} selected{% endif %}>0x3E</option>
                  <option value="0x3F"{% if each_lcd.location == '0x3F' %} selected{% endif %}>0x3F</option>
                </select>
              </td>
              <td>
                <select class="form-control" id="multiplexer_address" name="multiplexer_address">
                  <option value=""{% if each_lcd.multiplexer_address == '0' %} selected{% endif %}>Disabled</option>
                  <option value="0x70"{% if each_lcd.multiplexer_address == '0x70' %} selected{% endif %}>0x70</option>
                  <option value="0x71"{% if each_lcd.multiplexer_address == '0x71' %} selected{% endif %}>0x71</option>
                  <option value="0x72"{% if each_lcd.multiplexer_address == '0x72' %} selected{% endif %}>0x72</option>
                  <option value="0x73"{% if each_lcd.multiplexer_address == '0x73' %} selected{% endif %}>0x73</option>
                  <option value="0x74"{% if each_lcd.multiplexer_address == '0x74' %} selected{% endif %}>0x74</option>
                  <option value="0x75"{% if each_lcd.multiplexer_address == '0x75' %} selected{% endif %}>0x75</option>
                  <option value="0x76"{% if each_lcd.multiplexer_address == '0x76' %} selected{% endif %}>0x76</option>
                  <option value="0x77"{% if each_lcd.multiplexer_address == '0x77' %} selected{% endif %}>0x77</option>
                </select>
              </td>
              <td>
                <select class="form-control" id="multiplexer_channel" name="multiplexer_channel">
                  <option value="0"{% if each_lcd.multiplexer_channel == 0 %} selected{% endif %}>None</option>
                  <option value="1"{% if each_lcd.multiplexer_channel == 1 %} selected{% endif %}>1</option>
                  <option value="2"{% if each_lcd.multiplexer_channel == 2 %} selected{% endif %}>2</option>
                  <option value="3"{% if each_lcd.multiplexer_channel == 3 %} selected{% endif %}>3</option>
                  <option value="4"{% if each_lcd.multiplexer_channel == 4 %} selected{% endif %}>4</option>
                  <option value="5"{% if each_lcd.multiplexer_channel == 5 %} selected{% endif %}>5</option>
                  <option value="6"{% if each_lcd.multiplexer_channel == 6 %} selected{% endif %}>6</option>
                  <option value="7"{% if each_lcd.multiplexer_channel == 7 %} selected{% endif %}>7</option>
                  <option value="8"{% if each_lcd.multiplexer_channel == 8 %} selected{% endif %}>8</option>
                </select>
              </td>
              <td>
                {{form_mod_lcd.period(class_='form-control', value=each_lcd.period)}}
              </td>
            </tr>
          </table>
          <table class="table">
            <tr>
              {%- if each_lcd.y_lines == 4 -%}
                <td class="col-sm-1">{{_('Display Line 1')}}</td>
                <td class="col-sm-1">{{_('Display Line 2')}}</td>
                <td class="col-sm-1">{{_('Display Line 3')}}</td>
                <td class="col-sm-1">{{_('Display Line 4')}}</td>
              {%- else -%}
                <td class="col-sm-1">{{_('Display Line 1')}}</td>
                <td class="col-sm-1">{{_('Display Line 2')}}</td>
              {%- endif -%}
            </tr>
            <tr>
              <td>
                <select class="form-control" id="line_1_display" name="line_1_display">
                  <option value=""{% if each_lcd.line_1_sensor_id == '' or each_lcd.line_1_measurement == '' %} selected{% endif %}></option>
                  {%- for each_sensor in sensor -%}
                    <option value="{{each_sensor.unique_id}},sensor_time"{% if each_lcd.line_1_sensor_id == each_sensor.unique_id and each_lcd.line_1_measurement == 'sensor_time' %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): timestamp</option>
                    {% for each_device, measure in measurements.iteritems() if each_sensor.device == each_device %}
                      {% for each_measurement in measure %}
                        <option value="{{each_sensor.unique_id}},{{each_measurement}}"{% if each_lcd.line_1_sensor_id == each_sensor.unique_id and each_lcd.line_1_measurement == each_measurement %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): {{each_measurement}}</option>
                      {% endfor %}
                    {% endfor %}
                  {%- endfor %}
                  {%- for each_pid in pid -%}
                    <option value="{{each_pid.id}},pid_time"{% if each_lcd.line_1_sensor_id == each_pid.id and each_lcd.line_1_measurement == 'pid_time' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): timestamp</option>
                    <option value="{{each_pid.id}},setpoint"{% if each_lcd.line_1_sensor_id == each_pid.id and each_lcd.line_1_measurement == 'setpoint' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): setpoint</option>
                  {%- endfor %}
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}},relay_time"{% if each_lcd.line_1_sensor_id == each_relay.id and each_lcd.line_1_measurement == 'relay_time' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): timestamp</option>
                    <option value="{{each_relay.id}},duration_sec"{% if each_lcd.line_1_sensor_id == each_relay.id and each_lcd.line_1_measurement == 'duration_sec' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): duration</option>
                    <option value="{{each_relay.id}},relay_state"{% if each_lcd.line_1_sensor_id == each_relay.id and each_lcd.line_1_measurement == 'relay_state' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): state</option>
                  {%- endfor %}
                </select>
              </td>
              <td>
                <select class="form-control" id="line_2_display" name="line_2_display">
                  <option value=""{% if each_lcd.line_2_sensor_id == '' or each_lcd.line_2_measurement == '' %} selected{% endif %}></option>
                  {%- for each_sensor in sensor -%}
                    <option value="{{each_sensor.unique_id}},sensor_time"{% if each_lcd.line_2_sensor_id == each_sensor.unique_id and each_lcd.line_2_measurement == 'sensor_time' %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): timestamp</option>
                    {% for each_device, measure in measurements.iteritems() if each_sensor.device == each_device %}
                      {% for each_measurement in measure %}
                        <option value="{{each_sensor.unique_id}},{{each_measurement}}"{% if each_lcd.line_2_sensor_id == each_sensor.unique_id and each_lcd.line_2_measurement == each_measurement %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): {{each_measurement}}</option>
                      {% endfor %}
                    {% endfor %}
                  {%- endfor %}
                  {%- for each_pid in pid -%}
                    <option value="{{each_pid.id}},pid_time"{% if each_lcd.line_2_sensor_id == each_pid.id and each_lcd.line_2_measurement == 'pid_time' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): timestamp</option>
                    <option value="{{each_pid.id}},setpoint"{% if each_lcd.line_2_sensor_id == each_pid.id and each_lcd.line_2_measurement == 'setpoint' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): setpoint</option>
                  {%- endfor %}
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}},relay_time"{% if each_lcd.line_2_sensor_id == each_relay.id and each_lcd.line_2_measurement == 'relay_time' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): timestamp</option>
                    <option value="{{each_relay.id}},duration_sec"{% if each_lcd.line_2_sensor_id == each_relay.id and each_lcd.line_2_measurement == 'duration_sec' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): duration</option>
                    <option value="{{each_relay.id}},relay_state"{% if each_lcd.line_2_sensor_id == each_relay.id and each_lcd.line_2_measurement == 'relay_state' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): state</option>
                  {%- endfor %}
                </select>
              </td>
              {%- if each_lcd.y_lines == 4 -%}
                <td>
                  <select class="form-control" id="line_3_display" name="line_3_display">
                    <option value=""{% if each_lcd.line_3_sensor_id == '' or each_lcd.line_3_measurement == '' %} selected{% endif %}></option>
                    {%- for each_sensor in sensor -%}
                    <option value="{{each_sensor.unique_id}},sensor_time"{% if each_lcd.line_3_sensor_id == each_sensor.unique_id and each_lcd.line_3_measurement == 'sensor_time' %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): timestamp</option>
                    {% for each_device, measure in measurements.iteritems() if each_sensor.device == each_device %}
                      {% for each_measurement in measure %}
                        <option value="{{each_sensor.unique_id}},{{each_measurement}}"{% if each_lcd.line_3_sensor_id == each_sensor.unique_id and each_lcd.line_3_measurement == each_measurement %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): {{each_measurement}}</option>
                      {% endfor %}
                    {% endfor %}
                  {%- endfor %}
                  {%- for each_pid in pid -%}
                    <option value="{{each_pid.id}},pid_time"{% if each_lcd.line_3_sensor_id == each_pid.id and each_lcd.line_3_measurement == 'pid_time' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): timestamp</option>
                    <option value="{{each_pid.id}},setpoint"{% if each_lcd.line_3_sensor_id == each_pid.id and each_lcd.line_3_measurement == 'setpoint' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): setpoint</option>
                  {%- endfor %}
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}},relay_time"{% if each_lcd.line_3_sensor_id == each_relay.id and each_lcd.line_3_measurement == 'relay_time' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): timestamp</option>
                    <option value="{{each_relay.id}},duration_sec"{% if each_lcd.line_3_sensor_id == each_relay.id and each_lcd.line_3_measurement == 'duration_sec' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): duration</option>
                    <option value="{{each_relay.id}},relay_state"{% if each_lcd.line_3_sensor_id == each_relay.id and each_lcd.line_3_measurement == 'relay_state' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): state</option>
                  {%- endfor %}
                  </select>
                </td>
                <td>
                  <select class="form-control" id="line_4_display" name="line_4_display">
                    <option value=""{% if each_lcd.line_4_sensor_id == '' or each_lcd.line_4_measurement == '' %} selected{% endif %}></option>
                    {%- for each_sensor in sensor -%}
                    <option value="{{each_sensor.unique_id}},sensor_time"{% if each_lcd.line_4_sensor_id == each_sensor.unique_id and each_lcd.line_4_measurement == 'sensor_time' %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): timestamp</option>
                    {% for each_device, measure in measurements.iteritems() if each_sensor.device == each_device %}
                      {% for each_measurement in measure %}
                        <option value="{{each_sensor.unique_id}},{{each_measurement}}"{% if each_lcd.line_4_sensor_id == each_sensor.unique_id and each_lcd.line_4_measurement == each_measurement %} selected{% endif %}>Sensor {{each_sensor.id}} {{each_sensor.device}} ({{each_sensor.name}}): {{each_measurement}}</option>
                      {% endfor %}
                    {% endfor %}
                  {%- endfor %}
                  {%- for each_pid in pid -%}
                    <option value="{{each_pid.unique_id}},pid_time"{% if each_lcd.line_4_sensor_id == each_pid.unique_id and each_lcd.line_4_measurement == 'pid_time' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): timestamp</option>
                    <option value="{{each_pid.unique_id}},setpoint"{% if each_lcd.line_4_sensor_id == each_pid.unique_id and each_lcd.line_4_measurement == 'setpoint' %} selected{% endif %}>PID {{each_pid.id}} ({{each_pid.name}}): setpoint</option>
                  {%- endfor %}
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.unique_id}},relay_time"{% if each_lcd.line_4_sensor_id == each_relay.unique_id and each_lcd.line_4_measurement == 'relay_time' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): timestamp</option>
                    <option value="{{each_relay.unique_id}},duration_sec"{% if each_lcd.line_4_sensor_id == each_relay.unique_id and each_lcd.line_4_measurement == 'duration_sec' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): duration</option>
                    <option value="{{each_relay.unique_id}},relay_state"{% if each_lcd.line_4_sensor_id == each_relay.unique_id and each_lcd.line_4_measurement == 'relay_state' %} selected{% endif %}>Relay {{each_relay.id}} ({{each_relay.name}}): state</option>
                  {%- endfor %}
                  </select>
                </td>
              {%- endif -%}
            </tr>
          </table>
          </form>
        </div>

        <div style="clear: both; padding:1em 0;"></div>

      {%- endfor -%}
    {%- endfor -%}
    {%- endif -%}

  </div>

{% endblock %}
