{% extends "layout.html" %}
{% set active_page = "live" %}
{% set help_page = ["live-measurements", _('Live Measurements')] %}

{% block title %} - {{_('Live')}}{% endblock %}

{% block head %}
  <script>
    function updateMeasurements(input_id, sensor_measurement, period) {
      var url = '/last/' + sensor_measurement + '/' + input_id + '/' + period.toString();
      $.ajax(url, {
        success: function(data, responseText, jqXHR) {
          if (jqXHR.status === 204) {
            document.getElementById(input_id + "-" + sensor_measurement + "-time").innerHTML = "No Data Last " + period.toString() + " sec";
            document.getElementById(input_id + "-" + sensor_measurement + "-value").innerHTML = "0";
          }
          else {
            var time = data[0];
            var measurement = parseFloat(data[1].toFixed(3));
            var date = new Date(parseFloat(time));
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hours = date.getHours();
            var minutes = "0" + date.getMinutes();
            var seconds = "0" + date.getSeconds();
            document.getElementById(input_id + "-" + sensor_measurement + "-time").innerHTML = year + "/" + month + "/" + day + " " + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
            document.getElementById(input_id + "-" + sensor_measurement + "-value").innerHTML = measurement;
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          document.getElementById(input_id + "-" + sensor_measurement + "-time").innerHTML = "No Data Last " + period.toString() + " sec";
          document.getElementById(input_id + "-" + sensor_measurement + "-value").innerHTML = "0";
        },
        cache: false
      });
    }

    function liveTextData(input_id, sensor_measurement, period) {
      // Update when page first loads
      updateMeasurements(input_id, sensor_measurement, period);
      setInterval(function () {
        // Update after every 30 seconds
        updateMeasurements(input_id, sensor_measurement, period);
      }, 30000);
    }

    $(function() {
      {%- set temperatures = ['dewpoint',
                              'temperature',
                              'temperature_die',
                              'temperature_object'] -%}
      {%- for each_input in input if each_input.is_activated -%}
        {%- set measurement_list = each_input.measurements.split(',') -%}
        {%- for each_measurement in measurement_list %}
          {% if each_measurement == 'edge' -%}
          liveTextData('{{each_input.unique_id}}', '{{each_measurement}}', '0');
          {% else -%}
          liveTextData('{{each_input.unique_id}}', '{{each_measurement}}', {{each_input.period + 1}});
          {% endif -%}
          {%- if each_measurement == 'voltage' %}
            liveTextData('{{each_input.unique_id}}', '{{each_input.adc_measure}}', {{each_input.period + 1}});
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}

      {%- for each_math in math if each_math.is_activated -%}
        {%- set measurement_list = each_math.measure.split(',') -%}
        {%- for each_measurement in measurement_list %}
          liveTextData('{{each_math.unique_id}}', '{{each_measurement}}', {{each_math.period + 1}});
        {%- endfor -%}
      {%- endfor -%}
    });
  </script>
{% endblock %}

{%- block body %}
  <!-- Route: /live -->
  <main role="main" class="container">

    {% include 'flash_messages.html' %}

    {%- if inputs_sorted|length == 0 and maths_sorted|length == 0 -%}
    <div>
      {{_('No Data Sources Activated')}}. <a href="/data">Click here</a> to go to the Data page. Read the <a href="/help">Manual</a> to become more familiar with the system and configuration options.
    </div>
    {%- endif -%}

    {%- for each_input_sorted in inputs_sorted -%}
      {%- set collapse_container_number = loop.index -%}

      {%- for each_input in input if each_input.unique_id == each_input_sorted -%}

    <div style="padding: 0.5em; margin-bottom: 0.7em; border: 1px solid #ddd; border-radius: 5px;">

      <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
          {%- set input_has_pid = [] -%}
          {%- if pid_display_order -%}
            {%- for pid_order in pid_display_order -%}
              {%- for each_pid in pid if each_pid.unique_id == pid_order and each_pid.is_activated and each_pid.measurement.split(',')[0] == each_input.unique_id -%}
                {%- do input_has_pid.append(1) -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endif -%}
          {%- if input_has_pid -%}
            <a style="padding-right: 0.5em" data-toggle="collapse" href="#collapseContainer{{collapse_container_number}}" aria-expanded="false" aria-controls="collapseContainer{{collapse_container_number}}"><span class='collapse-button{{collapse_container_number}} fa fa-2x fa-plus-square'></span></a>
          {%- endif -%}
          {{each_input.name}} (Input {{each_input.unique_id[:8]}})
          {%- if each_input.device != 'EDGE' -%}
            <div>
               {{_('Input (%(type)s), %(sec)s second interval', type=each_input.device, sec=each_input.period)}}
            </div>
          {%- endif -%}
        </div>

        <div class="col-xs-12 col-sm-6 text-right">
          {{_('Measurement')}} | {{_('Timestamp')}}
          <div>
            {% for each_measure in each_input.measurements.split(',') %}

              {% if each_measure and each_measure in dict_units and dict_units[each_measure]['meas'] == 'temperature' %}
                <b><span id="{{each_input.unique_id}}-{{each_measure}}-value">0.0</span> {% if use_unit[each_input.unique_id][each_measure] %}{{dict_units[use_unit[each_input.unique_id][each_measure]]['unit']}}{% else %}{{dict_units[each_measure]['unit']}}{% endif %}
                  {%- if each_measure == 'dewpoint' %} DP
                  {% elif each_measure == 'temperature_object' %} Obj
                  {% elif each_measure == 'temperature_die' %} Die
                  {%- endif -%}</b> ({{dict_measurements[each_measure]['name']}}) | <span id="{{each_input.unique_id}}-{{each_measure}}-time">&lt;{{_('Please wait')}}&gt;</span><br>
              {% else %}
                <b><span id="{{each_input.unique_id}}-{{each_measure}}-value">0.0</span> {% if use_unit[each_input.unique_id][each_measure] and use_unit[each_input.unique_id][each_measure] in dict_units %}{{dict_units[use_unit[each_input.unique_id][each_measure]]['unit']}}{% endif %}</b> ({{dict_measurements[each_measure]['name']}}) | <span id="{{each_input.unique_id}}-{{each_measure}}-time">&lt;{{_('Please wait')}}&gt;</span><br>
              {% endif %}

            {% endfor %}
            {%- if each_input.device in LIST_DEVICES_ADC %}
              <b><span id="{{each_input.unique_id}}-{{each_input.adc_measure}}-value">0.0</span> {{each_input.adc_measure_units}} {{each_input.adc_measure}}</b> | <span id="{{each_input.unique_id}}-{{each_input.adc_measure}}-time">&lt;{{_('Please wait')}}&gt;</span>
            {% endif %}
          </div>
        </div>
      </div>

        {%- if pid_display_order -%}
        {%- for pid_order in pid_display_order -%}
          {%- for each_pid in pid if each_pid.unique_id == pid_order and each_pid.is_activated and each_pid.measurement.split(',')[0] == each_input.unique_id -%}

      <div class="collapse" id="collapseContainer{{collapse_container_number}}" style="padding: 0.5em 0;">

        <div class="row" style="padding-top: 0.5em">
          <div class="col-xs-12 col-sm-6">
            {{each_pid.name}} ({{each_pid.id}})
            <div>
              Every {{each_pid.period}} seconds, apply PID to {% if each_pid.direction == 'both' -%}raise or lower{%- else -%}{{each_pid.direction}}{%- endif %} {{each_pid.measurement.split(',')[1]}} to {{each_pid.setpoint}}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            {{_('Gain')}}
            <div>
              K<sub>P</sub>: {{each_pid.p}}, K<sub>I</sub>: {{each_pid.i}}, K<sub>D</sub>: {{each_pid.d}}
            </div>
          </div>
        </div>

            {%- for each_output in output if each_output.unique_id == each_pid.raise_output_id -%}

        <div class="row" style="padding-top: 0.5em">
          <div class="col-xs-12 col-sm-3 col-md-2">
            {{_('Output (Raise)')}}
            <div>
              {{each_output.name}} ({{each_output.id}})
            </div>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2">
              {% if each_pid.raise_output_id in output_type and
                    output_type[each_pid.raise_output_id] in ['pwm', 'command_pwm'] -%}
                {{_('Duty Cycle')}} (%)
              {% else -%}
                {{_('On Duration (sec.)')}}
              {% endif %}
            <div>
              {{_('Min')}}: {{each_pid.raise_min_duration}}, {{_('Max')}}: {{each_pid.raise_max_duration}}
             </div>
          </div>
          {% if each_pid.raise_output_id in output_type and
                output_type[each_pid.raise_output_id] in ['pwm', 'command_pwm'] -%}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Off (seconds)')}}
            <div>
              {{_('Min')}}: {{each_pid.raise_min_off_duration}}
            </div>
          </div>
          {% endif %}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Current Draw')}}
            <div>
              {{each_output.amps}} {{_('amps')}}
            </div>
          </div>
        </div>

            {%- endfor -%}

            {%- for each_output in output if each_output.unique_id == each_pid.lower_output_id -%}

        <div class="row" style="padding-top: 0.5em">
          <div class="col-xs-12 col-sm-3 col-md-2">
            {{_('Output (Lower)')}}
            <div>
              {{each_output.name}} ({{each_output.id}})
            </div>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2">
            {% if each_pid.lower_output_id in output_type and
                  output_type[each_pid.lower_output_id] in ['pwm', 'command_pwm'] -%}
              {{_('Duty Cycle')}} (%)
            {% else -%}
              {{_('On Duration (sec.)')}}
            {% endif %}
            <div>
              {{_('Min')}}: {{each_pid.lower_min_duration}}, {{_('Max')}}: {{each_pid.lower_max_duration}}
            </div>
          </div>
          {% if each_pid.lower_output_id in output_type and
                output_type[each_pid.lower_output_id] not in ['pwm', 'command_pwm'] -%}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Off (seconds)')}}
            <div>
              {{_('Min')}}: {{each_pid.lower_min_off_duration}}
            </div>
          </div>
          {% endif %}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Current Draw')}}
            <div>
              {{each_output.amps}} {{_('amps')}}
            </div>
          </div>
        </div>

            {%- endfor -%}

            {%- for each_method in method if each_method.unique_id == each_pid.method_id -%}

        <div class="row">
          <div class="col-xs-12">
            {{_('Method Enabled')}}: <a href="/method-build/{{each_method.unique_id}}">{{each_method.name}} ({{each_method.id}})</a>
          </div>
        </div>

            {%- endfor -%}

      </div>

          {%- endfor -%}
        {%- endfor -%}
        {%- endif -%}

    </div>

      {%- endfor -%}
    {%- endfor -%}


    {%- for each_math_sorted in maths_sorted -%}
      {%- set collapse_container_number = loop.index -%}

      {%- for each_math in math if each_math.unique_id == each_math_sorted -%}

    <div style="padding: 0.5em; margin-bottom: 0.7em; border: 1px solid #ddd; border-radius: 5px;">

      <div class="row">
        <div class="col-xs-12 col-sm-6 text-left">
          {%- set math_has_pid = [] -%}
          {%- if pid_display_order -%}
            {%- for pid_order in pid_display_order -%}
              {%- for each_pid in pid if each_pid.unique_id == pid_order and each_pid.is_activated and each_pid.measurement.split(',')[0] == each_math.unique_id -%}
                {%- do math_has_pid.append(1) -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endif -%}
          {%- if math_has_pid -%}
            <a style="padding-right: 0.5em" data-toggle="collapse" href="#collapseContainer{{collapse_container_number}}" aria-expanded="false" aria-controls="collapseContainer{{collapse_container_number}}"><span class='collapse-button{{collapse_container_number}} fa fa-2x fa-plus-square'></span></a>
          {%- endif -%}
          {{each_math.name}} (Math {{each_math.unique_id[:8]}})
          <div>
            {{_('Math (%(type)s), %(sec)s second interval', type=each_math.math_type, sec=each_math.period)}}
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 text-right">
          {{_('Measurement')}} | {{_('Timestamp')}}
          <div>
          {% for each_measure_unit in each_math.measure_units.split(';') %}
            {% set each_measure = each_measure_unit.split(',')[0] %}
            {% set each_unit = each_measure_unit.split(',')[1] %}
            {% if each_measure and each_measure in dict_units and dict_units[each_measure]['meas'] == 'temperature' %}
              <b><span id="{{each_math.unique_id}}-{{each_measure}}-value">0.0</span> {{dict_units[each_measure]['unit']}}
                {%- if each_measure == 'dewpoint' %} DP
                {% elif each_measure == 'temperature_object' %} Obj
                {% elif each_measure == 'temperature_die' %} Die
                {%- endif -%}</b> ({{dict_measurements[each_measure]['name']}}) | <span id="{{each_math.unique_id}}-{{each_measure}}-time">&lt;{{_('Please wait')}}&gt;</span><br>
            {% elif each_measure and each_measure in dict_measurements and each_unit and each_unit in dict_units %}
              <b><span id="{{each_math.unique_id}}-{{each_measure}}-value">0.0</span> {{dict_units[each_unit]['unit']}}</b> ({{dict_measurements[each_measure]['name']}}) | <span id="{{each_math.unique_id}}-{{each_measure}}-time">&lt;{{_('Please wait')}}&gt;</span><br>
            {% else %}
              <b><span id="{{each_math.unique_id}}-{{each_measure}}-value">0.0</span> {{each_unit}}</b> ({{each_measure}}) | <span id="{{each_math.unique_id}}-{{each_measure}}-time">&lt;{{_('Please wait')}}&gt;</span><br>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>

        {%- if pid_display_order -%}
        {%- for pid_order in pid_display_order -%}
          {%- for each_pid in pid if each_pid.unique_id == pid_order and each_pid.is_activated and each_pid.measurement.split(',')[0] == each_math.unique_id -%}

      <div class="collapse" id="collapseContainer{{collapse_container_number}}" style="padding: 0.5em 0;">

        <div class="row" style="padding-top: 0.5em">
          <div class="col-xs-12 col-sm-6">
            {{each_pid.name}} ({{each_pid.id}})
            <div>
              Every {{each_pid.period}} seconds, apply PID to {% if each_pid.direction == 'both' -%}raise or lower{%- else -%}{{each_pid.direction}}{%- endif %} {{each_pid.measurement.split(',')[1]}} to {{each_pid.setpoint}}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            {{_('Gain')}}
            <div>
              K<sub>P</sub>: {{each_pid.p}}, K<sub>I</sub>: {{each_pid.i}}, K<sub>D</sub>: {{each_pid.d}}
            </div>
          </div>
        </div>

            {%- for each_output in output if each_output.unique_id == each_pid.raise_output_id -%}

        <div class="row" style="padding-top: 0.5em">
          <div class="col-xs-12 col-sm-3 col-md-2">
            {{_('Output (Raise)')}}
            <div>
              {{each_output.name}} ({{each_output.id}})
            </div>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2">
            {% if each_pid.raise_output_id in output_type and
                  output_type[each_pid.raise_output_id] in ['pwm', 'command_pwm'] -%}
              {{_('Duty Cycle')}} (%)
            {% else -%}
              {{_('On Duration (sec.)')}}
            {% endif %}
          <div>
            {{_('Min')}}: {{each_pid.raise_min_duration}}, {{_('Max')}}: {{each_pid.raise_max_duration}}
           </div>
          </div>
          {% if each_pid.raise_output_id in output_type and
                output_type[each_pid.raise_output_id] not in ['pwm', 'command_pwm'] -%}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Off (seconds)')}}
            <div>
              {{_('Min')}}: {{each_pid.raise_min_off_duration}}
            </div>
          </div>
          {% endif %}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Current Draw')}}
            <div>
              {{each_output.amps}} {{_('amps')}}
            </div>
          </div>
        </div>

            {%- endfor -%}

            {%- for each_output in output if each_output.unique_id == each_pid.lower_output_id -%}

        <div class="row" style="padding-top: 0.5em">
          <div class="col-xs-12 col-sm-3 col-md-2">
            {{_('Output (Lower)')}}
            <div>
              {{each_output.name}} ({{each_output.id}})
            </div>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2">
            {% if each_pid.lower_output_id in output_type and
                  output_type[each_pid.lower_output_id] in ['pwm', 'command_pwm'] -%}
              {{_('Duty Cycle')}} (%)
            {% else -%}
              {{_('On Duration (sec.)')}}
            {% endif %}
            <div>
              {{_('Min')}}: {{each_pid.lower_min_duration}}, {{_('Max')}}: {{each_pid.lower_max_duration}}
            </div>
          </div>
          {% if each_pid.lower_output_id in output_type and
                output_type[each_pid.lower_output_id] not in ['pwm', 'command_pwm'] -%}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Off (seconds)')}}
            <div>
              {{_('Min')}}: {{each_pid.lower_min_off_duration}}
            </div>
          </div>
          {% endif %}
          <div class="col-xs-4 col-sm-3 col-md-2">
            {{_('Current Draw')}}
            <div>
              {{each_output.amps}} {{_('amps')}}
            </div>
          </div>
        </div>

            {%- endfor -%}

            {%- for each_method in method if each_method.unique_id == each_pid.method_id -%}

        <div class="row">
          <div class="col-xs-12">
            {{_('Method Enabled')}}: <a href="/method-build/{{each_method.unique_id}}">{{each_method.name}} ({{each_method.id}})</a>
          </div>
        </div>

            {%- endfor -%}

      </div>

          {%- endfor -%}
        {%- endfor -%}
        {%- endif -%}

    </div>

      {%- endfor -%}
    {%- endfor -%}

  </main>

  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });
  </script>

{% endblock -%}
