{% extends "layout.html" %}
{% set active_page = "output" %}
{% set help_page = ["output", _('Output')] %}

{% block title %} - {{_('Output')}}{% endblock %}

{% block head %}
<link href="/static/css/toastr.min.css" rel="stylesheet"/>
<script src="/static/js/toastr.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
      toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "7000",
          "extendedTimeOut": "10000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      }
  });
 function getAjax(btn_val) {
    $.ajax({
        type: 'GET',
        url: '/output_mod/' + btn_val,
        success: function(data) {
            toastr['success']("Output " + btn_val.split("/")[0] + ": " + data);
        },
        error: function(data) {
            toastr['error']("Output " + btn_val.split("/")[0] + ": " + data);
        }
    });
  }

  $(document).ready(function() {
    $('.turn_on').click(function() {
      var btn_val = this.name;
      var id = btn_val.split('/')[0];
      toastr['info']('Command sent to turn output ' + id + ' On');
      getAjax(btn_val);
    });
    $('.turn_off').click(function() {
      var btn_val = this.name;
      var id = btn_val.split('/')[0];
      toastr['info']('Command sent to turn output ' + id + ' Off');
      getAjax(btn_val);
    });
    $('.sec_on_amt').click(function() {
      var btn_val = this.name;
      var id = btn_val.split('/')[0];
      var sec = $('#sec_on_amt_' + id).val();
      toastr['info']('Command sent to turn output ' + id + ' On for ' + sec + ' seconds');
      getAjax(btn_val + sec);
    });
    $('.duty_cycle_on_amt').click(function() {
      var btn_val = this.name;
      var id = btn_val.split('/')[0];
      var dc = $('#duty_cycle_on_amt_' + id).val();
      toastr['info']('Command sent to turn output ' + id + ' on with a duty cycle of ' + dc + '%');
      getAjax(btn_val + dc);
    });
  });
</script>

<script>
  function pad(num, size) {
      var s = num+"";
      while (s.length < size) s = "0" + s;
      return s;
  }
  function gpioState() {
    var url = '/gpiostate';
    $.getJSON(url,
      function(data, responseText, jqXHR) {
        if (jqXHR.status !== 204) {
          $.each(data,
            function(relay_id, state) {
              if (state !== null) {
                document.getElementById(relay_id + "-relay-state").className = "row active-background";
                if (state !== 'off') {
                  if (state === 'on') {
                    document.getElementById(relay_id + "-input-relay-state").value = '[' + pad(relay_id, 2) + '] {{_('Active')}}';
                  } else {
                    document.getElementById(relay_id + "-input-relay-state").value = '[' + pad(relay_id, 2) + '] {{_('Active')}} (' + state.toFixed(1) + '%)';
                  }
                }
                else {
                  document.getElementById(relay_id + "-relay-state").className = "row inactive-background";
                  document.getElementById(relay_id + "-input-relay-state").value = '[' + pad(relay_id, 2) + '] {{_('Inactive')}}';
                }
              }
            }
          );
        }
        else {
          {% for each_relay in relay %}
          document.getElementById("{{each_relay.id}}-relay-state").className = "row pause-background";
          document.getElementById("{{each_relay.id}}-input-relay-state").value = '{{_('No Connection')}}';
          {% endfor %}
        }
      }
    );
  }

  function liveGPIOData() {
    setInterval(function () {
      gpioState();
    }, 5000);  // Refresh duration in milliseconds
  }

  {% set relay_has_gpio = [] %}
  {% for each_relay in relay %}
    {% if each_relay.pin and -1 < each_relay.pin < 40 -%}
      {% do relay_has_gpio.append(1) %}
    {% endif %}
  {%- endfor -%}
  {% if relay_has_gpio -%}
  $(function() {
    gpioState();  // Update when page first loads
    liveGPIOData();  // Update every 5 seconds
  });
  {% endif %}
</script>
{% endblock %}

{% block body %}
  <!-- Route: /output -->
  <div class="container">
    {% include 'flash_messages.html' %}

    <h4>{{_('Output')}} <a href="/help#{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a></h4>

    <p>{{_('Output devices enable Mycodo to manipulate things through the use of relays (wired and wireless), PWM signals, and executing commands. When linked to a PID controller, with an input, output devices can be used for feedback regulation.')}}</p>

    <div style="clear: both; padding: 0.5em 0;"></div>

    <div class="row small-gutters" style="padding-left: 1em">
      <form method="post" action="/output">
        {{form_add_relay.hidden_tag()}}
        <div class="col-xs-2 col-sm-1 small-gutters">
          {{form_add_relay.relay_quantity(class_='form-control', type="number", value=1, **{'title':_('Quantity')})}}
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 small-gutters">
          <select class="form-control form-tooltip form-dropdown" id="relay_type" name="relay_type" data-placement="top" title="{{_('Output Type')}}">
            <option value="wired">Relay: Wired</option>
            <option value="wireless_433MHz_pi_switch">Relay: Wireless (433MHz, pi_switch)</option>
            <option value="pwm">PWM Output</option>
            <option value="command">Execute Commands</option>
          </select>
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-2 small-gutters">
          {{form_add_relay.relay_add(class_='form-control btn btn-default')}}
        </div>
      </form>
    </div>

    <div style="clear: both; padding: 1em 0;"></div>

    {%- if displayOrder -%}
      {%- for order in displayOrder -%}
        {%- for each_relay in relay if each_relay.id == order -%}

      <div class="container" style="border: 2px solid #ddd; border-radius: 5px;">
        <form method="post" action="/output">
        {{form_mod_relay.csrf_token}}
        {{form_mod_relay.relay_id(class_='form-control', value=each_relay.id)}}
        {{form_mod_relay.relay_pin(class_='form-control', value=each_relay.pin)}}
        <div class="row pause-background" style="padding: 0.5em; border-bottom: 2px solid #ddd;" id="{{each_relay.id}}-relay-state">
          <div class="col-xs-2 col-sm-1 text-center icon-fh">
            <a data-toggle="collapse" href="#collapseContainer{{each_relay.id}}" aria-expanded="false" aria-controls="collapseContainer{{each_relay.id}}">
              <span class="collapse-button{{each_relay.id}} fa fa-3x fa-plus-square"></span>
            </a>
          </div>
          <div class="col-xs-5 col-sm-3 col-md-3 small-gutters">
            {{form_mod_relay.name(class_='form-control', value=each_relay.name, **{'title':_('Name')})}}
          </div>
          <div class="col-xs-5 col-sm-2 col-md-2 small-gutters">
            <input class="form-control btn btn-default" disabled="" id="{{each_relay.id}}-input-relay-state" title="UUID: {{each_relay.unique_id}}" value="[{{'%02d' % each_relay.id}}] {{ _('Unconfigured')}}" type="text">
          </div>
          <div class="col-xs-5 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-3 small-gutters">
            {% if each_relay.relay_type != 'pwm' -%}
            <div class="col-xs-6 col-sm-6 col-md-6 small-gutters">
              <input class="form-control btn btn-default turn_on" id="turn_on" name="{{each_relay.id}}/on/sec/0" type="button" value="{{_('On')}}">
            </div>
            {%- endif %}
            <div class="col-xs-6 col-sm-6 col-md-6 small-gutters">
              <input class="form-control btn btn-default turn_off" id="turn_off" name="{{each_relay.id}}/off/sec/0" type="button" value="{{_('Off')}}">
            </div>
          </div>
          <div class="col-xs-5 col-sm-3 col-md-3 small-gutters">
            <div class="col-xs-6 col-sm-6 col-md-6 small-gutters">
              {{form_mod_relay.order_up(class_='form-control btn btn-default')}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 small-gutters">
              {{form_mod_relay.order_down(class_='form-control btn btn-default')}}
            </div>
          </div>
        </div>

        <div class="row small-gutters collapse" id="collapseContainer{{each_relay.id}}" style="border-bottom: 2px solid #ddd; padding: 0.5em">
          <div class="col-xs-6 col-sm-6 col-md-4">
            <input class="form-control" disabled="" value="{{each_relay.relay_type}}" type="text">
          </div>
          <div class="col-xs-3 col-sm-3 col-md-4">
            {{form_mod_relay.save(class_='form-control btn btn-default')}}
          </div>
          <div class="col-xs-3 col-sm-3 col-md-4">
            {{form_mod_relay.delete(class_='form-control btn btn-default', **{'onclick':'return confirm("Are you sure you want to delete this relay?")'})}}
          </div>

        {% for each_relay_template in relay_templates if each_relay_template[:-5] == each_relay.relay_type %}
          {% include 'pages/output_options/'+each_relay_template %}
        {% endfor %}

          <div class="col-xs-6 col-sm-4 col-md-2">
            {{form_mod_relay.amps.label(class_='control-label')}}
            <div>
              {{form_mod_relay.amps(class_='form-control', value=each_relay.amps, **{'title':_('The number of amps the output device draws (at 120/240 VAC)')})}}
             </div>
          </div>

        {% if each_relay.relay_type in ['wired', 'wireless_433MHz_pi_switch', 'command'] %}

          <div class="col-xs-12">
            <label class='control-label'>{{_('Duration On (seconds)')}}</label>
          </div>
          <div class="col-xs-12 small-gutters">
            <div class="col-xs-6 col-sm-4 col-md-2 no-gutters">
              <input class="form-control" id="sec_on_amt_{{each_relay.id}}" name="sec_on_amt_{{each_relay.id}}" title="Turn this relay on for a specific number of seconds (used to test relay)" type="text" value="">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 no-gutters">
              <input class="form-control btn btn-default sec_on_amt" id="turn_on" name="{{each_relay.id}}/on/sec/" type="button" value="{{_('Turn On')}}">
            </div>
          </div>

        {% elif each_relay.relay_type == 'pwm' %}

          <div class="col-xs-12">
            <label class='control-label'>{{_('Duty Cycle')}} (%)</label>
          </div>
          <div class="col-xs-12 small-gutters">
            <div class="col-xs-4 col-sm-3 col-md-2 no-gutters">
              <input class="form-control" id="duty_cycle_on_amt_{{each_relay.id}}" name="duty_cycle_on_amt_{{each_relay.id}}" title="Select the duty cycle for the PWM when turned on (0.0 - 100.0)" type="text" value="">
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 no-gutters">
              <input class="form-control btn btn-default duty_cycle_on_amt" id="turn_on" name="{{each_relay.id}}/on/pwm/" type="button" value="{{_('Turn On')}}">
            </div>
          </div>

        {% endif %}

        </div>
        </form>

      </div>

      <div style="clear: both; padding-bottom: 0.5em;"></div>

        {%- endfor -%}
      {%- endfor -%}
    {%- endif -%}

  </div>

  <div style="clear: both; padding: 0.5em 0;"></div>

  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });
  </script>

{% endblock %}
