{% extends "layout.html" %}
{% set active_page = "pid" %}
{% block title %} - {{_('PID')}}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-clockpicker.min.css">
  <script>
    $(document).ready(function(){
      $('input[title]').tooltip({placement:'bottom'});
      $('.form-dropdown').dropdown();
      $('.form-dropdown').tooltip();
    })
    $(document).ready(function(){
      $('select[title]').tooltip({placement:'bottom'});
      $('.form-dropdown').dropdown();
      $('.form-dropdown').tooltip();
    })
  </script>
{% endblock %}

{% block body %}
  <!-- Route: /pid -->
  <div class="container">
    {% include 'flash_messages.html' %}

    <form class="form-inline" method="post" action="/pid">
      <input type="hidden" name="form-name" value="addPID">
      {{form_add_pid.hidden_tag()}}
      <div class="form-group">
        {{form_add_pid.numberPIDs(class_='form-control',type="number",**{'rel':'tooltip','title':_('How many PID controllers to add')})}}
      </div>
      <div class="form-group">
        {{form_add_pid.pidAddSubmit(class_='form-control btn btn-default')}}
      </div>
    </form>

    <div style="clear: both; padding:1em 0;"></div>

    {%- if displayOrder -%}
    {%- for order in displayOrder -%}
      {%- for each_pid in pids if each_pid.id in order -%}

        <div class="container" style="border: 2px solid #ddd; border-radius: 5px;">
          <form method="post" action="/pid">
          <input type="hidden" name="form-name" value="modPID">
          {{form_mod_pid.csrf_token}}
          {{form_mod_pid.modPID_id(value=each_pid.id)}}
          <div class="row {% if each_pid.activated == 1 -%}active-background
                          {% elif each_pid.activated == 2 -%}pause-background
                          {% elif each_pid.activated == 3 -%}hold-background
                          {% else -%}inactive-background
                          {% endif -%}" style="border-bottom: 2px solid #ddd; padding-top: 1em;">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                {{form_mod_pid.modName(class_='form-control', value=each_pid.name, **{'title':_('Name for this PID controller.')})}}
              </div>
              <div class="form-group">
                ID: {{each_pid.id}}, State:
                {%- if each_pid.activated == 1 -%} {{_('Active')}}
                {%- elif each_pid.activated == 2 -%} {{_('Paused')}}
                {%- elif each_pid.activated == 3 -%} {{_('On Hold')}}
                {%- else -%} {{_('Inactive')}}
                {%-endif -%}
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              {%- if each_pid.activated %}
                {{form_mod_pid.mod_pid_deactivate(class_='form-control btn btn-default')}}
                {%- if each_pid.activated == 2 or each_pid.activated == 3 %}
                  {{form_mod_pid.mod_pid_resume(class_='form-control btn btn-default')}}
                {%- else %}
                  <div class="row no-gutters">
                      <div class="col-xs-12 col-sm-6">
                        {{form_mod_pid.mod_pid_pause(class_='form-control btn btn-default')}}
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        {{form_mod_pid.mod_pid_hold(class_='form-control btn btn-default')}}
                      </div>
                  </div>
                {%- endif -%}
              {%- else %}
                {{form_mod_pid.mod_pid_activate(class_='form-control btn btn-default')}}
              {%- endif -%}
            </div>
            <div class="col-xs-12 col-sm-3">
              {{form_mod_pid.mod_pid_save(class_='form-control btn btn-default')}}
              {{form_mod_pid.mod_pid_del(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this PID controller?")'})}}
            </div>
            <div class="col-xs-12 col-sm-3">
              {{form_mod_pid.mod_pid_order_up(class_='form-control btn btn-default')}}
              {{form_mod_pid.mod_pid_order_down(class_='form-control btn btn-default')}}
            </div>
          </div>

          <div style="padding-top: 0.5em" class="form-inline">
            <div class="form-group">
              {{form_mod_pid.modSensorID.label(class_='control-label')}}
              <div>
                <select class="form-control" id="modSensorID" name="modSensorID" title="" data-original-title="Select the sensor to monitor.">
                  <option value=""></option>
                  {%- for each_sensor in sensor -%}
                    <option value="{{each_sensor.id}}"{% if each_pid.sensor_id == each_sensor.id %} selected{% endif %}>{{each_sensor.id}} ({{each_sensor.name}})</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modMeasureType.label(class_='control-label')}}
              <div>
                <select class="form-control" id="modMeasureType" name="modMeasureType" title="" data-original-title="{{_('Select the environmental condition to regulate')}}.">
                  <option value=""></option>
                  <option value="temperature"{% if each_pid.measure_type == 'temperature' %} selected{% endif %}>Temperature</option>
                  <option value="temperature_object"{% if each_pid.measure_type == 'temperature_object' %} selected{% endif %}>Temperature (Object)</option>
                  <option value="temperature_die"{% if each_pid.measure_type == 'temperature_die' %} selected{% endif %}>Temperature (Die)</option>
                  <option value="humidity"{% if each_pid.measure_type == 'humidity' %} selected{% endif %}>Humidity</option>
                  <option value="dewpoint"{% if each_pid.measure_type == 'dewpoint' %} selected{% endif %}>Dew Point</option>
                  <option value="co2"{% if each_pid.measure_type == 'co2' %} selected{% endif %}>CO2</option>
                  <option value="lux"{% if each_pid.measure_type == 'lux' %} selected{% endif %}>Luminosity</option>
                  <option value="moisture"{% if each_pid.measure_type == 'moisture' %} selected{% endif %}>Moisture</option>
                  <option value="pressure"{% if each_pid.measure_type == 'pressure' %} selected{% endif %}>Pressure</option>
                  <option value="altitude"{% if each_pid.measure_type == 'altitude' %} selected{% endif %}>Altitude</option>
                  <option value="voltage"{% if each_pid.measure_type == 'voltage' %} selected{% endif %}>Voltage (ADC)</option>
                  {% for each_sensor in sensor if each_sensor.adc_measure %}
                    <option value="{{each_sensor.adc_measure}}"{% if each_pid.measure_type == each_sensor.adc_measure %} selected{% endif %}>{{each_sensor.adc_measure}} (ADC)</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modDirection.label(class_='control-label')}}
              <div>
                <select class="form-control" id="modDirection" name="modDirection" title="" data-original-title="{{_('What direction to regulate the chosen environmental condition?')}}">
                  <option value="raise"{% if each_pid.direction == 'raise' %} selected{% endif %}>Raise</option>
                  <option value="lower"{% if each_pid.direction == 'lower' %} selected{% endif %}>Lower</option>
                  <option value="both"{% if each_pid.direction == 'both' %} selected{% endif %}>Both</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modPeriod.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modPeriod(class_='form-control', value=each_pid.period, **{'title':_('The duration between calculating a new PID output to power the raise and lower relays.')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modSetpoint.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modSetpoint(class_='form-control', value=each_pid.setpoint, **{'title':_('This is the desired state of a perticular environmental condition. For instance, this could be the desired temperature in Celsius.')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modKp.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modKp(class_='form-control', value=each_pid.p, **{'title':_('Proportional gain')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modKi.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modKi(class_='form-control', value=each_pid.i, **{'title':_('Integral gain')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modKd.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modKd(class_='form-control', value=each_pid.d, **{'title':_('Derivative gain')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modIntegratorMin.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modIntegratorMin(class_='form-control', value=each_pid.integrator_min, **{'title':_('Limit the integrator minimum, for calculating Ki_total: (Ki_total = Ki * integrator; and PID output = Kp_total + Ki_total + Kd_total)')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modIntegratorMax.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modIntegratorMax(class_='form-control', value=each_pid.integrator_max, **{'title':_('Limit the integrator maximum, for calculating Ki_total: (Ki_total = Ki * integrator; and PID output = Kp_total + Ki_total + Kd_total)')})}}
              </div>
            </div>
          </div>

          <div style="padding-top: 0.5em" class="form-inline">
            <div class="form-group">
              {{form_mod_pid.modRaiseRelayID.label(class_='control-label')}}
              <div>
                <select class="form-control" id="modRaiseRelayID" name="modRaiseRelayID" title="" data-original-title="{{_('The Relay that will raise the selected environmental condition (Measure Type)')}}.">
                  <option value=""></option>
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}}"{% if each_pid.raise_relay_id == each_relay.id %} selected{% endif %}>{{each_relay.id}} ({{each_relay.name}})</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modRaiseMinDuration.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modRaiseMinDuration(class_='form-control', value=each_pid.raise_min_duration, **{'title':_('The minimum duration (in seconds) required for the Raise Relay to activate. If an On duration is below this value, the Raise Relay will not turn on.')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modRaiseMaxDuration.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modRaiseMaxDuration(class_='form-control', value=each_pid.raise_max_duration, **{'title':_('The maximum duration (in seconds) allowed for the Raise Relay to be on for, per period. If an On duration is above this value, the Raise Relay will turn on for this set duration.')})}}
              </div>
            </div>
          </div>

          <div style="padding-top: 0.5em" class="form-inline">
            <div class="form-group">
              {{form_mod_pid.modLowerRelayID.label(class_='control-label')}}
              <div>
                <select class="form-control" id="modLowerRelayID" name="modLowerRelayID" title="" data-original-title="{{_('The relay that will lower the selected environmental condition (Measure Type)')}}.">
                  <option value=""></option>
                  {%- for each_relay in relay -%}
                    <option value="{{each_relay.id}}"{% if each_pid.lower_relay_id == each_relay.id %} selected{% endif %}>{{each_relay.id}} ({{each_relay.name}})</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modLowerMinDuration.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modLowerMinDuration(class_='form-control', value=each_pid.lower_min_duration, **{'title':_('The minimum duration (in seconds) required for the Lower Relay to activate. If an On duration is below this value, the Lower Relay will not turn on.')})}}
              </div>
            </div>
            <div class="form-group">
              {{form_mod_pid.modLowerMaxDuration.label(class_='control-label')}}
              <div>
                {{form_mod_pid.modLowerMaxDuration(class_='form-control', value=each_pid.lower_max_duration, **{'title':_('The maximum duration (in seconds) allowed for the Lower Relay to be on for, per period. If an ON duration is above this value, the Lower Relay will turn on for this set duration.')})}}
              </div>
            </div>
          </div>

          <div style="padding: 0.5em 0 1em 0" class="form-inline">
            <div class="form-group">
              {{form_mod_pid.mod_method_id.label(class_='control-label')}}
              <div>
                <select class="form-control" id="mod_method_id" name="mod_method_id" title="" data-original-title="{{_('Select the method to use when calculating the setpoint. When enabled, the setpoint(s) of the method override the PID setpoint above.')}}">
                  {%- if method == [] -%}
                    <option value="">{{_('No methods exist. Create one with this button')}} -></option>
                  {%- else -%}
                    <option value="">{{_('Disabled')}}</option>
                  {%- endif-%}

                  {%- set valid_saved_method = [] -%}
                  {%- for each_method in method -%}
                    {%- if each_method.method_id == each_pid.method_id -%}
                      {%- do valid_saved_method.append(1) -%}
                    {%- endif -%}
                    <option value="{{each_method.method_id}}"{% if each_pid.method_id == each_method.method_id %} selected{% endif %}>{{each_method.name}} ({{each_method.method_id}})</option>
                  {%- endfor -%}
                  {%- if not valid_saved_method and each_pid.method_id != '' -%}
                    <option value="" selected>{{_('Invalid saved method. Save another method from this list.')}}</option>
                  {%- endif -%}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class='control-label'></label>
              <div>
                <a href="/method" class="btn btn-default" role="button">{{_('Manage Methods')}}</a>
              </div>
            </div>
          </div>

        </form>

        </div>

        <div style="clear: both; padding:1em 0;"></div>

      {%- endfor -%}
    {%- endfor -%}
    {%- endif -%}

  </div>

  <script type="text/javascript" src="/static/js/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
    $('.clockpicker').clockpicker({
      donetext: 'Done'
    });
  </script>

{% endblock %}
