{% extends "layout.html" %}
{% set active_page = "timer" %}
{% set help_page = ["timers", _('Timers')] %}

{% block title %} - {{_('Timers')}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-clockpicker.min.css">
{% endblock %}

{% block body %}
  <!-- Route: /timer -->
  <div class="container">
    {% include 'flash_messages.html' %}

    <h4>{{_('Timers')}} <a href="/help#timers" target="_blank"><span style="font-size: 16px" class="glyphicon glyphicon-question-sign"></span></a></h4>

    <p>
      {{_('Timers enable relays to be turned on or off for specific durations of time or at specific times of the day.')}}
      <br>Note: Timers will <i>only</i> do as instructed, therefore if you turn a relay <code>ON</code> from <code>Start Time</code> to <code>End Time</code> and you want that relay to turn off at the end of that period, you will need to create another timer that turns the relay <code>OFF</code> at <code>End Time + 1 minute</code>.
    </p>

    <div style="clear: both; padding: 0.5em 0;"></div>

    <div class="container" style="padding-bottom: 1.5em;">
      <a data-toggle="collapse" href="#collapseContainerTimerAdd" aria-expanded="false" aria-controls="collapseContainerTimerAdd" class="btn btn-default" role="button">{{_('New Timer')}}</a>

      <div class="collapse" id="collapseContainerTimerAdd" style="padding-top: 1em">

        <div class="form-inline">
          <div class="form-group">
            {{form_timer_add_base.timer_type_output.label(class_='control-label')}}
            <div>
              <select class="form-control" id="timer_type_output" name="timer_type_output">
                <option value="">Select One</option>
                <option value="relay">Relay (ON/OFF)</option>
                <option value="pwm_method">PWM Method (Duty Cycle)</option>
              </select>
            </div>
          </div>
        </div>

          <div style="display: none" id="timer_relay">
           {% include 'pages/timer_options/add_relay.html' %}
          </div>

          <div style="display: none" id="timer_pwm_method">
            {% include 'pages/timer_options/add_pwm_method.html' %}
          </div>

        </div>

      </div>
    </div>
  </div>

  {%- if displayOrder -%}
  {%- for order in displayOrder -%}
    {% for each_timer in timer if each_timer.id == order %}

    <div class="container" style="border: 2px solid #ddd;">
      <form method="post" action="/timer">
      <input type="hidden" name="form-name" value="modTimer">
      {{form_timer_mod_base.csrf_token}}
      {{form_timer_mod_base.timer_id(class_='form-control', value=each_timer.id)}}
      <div class="row {% if each_timer.is_activated -%}active-background
                      {% else -%}inactive-background
                      {% endif -%} small-gutters" style="border-bottom: 2px solid #ddd; padding: 0.5em;">
        <div class="col-xs-2 col-sm-1 text-center icon-fh">
          <a data-toggle="collapse" href="#collapseContainer{{each_timer.id}}" aria-expanded="false" aria-controls="collapseContainer{{each_timer.id}}">
            <span class="collapse-button{{each_timer.id}} fa fa-3x fa-plus-square"></span>
          </a>
        </div>
        <div class="col-xs-5 col-sm-3">
          {{form_timer_mod_base.name(class_='form-control', value=each_timer.name, **{'title':_('Name')})}}
        </div>
        <div class="col-xs-5 col-sm-2">
          <input class="form-control btn btn-default" disabled="" value="{{each_timer.id}}, {{each_timer.timer_type_main}},
            {%- if each_timer.is_activated %} {{_('Active')}}
            {%- else %} {{_('Inactive')}}
            {%-endif -%}
          " type="text">
        </div>
        <div class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-0">
          {%- if each_timer.is_activated %}
            {{form_timer_mod_base.deactivate(class_='form-control btn btn-default')}}
          {%- else %}
            {{form_timer_mod_base.activate(class_='form-control btn btn-default')}}
          {%- endif -%}
        </div>
        <div class="col-xs-3 col-sm-2">
          {{form_timer_mod_base.order_up(class_='form-control btn btn-default')}}
        </div>
        <div class="col-xs-3 col-sm-2">
          {{form_timer_mod_base.order_down(class_='form-control btn btn-default')}}
        </div>
      </div>

      <div class="row small-gutters collapse" id="collapseContainer{{each_timer.id}}" style="border-bottom: 2px solid #ddd; padding: 0.5em">
        <div class="col-xs-6 col-sm-4 col-sm-offset-4">
          {{form_timer_mod_base.modify(class_='form-control btn btn-default')}}
        </div>
        <div class="col-xs-6 col-sm-4">
          {{form_timer_mod_base.delete(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this Timer controller?")'})}}
        </div>

        {% if each_timer.timer_type_main == 'relay' %}
          {% include 'pages/timer_options/mod_relay.html' %}
        {% elif each_timer.timer_type_main == 'pwm_method' %}
          {% include 'pages/timer_options/mod_pwm_method.html' %}
        {% endif %}

      </div>
      </form>

    </div>

    <div style="clear: both; padding-bottom: 0.5em;"></div>

    {%- endfor -%}
  {%- endfor -%}
  {%- endif -%}

  <script>
    $('#timer_type_output').on('change', function () {
      if (this.value === 'relay') {
        document.getElementById("timer_pwm_method").style.display = "none";
        document.getElementById("timer_relay").style.display = "block";
      }
      else if (this.value === 'pwm_method') {
        document.getElementById("timer_relay").style.display = "none";
        document.getElementById("timer_pwm_method").style.display = "block";
      }
      else if (this.value === '') {
        document.getElementById("timer_relay").style.display = "none";
        document.getElementById("timer_pwm_method").style.display = "none";
      }
    });
  </script>
  <script type="text/javascript" src="/static/js/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
    $('.clockpicker').clockpicker({
      donetext: 'Done'
    });
  </script>
  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });
  </script>

{% endblock %}
