{% extends "layout.html" %}
{% set active_page = "timer" %}
{% set help_page = ["timers", _('Timers')] %}

{% block title %} - {{_('Timers')}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-clockpicker.min.css">
{% endblock %}

{% block body %}
  <!-- Route: /timer -->
  <div class="container">
    {% include 'flash_messages.html' %}

    <h4>{{_('Timers')}} <a href="/help#{{help_page[0]}}" target="_blank"><span style="font-size: 16px" class="fas fa-question-circle"></span></a></h4>

    <p>
      Timers enable outputs to be manipulated after specific durations of time or at a specific times of the day.
    </p>

    <div style="clear: both; padding: 0.5em 0;"></div>

    <div class="container" style="padding-bottom: 1.5em;">
      <a data-toggle="collapse" href="#collapseContainerTimerAdd" aria-expanded="false" aria-controls="collapseContainerTimerAdd" class="btn btn-default" role="button">{{_('New Timer')}}</a>

      <div class="collapse" id="collapseContainerTimerAdd" style="padding-top: 1em">

        <div class="form-inline"></div>

        <div class="form-inline">

          <div>
            <div class="form-group">
              {{form_timer_base.timer_type.label(class_='control-label')}}
              <div>
                {{form_timer_base.timer_type(class_='form-control')}}
              </div>
            </div>
          </div>

          <div class="add_timer" style="display: none" id="time">
           {% include 'pages/timer_options/add_time_point.html' %}
          </div>

          <div class="add_timer" style="display: none" id="timespan">
           {% include 'pages/timer_options/add_time_span.html' %}
          </div>

          <div class="add_timer" style="display: none" id="duration">
           {% include 'pages/timer_options/add_duration.html' %}
          </div>

          <div class="add_timer" style="display: none" id="pwm_method">
            {% include 'pages/timer_options/add_pwm_method.html' %}
          </div>

        </div>

      </div>
    </div>
  </div>

  {%- if displayOrder -%}
  {%- for order in displayOrder -%}
    {% for each_timer in timer if each_timer.id == order %}

    <div class="container" style="border: 2px solid #ddd;">
      <form method="post" action="/timer">
      {{form_timer_base.csrf_token}}
      {{form_timer_base.timer_id(class_='form-control', value=each_timer.id)}}
      <div class="row {% if each_timer.is_activated -%}active-background
                      {% else -%}inactive-background
                      {% endif -%} small-gutters" style="border-bottom: 2px solid #ddd; padding: 0.5em;">
        <div class="col-xs-2 col-sm-1 text-center icon-fh">
          <a data-toggle="collapse" href="#collapseContainer{{each_timer.id}}" aria-expanded="false" aria-controls="collapseContainer{{each_timer.id}}">
            <span class="collapse-button{{each_timer.id}} fa fa-3x fa-plus-square"></span>
          </a>
        </div>
        <div class="col-xs-5 col-sm-3">
          {{form_timer_base.name(class_='form-control', value=each_timer.name, **{'title':_('A name to distinguish this from others')})}}
        </div>
        <div class="col-xs-5 col-sm-2">
          <input class="form-control btn btn-default" disabled="" value="[{{'%02d' % each_timer.id}}] {{each_timer.timer_type}} (
            {%- if each_timer.is_activated %}{{_('Active')}}
            {%- else %}{{_('Inactive')}}
            {%-endif -%}
          )" type="text">
        </div>
        <div class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-0">
          {%- if each_timer.is_activated %}
            {{form_timer_base.deactivate(class_='form-control btn btn-default')}}
          {%- else %}
            {{form_timer_base.activate(class_='form-control btn btn-default')}}
          {%- endif -%}
        </div>
        <div class="col-xs-3 col-sm-2">
          {{form_timer_base.order_up(class_='form-control btn btn-default')}}
        </div>
        <div class="col-xs-3 col-sm-2">
          {{form_timer_base.order_down(class_='form-control btn btn-default')}}
        </div>
      </div>

      <div class="row small-gutters collapse" id="collapseContainer{{each_timer.id}}" style="border-bottom: 2px solid #ddd; padding: 0.5em">
        <div class="col-xs-6 col-sm-4 col-sm-offset-4">
          {{form_timer_base.modify(class_='form-control btn btn-default')}}
        </div>
        <div class="col-xs-6 col-sm-4">
          {{form_timer_base.delete(class_='form-control btn btn-default',**{'onclick':'return confirm("Are you sure you want to delete this?")'})}}
        </div>

        {% if each_timer.timer_type == 'time' %}
          {% include 'pages/timer_options/mod_time_point.html' %}
        {% elif each_timer.timer_type == 'timespan' %}
          {% include 'pages/timer_options/mod_time_span.html' %}
        {% elif each_timer.timer_type == 'duration' %}
          {% include 'pages/timer_options/mod_duration.html' %}
        {% elif each_timer.timer_type == 'pwm_method' %}
          {% include 'pages/timer_options/mod_pwm_method.html' %}
        {% endif %}

      </div>
      </form>

    </div>

    <div style="clear: both; padding-bottom: 0.5em;"></div>

    {%- endfor -%}
  {%- endfor -%}
  {%- endif -%}

  <script>
    $('#timer_type').on('change', function () {
        var x = document.getElementsByClassName("add_timer");  // Find the elements
        for(var i = 0; i < x.length; i++){
          x[i].style.display = "none";    // Change the content
        }
        if (this.value !== '') {
          document.getElementById(this.value).style.display = "block";
        }
    });
  </script>
  <script type="text/javascript" src="/static/js/bootstrap-clockpicker.min.js"></script>
  <script type="text/javascript">
    $('.clockpicker').clockpicker({
      donetext: 'Done'
    });
  </script>
  <script>
    $('.collapse').on('show.bs.collapse', function(){
      $(this).parent().find(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
    });
  </script>

{% endblock %}
