<div class="col-auto">
  {{form_mod_math.inputs.label(class_='control-label')}}
  <div>
    <select class="form-control btn-sm" id="inputs" name="inputs" style="width: 100%;" size="{{choices_input|length+choices_math|length+choices_output|length}}" multiple>
    {% if choices_input or choices_math or choices_output %}
      {% for each_input_form in choices_input -%}
      <option value="{{each_input_form['value']}}"{%- if each_math.inputs and each_input_form['value'] in each_math.inputs %} selected{%- endif -%}>{{each_input_form['item']}}</option>
      {% endfor -%}
      {% for each_math_form in choices_math -%}
      <option value="{{each_math_form['value']}}"{%- if each_math.inputs and each_math_form['value'] in each_math.inputs %} selected{%- endif -%}>{{each_math_form['item']}}</option>
      {% endfor -%}
      {% for each_output_form in choices_output -%}
      <option value="{{each_output_form['value']}}"{%- if each_math.inputs and each_output_form['value'] in each_math.inputs %} selected{%- endif -%}>{{each_output_form['item']}}</option>
      {% endfor -%}
    {% else %}
      <option value="">{{dict_translation['none_available']['title']}}</option>
    {% endif %}
    </select>
  </div>
  <div class="form-row">
    {{_('Hold down the <kbd>Ctrl</kbd> or <kbd>&#8984;</kbd> key to select more than one')}}.
  </div>
</div>
