<div class="col-12">
  {{_('See <a href="/help#measurement-settings" target="_blank">Measurement Settings</a> for how to create your own Measurement, Units, and Conversions.')}}
</div>
<div class="col-auto">
  {{form_mod_math.selected_measurement_unit.label(class_='control-label')}}
  <div>
    <select class="form-control" id="selected_measurement_unit" name="selected_measurement_unit">
      <option value="">{{_('Select One')}}</option>
      {% for each_submit, each_display in choices_measurements_units.items() %}
      <option value="{{each_submit}}"{% if each_submit == each_math.measure_units %} selected{% endif %}>{{each_display}}</option>
      {% endfor %}
    </select>
  </div>
</div>
