Order allow,deny
Deny from All

DirectoryIndex index.php

<FilesMatch "^(index\.php)?$">
        Allow from All
</FilesMatch>

<FilesMatch "^(ajax-test\.html)?$">
        Allow from All
</FilesMatch>

<FilesMatch "^(ajax-form-process\.php)?$">
        Allow from All
</FilesMatch>

<FilesMatch "^(file\.php)?$">
        Allow from All
</FilesMatch>

<FilesMatch "^(stream\.php)?$">
        Allow from All
</FilesMatch>

<FilesMatch "manual.html">
        Allow from All
</FilesMatch>
