pySerial
rpyc
sht-sensor
lockfile
w1thermsensor
tentacle_pi

#Adafruit_GPIO, cross-platofrm RPi.GPIO implementation
#For Raspberry Pi, BeagleBone Black, and MinnowBoard 
git+https://github.com/adafruit/Adafruit_Python_GPIO.git#egg=Adafruit_GPIO

#Adafruit_DHT
git+https://github.com/adafruit/Adafruit_Python_DHT.git#egg=Adafruit_DHT

#Adafruit_BMP
git+https://github.com/adafruit/Adafruit_Python_BMP.git#egg=Adafruit_BMP