{% extends "layout.html" %}
{% set active_page = "backups" %}
{% block title %} - {{_('Backup/Restore')}}{% endblock %}

{% block body %}
  <!-- Route: /admin/backup -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    {% if not backup_dirs %}
      <div style="padding-bottom: 1em">
        No backups found
      </div>
    {% else %}
      {%- for each_backup in backup_dirs -%}
        <form method="post" action="/admin/backup">
        <input type="hidden" name="form-name" value="restore">
        <div class="form-inline" style="padding: 0.3em">
          <div class="form-group">
            {{formBackup.restore(class_='form-control btn btn-default',value='Restore Backup from '+each_backup[14:33]+' v'+each_backup[34:])}}
            {{formBackup.restore_dir(class_='form-control',value=each_backup)}}
          </div>
          <div class="form-group" style="font-family: 'Courier New', monospace;">
            {% set split_version = each_backup.split('-') %}
            (<a href="https://github.com/kizniche/Mycodo/releases/tag/v{{each_backup[34:]}}" target="_blank">v{{each_backup[34:]}} {{_('Changelog')}}</a>)
          </div>
        </div>
        </form>
      {%- endfor -%}

    {% endif %}
  </div>

{% endblock %}
