{% extends "layout.html" %}
{% set active_page = "backup" %}
{% block title %} - {{_('Backup/Restore')}}{% endblock %}

{% block body %}
  <!-- Route: /admin/backup -->
  <div class="container"> 
    {% include 'flash_messages.html' %}

    <form method="post" action="/admin/backup">
    <div class="row" style="padding-bottom: 1.5em">
      <div class="col-xs-12 col-sm-3 col-md-2 small-gutters">
        {{form_backup.backup(class_='form-control btn btn-default', value='Create Backup')}}
      </div>
    </div>
    </form>

    {% if not backup_dirs %}
      <div>
        No backups found
      </div>
    {% else %}
      {%- for each_backup in backup_dirs -%}
        <form method="post" action="/admin/backup">
        {{form_backup.selected_dir(class_='form-control', value=each_backup[14:])}}
        {{form_backup.full_path(class_='form-control', value=full_paths[loop.index0])}}
        <div class="row" style="padding: 0.3em">
          <div class="col-xs-12 col-sm-3 col-lg-2" style="font-family: 'Courier New', monospace;">
            {% set split_version = each_backup.split('-') %}
            {{each_backup[14:33]}}<br><a href="https://github.com/kizniche/Mycodo/releases/tag/v{{each_backup[34:]}}" target="_blank">v{{each_backup[34:]}}</a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 small-gutters">
            {{form_backup.restore(class_='form-control btn btn-default', value='Restore Backup')}}
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2 small-gutters">
            {{form_backup.delete(class_='form-control btn btn-default', value='Delete Backup', **{'onclick':'return confirm("Are you sure you want to delete this backup?")'})}}
          </div>
        </div>
        </form>
      {%- endfor -%}

    {% endif %}
  </div>

{% endblock %}
