{% extends "layout.html" %}
{% set active_page = "upgrade" %}
{% block title %} - Upgrade{% endblock %}

{% block body %}
  <!-- Route: /admin/upgrade -->
  <div class="container">
    {% include 'flash_messages.html' %}
    {% if upgrade == 1 %}
      <div style="padding: 0.5em 0">
        <p>Mycodo is currently in the process of an upgrade.</p>
        <p>This often takes several minutes, and in rare cases hours, to complete. Give the process ample time to complete before doing anything. When the upgrade has successfully finished, the daemon status indicator at the top left will turn from red to green. You can monitor the upgrade progress by going to Tools->Mycodo Logs->Upgrade Log or by opening /var/log/mycodo/mycodoupgrade.log.
        <p>If this is in error, you may delete the ~/.mycodo-upgrade file to be able to reinitiate the upgrade process.</p>
      </div>
    {% elif upgrade == 2 %}
      <div style="padding: 0.5em 0">
        <p>There was an error that occurred during the upgrade.</p>
        <p>View the upgrade log at /var/log/mycodo/mycodoupgrade.log.</p>
      </div>
    {% elif not is_internet %}
      <div style="padding: 0.5em 0">
        No internet connection detected. To upgrade Mycodo automatically, you will need an internet connection. Refresh the page when one is connected.
      </div>
    {% elif not upgrade_available %}
      <div style="padding: 0.5em 0">
        No upgrade is available. You are running the latest release, version <a href="https://github.com/kizniche/Mycodo/releases/tag/v{{ current_release }}" target="_blank">{{ current_release }}</a>
      </div>
    {% elif upgrade_available %}
      <div style="padding: 0.5em 0">
        Installed version: <a href="https://github.com/kizniche/Mycodo/releases/tag/v{{ current_release }}" target="_blank">{{ current_release }}</a>
        <br>Latest version: <a href="https://github.com/kizniche/Mycodo/releases/tag/v{{ latest_release }}" target="_blank">{{ latest_release }}</a>
      </div>
      <div style="padding: 0.5em 0">
        You are {{ releases_behind }} release{% if releases_behind > 1 %}s{% endif %} behind the latest version.
        <br>Refer to the <a href="https://github.com/kizniche/Mycodo/blob/master/CHANGELOG.md" target="_blank">Changelog</a> for a list of all changes.
      </div>
      <div style="padding: 1em 0 1.5em 0">
        Click the button below to begin the upgrade process. Note: An upgrade often takes several minutes, and in rare cases hours, to complete. During that time, the Mycodo web interface and server recording sensors and manipulating relays (among other services) will be completely shut down. It is not recommended not perform an upgrade on a production machine (i.e. trust buy verify: treat the new version as unstable until you have verified it works as expected).
      </div>
      <div class="form-inline" style="padding-bottom: 1em">
        <form method="post" action="/admin/upgrade">
          <input type="hidden" name="form-name" value="upgrade">
          {{formUpgrade.csrf_token}}
          <div>
            <div class="form-group">
              {{formUpgrade.upgrade(class_='form-control')}}
            </div>
          </div>
        </form>
      </div>
      {% if releases_behind > 1 %}
      <div style="font-family: 'Courier New', monospace;">
        <table class="table" style="width: auto">
          <tr>
            <th>Current to latest versions</th>
          </tr>
          {% for each_release in current_releases %}
            <tr>
              <td>
                <a href="https://github.com/kizniche/Mycodo/releases/tag/v{{ each_release }}" target="_blank" {% if current_release == each_release %}style="color: red"{% endif %}>v{{ each_release }}</a>
              </td>
              <td>
                {% if each_release == current_release %}current{% elif each_release == latest_release %}latest{% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% endif %}
    {% endif %}
  </div>

{% endblock %}
