<div class="row small-gutters" style="padding: 0.7em">
  <div class="col-md-12">
    <input type="radio" name="method_select" value="setpoint" checked="checked"> {{_('Define the setpoint over a period of time based on specific times of the day. This method will repeat daily. Start the first entry at midnight (00:00) if you wish to fill the entire day.')}}
    <br>{{_("The new entry's start time may be equal to the last entry's end time, but it cannot overlap. The default setpoint for the PID will be used if there is any unaccounted time.")}}
  </div>

  <div class="col-sm-6 col-md-4">
    {{form_add_method.daily_time_start.label(class_='control-label')}}
    <div>
      {{form_add_method.daily_time_start(class_='form-control', value=last_end_time)}}
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    {{form_add_method.daily_time_end.label(class_='control-label')}}
    <div>
      {{form_add_method.daily_time_end(class_='form-control')}}
    </div>
  </div>
</div>

<div class="row small-gutters" style="padding: 0.7em">
  <div class="col-sm-6 col-md-4">
    {{form_add_method.setpoint_start.label(class_='control-label')}}
    <div>
      {{form_add_method.setpoint_start(class_='form-control', value=last_setpoint)}}
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    {{form_add_method.setpoint_end.label(class_='control-label')}}
    <div>
      {{form_add_method.setpoint_end(class_='form-control')}}
    </div>
  </div>
</div>

<div class="row" style="padding-bottom: 1em; padding-top: 1em">
  <div class="col-sm-12">
    <label style="padding-top: 1em"></label>
    <div>
      OR
    </div>
  </div>
</div>

<div class="row small-gutters" style="padding: 0.7em">
  <div class="col-md-12">
    <input type="radio" name="method_select" value="output"> {{_('Output')}}
    <br>{{_('Activate or deactivate an output at a specific time of day. Hour and minute (HH:MM) here is defined as the time of day. For example, 3:05 PM would be "15:05".')}}
  </div>
  <div class="col-sm-6 col-md-3">
    {{form_add_method.output_daily_time.label(class_='control-label')}}
    <div>
      {{form_add_method.output_daily_time(class_='form-control')}}
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    {{form_add_method.output_id.label(class_='control-label')}}
    <div>
      <select class="form-control form-tooltip form-dropdown" data-placement="bottom" id="output_id" name="output_id" title="{{_('Modulate the selected output')}}.">
        <option value=""></option>
        {% for each_output in output if each_output.output_type not in ['pwm', 'command_pwm'] -%}
          <option value="{{each_output.id}}">{{"[{0:02d}]".format(each_output.id)}} {{each_output.name}}</option>
        {% endfor -%}
      </select>
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    {{form_add_method.output_state.label(class_='control-label')}}
    <div>
      {{form_add_method.output_state(class_='form-control')}}
    </div>
  </div>
  <div class="col-sm-3">
    {{form_add_method.output_duration.label(class_='control-label')}}
    <div>
      {{form_add_method.output_duration(class_='form-control')}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <label class='control-label'></label>
    <div>
      {{form_add_method.save(class_='form-control btn btn-sm')}}
    </div>
  </div>
</div>