mkdocs>=1.1
mkdocs-material>=5.3
Pygments>=2.4
markdown>=3.2
pymdown-extensions>=7.0
mkdocs-redirects==1.0.0
mkdocs-minify-plugin>=0.2.3
mkdocs-htmlproofer-plugin>=0.0.3
git+git://github.com/cmitu/mkdocs-altlink-plugin.git