<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.gpio.label(class_='control-label')}}
  <div>
    {{form_mod_relay.gpio(class_='form-control', value=each_relay.pin, **{'title':_('The GPIO pin (using BCM numbering) to output the PWM signal')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.pwm_hertz.label(class_='control-label')}}
  <div>
    {{form_mod_relay.pwm_hertz(class_='form-control', value=each_relay.pwm_hertz, **{'title':_('The Hertz to output the PWM signal (0 - 70,000)')})}}
  </div>
</div>