<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.wiringpi_pin.label(class_='control-label')}}
  <div>
    {{form_mod_relay.wiringpi_pin(class_='form-control', value=each_relay.pin, **{'title':_('The GPIO pin (using WiringPi numbering) connected to the transmitter data pin')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.protocol.label(class_='control-label')}}
  <div>
    {{form_mod_relay.protocol(class_='form-control', value=each_relay.protocol, **{'title':_('Wireless 433MHz protocol')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.pulse_length.label(class_='control-label')}}
  <div>
    {{form_mod_relay.pulse_length(class_='form-control', value=each_relay.pulse_length, **{'title':_('Wireless 433MHz pulse length')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.bit_length.label(class_='control-label')}}
  <div>
    {{form_mod_relay.bit_length(class_='form-control', value=each_relay.bit_length, **{'title':_('Wireless 433MHz bit length')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.on_command.label(class_='control-label')}}
  <div>
    {{form_mod_relay.on_command(class_='form-control', value=each_relay.on_command, **{'title':_('Wireless 433MHz On command')})}}
   </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-2">
  {{form_mod_relay.off_command.label(class_='control-label')}}
  <div>
    {{form_mod_relay.off_command(class_='form-control', value=each_relay.off_command, **{'title':_('Wireless 433MHz Off command')})}}
   </div>
</div>