<div style="padding: 0.5em" class="row small-gutters">
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
    {{form_mod_humidity.dry_bulb_temperature.label(class_='control-label')}}
    <div>
      <select class="form-control" id="dry_bulb_temperature" name="dry_bulb_temperature">
        <option value="">{{_('Select One')}}</option>
      {% if choices_input %}
        {% for each_choice, value in choices_input.iteritems() -%}
        <option value="{{each_choice}}"{%- if each_math.dry_bulb_t_id == each_choice.split(',')[0] and each_math.dry_bulb_t_measure == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
    {{form_mod_humidity.wet_bulb_temperature.label(class_='control-label')}}
    <div>
      <select class="form-control" id="wet_bulb_temperature" name="wet_bulb_temperature">
        <option value="">{{_('Select One')}}</option>
      {% if choices_input %}
        {% for each_choice, value in choices_input.iteritems() -%}
        <option value="{{each_choice}}"{%- if each_math.wet_bulb_t_id == each_choice.split(',')[0] and each_math.wet_bulb_t_measure == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
    {{form_mod_humidity.pressure.label(class_='control-label')}}
    <div>
      <select class="form-control" id="pressure" name="pressure">
        <option value="">{{_('Disabled')}}</option>
      {% if choices_input %}
        {% for each_choice, value in choices_input.iteritems() -%}
        <option value="{{each_choice}}"{%- if each_math.pressure_pa_id == each_choice.split(',')[0] and each_math.pressure_pa_measure == each_choice.split(',')[1] %} selected{%- endif -%}>{{value}}</option>
        {% endfor -%}
      {% else %}
        <option value="">{{_('None Available')}}</option>
      {% endif %}
      </select>
    </div>
  </div>
</div>