<form method="post" action="/timer">
{{form_timer_base.csrf_token}}
<input type="hidden" name="timer_type" value="time">
<div class="form-group">
  {{form_timer_base.name.label(class_='control-label')}}
  <div>
    {{form_timer_base.name(class_='form-control')}}
  </div>
</div>
<div class="form-group">
  {{form_timer_base.relay_id.label(class_='control-label')}}
  <div>
    <select class="form-control" id="relay_id" name="relay_id">
    {%- set duration_output_exists = [] -%}
    {% for each_choice, value in output_choices.items() if each_choice.split(',')[1] == 'duration_sec' -%}
      {%- do duration_output_exists.append(1) -%}
    {%- endfor -%}

    {% if not duration_output_exists %}
      <option value="">{{_('No Duration Outputs Found')}}</option>
    {% else %}
      {% for each_choice, value in output_choices.items() if each_choice.split(',')[1] == 'duration_sec' -%}
        <option value="{{each_choice.split(',')[0]}}">{{value}}</option>
      {% endfor -%}
    {% endif %}
    </select>
  </div>
</div>
<div class="form-group">
  {{form_timer_time_point.state.label(class_='control-label')}}
  <div>
    <select class="form-control" id="state" name="state">
      <option value="on">{{_('On')}}</option>
      <option value="off">{{_('Off')}}</option>
    </select>
  </div>
</div>
<div class="form-group">
  {{form_timer_time_point.time_start.label(class_='control-label')}}
  <div>
    <div class="input-group clockpicker">
      <input type="text" class="form-control" id="time_start" name="time_start" size="7" value="09:30">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class='control-label'></label>
  <div>
    {% autoescape false %}
    ({{_('Optional: If On, for %(sec)s seconds', sec=form_timer_time_point.time_on_duration(class_='form-control', value=0.0, **{'size':'6'}))}})
    {% endautoescape %}
  </div>
</div>
<div>
  <label class='control-label'></label>
  <div>
    {{form_timer_base.create(class_='form-control btn btn-default')}}
  </div>
</div>
</form>
