<form method="post" action="/timer">
<input type="hidden" name="form-name" value="addTimer">
<input type="hidden" name="timer_type_output" value="relay">
{{form_timer_add_base.csrf_token}}
<div class="form-inline">
  <div class="form-group">
    {{form_timer_add_base.name.label(class_='control-label')}}
    <div>
      {{form_timer_add_base.name(class_='form-control')}}
    </div>
  </div>
  <div class="form-group">
    {{form_timer_add_relay.relay_id.label(class_='control-label')}}
    <div>
      <select class="form-control" id="relay_id" name="relay_id">
      {% for each_choice, value in output_choices.iteritems() if each_choice.split(',')[1] == 'duration_sec' -%}
        <option value="{{each_choice.split(',')[0]}}">{{value}}</option>
      {% endfor -%}
      </select>
    </div>
  </div>
  <div>
    <label class="radio-inline">
      <input type="radio" name="timer_type" id="inlineRadio1" value="time" checked>
    </label>
    <div class="form-group">
      {{form_timer_add_relay.state.label(class_='control-label')}}
      <div>
        <select class="form-control" id="state" name="state">
          <option value="on">{{_('On')}}</option>
          <option value="off">{{_('Off')}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      {{form_timer_add_relay.time_start.label(class_='control-label')}}
      <div>
        <div class="input-group clockpicker">
          <input type="text" class="form-control" id="time_start" name="time_start" size="7" value="09:30">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class='control-label'></label>
      <div>
        {% autoescape false %}
        ({{_('Optional: If On, for %(sec)s seconds', sec=form_timer_add_relay.time_on_duration(class_='form-control', value=0.0, **{'size':'6'}))}})
        {% endautoescape %}
      </div>
    </div>
  </div>
  <div>
    <label class="radio-inline">
      <input type="radio" name="timer_type" id="inlineRadio1" value="timespan">
    </label>
    <div class="form-group">
      {{form_timer_add_relay.state.label(class_='control-label')}}
      <div>
        <select class="form-control" id="state" name="state">
          <option value="on">{{_('On')}}</option>
          <option value="off">{{_('Off')}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      {{form_timer_add_relay.time_start_duration.label(class_='control-label')}}
      <div>
        <div class="input-group clockpicker">
          <input type="text" class="form-control" id="time_start_duration" name="time_start_duration" size="7" value="09:30">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label></label>
      <div>
        &rarr;
      </div>
    </div>
    <div class="form-group">
      {{form_timer_add_relay.time_end_duration.label(class_='control-label')}}
      <div>
        <div class="input-group clockpicker">
          <input type="text" class="form-control" id="time_end_duration" name="time_end_duration" size="7" value="18:00">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <label class="radio-inline">
      <input type="radio" name="timer_type" id="inlineRadio2" value="duration">
    </label>
    <div class="form-group">
      {{form_timer_add_relay.duration_on.label(class_='control-label')}}
      <div>
        {{form_timer_add_relay.duration_on(class_='form-control', value=0.0, **{'size':'6'})}}
      </div>
    </div>
    <div class="form-group">
      {{form_timer_add_relay.duration_off.label(class_='control-label')}}
      <div>
        {{form_timer_add_relay.duration_off(class_='form-control', value=0.0, **{'size':'6'})}}
      </div>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label class='control-label'></label>
      <div>
        {{form_timer_add_base.create(class_='form-control btn btn-default')}}
      </div>
    </div>
  </div>
</div>
</form>
